$light: #ffecf8;
$pink: #df90b2;
$purple: #c26f84;
$dark: #835c66;
$green: #9adb9b;
$greenActive: #a8db9a;
$red: #ab061d;
$yellow: #ffba39;

// -------------------------------------------

$backgroundColor: darken($light, 2%);
$mainBackgroundColor: $light;
$mainBorder: 2px solid darken($purple, 10%);

$textColor: darken($pink, 40%);
$linkColor: darken($purple, 15%);
$linkColorHover: $green;

$headerBackgroundColor: none;
$footerBackgroundColor: none;

$asideBackgroundColor: darken($light, 5%);
$asideTextColor: $textColor;

// -------------------------------------------

// Light Mode:

body {
  --textColor: #{$textColor};
  --backgroundColor: #{$backgroundColor};
  --mainBackgroundColor: #{$mainBackgroundColor};
  --linkColor: #{$linkColor};
  --linkColorHover: #{$linkColorHover};
  --asideBackgroundColor: #{$asideBackgroundColor};
  --asideTextColor: #{$asideTextColor};
}

// -------------------------------------------

// Dark Mode:

@mixin darkMode1 {
  $textColor: lighten($pink, 40%);
  $backgroundColor: darken($dark, 19%);
  $mainBackgroundColor: darken($dark, 15%);
  $linkColor: lighten($pink, 10%);
  $linkColorHover: $green;
  $asideBackgroundColor: darken($dark, 13%);
  $asideTextColor: white;
  //
  --textColor: #{$textColor};
  --backgroundColor: #{$backgroundColor};
  --mainBackgroundColor: #{$mainBackgroundColor};
  --linkColor: #{$linkColor};
  --linkColorHover: #{$linkColorHover};
  --asideBackgroundColor: #{$asideBackgroundColor};
  --asideTextColor: #{$asideTextColor};
}

// -------------------------------------------

// @media (prefers-color-scheme: dark) {
//   body:not(.dark-mode):not(.light-mode) {
//     @include darkMode1;
//   }
// }

.dark-mode {
  @include darkMode1;
}
