$light: #ffecf8;
$pink: #df90a4;
$purple: #d47b83;
$dark: #9c595e;
$green: #9adb9b;
$greenActive: #a8db9a;
$red: #ab061d;
$yellow: #ffba39;

// -------------------------------------------

$backgroundColor: darken($light, 2%);
$mainBackgroundColor: $light;
$mainBorder: 2px solid #c06c6c;

$textColor: darken($pink, 35%);
$linkColor: darken($purple, 10%);
$linkColorHover: rgb(240, 178, 7);

$headerBackgroundColor: none;
$footerBackgroundColor: none;

$asideBackgroundColor: darken($light, 5%);
$asideTextColor: $textColor;

// -------------------------------------------

// Light Mode:

body {
  --textColor: #{$textColor};
  --backgroundColor: #{$backgroundColor};
  --mainBackgroundColor: #{$mainBackgroundColor};
  --linkColor: #{$linkColor};
  --linkColorHover: #{$linkColorHover};
  --asideBackgroundColor: #{$asideBackgroundColor};
  --asideTextColor: #{$asideTextColor};
}

// -------------------------------------------

// Dark Mode:

@mixin darkMode1 {
  $textColor: #fcdee2;
  $backgroundColor: darken($dark, 19%);
  $mainBackgroundColor: #3c252b;
  $linkColor: lighten($pink, 10%);
  $linkColorHover: $green;
  $asideBackgroundColor: #492a32;
  $asideTextColor: #e6e6e6;
  //
  --textColor: #{$textColor};
  --backgroundColor: #{$backgroundColor};
  --mainBackgroundColor: #{$mainBackgroundColor};
  --linkColor: #{$linkColor};
  --linkColorHover: #{$linkColorHover};
  --asideBackgroundColor: #{$asideBackgroundColor};
  --asideTextColor: #{$asideTextColor};
}

// -------------------------------------------

// @media (prefers-color-scheme: dark) {
//   body:not(.dark-mode):not(.light-mode) {
//     @include darkMode1;
//   }
// }

.dark-mode {
  @include darkMode1;
}
