// $gbLightest: #fff6d3;
// $gbLight: #f8a48a;
// $gbDark: #97484b;
// $gbDarkest: #612e43;

$green: #9adbba;
$purple: #c58cca;
$pink: #db9ac3;
$yellow: #ffecf8;
$dark: #86677b;

$green2: #a0db9a;

$gbLightest: $yellow;
$gbLight: $green;
$gbDark: $purple;
$gbDarkest: $pink;

$backgroundColor: $gbLightest;
$mainBackgroundColor: $yellow;

$textColor: darken($gbDarkest, 30%);
$linkColor: darken($gbDark, 10%);
$linkColorHover: $gbLight;

$headerBackgroundColor: none;
$footerBackgroundColor: none;

$asideBackgroundColor: $purple;
$asideTextColor: $yellow;
$asideLinkColor: $yellow;
$asideLinkColorHover: $green;

$cursorDefault: url("../assets/cursors/cursor1.png") 7 5, auto;
$cursorPointer: url("../assets/cursors/cursor1b.png") 7 5, auto;
$cursorHelp: url("../assets/cursors/cursor1b.png") 7 5, auto;

$sm: 576px;
$md: 992px;
$lg: 1000px;
$xl: 1200px;

$font: "basiic";
$font2: "Share Tech Mono";

@import "./mixins";

@import "./layout/defaults";
@import "./layout/layout";
@import "./layout/content";

@import "./pages/about-me";
@import "./pages/bookmarks";
@import "./pages/clipboard";
@import "./pages/home";
@import "./pages/playlists";
@import "./pages/recs";
@import "./pages/video-edits";
@import "./pages/writing";

@import "./other-layouts/full-page-tutorial";
@import "./other-layouts/webring-page";
