$gbLightest: #fff6d3;
$gbLight: #f8a48a;
$gbDark: #97484b;
$gbDarkest: #612e43;

$backgroundColor: $gbLightest;
$mainBackgroundColor: $gbLightest;

$textColor: $gbDarkest;
$linkColor: $gbDark;
$linkColorHover: $gbLight;

$headerBackgroundColor: none;
$footerBackgroundColor: none;
$asideBackgroundColor: $gbLight;
$asideLinkColor: $gbDark;
$asideLinkColorHover: $gbLightest;

$sm: 576px;
$md: 992px;
$lg: 1000px;

@import "./mixins";
@import "./folder/defaults";
@import "./folder/layout";
@import "./folder/clipboard";
