@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin container($width: $normal-container) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-side-padding;
  padding-right: $container-side-padding;
}

@mixin wide-container {
  @include container($wide-container);
}

@mixin wide-container {
  @include container($normal-container);
}

@mixin narrow-container {
  @include container($narrow-container);
}

@mixin bleed($elementMaxWidth: $normal-container,
  $paddingOneSide: $container-side-padding) {
  width: auto;
  margin-left: $paddingOneSide * -1;
  margin-right: $paddingOneSide * -1;

  $breakpoint: $elementMaxWidth +($paddingOneSide * 2);
  $minusmargin: calc((100vw - #{$elementMaxWidth}) / -2);

  @include media-up($breakpoint) {
    margin-left: $minusmargin;
    margin-right: $minusmargin;
  }
}