// Fonts

$font: "rainyhearts", monospace, sans-serif, "MS gothic"; // "MS gothic" see https://gist.github.com/prantlf/fbd12acc69a022edd589dea48dafe3f8
$font2: "rainyhearts", monospace, sans-serif, "Share Tech Mono"; // strong, menu links
$font3: "basiic", "rainyhearts", monospace, sans-serif;

@font-face {
  font-family: "rainyhearts";
  src: url("./fonts/rainyhearts.woff2") format("woff2"), url("./fonts/rainyhearts.woff") format("woff"), url("./fonts/rainyhearts.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*
 @import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
*/

@font-face {
  font-family: "basiic";
  src: url(https://cinni.net/fonts/basiic.ttf);
}

// Variables

$cursorDefault: url("https://petrapixel.neocities.org/assets/img/cursor2.gif") 1 1, auto;
$cursorPointer: url("https://petrapixel.neocities.org/assets/img/cursor1.png") 7 5, pointer;

// halloween cursors
$cursorDefault: url("https://cur.cursors-4u.net/holidays/hol-1/hol45.cur") 1 1, auto;
$cursorPointer: url("https://cur.cursors-4u.net/holidays/hol-1/hol47.cur") 1 1, pointer;

$xs: 350px;
$sm: 576px;
$md: 992px;
$lg: 1000px;
$xl: 1200px;
