body {
  --red: #cc302e;
  --green: #6cb928;
  --blue: #39296a;
  --lightblue: #7951e4;

  font-size: 14px;
  line-height: 1.6;
  background: #ffefdf;
  color: #232020;
  padding: 3vw;
}

* {
  box-sizing: border-box;
  cursor: url(https://cur.cursors-4u.net/nature/nat-7/nat607.cur), auto !important;
}

::selection {
  background: rgba(0, 0, 0, 0.3);
}

nav {
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 1;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
  opacity: 0.5;
}

nav a:hover,
nav a:focus {
  opacity: 1;
}

h1 {
  color: var(--red);
  font-size: 50px;
  line-height: 1;
  margin-top: 0;
}

h2 {
  color: var(--red);
  font-size: 30px;
  line-height: 1;
  margin-top: 0;
}

a {
  display: inline-block;
  color: green;
  transition: transform 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: var(--lightblue);
  transform: scale(1.15);
  background: #ffefdf;
}

main {
  margin: 100px 0;
}

#tips {
  margin-top: 100px;
}

hr {
  border: 0;
  border-top: 1px solid currentColor;
  margin: 3em 0;
}

footer {
  font-size: 0.8em;
  line-height: 1.2;
}
