.notion-widgets {
  button,
  input[type="text"],
  input[type="number"],
  input[type="color"],
  textarea,
  select {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    background: rgb(233, 233, 233);
    border: 1px solid rgb(137, 137, 137);
    padding: 5px 15px;
    margin-bottom: 0.5em;

    @media (min-width: 1000px) {
      font-size: 22px;
    }

    &:focus {
      outline: none;
      border: 1px solid black;
    }
  }

  input[type="text"] {
    margin-top: 10px;
    width: 100%;
  }

  textarea {
    width: 100%;
    min-height: 150px;
  }

  h1 {
    margin-top: 10vh;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  span {
    display: block;
  }

  label {
    width: 100%;
    display: block;
  }

  input[type="checkbox"] {
    filter: saturate(0) brightness(0.9);
  }

  #output {
    padding: 10px;
    border: 2px solid lightgray;
    max-height: 85vh;
    overflow-y: auto;

    &:empty {
      display: none;
    }
  }

  .wrap {
    margin-left: 30px;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    border: 2px solid white;
    margin-bottom: 1em;
  }

  section {
    display: flex;
    gap: 30px;

    > * {
      flex: 0 0 50%;
    }
  }

  .output {
    font-size: 0.85em;
  }
}

@media (prefers-color-scheme: dark) {
  .notion-widgets {
    input[type="text"],
    input[type="number"],
    input[type="color"],
    textarea,
    button,
    select {
      color: rgb(190, 188, 195);
      background: rgb(42, 42, 44);
      border-color: rgb(42, 42, 44);

      &:focus {
        border-color: #eee;
      }
    }

    input[type="checkbox"] {
      filter: invert(1) saturate(0);
    }

    button {
      &:hover,
      &:focus {
        filter: brightness(0.8);
      }
    }
  }
}

// WIDGETS THEMSELVES:

.notion-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;

  &.dark-mode {
    background-color: rgb(25, 25, 25);
  }

  > * {
    width: 100%;
  }

  #text {
    &.centered {
      text-align: center;
    }
  }
}
