<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (5).gif" alt="Blinkie: This user is bi" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (32).webp" alt="Blinkie: Bi & Polyamorous" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (12).gif" alt="Blinkie: Bisexual pride" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/bi-rights.gif" alt="Blinkie: Bi Rights" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/bisexual.gif" alt="Blinkie: I swing both ways!" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (1).gif" alt="Blinkie: Cryptozoology" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (3).gif" alt="Blinkie: I want to believe" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (4).gif" alt="Blinkie: I love Horror Movies" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (2).gif" alt="Blinkie: I love Glitter" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (6).gif" alt="Blinkie: Let the music play" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (7).gif" alt="Blinkie: Like the legends of the penis" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (8).gif" alt="Blinkie: Animal Crossing" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (9).gif" alt="Blinkie: Stardew Valley" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (10).gif" alt="Blinkie: I love toast" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (11).gif" alt="Blinkie: Smosh" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (14).gif" alt="Blinkie: Daydreamer" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (15).gif" alt="Blinkie: Minecraft diamonds are a girl's best friend" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (16).gif" alt="Blinkie: I need more time!" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (17).gif" alt="Blinkie: Hawaii: Part 2" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (18).gif" alt="Blinkie: It's gay love, baby" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (19).gif" alt="Blinkie: Never trust a replubican" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (22).gif" alt="Blinkie: Sexy naughty bitchy me" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (23).gif" alt="Blinkie: Born to shop" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (24).gif" alt="Blinkie: Daydream Believer" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (25).gif" alt="Blinkie: Hopeless Romantic" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (26).gif" alt="Blinkie: Pink! Pink! ... I love Pink!" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (27).gif" alt="Blinkie: I love Halloween" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (29).gif" alt="Blinkie: I hate mean people!" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (30).png" alt="Blinkie: Bite me. :)" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (31).webp" alt="Blinkie: I am a gay vampire and you can't stop me" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (31).gif" alt="Blinkie: Introvert" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (32).gif" alt="Blinkie: Artist" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (33).gif" alt="Blinkie: I love comments!" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (30).gif" alt="Blinkie: tummy ache survivor" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/b (34).gif" alt="Blinkie: I view the page source" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/cringeculture.webp" alt="Blinkie: Cringe Culture is DEAD" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/homoeroticsubtext.gif" alt="Blinkie: Homoerotic Subtext" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/i-love-comments.gif" alt="Blinkie: I love comments" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/deletetiktok.webp" alt="Blinkie: Delete TikTok" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/i-love-my-computer.gif" alt="Blinkie: I love my computer" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/neocities-user.webp" alt="Blinkie: Neocities user" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/my-back-hurts.gif" alt="Blinkie: My back hurts!!!" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/jurassic-park.gif" alt="Blinkie: Welcome to Jurassic Park" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/water-drinker.gif" alt="Blinkie: Water Drinker" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/dresslikeshit.gif" alt="Blinkie: Dress like shit" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/onthefloor.gif" alt="Blinkie: Fuck this, I am sitting on the floor" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/censorship.gif" alt="Blinkie: Censorship kills creativity" /></div>
<div><img width="150" height="20" src="../assets/img/blinkies/blinkies/corporateinvasion.gif" alt="Blinkie: I feel violated by the corporate invasion on my attention span" /></div>