<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (1).gif" alt="Stamp: Delete Twitter, make a Neocities" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (2).gif" alt="Button: Best viewed with Computer" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (3).gif" alt="Button: Firefox now!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (4).gif" alt="Button: old man yaoi now!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (5).gif" alt="Button: This site is gay" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (6).jpg" alt="Button: AO3" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (7).gif" alt="Button: HTML: Learn it today!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (7).jpg" alt="Button: Tumblr" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (8).png" alt="Button: Minesweeper" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (8).gif" alt="Button: Ditch Social Media Now!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (9).png" alt="Button: EZGif now!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/button (10).png" alt="Button: Made with Visual Studio Code" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/neocities.gif" alt="Button: Neocities.org: The web is yours!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/jquery.gif" alt="Button: jQuery is evil!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/responsivesite.jpg" alt="Button: Responsive Website" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/getqueer.gif" alt="Button: Get Queer now!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/bookmark-this-page.gif" alt="Button: Bookmark this page!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/alienow.gif" alt="Button: The truth now!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/creationofadam.gif" alt="Button: Creation of Adam" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/statuscafe.gif" alt="Button: Status Cafe" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/ban-time-travel.png" alt="Button: Ban time travel 'now'!" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/project-gutenberg.gif" alt="Button: Gutenberg Project" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/queercode.png" alt="Button: you're telling me a queer coded this" /></div>
<div><img width="88" height="31" src="../assets/img/blinkies/buttons/pictochat.gif" alt="Button: I miss using Pictochat" /></div>

<!-- CSS Check:-->
<div>
  <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank" tabindex="-1">
    <img style="border: 0; width: 88px; height: 31px" src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
  </a>
</div>