---
codingPage: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "layout/head.njk" %}
  </head>
  <body
    class="{{ bodyClass }} coding-page-layout"
    {%
    if
    freezeframe
    %}onload="new Freezeframe();"
    {%
    endif
    %}
  >
    <noscript id="no-js-warning"
      >Please enable JavaScript to to be able to use all functions of this
      website!</noscript
    >
    <a href="#main" id="skip-to-content-link">Skip to content</a>
    <a href="/sitemap" id="skip-to-content-link2">Go to Sitemap</a>

    <div
      style="
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      "
    >
      <div id="content">
        <!-- ------------------------------------------------ -->
        <!-- -------------------- BUTTONS ------------------- -->
        <!-- ------------------------------------------------ -->
        {% include "layout/setting-buttons.njk" %}

        <!-- ------------------------------------------------ -->
        <!-- --------------------- HEADER ------------------- -->
        <!-- ------------------------------------------------ -->
        <header>
          <div class="header-heading">
            <a href="/"
              ><img
                src="{{ nesting }}assets/img/layout/petrapixel-coding.png"
                aria-label="petrapixel"
                height="100"
                width="300"
            /></a>
          </div>
        </header>

        <div class="coding-back-to-home">
          <a href="/"
            ><small>⇠</small> home
            <img
              src="{{ nesting }}assets/img/layout/pc.gif"
              alt=""
              aria-hidden="true"
          /></a>
        </div>

        <!-- ------------------------------------------------- -->
        <!-- ---------------- CODING NAVIGATION --------------- -->
        <!-- -------------------------------------------------- -->
        <nav class="coding-navigation" data-nosnippet="true">
          {% for allNavItem in nav %} {% if allNavItem.isCodeMenu %} {% for
          mainNavItem in allNavItem.items %}

          <div
            class="coding-navigation-category"
            aria-label="{{ mainNavItem.label }}"
          >
            <div class="coding-navigation-category__title">
              {{ mainNavItem.label }}{% if mainNavItem.new %}
              <small class="aside-nav__new"
                ><img
                  src="{{ nesting }}assets/img/layout/new.gif"
                  alt=""
                  aria-hidden="true" /></small
              >{% endif %}
            </div>
            <ul>
              {% for navItem in mainNavItem.items %}{% if not navItem.hide and
              not navItem.hideInCodingNav %}
              <li>
                <a href="{{ navItem.link }}"
                  ><i class="ri-{{ navItem.icon }}"></i
                  ><span
                    >{{ navItem.label }}{% if navItem.sublabel %}<small
                      >{{ navItem.sublabel }}</small
                    >{% endif %}</span
                  >{% if navItem.new %}
                  <small class="aside-nav__new"
                    ><img
                      src="{{ nesting }}assets/img/layout/new.gif"
                      alt=""
                      aria-hidden="true" /></small
                  >{% endif %}</a
                >
              </li>
              {% endif %}{% endfor %}
            </ul>
          </div>
          {% endfor %} {% endif %}{% endfor %}
        </nav>

        <!-- ------------------------------------------------ -->
        <!-- --------------------- SIDEBAR ------------------ -->
        <!-- ------------------------------------------------ -->
        <aside class="aside aside--left" data-nosnippet="true">
          {% include "layout/sidebars/kirby.njk" %}

          <img
            src="{{ nesting }}assets/img/layout/divider4.gif"
            alt=""
            aria-hidden="true"
          />

          {% include "layout/sidebars/link-back.njk" %}

          <!-- ----------------- TIP JAR ----------------- -->

          {% include "layout/sidebars/tip-jar.njk" %}

          <img
            src="{{ nesting }}assets/img/layout/divider6.gif"
            alt=""
            aria-hidden="true"
            style="margin-top: -5px"
          />

          <!-- ----------------- SUPPORTERS ----------------- -->

          {% include "layout/sidebars/supporters.njk" %}

          <img
            src="{{ nesting }}assets/img/layout/divider6.gif"
            alt=""
            aria-hidden="true"
            style="margin-top: -5px"
          />

          <!-- ----------------- TOC ----------------- -->

          {% if toc %}
          <img
            src="{{ nesting }}assets/img/layout/divider8.gif"
            alt=""
            aria-hidden="true"
            style="margin-top: 2em"
          />
          <div id="toc-position"></div>
          <div id="toc"></div>
          {% endif %}

          <!-- don't add anything in the sidebar below the TOC! -->
        </aside>

        <!-- ----------------- PROGRESS BAR ----------------- -->
        {% if progressBar %}
        <div class="progress-bar-container">
          <div>
            You're <span class="progress-bar-percent">0</span>% done reading!
          </div>
          <div class="progress-bar-wrapper">
            <div class="progress-bar"></div>
          </div>
        </div>
        {% endif %} {% include "layout/back-to-top.njk" %} {% include
        "layout/corner-images.njk" %}

        <!-- ------------------------------------------------ -->
        <!-- ----------------- MAIN CONTENT ----------------- -->
        <!-- ------------------------------------------------ -->
        <main id="main" class="{{ mainClass }}">{{ content | safe }}</main>
      </div>

      <!-- ------------------------------------------------ -->
      <!-- ----------------- FOOTER ----------------- -->
      <!-- ------------------------------------------------ -->
      {% include "layout/footer.njk" %}
    </div>

    <!-- Audios -->
    {% include "layout/audios.njk" %}

    <!-- Scripts -->
    {% if lightbox %}
    <script src="../assets/js/fslightbox.js"></script>
    {% endif %}
  </body>
</html>
