<span class="email-svg">
  <img src="{{ nesting }}assets/img/email.png" alt="my email address" class="only-show-in-light-mode" />
  <img src="{{ nesting }}assets/img/email-dark.png" alt="my email address" class="only-show-in-dark-mode" />
</span>
