<nav class="aside-nav">
  <div class="aside-nav__heading" aria-hidden="true">Menu</div>
  <ul aria-label="Menu">
    {% for mainNavItem in nav %} {% if mainNavItem.link %}

    <li>
      <a href="{{ mainNavItem.link }}"><img width="9" src="{{ nesting }}assets/img/layout/heart.png" alt="" aria-hidden="true" />{{ mainNavItem.label }}</a>
    </li>

    {% else %}

    <li>
      <details>
        <summary>
          {{ mainNavItem.label }}{% if mainNavItem.new %}<small class="aside-nav__new"><img src="{{ nesting }}assets/img/layout/new.gif" alt="" aria-hidden="true" /></small>{% endif %}
        </summary>
        <ul>
          {% for navItem in mainNavItem.items %} {% if not navItem.hide %} {% if navItem.link %}

          <li {% if navItem.mobileOnly %}class="mobile-only" {% endif %}>
            <a href="{{ navItem.link }}"
              >{{ navItem.label | safe }}{% if navItem.new %}<small class="aside-nav__new"><img src="{{ nesting }}assets/img/layout/new.gif" alt="" aria-hidden="true" /></small>{% endif %}</a
            >
          </li>

          {% else %}

          <b>{{ navItem.label }}</b>

          {% for subNavItem in navItem.items %} {% if not subNavItem.hide %}
          <li {% if subNavItem.mobileOnly %}class="mobile-only" {% endif %}>
            <a href="{{ subNavItem.link }}"
              >{{ subNavItem.label }}{% if subNavItem.new %}<small class="aside-nav__new"><img src="{{ nesting }}assets/img/layout/new.gif" alt="" aria-hidden="true" /></small>{% endif %}</a
            >
          </li>

          {% endif %} {% endfor %} {% endif %} {% endif %} {% endfor %}
        </ul>
      </details>
    </li>

    {% endif %} {% endfor %}
  </ul>
</nav>
