---
testingOnLocalhost: false
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}{% if title !== "petrapixel" %} | petrapixel{% endif %}</title>
    {% if not noSEO %}
    <meta
      name="description"
      content="{{ description or 'Welcome to petrapixel! Here you can find many resources for Neocities, coding help, media recommendations and more in a cute Old Web aesthetic!' }}"
    />
    {% endif %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ nesting }}assets/img/favicon.ico" rel="icon" type="image/x-icon" />

    {% if codeHighlight %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    {% endif %} {% if not noSEO and not testingOnLocalhost %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J64TL8KVTJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-J64TL8KVTJ");
    </script>
    {% endif %} {% if freezeframe %}
    <!-- freezeframe.js -->
    <script src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"></script>
    <style>
      #main .ff-container {
        display: block;
      }
    </style>
    {% endif %}

    <!-- CSS/JS + CACHEBUSTING -->
    <link rel="stylesheet" href="{{ nesting }}assets/main.css" />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Path to your CSS file (like usual), or empty ("") if you don't have one:
        const CSS_FILE_PATH = "{{ nesting }}assets/main.css";

        // Path to your JS file (like usual), or empty ("") if you don't have one:
        const JS_FILE_PATH = "{{ nesting }}assets/js/main.js";

        function loadScript(src) {
          const script = document.createElement("script");
          script.src = src + "?nocache=" + new Date().getTime();
          script.async = true;
          document.head.appendChild(script);
        }
        function loadCSS(href) {
          const link = document.createElement("link");
          link.rel = "stylesheet";
          link.href = href + "?nocache=" + new Date().getTime();
          document.head.appendChild(link);
        }
        if (JS_FILE_PATH) loadScript(JS_FILE_PATH);
        if (CSS_FILE_PATH) loadCSS(CSS_FILE_PATH);
      });
    </script>
  </head>
  <body class="{{ bodyClass }}" {% if freezeframe %}onload="new Freezeframe();" {% endif %}>
    <noscript id="no-js-warning">Please enable JavaScript to to be able to use all functions of this website!</noscript>
    <a href="#main" id="skip-to-content-link">Skip to content</a>
    <a href="/sitemap" id="skip-to-content-link2">Go to Sitemap</a>
    <div id="content">
      <!-- ------------------------------------------------ -->
      <!-- --------------------- HEADER ------------------- -->
      <!-- ------------------------------------------------ -->
      {% if not noThemeSwichter %}
      <div id="theme-toggler" aria-hidden="true">
        <button type="button">
          <img src="{{ nesting }}assets/img/layout/moon.gif" width="20" style="height: 20px; image-rendering: pixelated" alt="" />
          <span>toggle theme</span>
        </button>
      </div>
      <div id="font-toggler" aria-hidden="true">
        <button type="button">
          <span>toggle font</span>
        </button>
      </div>
      {% endif %}
      <header>
        <div class="header-heading">
          <a href="/"><img src="{{ nesting }}assets/img/layout/petrapixel.png" aria-label="petrapixel" height="100" width="300" /></a>
        </div>
      </header>
      <aside class="aside aside--left" data-nosnippet="true">
        <details id="mobile-nav">
          <summary id="mobile-nav-toggle">Open Navigation</summary>
          {% include "nav.njk" %}
        </details>
        {% include "nav.njk" %}

        <div class="aside-dreamland desktop-only">
          <!-- ----------------- SEARCHBAR ----------------- -->
          <script async src="https://cse.google.com/cse.js?cx=d0371551e40124126"></script>
          <div class="gcse-search"></div>

          <img src="{{ nesting }}assets/img/layout/divider1.gif" alt="" aria-hidden="true" />

          <!-- ----------------- CONTEST ----------------- -->

          <a class="aside-contest" href="/contest">
            <img src="{{ nesting }}assets/img/layout/trophy.gif" width="80" height="85" alt="Trophy" />
            <div><b>Indie Web Contest</b><small>Vote now!</small></div>
          </a>

          <!-- ----------------- CHANGELOG ----------------- -->
          <div class="aside-stuff aside-changelog">
            <div class="aside-stuff__heading" aria-hidden="true">Changelog<img src="{{ nesting }}assets/img/layout/icon-code.png" alt="" aria-hidden="true" /></div>
            <ul class="changelog custom-scrollbar" aria-label="Changelog">
              {% for changelogEntry in changelog %} {% if changelogEntry.text != "TEMPLATE" %}
              <li class="changelog__entry">
                <strong>{{ changelogEntry.date }}</strong>
                {% if changelogEntry.link == "" %}
                <span>{{ changelogEntry.text }}</span>
                {% else %}
                <a href="{{ changelogEntry.link }}" tabindex="-1">{{ changelogEntry.text }}</a>
                {% endif %}
              </li>
              {% endif %} {% endfor %}
            </ul>
          </div>

          <!-- ----------------- LINK BACK ----------------- -->
          <div class="aside-stuff aside-link-back">
            <div class="aside-stuff__heading">Link back!<img src="{{ nesting }}assets/img/layout/icon-copy.png" alt="" aria-hidden="true" /></div>
            <p>
              Hotlinking is a-okay!
              <!-- <br><small style="line-height: 1;display: block;">You can change the .webp to .gif if you want.</small> -->
            </p>
            <a href="https://petrapixel.neocities.org/" target="_blank" tabindex="-1"
              ><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.webp" alt="petrapixel" width="88" height="31"
            /></a>
            <textarea class="code-textarea" name="" id="" rows="10" aria-label="link-back code">
<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"></a></textarea
            >
          </div>

          <img src="{{ nesting }}assets/img/layout/divider5.gif" alt="" aria-hidden="true" style="margin-top: 2em" />

          <!-- ----------------- POLL ----------------- -->
          <div class="aside-stuff aside-poll" aria-hidden="true">
            <div class="aside-stuff__heading" aria-hidden="true">Poll<img src="{{ nesting }}assets/img/layout/icon-stats.png" alt="" aria-hidden="true" /></div>

            <form method="post" action="https://poll.pollcode.com/88435277">
              <div style="background-color: #eeeeee; padding: 2px; width: 175px; font-family: Arial; font-size: small; color: #000000">
                <div style="padding: 2px 0px 4px 2px"><strong>what should i call my webring for sites with indie web resources/tutorials/layouts/etc?</strong></div>
                <input type="radio" name="answer" value="1" id="answer884352771" style="float: left" /><label for="answer884352771" style="float: left; width: 150px">dev den</label>
                <div style="clear: both; height: 2px"></div>
                <input type="radio" name="answer" value="2" id="answer884352772" style="float: left" /><label for="answer884352772" style="float: left; width: 150px">code collective</label>
                <div style="clear: both; height: 2px"></div>
                <input type="radio" name="answer" value="3" id="answer884352773" style="float: left" /><label for="answer884352773" style="float: left; width: 150px">code council</label>
                <div style="clear: both; height: 2px"></div>
                <input type="radio" name="answer" value="4" id="answer884352774" style="float: left" /><label for="answer884352774" style="float: left; width: 150px">pixel posse</label>
                <div style="clear: both; height: 2px"></div>
                <input type="radio" name="answer" value="5" id="answer884352775" style="float: left" /><label for="answer884352775" style="float: left; width: 150px">do-while ring</label>
                <div style="clear: both; height: 2px"></div>
                <input type="radio" name="answer" value="6" id="answer884352776" style="float: left" /><label for="answer884352776" style="float: left; width: 150px">html hive</label>
                <div style="clear: both; height: 2px"></div>
                <input type="radio" name="answer" value="7" id="answer884352777" style="float: left" /><label for="answer884352777" style="float: left; width: 150px">html haven</label>
                <div style="clear: both; height: 2px"></div>
                <input type="radio" name="answer" value="8" id="answer884352778" style="float: left" /><label for="answer884352778" style="float: left; width: 150px"
                  >... something else, these all suck</label
                >
                <div style="clear: both; height: 2px"></div>
                <div align="center" style="padding: 3px"><input type="submit" value=" Vote " />&nbsp;<input type="submit" name="view" value=" View " /></div>
                <div align="right" style="font-size: 10px">pollcode.com <a href="https://pollcode.com/">free polls</a></div>
              </div>
            </form>

            <center>
              <small>(all polls <a href="/fun/polls">here</a>)</small>
            </center>
          </div>

          <!-- old polls: 
			- https://poll.pollcode.com/18931664_result?v
		-->

          <img src="{{ nesting }}assets/img/layout/divider8.gif" alt="" aria-hidden="true" style="padding-top: 5px" />

          <!-- ----------------- BLINKIES ----------------- -->
          <div class="aside-stuff aside-blinkies" aria-hidden="true">
            <marquee class="marquee aside-blinkies__buttons" scrollamount="5">{% include 'blinkies-blinkies.njk' %}</marquee>
            <marquee class="marquee aside-blinkies__blinkies" scrollamount="4">{% include 'blinkies-buttons.njk' %}</marquee>
          </div>

          <img src="{{ nesting }}assets/img/layout/divider6.gif" alt="" aria-hidden="true" style="margin-top: -5px" />

          <img src="{{ nesting }}assets/img/layout/divider7.gif" alt="" aria-hidden="true" style="padding-top: 10px" />

          <!-- ----------------- IMAGE OF THE MOMENT ----------------- 
            <div class="aside-stuff aside-poll">
              <div class="aside-stuff__heading" aria-hidden="true">Image of the Moment<img src="{{ nesting }}assets/img/layout/icon-hearts.png" alt="" aria-hidden="true" /></div>
              <a href="https://at.pinterest.com/pin/357402920447991964/" target="_blank" class="image-of-the-moment">
                <img src="https://i.pinimg.com/564x/cc/0c/f9/cc0cf91f9390dc6abfce564c02c23dd8.jpg" alt="Bella and Edward" title="Bella and Edward" />
              </a>
            </div>
            -->

          <!-- ----------------- NAV LINK ----------------- -->
          <div class="aside-stuff aside-poll">
            <div class="aside-stuff__heading" aria-hidden="true">Other Sites<img src="{{ nesting }}assets/img/layout/icon-hearts.png" alt="" aria-hidden="true" /></div>
            <iframe class="aside-navlinkads" width="170" height="170" style="border: none" src="https://dimden.neocities.org/navlink/" name="neolink" aria-label="Navlink"></iframe>
            <center>
              <p style="line-height: 1"><small>These are "ads" to other indie web sites. You should check them out :)</small></p>
            </center>
          </div>

          <!-- ----------------- COMING SOON ----------------- -->
          <!--
		<div class="aside-stuff aside-changelog">
          <div class="aside__heading aside__heading--comingsoon" aria-hidden="true">Coming Soon</div>
          <div class="changelog custom-scrollbar">
			  <ul aria-label="Coming Soon">
			 	<li>loading screen</li>
			 	<li>blog post about polyamory</li>
			 	<li>dinosaur shrine</li> 
			 	<li>more shrines</li> 
			 	<li>advanced coding tutorials</li> 
				<li>self-made blinkies/buttons/stamps</li>
			  </ul>
		  </div>
        </div>
		-->
        </div>
      </aside>
      <aside class="aside aside--right desktop-only" data-nosnippet="true">
        <!-- ----------------- CLAP, KIRBY ----------------- -->
        <div class="aside-stuff aside-clap-kirby">
          <a class="aside-stuff__guestbook" aria-hidden="true" href="/about/guestbook">
            <img width="145" height="56" src="{{ nesting }}assets/img/layout/kirby1light.png" alt="sign my guestbook" class="only-show-in-light-mode" />
            <img width="145" height="56" src="{{ nesting }}assets/img/layout/kirby1.png" alt="sign my guestbook" class="only-show-in-dark-mode" />
          </a>
          <!--
          <a class="aside-stuff__guestbook" aria-hidden="true" href="/about/guestbook">
            <img src="{{ nesting }}assets/img/glitter-graphics/guestbook.gif" alt="sign my guestbook" />
          </a>
          <a class="aside-stuff__guestbook" aria-label="follow me on neocities" href="https://neocities.org/site/petrapixel" target="_blank">
            <img src="{{ nesting }}assets/img/glitter-graphics/profile.gif" alt="follow me on neocities" />
          </a>
		  -->
          <a class="aside-stuff__guestbook" aria-label="follow me on neocities" href="https://neocities.org/site/petrapixel" target="_blank">
            <img width="145" height="56" src="{{ nesting }}assets/img/layout/kirby2light.png" alt="follow me on neocities" class="only-show-in-light-mode" />
            <img width="145" height="56" src="{{ nesting }}assets/img/layout/kirby2.png" alt="follow me on neocities" class="only-show-in-dark-mode" />
          </a>
          <a id="clap-for-me" href="//clap.fc2.com/post/petrapixel/?url=https%3A%2F%2Fpetrapixel.neocities.org%2F&title=petrapixel" target="_blank">
            <img width="80" height="18" src="//clap.fc2.com/images/button/pink/petrapixel?url=https%3A%2F%2Fpetrapixel.neocities.org%2F&amp;lang=en" alt="clap for me on clap.fc2.com" />
            <small>click to clap for me!</small>
          </a>
          <!--
          <a href="https://petrapixel.nekoweb.org/" target="_blank">Follow on Nekoweb</a>
		  -->
        </div>

        <img src="{{ nesting }}assets/img/layout/divider2.gif" alt="" aria-hidden="true" style="image-rendering: pixelated" />

        <!-- ----------------- STATS / STATUS ----------------- -->
        <div class="aside-stuff aside-stats">
          <!--
		<div class="aside-stats__stat">
			<div class="aside-stuff__heading"><span>visitors</span><img src="{{nesting}}assets/img/layout/icon-stats.png" alt="" aria-hidden="true"/></div>
			<div class="aside-stats__stat-content"><a href="https://neocities.org/site/petrapixel/stats" target="_blank" id="hitcount"></a></div>
		</div>
		-->
          <div class="aside-stats__stat">
            <div class="aside-stuff__heading"><span>website hits</span><img src="{{ nesting }}assets/img/layout/icon-stats.png" alt="" aria-hidden="true" /></div>
            <div class="aside-stats__stat-content">
              <center>
                {% if not testingOnLocalhost %}<a href="https://www.free-website-hit-counter.com">
                  <img src="https://www.free-website-hit-counter.com/c.php?d=7&id=166390&s=18" border="0" alt="Free Website Hit Counter" /> </a
                >{% endif %}
              </center>
              <small style="font-size: 0.8em; letter-spacing: -0.4px; text-align: center; display: block">(might not be entirely accurate)</small>
            </div>
          </div>
          <div class="aside-stats__stat">
            <div class="aside-stuff__heading"><span>my time</span><img src="{{ nesting }}assets/img/layout/icon-clock.png" alt="" aria-hidden="true" /></div>
            <div class="aside-stats__stat-content">
              <div style="text-align: center">
                <iframe
                  title="my time"
                  src="https://free.timeanddate.com/clock/i9bg5thz/n259/fn8/fs13/fc7f244b/tct/pct/ts1/ta1"
                  frameborder="0"
                  width="150"
                  height="17"
                  allowtransparency="true"
                ></iframe>
              </div>
            </div>
          </div>
          <div class="aside-stats__stat">
            <div class="aside-stuff__heading"><span>my status</span><img src="{{ nesting }}assets/img/layout/icon-happy.png" alt="" aria-hidden="true" /></div>
            <div class="aside-stats__stat-content" id="statuscafe">
              <div id="statuscafe-username"></div>
              <div id="statuscafe-content"></div>
            </div>
          </div>
        </div>

        <img src="{{ nesting }}assets/img/layout/divider3.gif" alt="" aria-hidden="true" style="margin-top: -2px" />

        <!-- ----------------- CURRENTLY ----------------- -->
        <div class="aside-stuff aside-currently">
          <div class="aside-stuff__heading">Currently</div>
          <ul>
            <li aria-label="listening to:">
              <img src="{{ nesting }}assets/img/layout/icon-music.png" alt="" title="listening to:" aria-hidden="true" />
              <a href="https://www.last.fm/user/Petra1999" target="_blank" id="song">various</a>
              <img src="{{ nesting }}assets/img/layout/equalizer.gif" alt="" aria-hidden="true" />
            </li>
            <li aria-label="watching:">
              <img src="{{ nesting }}assets/img/layout/icon-tv.png" alt="" title="watching:" aria-hidden="true" />
              <a href="https://app.tvtime.com/user/33116783" target="_blank">Lost (s2)</a>
            </li>
            <li aria-label="reading:">
              <img src="{{ nesting }}assets/img/layout/icon-book.png" alt="" title="reading:" aria-hidden="true" />
              <a href="https://www.goodreads.com/user/show/62158941-petra" target="_blank"
                >Six of Crows
                <!--<span style="font-family:sans-serif;font-size:0.9em">↺</span>--></a
              >
            </li>
            <li aria-label="playing:">
              <img src="{{ nesting }}assets/img/layout/icon-game.png" alt="" title="playing:" aria-hidden="true" />
              <a href="https://www.backloggd.com/u/Petra1999/" target="_blank">Hello Kitty Island Adventure</a>
            </li>
            <li aria-label="obsessed with:">
              <img src="{{ nesting }}assets/img/layout/icon-heart.png" alt="" title="obsessed with:" aria-hidden="true" />
              <span
                >-
                <!--<span style="font-family:sans-serif;font-size:0.9em">♡</span>--></span
              >
            </li>
          </ul>
        </div>

        <img src="{{ nesting }}assets/img/layout/divider4.gif" alt="" aria-hidden="true" style="padding-top: 5px" />

        <!-- ----------------- NEIGHBORS ----------------- -->
        <div class="aside-stuff aside-mutuals" data-nesting="{{ nesting }}" aria-hidden="true">
          <div class="aside-stuff__heading">
            <a href="/about/neighbors">Neighbors<img src="{{ nesting }}assets/img/layout/icon-building.png" alt="" aria-hidden="true" /></a>
          </div>
          <a href="#afterneighbours" class="skiplink" aria-hidden="true">Skip neighbours</a>
          <div id="beforeneighbours"></div>
          <marquee class="marquee aside-mutuals__buttons" scrollamount="5">
            {% for site in sites %} {% if site.title != "TEMPLATE" and site.neighbor and not site.hide %}
            <a href="{{ site.link }}" title="{{ site.title }}">
              <img src="{{ site.image | prepareImageUrl }}" alt="{{ site.title }}" width="88" height="31" loading="lazy" />
            </a>
            {% endif %} {% endfor %}
          </marquee>
          <div id="afterneighbours">Click <a href="/about/neighbors">here</a> to view them all.</div>
          <a href="#beforeneighbours" class="skiplink" aria-hidden="true">Skip to before neighbours</a>
        </div>

        <img src="{{ nesting }}assets/img/layout/divider6.gif" alt="" aria-hidden="true" style="margin-top: -5px" />

        <!-- ----------------- CHATBOX ----------------- -->
        <div class="aside-stuff aside-chatbox">
          <div class="aside-stuff__heading" aria-hidden="true">Chatbox<img src="{{ nesting }}assets/img/layout/icon-chat.png" alt="" aria-hidden="true" /></div>
          <iframe
            src="https://www5.cbox.ws/box/?boxid=949361&boxtag=Asuhlk"
            width="100%"
            height="300"
            allowtransparency="yes"
            allow="autoplay"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            scrolling="auto"
            aria-label="Chatbox"
            tabindex="-1"
          ></iframe>
        </div>

        <!-- ----------------- TIP JAR ----------------- -->

        <a class="aside-tip-jar" href="https://ko-fi.com/petrastipjar" target="_blank">
          <img src="{{ nesting }}assets/img/layout/coffee.gif" width="70" alt="Coffee Gif" />
          <div><b>Tip Jar</b><small>Buy me a coffee? :3</small></div>
        </a>

        <!-- ----------------- FLAG COUNTER ----------------- -->
        <!--
		<a class="aside__flag-counter" aria-hidden="true" href="/about/flag-counter"
        ><img alt="Flag Counter" src="https://s11.flagcounter.com/count2/wNh/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_3/labels_0/pageviews_0/flags_0/percent_1/" border="0"/></a>
	  -->
      </aside>

      <!-- ----------------- BACK TO TOP ----------------- -->
      <div id="back-to-top-link" aria-hidden="true"><a href="#" tabindex="-1">scroll to top</a></div>

      <!-- ----------------- PROGRESS BAR ----------------- -->
      {% if progressBar %}
      <div class="progress-bar-container">
        <div>You're <span class="progress-bar-percent">0</span>% done reading!</div>
        <div class="progress-bar-wrapper"><div class="progress-bar"></div></div>
      </div>
      {% endif %}

      <!-- ------------------------------------------------ -->
      <!-- ----------------- MAIN CONTENT ----------------- -->
      <!-- ------------------------------------------------ -->
      <main id="main" class="{{ mainClass }}">
        {{ content | safe }}
      </main>

      <!-- ------------------------------------------------ -->
      <!-- ----------------- FOOTER ----------------- -->
      <!-- ------------------------------------------------ -->
      <footer>
        <div class="footer-content">
          <a class="footer-rss" href="/rss.xml" target="_blank" aria-label="RSS Feed" title="RSS Feed"><img src="{{ nesting }}assets/img/layout/rss.png" alt="RSS" /></a> <i>┊</i>
          <span class="desktop-only">created by</span> petrapixel 2024 - <span>∞</span> <i>┊</i> <a href="https://neocities.org/site/petrapixel" target="_blank">my neocities profile</a>
          <span class="desktop-only"> <i>┊</i> <a href="/sitemap">sitemap</a> <i>┊</i> <a href="https://github.com/petracoding/petrapixel.neocities.org" target="_blank">github</a></span> <i>┊</i>
          <a href="https://ko-fi.com/petrastipjar" target="_blank">tip jar</a>
        </div>
        <div class="footer-content mobile-only">
          <a id="clap-for-me" href="//clap.fc2.com/post/petrapixel/?url=https%3A%2F%2Fpetrapixel.neocities.org%2F&title=petrapixel" target="_blank">
            <img width="80" height="18" src="//clap.fc2.com/images/button/pink/petrapixel?url=https%3A%2F%2Fpetrapixel.neocities.org%2F&amp;lang=en" alt="clap for me on clap.fc2.com" />
            <small>click to clap for me!</small>
          </a>
          <br />
          <center>
            <small>Visitors:</small>
            {% if not testingOnLocalhost %}<a href="https://www.free-website-hit-counter.com">
              <img src="https://www.free-website-hit-counter.com/c.php?d=7&id=166390&s=18" border="0" alt="Free Website Hit Counter" />
            </a>
            {% endif %}
          </center>
          <br />
          <center>
            <a href="#" tabindex="-1" style="font-size: 1.5em">go to top</a>
          </center>
        </div>
      </footer>
    </div>
    {% if lightbox %}
    <script src="../assets/js/fslightbox.js"></script>
    {% endif %}
  </body>
</html>
