<!-- {# tipType: "resource" {XXXX% include 'tip-me.njk' %XXXX} #} -->

<section class="buy-me-a-coffee">
  <div>
    <p>
      I spend <b>many hours</b> of my free time creating {% if tipType %}{{ tipType }}s{% else %}pages{% endif %} like these that I publish for free. If you'd like to say thanks, please share this {%
      if tipType %}{{ tipType }}s{% else %}pages{% endif %} with others and/or <b><a href="https://ko-fi.com/petrastipjar/goal?g=0" target="_blank">buy me a coffee (donate)</a></b
      >! (I also have a little <a href="https://www.amazon.de/hz/wishlist/ls/3SCRJ1EMG1PZ1?type=wishlist&filter=unpurchased&sort=priority&viewType=list" target="_blank">wishlist</a>).
      <img aria-hidden="true" src="../assets/img/inline/laughing.gif" />
    </p>
    <p>
      <small
        >Last autumn I took in a stray cat that gave birth to 5 kittens in my apartment. As an unemployed uni student, the expenses (400+ eur in three months + over 400 eur for the castration of the
        mom) were rough for me. I appreciate ANY help, no matter how small!
      </small>
    </p>
    <p style="display: none">
      <!-- TEMP HIDDEN -->
      <small
        >If you have questions about this page feel free to contact me via my <a href="/about/guestbook">guestbook</a> or my
        <a href="https://neocities.org/site/petrapixel" target="_blank">neocities profile</a>. I promise I don't bite!</small
      >
    </p>
  </div>
  <div>
    <img src="{{ nesting }}assets/img/layout/coffee.gif" alt="coffee" width="80" />

    <!-- TEMP -->
    <a href="{{ nesting }}assets/img/cats/kitten (2).jpg" class="image">
      <img alt="" src="{{ nesting }}assets/img/cats/kitten (2).jpg" width="260" />
    </a>
  </div>
</section>
