<!-- {# tipType: "resource" {XXXX% include 'tip-me.njk' %XXXX} #} -->

<section class="buy-me-a-coffee">
  <div>
    <p>
      I spend <b>many hours</b> of my free time creating {% if tipType %}{{
      tipType }}s{% else %}pages{% endif %} like these that I publish for free.
      If you'd like to say thanks, please share this {% if tipType %}{{ tipType
      }}s{% else %}pages{% endif %} and consider
      <b
        ><a href="https://ko-fi.com/petrastipjar" target="_blank"
          >buying me a coffee</a
        ></b
      >!
    </p>
    <p>
      <small
        >Last autumn I took in a stray cat that gave birth to 5 kittens in my
        apartment. As an unemployed uni student, the expenses were rough for me.
        <img aria-hidden="true" src="../assets/img/inline/worried.gif" /> (<b
          >200</b
        ><span style="font-family: serif; font-size: 14px; font-weight: bold"
          >€</span
        >
        for raising the kittens, over <b>1400</b
        ><span style="font-family: serif; font-size: 14px; font-weight: bold"
          >€</span
        >
        for castration due to complications.
        <img aria-hidden="true" src="../assets/img/inline/sad.gif" />) I
        appreciate <i>any</i> help, no matter how small! If you donate monthly
        you'll get some nice
        <a href="https://ko-fi.com/petrastipjar/tiers" target="_blank"
          >benefits</a
        >!
        <img aria-hidden="true" src="../assets/img/inline/uwu.gif" />
      </small>
    </p>
    <p style="display: none">
      <!-- TEMP HIDDEN -->
      <small
        >If you have questions about this page feel free to contact me via my
        <a href="/about/guestbook">guestbook</a> or my
        <a href="https://neocities.org/site/petrapixel" target="_blank"
          >neocities profile</a
        >. I promise I don't bite!</small
      >
    </p>
  </div>
  <div>
    <img
      src="{{ nesting }}assets/img/layout/coffee.gif"
      alt="coffee"
      width="80"
    />

    <img alt="" src="{{ nesting }}assets/img/cats/kitten (2).jpg" width="230" />
  </div>
</section>
