<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ------------------------------- -->
    <!-- REMOVE THIS !!!!!!!!!!!!!!!!!!! -->
    <script>
      document.addEventListener("contextmenu", (event) => {
        alert("Please do not copy the code here! There is a download for a reason!");
      });
      console.log("%cPlease do not copy the code here! There is a download for a reason!", "font-size: 20pt; background: red");
    </script>
    <!-- REMOVE THIS !!!!!!!!!!!!!!!!!!! -->
    <!-- ------------------------------- -->

    <!-- Change your site title: (This is shown in the tab) -->
    <title>TITLE</title>

    <!-- Change your site description: (This is shown in Google results) -->
    <meta content="My personal website!" name="description" />

    <!-- Setting character encoding and viewport size. Do not remove. -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FavIcon (small image in tab), change to any image you want: -->
    <!-- You will have to change this to "../favicon.ico" if this HTML file is in a subfolder, to "../../favicon.ico" if this HTML file is in 2 subfolders, etc. -->
    <link href="favicon.ico" rel="icon" type="image/x-icon" />

    <!-- CSS: -->
    <!-- You will have to change this to "../style.css" if this HTML file is in a subfolder, to "../../style.css" if this HTML file is in 2 subfolders, etc. -->
    <link href="./style.css" rel="stylesheet" />

    <!-- JavaScript: -->
    <!-- You will have to change this to "../layout.js" if this HTML file is in a subfolder, to "../../layout.js" if this HTML file is in 2 subfolders, etc. -->
    <script src="./layout.js"></script>

    <script>
      // Layout by petrapixel.
      // (Please do not remove this credit.)
      console.log("%cLayout created by petrapixel: https://petrapixel.neocities.org/coding/layouts", "font-size: 14pt; color: #922a45; background: #ffd3ef");
    </script>
  </head>
  <body>
    <!-- The next line is a skip-to-content link for keyboard users. Do not remove it! -->
    <a href="#content" id="skip-to-content-link">Skip to content</a>

    <div class="layout">
      <!-- =============================================== -->
      <!-- Header and Sidebar will be loaded per JavaScript! Edit layout.js to change. -->
      <!-- =============================================== -->

      <main id="content">
        <!-- Do NOT remove the ID here -->

        <!-- Do not remove the following line. -->
        <noscript>Please enable JavaScript to view this website!</noscript>

        <!-- =============================================== -->
        <!-- MAIN CONTENT -->
        <!-- =============================================== -->

        <section>
          <h1>Page Title (Heading 1)</h1>

          <!-- ASIDE -->
          <aside>Text</aside>

          <p>
            This is layout 2 ("Wiki") created by <a href="https://petrapixel.neocities.org/" target="_blank">petrapixel</a>. You can download the code
            <a href="https://petrapixel.neocities.org/coding/layouts#layout2" target="_blank">on this page</a>.
            <b>Do not simply copy the code from the preview's source. There is a reason why I offer a download instead.</b> You may move the credit in the footer to a "credits" page or similar, but
            please do not remove it altogether. Thank you!
          </p>
          <p>
            I will now show you how to use the most common HTML text elements:
            <b>This is bold text.</b>
            <strong>This is also bold text.</strong>
            <i>This is italic text.</i>
            <em>This is also italic text.</em>
            <strike>This is strikethrough text.</strike>
            <u>This is underlined text.</u>
            <a href="https://petrapixel.neocities.org/">This is a link.</a>
            And <a href="https://petrapixel.neocities.org/" target="_blank">this is a link that will open in a new tab.</a>
            <code>This is code (displayed in a monospace font).</code>
            <abbr title="Example.">This is an abbreviation (Try hovering over it).</abbr>
            This is a line break (The br stands for break.): <br />It's different from a paragraph because it does not add space inbetween the lines of text.
          </p>
          <p>This is a paragraph. As you can see, there's a bit of space between it and the previous paragraph.</p>

          <blockquote>This is a blockquote. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</blockquote>

          <details open="">
            <summary>Table of Contents</summary>
            <ol>
              <li><a href="#section1">Heading Example</a></li>
              <li>
                <a href="#section2">Heading Example</a>
                <ol>
                  <li><a href="#section21">Subheading Example</a></li>
                  <li><a href="#section22">Subheading Example</a></li>
                  <li><a href="#section23">Subheading Example</a></li>
                </ol>
              </li>
              <li>
                <a href="#section3">Heading Example</a>
              </li>
            </ol>
          </details>

          <h2 id="section1">Heading 2</h2>
          <ul>
            <li>Unsorted list</li>
            <li>Unsorted list</li>
            <li>Unsorted list</li>
          </ul>

          <p>Lorem ipsum dolor sit amet.</p>

          <ol>
            <li>Sorted list</li>
            <li>Sorted list</li>
            <li>Sorted list</li>
          </ol>

          <h3 id="section2">Heading 3</h3>
          <pre>
This is preformatted text, which means that     spaces    are preserved:
          :D</pre
          >

          <p>This is preformatted code:</p>
          <pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
   &lt;h1&gt;My First Heading&lt;/h1&gt;
   &lt;p&gt;My first paragraph.&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>

          <p>This is a separator line / divider:</p>
          <hr />
          <!-- hr = horizontal rule -->

          <p>
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>

          <h4 id="section3">Heading 4</h4>

          <p>Here are two columns:</p>
          <div class="two-columns">
            <div>
              <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. At vero eos et accusam et justo duo dolores et ea rebum.</p>
              <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. At vero eos et accusam et justo duo dolores et ea rebum.</p>
              <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
          </div>

          <h5>Heading 5</h5>

          <p>This is an image:</p>
          <img class="image" alt="" src="https://picsum.photos/id/10/200/100" />

          <p>This is an image with a caption:</p>
          <figure>
            <img src="https://picsum.photos/id/10/200/100" alt="" />
            <figcaption>Image Caption</figcaption>
          </figure>

          <p>This is a full-width image:</p>
          <img class="full-width-image" alt="" src="https://picsum.photos/id/10/1000/400" />

          <p>These are multiple images in a row:</p>
          <div class="images">
            <img alt="" src="https://picsum.photos/id/10/1000/400" />
            <img alt="" src="https://picsum.photos/id/10/1000/400" />
            <img alt="" src="https://picsum.photos/id/10/1000/400" />
          </div>

          <h6>Heading 6</h6>
          <p>
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
            velit esse molestie consequat.
          </p>

          <h2>References</h2>
          <ol>
            <li><a href="https://petrapixel.neocities.org/" target="_blank">https://petrapixel.neocities.org/</a></li>
            <li><a href="https://petrapixel.neocities.org/" target="_blank">https://petrapixel.neocities.org/</a></li>
            <li><a href="https://petrapixel.neocities.org/" target="_blank">https://petrapixel.neocities.org/</a></li>
            <li><a href="https://petrapixel.neocities.org/" target="_blank">https://petrapixel.neocities.org/</a></li>
          </ol>

          <h2>Related articles</h2>
          <table class="related">
            <tbody>
              <tr>
                <th>Example</th>
                <td>
                  <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a> •
                  <a href="/example">Example</a> •
                  <a href="/example"
                    >Example • <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a> •
                    <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a></a
                  >
                </td>
              </tr>
              <tr>
                <th>Other Example</th>
                <td>
                  <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a> • <a href="/example">Example</a> •
                  <a href="/example">Example</a>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </main>

      <!-- =============================================== -->
      <!-- Footer will be loaded per JavaScript! Edit layout.js to change. -->
      <!-- =============================================== -->

      <!-- Closing .layout: -->
    </div>

    <!-- Add any additional Javascript code (<script></script>) here. -->
  </body>
</html>
