---
layout: blog.njk
title: "blog"
nesting: "../"
---

<h1>My Blog</h1>
<p>This is my little blog. Not much here yet, very work in progress!</p>

<div class="blog">
  {% for blogEntry in blogEntries %} {% if blogEntry.title != "TEMPLATE" %}
  <article class="blog-entry" data-tags="{{ blogEntry.tags }}">
    <div class="blog-entry__title"><a href="/blog/{{ blogEntry.url }}">{{ blogEntry.title }}</a></div>
    <div class="blog-entry__info">
      <div class="blog-entry__date">Posted {{ blogEntry.dateCreated }}{% if blogEntry.dateUpdated != blogEntry.dateCreated %}, Updated {{ blogEntry.dateUpdated }}{% endif %}</div>
      <div class="blog-entry__tags">
        <b>Topics: </b> {{ blogEntry.tags }}
        <!-- <a href="/public/blog/index?tag=web" class="blog-entry__tag">web</a>, <a href="/public/blog/index?tag=personal" class="blog-entry__tag">personal</a> -->
      </div>
    </div>
    <div class="blog-entry__description">{{ blogEntry.description }}</div>
    <div class="blog-entry__link"><a href="/blog/{{ blogEntry.url }}" class="blog-entry__read" aria-label="Read '{{ blogEntry.title }}'">Read...</a></div>
  </article>
  {% endif %} {% endfor %}
</div>
