---
layout: petrapixel.njk
title: "media lists"
nesting: "../"
---

<section>
  <h1>
    Media lists
    <sub><a href="https://listography.com/petra1999" target="_blank">➚</a></sub>
  </h1>
  <p>Last updated: July 2026</p>
  <div id="toc"></div>
</section>

<div class="listography">
  <h2>General</h2>
  {% include "listography/media1.njk" %} {% include "listography/media2.njk" %}
  {% include "listography/media3.njk" %}
  <h2>Movies</h2>
  {% include "listography/media-movies.njk" %}
  <h2>TV</h2>
  {% include "listography/media-tv.njk" %}
  <h2>YouTube</h2>
  {% include "listography/media-youtube.njk" %}
  <h2>Books</h2>
  {% include "listography/media-books.njk" %}
</div>
