---
layout: petrapixel.njk
title: petrapixel
description: "Welcome to petrapixel! Here you can find many resources for Neocities, coding help, media recommendations and more in a cute Old Web aesthetic!"
freezeframe: true
---

<section>
  <h1 style="opacity: 0; height: 0">PetraPixel</h1>

  <div class="welcome-to-the-site">
    <div>
      <h2 style="margin-top: 0">Welcome to my site! <img aria-hidden="true" src="assets/img/inline/stars.gif" /></h2>
      <p>
        Welcome to petrapixel, my neocities site! <img aria-hidden="true" src="assets/img/inline/wave.gif" />Here you can find anything that interests me, from web resources, over vocabulary, to media
        recommendations!
      </p>
      <p>Learn more about the site on the <a href="/about/about-the-site">about the site</a> page.</p>
      <p>
        You can <a href="https://neocities.org/site/petrapixel" target="_blank">follow me on neocities here</a>. <img aria-hidden="true" src="assets/img/inline/happy.gif" /> Also, please sign my
        guestbook below!
      </p>
      <!-- <marquee>Thanks for 100 followers!!</marquee> -->
      <div class="blinkies freezeframe welcome-to-the-site__buttons">
        <div><img width="88" height="31" src="assets/img/blinkies/buttons/neocities.gif" alt="Button: Neocities.org: The web is yours!" /></div>
        <div><img width="88" height="31" src="assets/img/blinkies/buttons/button (2).gif" alt="Button: Best viewed with Computer" /></div>
        <div><img width="88" height="31" src="assets/img/blinkies/buttons/responsivesite.jpg" alt="Button: Responsive Webite" /></div>
        <div><img width="88" height="31" src="assets/img/blinkies/buttons/button (5).gif" alt="Button: This site is gay" /></div>
        <div><img width="88" height="31" src="assets/img/blinkies/buttons/button (10).png" alt="Button: Made with Visual Studio Code" /></div>
        <div>
          <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">
            <img style="border: 0; width: 88px; height: 31px" src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="ascii-cat" aria-hidden="true">
              <pre>
⠀ ／l、
（ﾟ､ ｡ ７
⠀ l、ﾞ ~ヽ
  じしf_, )ノ </pre
              >
            </div> -->
  </div>
</section>

<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->

<section>
  <div class="hello-its-me">
    <div class="hello-its-me-image">
      <img src="assets/img/layout/me.png" alt="A mirror selfie of me. My phone is covering most of my face. I'm wearing a brown top and long, gray skirt. My hair is half blonde, half brown." />
    </div>
    <div class="hello-its-me-content">
      <h2><img aria-hidden="true" src="assets/img/inline/stars.gif" /> About me <small style="font-size: 0.6em; font-weight: normal" aria-hidden="true">｡:ﾟ૮ ˶ˆ ﻌ ˆ˶ ა ﾟ:｡</small></h2>
      <p>
        Hii! My name is Petra (she/her), and I'm a queer 25-year-old English student from Austria! I used to be a frontend web developer, and am obviously a big fan of the web. This site is my
        appreciation for the old web!
      </p>
      <p>I also draw, write, create playlists, make video edits, and do a bunch of other things that you might find on here! <img aria-hidden="true" src="assets/img/inline/uwu.gif" /></p>
      <p>I love fandom spaces and regularly get obsessed with certain pieces of media - you will see them around here.</p>
      <!-- <p>I really love messages, so don't be shy about contacting me, writing into my guestbook or whatnot.</p> -->
      <p>If you want to know more about me check out my <a href="/about-me/about">about me</a> page! <img aria-hidden="true" src="assets/img/inline/blush.gif" /></p>
      <p aria-label="hidden">This is me</p>
    </div>
    <div class="hello-its-me-facts">
      <img src="https://i.imgur.com/LEpJMnn.png" alt="female" />
      <img src="https://i.imgur.com/yd0c8jM.png" alt="she/her" />
      <img src="https://i.imgur.com/mtHAEL4.png" alt="bisexual" />
      <img src="https://i.imgur.com/nupGNag.png" alt="polyamorous" />
      <img src="https://i.imgur.com/PRICTGJ.png" alt="taken" />
      <img src="https://i.imgur.com/P9bC0gg.png" alt="young adult" />
      <img src="https://i.imgur.com/RDt6LqI.png" alt="cancer zodiac" />
      <img src="https://i.imgur.com/9UL9aXL.png" alt="year of the rabbit" />
      <img src="https://i.imgur.com/WFpPzZn.png" alt="Student" />
      <img src="https://i.imgur.com/oaolHwW.png" alt="artist" />
      <img src="https://i.imgur.com/Al1BEGR.png" alt="writer" />
      <img src="https://i.imgur.com/IUweZNB.png" alt="ISTJ" />
      <!-- <img src="https://i.imgur.com/qhK4FYS.png" alt="English" />
            <img src="https://i.imgur.com/9QQcg1Z.png" alt="German" /> -->
      <img src="https://i.imgur.com/F10c885.png" alt="right-handed" />
      <img src="https://i.imgur.com/kHBaXec.png" alt="introvert" />
      <img src="https://i.imgur.com/bhdEs05.png" alt="chaotic neutral" />
      <!-- <img src="https://i.imgur.com/UFNuPA7.png" alt="twenty one pilots" /> -->
      <img src="https://i.imgur.com/cEq7B1S.png" alt="slytherin" />
    </div>
  </div>
</section>

<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->

<section class="neighborhood">
  <h2>Neighborhood <img aria-hidden="true" src="assets/img/inline/stars.gif" /></h2>
  <div class="neighborhood__scroll-box custom-scrollbar">
    <!-- <p style="margin-bottom: 0"><strong>webrings / weblistings / directories:</strong></p> -->
    <div class="cool-sites cool-sites--webrings">
      <!-- -------------------------------------------------------- -->
      <div id="ncring" class="freezeframe" aria-hidden="true">
        <script type="text/javascript" defer="true" src="https://neocreatives.neocities.org/onionring-variables.js"></script>
        <script type="text/javascript" defer="true" src="https://neocreatives.neocities.org/onionring-widget.js"></script>
      </div>
      <a href="https://allyratworld.com/cafe/rose"><img loading="lazy" width="88" height="31" src="assets/img/links/caferose.png" alt="café rosé" title="café rosé" /></a>
      <a href="https://kalechips.net/responsive/index" aria-label="responsive web directory"
        ><img loading="lazy" width="88" height="31" src="assets/img/links/responsive-web.png" alt="responsive web directory" title="responsive web directory"
      /></a>
      <a href="https://smallworld.mizuki.world/" aria-label="Small World listing"
        ><img loading="lazy" width="88" height="31" src="assets/img/links/smallworld.png" alt="Small World listing" title="Small World listing"
      /></a>

      <!-- <a href="https://pinkvampyr.leprd.space/accessiblenet/" aria-label="Accessible Net directory"
                ><img src="assets/img/links/accessiblenet.png" alt="Accessible Net directory" title="Accessible Net directory"
              /></a> -->
      <div>
        <a href="https://webri.ng/webring/freespeechwebring/previous?via=https://petrapixel.neocities.org/"
          ><img loading="lazy" src="https://i.imgur.com/sIR6aFP.gif" width="13" height="13" alt="" aria-label="previous"
        /></a>
        <a href="https://town.thecozy.cat/web-revival/freespeechwebring/" style="display: inherit"
          ><img loading="lazy" src="https://i.imgur.com/2zm1hMn.gif" width="88" height="31" alt="Free Speech Webring"
        /></a>
        <a href="https://webri.ng/webring/freespeechwebring/next?via=https://petrapixel.neocities.org/"
          ><img loading="lazy" src="https://i.imgur.com/6ni3bTd.gif" width="13" height="13" alt="" aria-label="next"
        /></a>
      </div>
      <div>
        <a href="https://ghostring.neocities.org/petrapixel/previous">&lt;-</a>&nbsp; <a href="https://ghostring.neocities.org/">Ghostring</a>&nbsp;
        <a href="https://ghostring.neocities.org/petrapixel/next">-&gt;</a>
      </div>
      <div style="margin-bottom: 4px"><script defer="true" src="https://nuthead.neocities.org/ring/ring.js"></script></div>
      <span>
        <a href="https://webring.dinhe.net/prev/https://petrapixel.neocities.org/" aria-label="previous retronaut website">⤺</a>&nbsp;<a
          href="https://webring.dinhe.net/"
          style="text-align: center; line-height: 1.1"
          >retronaut <br />webring</a
        >&nbsp;<a href="https://webring.dinhe.net/next/https://petrapixel.neocities.org/" aria-label="next retronaut website">⤻</a>
      </span>
      <div id="women-web">
        <script type="text/javascript" defer="true" src="https://womenoftheinternet.neocities.org/files/onionring-variables.js"></script>
        <script type="text/javascript" defer="true" src="https://womenoftheinternet.neocities.org/files/onionring-widget.js"></script>
      </div>
      <div id="dsring">
        <script type="text/javascript" defer="true" src="https://crtstatic.neocities.org/dsring/onion/onionring-variables.js"></script>
        <script type="text/javascript" defer="true" src="https://crtstatic.neocities.org/dsring/onion/onionring-widget.js"></script>
      </div>
      <div>
        <a href="https://pinkvampyr.leprd.space/accessiblenet/index.php" target="_blank">Accessible Net Directory</a>
      </div>
      <div id="resourceRing"></div>
      <script type="text/javascript" src="https://pixelsafari.neocities.org/webring/resourcering.js"></script>
    </div>
    <!-- -------------------------------------------------------- -->
    <!-- <details style="text-align: center" aria-hidden="true">
              <summary>show more</summary>
              <link rel="stylesheet" href="https://vampring.neocities.org/vampring/onionring.css" />
              <div id="vampirewebring" style="font-size: 0.5em !important">
                <script defer="true" type="text/javascript" src="https://vampring.neocities.org/vampring/onionring-variables.js"></script>
                <script defer="true" type="text/javascript" src="https://vampring.neocities.org/vampring/onionring-widget.js"></script>
              </div>
            </details> -->
  </div>
  <br />
  <!-- <hr /> -->
  <!-- -------------------------------------------------------- -->
  <!-- -------------------------------------------------------- -->

  <div class="two-columns">
    <div class="neighborhood__scroll-box custom-scrollbar">
      <p><strong>cliques:</strong></p>
      <div class="neighborhood__cliques">
        <a style="position: absolute; top: -35px; right: 0" href="https://lovesick.cafe/grrrl" aria-label="Made by a girl"
          ><img src="assets/img/links/cliques/madebyagirl.png" alt="Made by a girl" title="Made by a girl"
        /></a>
        <p><a href="/cliques">youtube</a> // game grumps</p>
        <p><a href="/cliques">rawr!</a> // quetzalcoatlus</p>
        <p><a href="/cliques">gore</a> // blood, bruises</p>
        <p><a href="/cliques">love tropes</a> // can't live with you, can't live without you</p>
        <p><a href="http://aromatic.wings.nu/">aromatic</a> // new books</p>
        <p><a href="https://sanguineroyal.com/com/nobility">Nobility</a> // Queen of her website!</p>
        <p><a href="https://fan.sanguineroyal.com/cli/barbieland/">Barbieland</a> // This Barbie has too many hobbies and too little time!</p>
        <p>
          <a href="https://callmemanatee.neocities.org/who_clique">Companions</a> <img src="assets/img/links/cliques/two_hearts.png" style="height: 1em" alt="" aria-hidden="true" /> petra is a
          companion of the 10th doctor.
        </p>
        <p style="margin-bottom: 0.25em">
          <a href="http://cliqued.wings.nu/">rock me</a> <img src="assets/img/links/cliques/rockme.png" style="height: 1em" alt="" aria-hidden="true" /> ninja sex party
        </p>
        <p><a href="https://jubiland.neocities.org/cliques#swiftie" target="_blank">swiftie</a> // <span style="color: #4f7599">midnights</span></p>
        <p style="margin: 0">
          <a href="http://pkmn.caelestis.nu" target="_blank" rel="noopener noreferrer" style="display: inline-block; border: 0px none; background: transparent">I Choose You!</a>
          :: <img src="assets/img/links/cliques/oddish.png" alt="Pixel sprite of the Pokémon Oddish" style="margin: auto -15px" />
        </p>
        <p style="margin: 0">
          <a href="https://ac.kuchiki.net/" target="new">pixel friends</a> ::
          <img style="height: 2em" src="assets/img/links/cliques/celeste.gif" alt="Pixel sprite of Celeste,a pink owl from Animal Crossing" />
        </p>
        <p>
          <a href="https://macaque.neocities.org/trickyfox/" aria-hidden="true"><img src="https://i.imgur.com/JKM7Bh2.png" alt="" aria-hidden="true" /></a> I will remember Izzy Hands forever
        </p>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <div class="neighborhood__scroll-box custom-scrollbar">
      <p><strong>fan listings:</strong></p>
      <div class="neighborhood__fanlistings">
        <!-- Fandoms -->
        <a href="https://go.wings.nu/list.php?country=all" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/goodomens.png" title="Good Omens" alt="Good Omens"
        /></a>
        <a href="http://lectersgirl.altervista.org/htv//list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/hannibal.jpg" title="Hannibal" alt="Hannibal"
        /></a>
        <a href="https://tardis.i-heart-you.net/doctorwho/fans.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/doctorwho.gif" title="Doctor Who" alt="Doctor Who"
        /></a>
        <a href="http://www.into-a-dream.com.ar/wwstv/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/wwdits.png" title="What We Do In The Shadows" alt="What We Do In The Shadows"
        /></a>
        <a href="https://fannish.net/hp/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/harrypotter.png" title="Harry Potter" alt="Harry Potter"
        /></a>
        <a href="https://lindseyonline.us/slytherin/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/slytherin.png" title="Slytherin" alt="Slytherin"
        /></a>
        <a href="http://contradiction.altervista.org/supernatural/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/supernatural.png" title="Supernatural" alt="Supernatural"
        /></a>
        <a href="https://movieloverfls.org/21pilots/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/twentyonepilots.png" title="Twenty One Pilots" alt="Twenty One Pilots"
        /></a>
        <a href="https://movieloverfls.org/blurryface/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/blurryface.png" title="Blurryface" alt="Blurryface"
        /></a>

        <a href="https://fan.drinkingsouls.com/ts/fans" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/taylorswift.jpg" title="Taylor Swift" alt="Taylor Swift"
        /></a>
        <a href="https://imaginary.nu/scrubs/list.php" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/scrubs.png" title="Scrubs" alt="Scrubs" /></a>
        <a href="https://moudoku.com/tos/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/startrek.png" title="Star Trek: TOS" alt="Star Trek: TOS"
        /></a>
        <a href="https://162candles.com/strangerthings/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/strangerthings.png" title="Stranger Things" alt="Stranger Things"
        /></a>
        <a href="https://fan.redcrown.net/bride/fan/countries" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/princessbride.png" title="Princess Bride" alt="Princess Bride"
        /></a>
        <a href="https://avengers.imora.net/?fans" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/avengers.jpg" title="Avengers" alt="Avengers" /></a>
        <a href="https://yaten.net/xmenfilms/list.php" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/xmen.png" title="X-Men" alt="X-Men" /></a>
        <a href="https://beatngu.altervista.org/twilight/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/twilight.gif" title="Twilight" alt="Twilight"
        /></a>
        <a href="https://fan.robotess.net/david-tennant/fans" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/davidtennant.jpeg" title="David Tennant" alt="David Tennant"
        /></a>
        <a href="http://yerfej.org/hugh/members.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/hughjackman.png" title="Hugh Jackman" alt="Hugh Jackman"
        /></a>
        <a href="https://mikh.net/jeff/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/jeff-goldblum.gif" title="Jeff Goldblum" alt="Jeff Goldblum"
        /></a>
        <a href="https://10-31.net/megan/jurassic/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/jurassicpark.png" title="Jurassic Park" alt="Jurassic Park"
        /></a>
        <a href="http://nosastra.com/dinos/list.php" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/dinos.png" title="Dinosaurs" alt="Dinosaurs" /></a>
        <a href="https://fl.hrzblt.eu/minecraft/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/minecraft.png" title="Minecraft" alt="Minecraft"
        /></a>
        <a href="https://fan.surlybutterfly.net/stardewvalley/#fans" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/stardewvalley.png" title="Stardew Valley" alt="Stardew Valley"
        /></a>
        <a href="http://fan.shattered-memories.org/botw/countries.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/botw.png" title="Breath of the Wild" alt="Breath of the Wild"
        /></a>
        <a href="http://vca.ravenbeauty.net/flowers/book/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/flowersintheattic.gif" title="Flowers in the Attic" alt="Flowers in the Attic"
        /></a>
        <!-- Hobbies. -->
        <a href="https://theatregirl.net/fanfics/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/fanfiction.png" title="Fanfiction" alt="Fanfiction"
        /></a>
        <a href="https://10-31.net/chelsea/words/list.php" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/words.png" title="Words" alt="Words" /></a>
        <a href="http://www.into-a-dream.com.ar/wri/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/writing.png" title="Writing" alt="Writing"
        /></a>
        <a href="http://in-blue-rain.org/reading//fans.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/reading.png" title="Reading" alt="Reading"
        /></a>
        <a href="http://silent.am/pixelart/list.php" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/pixelart.gif" title="Pixel Art" alt="Pixel Art" /></a>
        <!-- Misc. -->
        <a href="https://beatngu.altervista.org/bi/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/bisexuality.png" title="Bisexuality" alt="Bisexuality"
        /></a>
        <a href="https://fans.thislove.nu/mozilla/#list" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/firefox.png" title="Firefox" alt="Firefox" /></a>
        <a href="https://glitterskies.org/summer/list.php" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/summer.gif" title="Summer" alt="Summer" /></a>
        <a href="https://thunder.fanfreak.net/" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/thunder.png" title="Thunder" alt="Thunder" /></a>
        <a href="https://10-31.net/halloween/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/halloween.png" title="Halloween" alt="Halloween"
        /></a>
        <a href="https://10-31.net/megan/garlic/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/garlicbread.png" title="Garlic Bread" alt="Garlic Bread"
        /></a>
        <a href="https://mikh.net/cheese/list.php" target="_blank"><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/cheese.png" title="Cheese" alt="Cheese" /></a>
        <a href="http://fanique.altervista.org/tomatoes//list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/tomatoes.png" title="tomatoes" alt="tomatoes"
        /></a>
        <a href="https://theatregirl.net/newyears/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/newyears.png" title="New Year's" alt="New Year's"
        /></a>
        <a href="https://fans.thislove.nu/telly/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/tv.png" title="Watching TV" alt="Watching TV"
        /></a>
        <a href="https://fan.robotess.net/programming/fans" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/programming.jpeg" title="Programming" alt="Programming"
        /></a>
        <a href="https://kelsey.altervista.org/dreaming/list.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/dreaming.png" title="Dreaming" alt="Dreaming"
        /></a>
        <a href="https://i-heart.net/nostalgia/members.php" target="_blank"
          ><img width="50" height="50" loading="lazy" src="assets/img/links/fanlistings/nostalgia.png" title="Nostalgia" alt="Nostalgia"
        /></a>
      </div>
    </div>
  </div>
  <br />
  <div class="neighborhood__scroll-box custom-scrollbar" style="max-height: 267px" id="#neighbors">
    <!-- <p style="margin-bottom: 0; text-align: center">Please visit my <a href="/about/neighbors.html">neighbors</a> page for a list of all my mutuals!</p> -->
    <div class="cool-sites home-neighbors">
      <p>
        <strong>my neighbors:</strong>
      </p>
      <div>
        {% for site in sites %} {% if site.title != "TEMPLATE" and site.neighbor and not site.hide %}
        <a href="{{ site.link }}" title="{{ site.title }}">
          <img src="{{ site.image | prepareImageUrl }}" alt="{{ site.title }}" width="88" height="31" loading="lazy" />
        </a>
        {% endif %} {% endfor %}
      </div>
      <p>You can view them all and more <a href="/about/neighbors">here</a>!</p>
    </div>
  </div>
</section>

<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->

<section>
  <h2>Guestbook</h2>
  <p>Please sign my guestbook!</p>
  <a href="#afterguestbook" class="skiplink" aria-hidden="true">Skip guestbook iFrame</a>
  <div id="beforeguestbook"></div>
  <iframe aria-label="Guestbook" id="guestbook" src="http://users3.smartgb.com/g/g.php?a=s&i=g36-36055-1e" loading="lazy"></iframe>
  <div id="afterguestbook"></div>
  <a href="#beforeguestbook" class="skiplink" aria-hidden="true">Skip to before guestbook iFrame</a>
</section>
