---
layout: petrapixel.njk
title: petrapixel
description: "Welcome to petrapixel! Here you can find many resources for Neocities, coding help, media recommendations and more in a cute Old Web aesthetic!"
freezeframe: true
---

<section>
  <h1 style="opacity: 0; height: 0">PetraPixel</h1>

  <div class="welcome-to-the-site">
    <div>
      <h2>
        Welcome to my site!
        <img aria-hidden="true" alt="" src="assets/img/inline/stars.gif" />
      </h2>
      <p>
        Welcome to petrapixel, my neocities site!
        <img aria-hidden="true" alt="" src="assets/img/inline/wave.gif" />Here
        you can find anything that interests me, from web resources, over
        vocabulary, to media recommendations! You can learn more about the site
        on the <a href="/about/about-the-site">about the site</a> page. Please
        <a href="https://neocities.org/site/petrapixel" target="_blank"
          >follow me on neocities</a
        >
        if you want to get updates!
        <img aria-hidden="true" alt="" src="assets/img/inline/happy.gif" />
        Also, please sign my guestbook below if you feel like it - every message
        is appreciated (I check in every day)!
      </p>
      <!-- <marquee>Thanks for 100 followers!!</marquee> -->
      <div class="blinkies freezeframeX welcome-to-the-site__buttons">
        <div>
          <img
            width="88"
            height="31"
            src="assets/img/blinkies/buttons/neocities.gif"
            alt="Button: Neocities.org: The web is yours!"
          />
        </div>
        <div>
          <img
            width="88"
            height="31"
            src="assets/img/blinkies/buttons/button (2).gif"
            alt="Button: Best viewed with Computer"
          />
        </div>
        <div>
          <img
            width="88"
            height="31"
            src="assets/img/blinkies/buttons/responsivesite.jpg"
            alt="Button: Responsive Webite"
          />
        </div>
        <div>
          <img
            width="88"
            height="31"
            src="assets/img/blinkies/buttons/button (5).gif"
            alt="Button: This site is gay"
          />
        </div>
        <div>
          <img
            width="88"
            height="31"
            src="assets/img/blinkies/buttons/button (10).png"
            alt="Button: Made with Visual Studio Code"
          />
        </div>
        <div>
          <a href="/about/blinkies"
            ><img
              width="88"
              height="31"
              src="assets/img/blinkies/buttons/mine/created-by-a-human.png"
              alt="Button: Created by a human"
          /></a>
        </div>
        <!-- 
        <div>
          <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">
            <img style="border: 0; width: 88px; height: 31px" src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
          </a>
        </div>
        -->
      </div>
    </div>
    <!-- <div class="ascii-cat" aria-hidden="true" alt="">
              <pre>
⠀ ／l、
（ﾟ､ ｡ ７
⠀ l、ﾞ ~ヽ
  じしf_, )ノ </pre
              >
            </div> -->
  </div>
</section>

<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->

<section>
  <div class="hello-its-me">
    <div class="hello-its-me-image">
      <img
        src="assets/img/layout/me2.png"
        alt="A picture of me. My hair is split-dyed blonde and brown. I'm wearing jeans and a black shirt."
      />
      <!-- CHRISTMAS 
      <img src="https://pngimg.com/d/santa_hat_PNG23.png" id="santa-hat" />-->
    </div>
    <div class="hello-its-me-content">
      <h2>
        <img aria-hidden="true" alt="" src="assets/img/inline/stars.gif" />
        About me
        <small
          style="font-size: 0.6em; font-weight: normal"
          aria-hidden="true"
          alt=""
          >｡:ﾟ૮ ˶ˆ ﻌ ˆ˶ ა ﾟ:｡</small
        >
      </h2>
      <p>
        Hii! My name is Petra (she/her), and I'm a queer 26-year-old English
        student from Austria! I used to be a frontend web developer, and am
        obviously a big fan of the web. This site is my appreciation for the old
        web!
      </p>
      <p>
        I also draw, write, create playlists, make video edits, and do a bunch
        of other things that you might find on here!
        <img aria-hidden="true" alt="" src="assets/img/inline/uwu.gif" />
      </p>
      <p>
        I love fandom spaces and regularly get obsessed with certain pieces of
        media - you will see them around here.
      </p>
      <!-- <p>I really love messages, so don't be shy about contacting me, writing into my guestbook or whatnot.</p> -->
      <p>
        If you want to know more about me check out my
        <a href="/about/about-me">about me</a> page! I like to overshare about
        myself!
        <img aria-hidden="true" alt="" src="assets/img/inline/blush.gif" />
      </p>
      <p aria-label="hidden">This is me</p>
    </div>
    <div class="hello-its-me-facts">
      <img src="assets/img/me/identitybuttons/female.png" alt="female" />
      <img src="assets/img/me/identitybuttons/sheher.png" alt="she/her" />
      <img src="assets/img/me/identitybuttons/bisexual.png" alt="bisexual" />
      <img
        src="assets/img/me/identitybuttons/polyamorous.png"
        alt="polyamorous"
      />
      <img src="assets/img/me/identitybuttons/taken.png" alt="taken" />
      <img src="assets/img/me/identitybuttons/cancer.png" alt="cancer zodiac" />
      <img
        src="assets/img/me/identitybuttons/year-of-the-rabbit.png"
        alt="year of the rabbit"
      />
      <img src="assets/img/me/identitybuttons/student.png" alt="student" />
      <img src="assets/img/me/identitybuttons/artist.png" alt="artist" />
      <img src="assets/img/me/identitybuttons/writer.png" alt="writer" />
      <img src="assets/img/me/identitybuttons/istj.png" alt="ISTJ" />
      <img
        src="assets/img/me/identitybuttons/right-handed.png"
        alt="right-handed"
      />
      <img src="assets/img/me/identitybuttons/introvert.png" alt="introvert" />
      <img
        src="assets/img/me/identitybuttons/chaotic-neut.png"
        alt="chaotic neutral"
      />
      <img
        src="assets/img/me/identitybuttons/slytherin.png"
        alt="slytherin"
        title="trans rights!"
      />
    </div>
  </div>
</section>

<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->

<section class="neighborhood" id="neighborhood">
  <h2>
    The Site's Neighborhood
    <img aria-hidden="true" alt="" src="assets/img/inline/stars.gif" />
  </h2>
  <div class="neighborhood__scroll-box custom-scrollbar">
    <!-- <p style="margin-bottom: 0"><strong>webrings / weblistings / directories:</strong></p> -->

    <!-- Code Collective -->
    <center id="code-collective" style="font-size: 1.1em">
      <span>This site is part of the</span>
      <a href="/webring"><b>Code Collective</b></a
      >,<br />
      <span>a webring for coding resources!</span><br />
      <a href="/webring?action=previous" style="text-decoration: none"
        >&lt;prev&gt;</a
      >
      <a href="/webring?action=random" style="text-decoration: none"
        >&lt;random&gt;</a
      >
      <a href="/webring?action=next" style="text-decoration: none"
        >&lt;next&gt;</a
      >
    </center>

    <br />
    <center>
      (Other webrings have moved
      <a href="/about/webrings">to their own page</a> to reduce loading time.)
    </center>

    <center>
      <p>
        This site was awarded the
        <a href="https://ballonlea.net/contesting" target="_blank"
          >Clever Ribbon</a
        >! <img src="assets/img/links/clever-ribbon.png" alt="" />
      </p>
    </center>
    <!-- -------------------------------------------------------- -->
    <!-- <details style="text-align: center" aria-hidden="true" alt="">
              <summary>show more</summary>
              <link rel="stylesheet" href="https://vampring.neocities.org/vampring/onionring.css" />
              <div id="vampirewebring" style="font-size: 0.5em !important">
                <script defer="true" type="text/javascript" src="https://vampring.neocities.org/vampring/onionring-variables.js"></script>
                <script defer="true" type="text/javascript" src="https://vampring.neocities.org/vampring/onionring-widget.js"></script>
              </div>
            </details> -->
  </div>
  <br />
  <!-- <hr /> -->
  <!-- -------------------------------------------------------- -->
  <!-- -------------------------------------------------------- -->

  <!-- 
  <div class="neighborhood__scroll-box custom-scrollbar" id="#supporters">
    <div class="cool-sites home-neighbors">
      <p>
        <strong>my supporters:</strong>
      </p>
      <div>
        {% for site in sites %} {% if site.title != "TEMPLATE" and not site.hide
        and site.friend %}
        <a href="{{ site.link }}" title="{{ site.title }}">
          <img
            src="{{ site.image | prepareImageUrl }}"
            alt="{{ site.title }}"
            width="88"
            height="31"
            loading="lazy"
          />
        </a>
        {% endif %} {% endfor %}
      </div>
      <p>
        Huge thanks to these lovely people! (Btw, you can become a supporter
        <a href="https://ko-fi.com/petrastipjar" target="_blank">here</a>!)
      </p>
    </div>
  </div>
  <br />-->

  <div class="two-columns">
    <div class="neighborhood__scroll-box custom-scrollbar">
      <p><strong>cliques:</strong></p>
      <div class="neighborhood__cliques">
        <!-- Images -->
        <div
          style="position: absolute; top: -35px; right: 0; text-align: right"
        >
          <a href="https://oodlecat.neocities.org/"
            ><img
              src="assets/img/links/cliques/nintendogs.png"
              title="nintendogs fan :: labrador"
          /></a>
          <a href="https://oodlecat.neocities.org/"
            ><img
              src="assets/img/links/cliques/nds.png"
              title="the touch generation :: DS & DSi"
          /></a>
          {{ ' ' }}<a href="http://deathbusters.org/kirby" target="_blank"
            ><img
              src="assets/img/links/cliques/kirby.png"
              title="Petra's Dreamland!"
              alt=""
          /></a>
          <br />
          <a href="https://angel.valentinely.cc/"
            ><img
              src="assets/img/links/cliques/777.png"
              title="angel numbers: 777 (luck)"
              style="
                vertical-align: top;
                padding-top: 10px;
                padding-right: 5px;
              "
          /></a>
          <a href="https://lovesick.cafe/grrrl" aria-label="Made by a girl"
            ><img
              src="assets/img/links/cliques/madebyagirl.png"
              alt="Made by a girl"
              title="Made by a girl"
          /></a>
          <br />

          <a
            href="https://cliques.shadow-lord.com/cats/buttons.php"
            target="_blank"
            ><img
              src="assets/img/links/cliques/cat.png"
              title="I have a cat soul"
              alt=""
          /></a>
          <a
            href="https://cliques.shadow-lord.com/hogwarts/codes.php"
            title="This Slytherin says 'Trans rights!'"
            ><img
              src="assets/img/links/cliques/slytherin.png"
              alt=""
              style="
                image-rendering: pixelated;
                width: 50px;
                vertical-align: top;
              "
          /></a>
        </div>

        <!-- With Images -->
        <p>
          <a href="https://emocowboy.neocities.org/home/cliques/pokemon"
            >favorite</a
          >
          <img
            src="assets/img/links/cliques/pokeball.png"
            alt=""
            aria-hidden="true"
          />
          Mew
        </p>
        <p>
          <a href="http://cliqued.wings.nu/"
            ><font color="#FF0000">r</font><font color="#FF8000">a</font
            ><font color="#FFFF00">i</font><font color="#008000">n</font
            ><font color="#0000FF">b</font><font color="#8000FF">o</font
            ><font color="#800080">w</font></a
          >
          &#x1F308; <font color="ed7ed3/webcolour">pink</font>
        </p>
        <p style="margin-bottom: 0.25em">
          <a href="http://cliqued.wings.nu/">rock me</a>
          <img
            src="assets/img/links/cliques/rockme.png"
            style="height: 1em"
            alt=""
            aria-hidden="true"
            alt=""
          />
          ninja sex party
        </p>
        <p>
          <a
            href="https://jubiland.neocities.org/cliques#swiftie"
            target="_blank"
            >swiftie</a
          >
          // <span style="color: #4f7599">midnights</span>
        </p>
        <p style="margin: 0">
          <a
            href="https://pkmn.aquarel.nu/"
            target="_blank"
            rel="noopener noreferrer"
            style="
              display: inline-block;
              border: 0px none;
              background: transparent;
            "
            >I Choose You!</a
          >
          ::
          <img
            src="assets/img/links/cliques/oddish.png"
            alt="Pixel sprite of the Pokémon Oddish"
            style="margin: auto -15px"
          />
        </p>
        <p style="margin: 0">
          <a href="https://ac.kuchiki.net/" target="new">pixel friends</a> ::
          <img
            style="height: 2em"
            src="assets/img/links/cliques/celeste.gif"
            alt="Pixel sprite of Celeste,a pink owl from Animal Crossing"
          />
        </p>
        <p>
          <a href="https://callmemanatee.neocities.org/who_clique"
            >Companions</a
          >
          <img
            src="assets/img/links/cliques/two_hearts.png"
            style="height: 1em"
            alt=""
            aria-hidden="true"
            alt=""
          />
          petra is a companion of the 10th doctor.
        </p>
        <p>
          <a
            href="https://macaque.neocities.org/trickyfox/"
            aria-hidden="true"
            alt=""
            ><img
              src="assets/img/links/cliques/gravestone.png"
              alt=""
              aria-hidden="true"
              alt="" /></a
          >&nbsp;I will remember Izzy Hands forever
        </p>

        <p>
          Stardew Spouse
          <a
            href="https://evilperson.neocities.org/public/cliques"
            target="_blank"
            ><img src="assets/img/links/cliques/stardew.png" /></a
          >&nbsp;Haley
        </p>

        <!-- Without Images -->
        <p>
          My Deadly Sin is
          <a href="http://daughter-of-anubis.pw/deadlysins" target="_blank"
            >Lust</a
          >
        </p>
        <p><a href="http://aromatic.wings.nu/">aromatic</a> // new books</p>
        <p>
          <a href="https://sanguineroyal.com/com/nobility">Nobility</a> // Queen
          of her website!
        </p>
        <p>
          <a href="https://fan.sanguineroyal.com/cli/barbieland/">Barbieland</a>
          // This Barbie has too many hobbies and too little time!
        </p>
        <p>
          <a href="https://lockheart.love/collections/cliques"
            >Cringe is Dead</a
          >
          // Twilight Saga
        </p>

        <!-- My cliques -->
        <p><a href="/cliques">youtube</a> // game grumps</p>
        <p><a href="/cliques">rawr!</a> // quetzalcoatlus</p>
        <p><a href="/cliques">gore</a> // blood, bruises</p>
        <p>
          <a href="/cliques">love tropes</a> // can't live with you, can't live
          without you
        </p>

        <!-- List -->
        <p style="margin-top: 1.25em">
          <b>Do you love cliques?</b> Check out my
          <a href="/coding/cliques">list of cliques</a>!
        </p>
      </div>
    </div>
    <!-- -------------------------------------------------------- -->
    <div class="neighborhood__scroll-box custom-scrollbar">
      <p><strong>fan listings:</strong></p>
      <div class="neighborhood__fanlistings">
        <!-- Fandoms -->
        <a href="https://go.wings.nu/list.php?country=all" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/goodomens.png"
            title="Good Omens"
            alt="Good Omens"
        /></a>
        <a
          href="http://lectersgirl.altervista.org/htv//list.php"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/hannibal.jpg"
            title="Hannibal"
            alt="Hannibal"
        /></a>
        <a
          href="https://tardis.i-heart-you.net/doctorwho/fans.php"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/doctorwho.gif"
            title="Doctor Who"
            alt="Doctor Who"
        /></a>
        <a href="http://www.into-a-dream.com.ar/wwstv/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/wwdits.png"
            title="What We Do In The Shadows"
            alt="What We Do In The Shadows"
        /></a>
        <a href="https://fannish.net/hp/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/harrypotter.png"
            title="Harry Potter (Trans rights!)"
            alt="Harry Potter"
        /></a>
        <a href="https://lindseyonline.us/slytherin/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/slytherin.png"
            title="Slytherin"
            alt="Slytherin"
        /></a>
        <a
          href="http://contradiction.altervista.org/supernatural/list.php"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/supernatural.png"
            title="Supernatural"
            alt="Supernatural"
        /></a>
        <a href="http://impala.dead-ish.net/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/impala.jpg"
            title="The Impala (from Supernatural)"
            alt="The Impala (from Supernatural)"
        /></a>
        <a href="https://movieloverfls.org/21pilots/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/twentyonepilots.png"
            title="Twenty One Pilots"
            alt="Twenty One Pilots"
        /></a>
        <a href="https://movieloverfls.org/blurryface/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/blurryface.png"
            title="Blurryface"
            alt="Blurryface"
        /></a>

        <a href="https://fan.drinkingsouls.com/ts/fans" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/taylorswift.jpg"
            title="Taylor Swift"
            alt="Taylor Swift"
        /></a>
        <a href="https://imaginary.nu/scrubs/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/scrubs.png"
            title="Scrubs"
            alt="Scrubs"
        /></a>
        <a href="https://moudoku.com/tos/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/startrek.png"
            title="Star Trek: TOS"
            alt="Star Trek: TOS"
        /></a>
        <a href="https://162candles.com/strangerthings/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/strangerthings.png"
            title="Stranger Things"
            alt="Stranger Things"
        /></a>
        <a href="https://fan.redcrown.net/bride/fan/countries" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/princessbride.png"
            title="Princess Bride"
            alt="Princess Bride"
        /></a>
        <a href="https://avengers.imora.net/?fans" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/avengers.jpg"
            title="Avengers"
            alt="Avengers"
        /></a>
        <a href="https://yaten.net/xmenfilms/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/xmen.png"
            title="X-Men"
            alt="X-Men"
        /></a>
        <a
          href="https://beatngu.altervista.org/twilight/list.php"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/twilight.gif"
            title="Twilight"
            alt="Twilight"
        /></a>
        <a href="https://fan.robotess.net/david-tennant/fans" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/davidtennant.jpeg"
            title="David Tennant"
            alt="David Tennant"
        /></a>
        <a href="https://fan.yerfej.org/hugh/members.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/hughjackman.png"
            title="Hugh Jackman"
            alt="Hugh Jackman"
        /></a>
        <a
          href="https://artistic-shadow.net/FL/Parsons/list.php"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/jim-parsons.gif"
            title="Jim Parsons"
            alt="Jim Parsons"
        /></a>
        <a href="https://mikh.net/jeff/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/jeff-goldblum.gif"
            title="Jeff Goldblum"
            alt="Jeff Goldblum"
        /></a>
        <a href="https://10-31.net/megan/jurassic/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/jurassicpark.png"
            title="Jurassic Park"
            alt="Jurassic Park"
        /></a>
        <a href="http://nosastra.com/dinos/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/dinos.png"
            title="Dinosaurs"
            alt="Dinosaurs"
        /></a>
        <a href="https://fl.hrzblt.eu/minecraft/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/minecraft.png"
            title="Minecraft"
            alt="Minecraft"
        /></a>
        <a
          href="https://fan.surlybutterfly.net/stardewvalley/#fans"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/stardewvalley.png"
            title="Stardew Valley"
            alt="Stardew Valley"
        /></a>
        <a
          href="http://fan.shattered-memories.org/botw/countries.php"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/botw.png"
            title="Breath of the Wild"
            alt="Breath of the Wild"
        /></a>
        <a href="https://fan.glast-heim.net/glados/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/glados.png"
            title="GLaDOS (Portal)"
            alt="GLaDOS (Portal)"
        /></a>
        <a
          href="http://vca.ravenbeauty.net/flowers/book/list.php"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/flowersintheattic.gif"
            title="Flowers in the Attic"
            alt="Flowers in the Attic"
        /></a>
        <!-- Hobbies. -->
        <a href="https://theatregirl.net/fanfics/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/fanfiction.png"
            title="Fanfiction"
            alt="Fanfiction"
        /></a>
        <a href="https://10-31.net/chelsea/words/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/words.png"
            title="Words"
            alt="Words"
        /></a>
        <a href="http://www.into-a-dream.com.ar/wri/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/writing.png"
            title="Writing"
            alt="Writing"
        /></a>
        <a href="http://in-blue-rain.org/reading//fans.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/reading.png"
            title="Reading"
            alt="Reading"
        /></a>
        <a href="http://silent.am/pixelart/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/pixelart.gif"
            title="Pixel Art"
            alt="Pixel Art"
        /></a>
        <!-- Misc. -->
        <a href="https://beatngu.altervista.org/bi/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/bisexuality.png"
            title="Bisexuality"
            alt="Bisexuality"
        /></a>
        <a href="https://fans.thislove.nu/mozilla/#list" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/firefox.png"
            title="Firefox"
            alt="Firefox"
        /></a>
        <a href="https://glitterskies.org/summer/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/summer.gif"
            title="Summer"
            alt="Summer"
        /></a>
        <a href="https://thunder.fanfreak.net/" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/thunder.png"
            title="Thunder"
            alt="Thunder"
        /></a>
        <a href="https://10-31.net/halloween/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/halloween.png"
            title="Halloween"
            alt="Halloween"
        /></a>
        <a href="https://theatregirl.net/newyears/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/newyears.png"
            title="New Year's"
            alt="New Year's"
        /></a>
        <a href="https://10-31.net/megan/garlic/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/garlicbread.png"
            title="Garlic Bread"
            alt="Garlic Bread"
        /></a>
        <a href="https://mikh.net/cheese/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/cheese.png"
            title="Cheese"
            alt="Cheese"
        /></a>
        <a
          href="http://fanique.altervista.org/tomatoes//list.php"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/tomatoes.png"
            title="tomatoes"
            alt="tomatoes"
        /></a>
        <a href="http://silent.am/playlists/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/playlists.png"
            title="Playlists"
            alt="Playlists"
        /></a>

        <a href="https://fans.thislove.nu/telly/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/tv.png"
            title="Watching TV"
            alt="Watching TV"
        /></a>
        <a href="https://gryffindors.com/sarina/web/list.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/websurfing.png"
            title="Surfing the Web"
            alt="Surfing the Web"
        /></a>
        <a href="https://fan.robotess.net/programming/fans" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/programming.jpeg"
            title="Programming"
            alt="Programming"
        /></a>
        <a href="https://fans.thislove.nu/css/fl.php?list" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/css.jpg"
            title="CSS"
            alt="CSS"
        /></a>
        <a
          href="https://kelsey.altervista.org/dreaming/list.php"
          target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/dreaming.png"
            title="Dreaming"
            alt="Dreaming"
        /></a>
        <a href="https://i-heart.net/nostalgia/members.php" target="_blank"
          ><img
            width="50"
            height="50"
            loading="lazy"
            src="assets/img/links/fanlistings/nostalgia.png"
            title="Nostalgia"
            alt="Nostalgia"
        /></a>
      </div>
    </div>
  </div>

  <br />
  <div class="neighborhood__scroll-box custom-scrollbar" id="#neighbors">
    <!-- <p style="margin-bottom: 0; text-align: center">Please visit my <a href="/about/neighbors.html">neighbors</a> page for a list of all my mutuals!</p> -->
    <div class="cool-sites home-neighbors">
      <p>
        <strong>my neighbors:</strong>
      </p>
      <div>
        {% for site in sites %} {% if site.title != "TEMPLATE" and not site.hide
        and site.neighbor or site.friend %}
        <a href="{{ site.link }}" title="{{ site.title }}">
          <img
            src="{{ site.image | prepareImageUrl }}"
            alt="{{ site.title }}"
            width="88"
            height="31"
            loading="lazy"
          />
        </a>
        {% endif %} {% endfor %}
      </div>
      <p>You can view them all and more <a href="/about/neighbors">here</a>!</p>
    </div>
  </div>
</section>

<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->

<section>
  <h2>Guestbook</h2>
  <!-- 
  <p>
    Please sign my guestbook! <b>I read and appreciate every message</b>, but
    usually only reply to questions! :] Fyi:
    <b>I approve messages manually</b> (at least every other day) due to a spam
    problem. That's why it won't show up after you submit.
  </p>
  <p>
    Please read my <a href="/about/faq">FAQ</a> before asking questions (esp.
    "where did you get...?")
    <b>Do not ask questions about my resources here,</b> they will be ignored!
    Instead, use the comment box on the resource's (e.g. tutorial's) page
    instead. If there's no comment box there, I don't give support for it. Sorry
    - it's just become too overwhelming!
  </p>
  -->
  <p>If you'd rather send me an email: {% include 'email.njk' %}</p>
  <hr />
  <a href="#afterguestbook" class="skiplink" aria-hidden="true" alt=""
    >Skip guestbook iFrame</a
  >
  <div id="beforeguestbook"></div>
  <iframe
    aria-label="Guestbook"
    id="guestbook"
    src="http://users3.smartgb.com/g/g.php?a=s&i=g36-36055-1e"
    loading="lazy"
  ></iframe>
  <div id="afterguestbook"></div>
  <a href="#beforeguestbook" class="skiplink" aria-hidden="true" alt=""
    >Skip to before guestbook iFrame</a
  >
</section>
