---
permalink: "rss.xml"
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
  <title>petrapixel</title>
  <description>Welcome to petrapixel! Here you can find many resources for Neocities, coding help, media recommendations and more in a cute Old Web aesthetic!</description>
  <link>https://petrapixel.neocities.org/</link>
  <ttl>1440</ttl>
  <image>
	  <link>https://petrapixel.neocities.org/</link>
	  <title>petrapixel</title>
	  <url>https://petrapixel.neocities.org/img/layout/petrapixel.png</url>
	  <width>300</width>
	  <height>100</height>
	</image>
	{% for changelogEntry in changelog %} 
		{% if changelogEntry.text !== "TEMPLATE" %}<item>
			<title>{{ changelogEntry.text }}</title>
			<link>https://petrapixel.neocities.org{{ changelogEntry.link or "/" }}</link>
			<pubDate>{{ changelogEntry.date }}</pubDate>
		</item>{% endif %}
	{% endfor %}
</channel>
</rss>
