---
layout: petrapixel.njk
title: "sitemap"
description: "Welcome to petrapixel! Here you can find many resources for Neocities, coding help, media recommendations and more in a cute Old Web aesthetic!"
---

<section>
  <h1>Sitemap</h1>

  <ul>
    {% for mainNavItem in nav %} {% if mainNavItem.link %}

    <li>
      <a href="{{ mainNavItem.link }}">{{ mainNavItem.label }}</a>
    </li>

    {% else %}

    <li>
      <b>{{ mainNavItem.label }}</b>
      <ul>
        {% for navItem in mainNavItem.items %} {% if not navItem.hide %} {% if navItem.link %}

        <li {% if navItem.mobileOnly %}class="mobile-only" {% endif %}>
          <a href="{{ navItem.link }}"
            >{{ navItem.label }}{% if navItem.new %}<small class="aside-nav__new"><img src="{{ nesting }}assets/img/layout/new.gif" alt="" aria-hidden="true" /></small>{% endif %}</a
          >
        </li>

        {% else %}

        <li>
          <b>{{ navItem.label }}</b>

          <ul>
            {% for subNavItem in navItem.items %} {% if not subNavItem.hide %}
            <li {% if subNavItem.mobileOnly %}class="mobile-only" {% endif %}>
              <a href="{{ subNavItem.link }}"
                >{{ subNavItem.label }}{% if subNavItem.new %}<small class="aside-nav__new"><img src="{{ nesting }}assets/img/layout/new.gif" alt="" aria-hidden="true" /></small>{% endif %}</a
              >
            </li>

            {% endif %} {% endfor %}
          </ul>
        </li>
        {% endif %} {% endif %} {% endfor %}
      </ul>
    </li>

    {% endif %} {% endfor %}
  </ul>
</section>

<section>
  <h2>Out in the WWW</h2>
  <ul>
    <li><a href="https://neocities.org/site/petrapixel" target="_blank">my neocities profile</a> (follow & comment)</li>
    <li><a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-36055-1e" target="_blank">guestbook</a> (external version)</li>
    <li><a href="https://github.com/petracoding/petrapixel.neocities.org" target="_blank">github repository</a> of this website</li>
    <li><a href="https://ko-fi.com/petrastipjar" target="_blank">tip jar</a> (buy me a coffee)</li>
  </ul>
</section>
