---
layout: coding.njk
title: "glossary"
description: "A glossary for web development beginners and Neocities newbies."
nesting: "../"
codeHighlight: true
mainClass: coding-page
templateEngineOverride: njk
---

<section>
  <h1>Glossary</h1>
  <p>A glossary for web development beginners and Neocities newbies.</p>
  <p>Use Ctrl+F to search for a term.</p>
  <div id="toc"></div>

  <br />

  <div class="glossary">
    <ul class="list-with-more-spacing">
      {% for g in glossary | sortByTerm %}
      <li id="term-{{ g.term | removeSpaces }}">
        <b {% if g.meaning %}title="{{ g.meaning }}" {% endif %}>{{ g.term }}: </b>{{ g.text }} {% if g.learnMore %}<br /><i>Learn more: </i
        ><a href="{{ g.learnMore }}" target="_blank">{{ g.learnMore }}</a>{% endif %} {% if g.seeAlso.length %}<br /><i>See also:</i> {% for s in g.seeAlso %}
        <a href="#term-{{ s | removeSpaces }}">{{ s }}</a>{% endfor %}{% endif %}
      </li>
      {% endfor %}
      <li><b>==========</b></li>
      <li><b>88x31 Button: </b>An image representing a website or an idea, usually 88 by 31 pixels in size.</li>
      <li><b>Accessability (A11y): </b>Making your website easily usable for everyone, including those with disabilities.</li>
      <li><b>Array: </b>(In Javascript or other programming languages.) A list of values.</li>
      <li><b>(HTML) Attribute: </b>Definition</li>
      <li><b>Backend: </b>The 'back side' of a website, aka the part the user doesn't see which provides necessary functionality. Most personal websites don't have a backend. (See also: Frontend)</li>
      <li>
        <b><a href="https://getbem.com/" target="_blank">BEM</a> (Block-Element-Modifier): </b>A CSS naming convention.
      </li>
      <li><b>Blinkie: </b>A (often blinking or sparkly) gif with some text. Usually around 150x20 pixels in size.</li>
      <li><b>Camel Case: </b>A naming convention often used for variable names that looks like this: myVariable (first letter lowercase!)</li>
      <li><b>Class (name): </b>Definition</li>
      <li><b>(Web/Text) Clique: </b>Definition</li>
      <li><b>Console: </b>Definition</li>
      <li><b>CSS: </b>Definition</li>
      <li><b>Deploying: </b>Definition</li>
      <li><b>(Browser) Dev Tools (Development Tools): </b>Definition</li>
      <li><b>DOM: </b>Definition</li>
      <li><b>Domain: </b>Definition</li>
      <li><b>DRY: </b>Definition</li>
      <li><b>Element: </b>Definition</li>
      <li><b>Eleventy (11ty): </b>Definition</li>
      <li><b>External Script: </b>Definition</li>
      <li><b>Fan Listing: </b>Definition</li>
      <li><b>FavIcon: </b>Definition</li>
      <li><b>Flexbox: </b>Definition</li>
      <li><b>Frontend: </b>Definition</li>
      <li><b>Full Stack (Developer): </b>Definition</li>
      <li><b>Git: </b>Definition</li>
      <li><b>Grid: </b>Definition</li>
      <li><b>Hoster: </b>Definition</li>
      <li><b>Hotlink: </b>Definition</li>
      <li><b>HTML: </b>Definition</li>
      <li><b>IDE: </b>Definition</li>
      <li><b>iFrame: </b>Definition</li>
      <li><b>Inspector: </b>Definition</li>
      <li><b>Java: </b>Definition</li>
      <li><b>JavaScript: </b>Definition</li>
      <li><b>jQuery: </b>Definition</li>
      <li><b>KISS: </b>Definition</li>
      <li><b>Lazy Loading: </b>Definition</li>
      <li><b>Lightbox: </b>Definition</li>
      <li><b>Marquee: </b>Definition</li>
      <li><b>Media Query: </b>Definition</li>
      <li><b>Neighbor / Neighborhood: </b>Definition</li>
      <li><b>Nekoweb: </b>Definition</li>
      <li><b>Neocities: </b>Definition</li>
      <li><b>Pascal Case: </b>Definition</li>
      <li><b>Pseudo element: </b>Definition</li>
      <li><b>(CSS) Property: </b>Definition</li>
      <li><b>Relative/Absolute Path: </b>Definition</li>
      <li><b>Responsive(ness): </b>Definition</li>
      <li><b>Sass: </b>Definition</li>
      <li><b>Script: </b>Definition</li>
      <li><b>SCSS: </b>Definition</li>
      <li><b>Semantic (HTML) elements: </b>Definition</li>
      <li><b>SEO (Search Engine Optimization): </b>Definition</li>
      <li><b>Server: </b>Definition</li>
      <li><b>Tooltips: </b>Definition</li>
      <li><b>Troubleshooting: </b>Definition</li>
      <li><b>URL: </b>Definition</li>
      <li><b>VSCode: </b>Definition</li>
      <li><b>Webring: </b>Definition</li>
    </ul>
  </div>
</section>

<!-- ----------------------------------------------------------------------------------------------------- -->

<section class="buy-me-a-coffee">
  <div>
    <p>
      I spend <b>hours</b> of my free time writing pages like these that I publish for free. If you'd like to say thanks, please share this tutorial with others and/or
      <a href="https://ko-fi.com/petrastipjar" target="_blank">buy me a coffee</a>! <img aria-hidden="true" src="../assets/img/inline/laughing.gif" />
    </p>
    <p>
      <small
        >If you have questions about this page feel free to contact me via my <a href="/about/guestbook">guestbook</a> or my
        <a href="https://neocities.org/site/petrapixel" target="_blank">neocities profile</a>. I promise I don't bite!</small
      >
    </p>
  </div>
  <img src="{{ nesting }}assets/img/layout/coffee.gif" alt="coffee" width="80" />
</section>
