main {
  position: relative;

  a {
    &,
    &:visited {
      color: var(--linkColor);
    }

    &:hover,
    &:focus {
      color: var(--linkColorHover);
      text-decoration-style: wavy;
      font-style: italic;
    }
  }

  p {
    margin: 0.5em 0;
  }

  strong {
    font-family: $font2, $font, sans-serif;
    // font-size: 1.1em;
    color: var(--textColorBold);
  }

  .image {
    img {
      max-width: 100%;
    }
  }

  ol,
  ul {
    margin: 0.25em 0;
    padding-left: 1.5em;

    li {
      margin-bottom: 0.15em;
      //   line-height: 1.3;
    }

    &.list-with-more-spacing {
      li {
        &:not(:last-child) {
          margin-bottom: 0.5em;
        }
      }
    }

    &.list-with-less-spacing {
      li {
        margin-bottom: 0;
      }
    }
  }

  ol {
    padding-left: 2em;
  }

  blockquote {
    background: rgba($pink, 0.2);
    padding: 1em;
    margin: 1em 0;
    border-radius: 10px;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  pre {
    margin: 1em 0 1.5em;
    max-width: 80vw;
  }

  pre code:not(.hljs),
  pre code.hljs {
    display: block;
    font-weight: normal;
    background: rgba($purple, 0.1);
    padding: 1em;
    border-radius: 10px;
    font-size: 0.75em;
    line-height: 1.3;
    text-transform: none;

    code {
      border-radius: 0;
    }
  }

  code {
    text-transform: none;
    font-size: 13px;
    font-weight: bold;
  }

  .code-title {
    text-align: right;
    font-family: $font2, $font, sans-serif;
    font-size: 0.9em;
    margin-top: 1em;
    margin-left: 1em;

    & + pre,
    & + code {
      margin-top: 0;
    }
  }

  center {
    margin: 1em 0;
    padding: 0 1em;

    @media (min-width: $md) {
      padding: 0 2em;
    }
  }

  hr {
    border: 0;
    border-top: 2px dotted var(--green);
    margin: 1.5em 0;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 0;
    line-height: 1.2;
    font-family: $font3;

    code {
      font-size: 0.9em;
      font-weight: normal;
    }

    &:first-child {
      margin-top: 0;
    }

    img[src*="inline/"]:not([class]) {
      margin-bottom: -7px;
    }
  }

  h1 {
    font-size: 30px;

    @media (min-width: $lg) {
      font-size: 38px;
    }
  }

  h2 {
    font-size: 24px;

    @media (min-width: $lg) {
      font-size: 30px;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 22px;

    @media (min-width: $lg) {
      font-size: 28px;
    }
  }

  details {
    summary {
      background: var(--green);
      display: inline-flex;
      align-items: center;
      position: relative;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      cursor: $cursorPointer;
      user-select: none;

      &::before {
        // content: "топ";
        content: "+";
        display: inline-block;
        margin-right: 0.25em;
        font-size: 30px;
        line-height: 1;
        transition: transform 0.3s ease;
      }

      &:hover {
        filter: brightness(0.9);
      }
    }

    &[open] {
      summary::before {
        // content: "тон";
        transform: rotate(45deg);
      }
    }

    @media (min-width: $lg) {
      border-left: 2px solid transparent;
      border-top-left-radius: 5px;
      transition: border-color 0.3s ease;

      &[open] {
        border-color: var(--green);

        summary ~ * {
          margin-left: 1.5em;
        }
      }
    }
  }

  abbr {
    text-decoration: underline dashed;
    cursor: help;
  }
}

// inline images
img[src*="inline/"]:not([class]) {
  height: 1em;
  margin: 0 0.25em;
}

// content warnings
.cw {
  color: var(--red);
  font-size: 0.9em;

  strong {
    font-size: 1.3em;
    color: var(--red);
  }
}

/*=============================================
=            TOC            =
=============================================*/

#toc {
  margin-top: 1em;
  //   font-size: 0.9em;

  ol {
    margin-top: 0;
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 1.5em;
    // list-style-type: decimal-leading-zero;

    ol {
      margin-left: 3px;
    }
  }
}

/*=============================================
=            One Line Gallery            =
=============================================*/

.one-line-gallery {
  display: flex;
  align-items: flex-end;

  a,
  a:hover,
  a:focus,
  a:active,
  &:visited {
    color: var(--textColor);
    cursor: zoom-in;
  }

  .image {
    position: relative;
    flex: 1 1 0;

    &:not(:first-child) {
      margin-left: 5px;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover,
    &:focus {
      span {
        opacity: 1;
      }

      img {
        border-radius: 0;
      }
    }

    &.image--pink {
      img {
        filter: brightness(1.1) contrast(1.3);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: #c891bd;
        opacity: 0.25;
        pointer-events: none;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: border-radius 0.2s ease;
  }

  span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75em 0.1em 0.3em;
    text-align: center;
    background: rgba($veryLight, 0.6);
    background: linear-gradient(0deg, rgba($veryLight, 0.8) 0%, rgba($veryLight, 0.8) 10%, rgba($veryLight, 0.3) 80%, rgba($veryLight, 0) 100%);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1;
    line-height: 1;
    pointer-events: none;
  }

  @media (max-width: $sm) {
    flex-wrap: wrap;

    .image {
      width: 50%;
      flex: auto;

      &:not(:first-child) {
        margin-left: 0;
      }

      &:not(:last-child) {
        margin-right: 0;
      }

      &:last-child {
        display: none;
      }

      span {
        display: none;
      }
    }
  }
}

/*=============================================
=             Multi Line Gallery            =
=============================================*/

.multi-line-gallery {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  align-items: stretch;

  a,
  a:hover,
  a:focus,
  a:active,
  &:visited {
    color: var(--textColor);
    cursor: zoom-in;
  }

  .image {
    position: relative;
    width: 50%;
    overflow: hidden;
    border: 1px dotted;
    padding: 5px;

    &:hover,
    &:focus {
      span {
        opacity: 1;
      }

      img {
        transform: scale(1.1);
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    transition: 0.2s ease;
    min-height: 100%;
    object-fit: cover;
  }

  span {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0.5em 0.1em 0.3em;
    text-align: center;
    background: rgba($veryLight, 0.5);
    background: linear-gradient(0deg, rgba($veryLight, 0.8) 0%, rgba($veryLight, 0.8) 10%, rgba($veryLight, 0.3) 80%, rgba($veryLight, 0) 100%);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1;
    line-height: 1;
    pointer-events: none;
  }

  @media (min-width: $sm) {
    .image {
      width: 25%;
    }

    &.multi-line-gallery--big .image {
      width: 50%;
      border: none;
    }
  }
}

/*=============================================
=            TWO COLUMNS            =
=============================================*/

// Two columns:

.two-columns {
  > *:last-child {
    margin-top: 1em;
  }

  @media (min-width: $sm) {
    display: flex;

    > * {
      flex: 1 1 0;

      &:not(ul):not(ol):first-child {
        margin-right: 1em;
      }

      &:not(ul):not(ol):last-child {
        margin-left: 1em;
      }
    }

    > *:last-child {
      margin-top: 0;
    }
  }
}

/*=============================================
=            MISC.            =
=============================================*/

.fslightbox-toolbar-button[title="Enter fullscreen"] {
  display: none;
}

#guestbook {
  width: 100%;
  min-height: 800px;
  border: 0;
}

.website-carbon {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  b {
    font-size: 1.5em;
  }

  a {
    text-decoration: none !important;
  }

  #wcb.carbonbadge {
    --b1: var(--textColor);
    --b2: var(--asideBackgroundColor);
  }

  #wcb #wcb_g {
    background: none;
  }

  #wcb_2:empty {
    margin-bottom: 0;
  }
}
