@mixin darkMode2 {
  /*
  	BASICS
   */

  & {
    // = body
    //   background-image: url("http://localhost:52330/public/assets/img/bg-dark.png");
    background-image: url("https://petrapixel.neocities.org/assets/img/bg-dark.png");
  }

  .only-show-in-light-mode {
    display: none;
  }

  .only-show-in-dark-mode {
    display: initial;
  }

  ::selection {
    color: $purple;
    background: darken($dark, 10%);
  }

  main {
    strong {
      color: lighten($pink, 10%);
    }

    pre code:not(.hljs),
    pre code.hljs {
      background: #aa899e;
    }
  }

  #theme-toggler {
    button {
      background: darken($dark, 23%);
      background-image: linear-gradient(to top, #44343e 16%, #5f4957 79%);
      color: white;
      border-color: darken($dark, 25%);
    }
  }

  /*
  	COLORS
   */

  .aside-nav__heading {
    background: #d98d00;
  }

  .code-textarea {
    background: rgba(43, 43, 43, 0.5);
    color: white;
  }

  .cat__quick-facts {
    background: darken($dark, 10%);
  }

  .video-edit__info i {
    background: darken($dark, 10%);
  }

  .writing-comments li {
    color: $pink;
  }

  .bookmarks-section li a {
    color: white;
  }

  main details summary,
  .blog-article__read {
    background: #25724b;
  }

  .rec-filters__button {
    background: rgba($light, 0.6);

    &:hover,
    &:active {
      background: $greenActive;
    }

    &.is-checked {
      background: $green;
    }
  }

  /*
  	FILTER
   */

  .hello-its-me-facts img,
  .about-me-facts img {
    filter: brightness(0.7) contrast(1.3);
  }

  .about-me-page-facts img {
    filter: brightness(0.8) contrast(1.3);
  }

  .blinkies > div::after {
    filter: brightness(0.55);
  }

  #clap-for-me img {
    filter: brightness(0.9);
  }

  .aside-stats__stat-content iframe {
    filter: brightness(10);
  }

  .aside-chatbox {
    iframe[src*="cbox"] {
      filter: brightness(0.47) saturate(2.1) contrast(1.5);
    }
  }
}

// ---------------------------------------------------------------------

// @media (prefers-color-scheme: dark) {
//   body:not(.dark-mode):not(.light-mode) {
//     @include darkMode2;
//   }
// }

body.dark-mode {
  @include darkMode2;
}
