@mixin darkMode2 {
  /*
  	BASICS
   */

  & {
    // = body
    background-image: url("https://64.media.tumblr.com/c8563b4f5ef374afcc8cd5a59c128718/8b1ad74d907c42b9-88/s500x750/e37951f77bb58dae62a6d8747da18b8563f34a43.pnj");

    // Christmas:
    // background-image: url("https://i.imgur.com/XQjgiIF.png");
  }

  .only-show-in-light-mode {
    display: none;
  }

  .only-show-in-dark-mode {
    display: initial;
  }

  #embedim--snow {
    opacity: 0.5;
  }

  .embedim-snow {
    width: 6px;
    height: 6px;
  }

  /*
  	COLORS
   */

  .rec__info {
    background: rgba(0, 0, 0, 0.9);
  }

  .coding-page {
    .example0,
    .example1,
    .example2,
    .example3,
    .example4,
    .example5,
    .example6,
    .example7,
    .example8 {
      background: #af7200;
    }
  }

  .c-input {
    color: rgb(253, 213, 215);
  }

  /*
  	FILTER
   */

  main.coding-page {
    pre code:not(.hljs),
    pre code.hljs {
      filter: invert(1) hue-rotate(200deg);
    }
  }

  .hello-its-me-facts img,
  .about-me-facts img {
    filter: brightness(0.75) contrast(1.5);
  }

  .about-me-page-facts img {
    filter: brightness(0.8) contrast(1.3);
  }

  .aside-mutuals .marquee img,
  .cool-sites img {
    filter: brightness(0.9);
  }

  .blinkies > div::after {
    filter: brightness(0.55);
  }

  #clap-for-me img {
    filter: brightness(0.8);
  }

  .aside-stats__stat-content iframe {
    filter: brightness(10);
  }

  .aside-chatbox iframe[src*="cbox"],
  iframe[src*="cbox.ws"] {
    filter: invert(1) hue-rotate(180deg) saturate(0.8);
  }

  iframe[src*="smartgb.com"] {
    filter: brightness(0.8) saturate(1.3) contrast(1.3) hue-rotate(-10deg);
  }

  .checklist input {
    filter: invert(1) brightness(3);
  }

  .aside-chatbox::after {
    filter: invert(1) hue-rotate(137deg);
  }

  .aside-nav__new {
    filter: invert(1) hue-rotate(180deg);
  }
}

// ---------------------------------------------------------------------

// @media (prefers-color-scheme: dark) {
//   body:not(.dark-mode):not(.light-mode) {
//     @include darkMode2;
//   }
// }

body.dark-mode {
  @include darkMode2;
}
