@mixin darkMode2 {
  //   background-image: url("http://localhost:52330/public/assets/img/bg-dark.png");
  background-image: url("https://petrapixel.neocities.org/assets/img/bg-dark.png");

  ::selection {
    color: $purple;
    background: darken($dark, 10%);
  }

  main {
    strong {
      color: lighten($pink, 10%);
    }

    pre code:not(.hljs),
    pre code.hljs {
      background: #aa899e;
    }
  }

  #theme-toggler {
    button {
      background: darken($dark, 23%);
      background-image: linear-gradient(to top, #44343e 16%, #5f4957 79%);
      color: white;
      border-color: darken($dark, 25%);
    }
  }

  .link-back textarea {
    background: rgba(43, 43, 43, 0.5);
    color: white;
  }

  .aside__heading {
    &.aside__heading--menu {
      background: #006700;
      color: white;
    }

    &.aside__heading--changelog {
      background: #afa900;
      color: white;
    }

    &.aside__heading--comingsoon {
      background: #004370;
      color: white;
    }

    &.aside__heading--stats {
      background: #120061;
      color: white;
    }

    &.aside__heading--creations {
      background: #a06000;
      color: white;
    }

    &.aside__heading--recs {
      background: #a52600;
      color: white;
    }

    &.aside__heading--shrines {
      background: #980019;
      color: white;
    }

    &.aside__heading--resources {
      background: #8b008b;
      color: white;
    }

    &.aside__heading--coding {
      background: #350066;
      color: white;
    }
  }

  .cat__quick-facts {
    background: darken($dark, 10%);
  }

  .video-edit__info i {
    background: darken($dark, 10%);
  }

  .writing-comments li {
    color: $pink;
  }

  .bookmarks-section li a {
    color: white;
  }

  main details summary {
    background: #25724b;
  }

  .rec-filters__button {
    background: rgba($yellow, 0.6);

    &:hover,
    &:active {
      background: $green2;
    }

    &.is-checked {
      background: $green;
    }
  }

  &.full-page-tutorial {
    // generated bg from https://10015.io/tools/css-background-pattern-generator
    background: radial-gradient(farthest-side at -33.33% 50%, #0000 52%, rgb(82, 39, 65) 54% 57%, #0000 59%) 0 calc(312px / 2),
      radial-gradient(farthest-side at 50% 133.33%, #0000 52%, rgb(82, 39, 65) 54% 57%, #0000 59%) calc(312px / 2) 0,
      radial-gradient(farthest-side at 133.33% 50%, #0000 52%, rgb(82, 39, 65) 54% 57%, #0000 59%), radial-gradient(farthest-side at 50% -33.33%, #0000 52%, rgb(82, 39, 65) 54% 57%, #0000 59%),
      #000000;
    background-size: calc(312px / 4.667) 312px, 312px calc(312px / 4.667);

    main {
      background: rgba(45, 45, 45, 0.95);
    }

    .learn {
      strong {
        color: white;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  body:not(.dark-mode):not(.light-mode) {
    @include darkMode2;
  }
}

.dark-mode {
  @include darkMode2;
}
