* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: $font;
  font-size: 17px;
  letter-spacing: -0.01em;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  background: var(--backgroundColor);
  background-image: url("https://petrapixel.neocities.org/assets/img/bg.png");
  background-image: url("https://64.media.tumblr.com/415b1f82c5be1a003c42c1027a8fcced/8b1ad74d907c42b9-3a/s500x750/1ccfb4bc62420cf0f4c79c4beab3536e8568cbb7.pnj");

  // Christmas:
  //   background: #ffdade;
  //   background-image: url("https://i.imgur.com/a3eo0tk.png");

  background-repeat: repeat;
  color: var(--textColor);
  cursor: $cursorDefault;
  margin: 0;
  padding: 5px;

  // ?
  //   font-family: "ms gothic";
  //   font-size: 12px;
  //   line-height: 1.5;

  &.readable-font {
    font-family: $readableFont;
    font-size: 14px;
    letter-spacing: 0.013em;
    line-height: 1.6;

    main strong {
      font-family: $readableFont;
      font-size: 14px;
    }

    main {
      h1,
      h2,
      h3 {
        font-family: $readableFont;
      }
    }

    .aside-nav li a,
    .aside-nav li summary {
      font-size: 15px;
      letter-spacing: 0;
    }
  }

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: var(--textColor);
      cursor: $cursorPointer;
    }

    &[data-fslightbox] {
      cursor: zoom-in;
    }
  }

  button {
    font-family: $font, sans-serif;
    font-size: 17px;
    line-height: 1.4;
    cursor: $cursorPointer;
  }

  ::selection {
    color: var(--textColor);
    background: var(--light);
    text-shadow: 0px 0px 4px var(--textColor);
  }
}

.mobile-only {
  @media (min-width: $sm) {
    display: none !important;
  }
}

.desktop-only {
  @media (max-width: $sm) {
    display: none !important;
  }
}

.custom-scrollbar {
  scrollbar-color: var(--pink) var(--veryLight);
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track-piece {
  background-color: var(--veryLight);
}

.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: var(--pink);
}

.marquee {
  overflow: hidden;
  display: flex;

  > * {
    display: inline-block;
    //   display: flex;
    //   white-space: nowrap;
  }
}

.skiplink {
  color: var(--textColor) !important;
  text-decoration: none !important;
  padding: 0.5em;
  margin: 0.5em 0;
  font-weight: bold;

  &:not(:focus) {
    display: block;
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
  }
}

// Tooltips
.tippy-box.tippy-box.tippy-box {
  background-color: var(--mainBackgroundColor);
  color: var(--asideTextColor);
  box-shadow: 0px 2px 4px 0px rgba(92, 29, 50, 0.2);
  font-size: 1em;

  &[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: var(--mainBackgroundColor);
  }
  &[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: var(--mainBackgroundColor);
  }
  &[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: var(--mainBackgroundColor);
  }
  &[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: var(--mainBackgroundColor);
  }
}

@media (prefers-reduced-motion) {
  marquee,
  .marquee,
  .aside-blinkies,
  .aside-mutuals,
  .aside-blinkies + img[src*="divider"],
  .aside-mutuals + img[src*="divider"],
  .aside-tip-jar,
  img[src*="layout/new.gif"],
  img[src*="inline/star.gif"],
  img[src*="divider2.gif"],
  img[src*="divider3.gif"],
  img[src*="divider5.gif"],
  img[src*="inline/stars.gif"],
  img[src*="inline/wave.gif"],
  #embedim--snow {
    display: none !important;
  }
}

.full-width-image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

// CHRISTMAS

/*

#santa-hat {
  position: absolute;
  transform: scaleX(-1) scale(0.6);
  top: -40px;
  left: -10px;
  filter: contrast(0.95) saturate(0.8);

  @media (max-width: 1105px) {
    display: none;
  }

  @media (max-width: $sm) {
    display: inline;
  }
}

body:not(.reduced-layout)::after {
  content: "";
  // Snow
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  height: 50px;
  z-index: 9999;
  pointer-events: none;
}

body.dark-mode::after {
  display: none;
}
*/
