* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  letter-spacing: -0.03em;
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  background: $backgroundColor;
  background-image: url("https://petrapixel.neocities.org/assets/img/bg.png");
  background-repeat: repeat;
  color: $textColor;
  cursor: $cursorDefault;
}

a {
  &,
  &:hover,
  &:focus,
  &:visited {
    color: $textColor;
    cursor: $cursorPointer;
  }

  &[data-fslightbox] {
    cursor: zoom-in;
  }
}

button {
  font-family: $font, sans-serif;
  letter-spacing: -0.03em;
  font-size: 15px;
  line-height: 1.4;
  cursor: $cursorPointer;
}

::selection {
  color: $purple;
  background: rgba($green, 0.5);
}

.mobile-only {
  @media (min-width: $sm) {
    display: none !important;
  }
}

.desktop-only {
  @media (max-width: $sm) {
    display: none !important;
  }
}

.custom-scrollbar {
  scrollbar-color: $yellow $pink;
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track-piece {
  background-color: $pink;
}

.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: $yellow;
}

@media (prefers-reduced-motion) {
  marquee {
    display: none;
  }
}

.full-width-image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
