// halloween cursors
// $cursorDefault: url("https://cur.cursors-4u.net/holidays/hol-1/hol45.cur") 1 1, auto;
// $cursorPointer: url("https://cur.cursors-4u.net/holidays/hol-1/hol47.cur") 1 1, pointer;

body {
  --textColor: rgb(74, 0, 0);
  --pink: orange;
  --backgroundColor: rgb(254, 179, 124);
  --mainBackgroundColor: rgb(200, 143, 86);
  --linkColor: rgb(165, 80, 0);
  --linkColorHover: rgb(160, 11, 0);
  --asideBackgroundColor: rgb(183, 93, 33);
  --asideTextColor: rgb(225, 199, 152);

  background-image: url("https://sadhost.neocities.org/images/tiles/pumpkincheck.png");
}

main strong {
  color: var(--textColor);
}

.header-heading img {
  filter: sepia(0.4) hue-rotate(370deg) contrast(1.2) brightness(0.9);
}

.aside-stuff__guestbook img,
.aside-chatbox iframe[src*="cbox"] {
  filter: sepia(0.3) brightness(0.9) contrast(1.1) hue-rotate(20deg);
}

.aside-nav__heading {
  background: rgb(160, 11, 0);
}

body.dark-mode,
body:not(.dark-mode) {
  #theme-toggler {
    button {
      color: var(--textColor);
      background: var(--mainBackgroundColor);
    }
  }
}

.blinkies > div::after,
.image-of-the-moment::after {
  background: #b47400;
}

.aside-nav li a:hover,
.aside-nav li a:not(summary):focus,
.aside-nav li summary:hover,
.aside-nav li summary:not(summary):focus {
  background: orange;
}

main blockquote,
main pre code:not(.hljs),
main pre code.hljs {
  background: rgba(164, 38, 0, 0.2);
}

.about-me-page aside ul a img {
  filter: hue-rotate(-340deg) brightness(0.8) contrast(1.2) sepia(0.2);
}

.about-me-page__images .image::after {
  background: #6a0000;
  opacity: 0.2;
}

// Dark Mode:
body.dark-mode {
  background: var(--black);
  background-image: url("https://sadhost.neocities.org/images/tiles/witchbg04.gif");

  $textColor: #fcdee2;
  $pink: rgb(205, 89, 0);
  $backgroundColor: var(--black);
  $mainBackgroundColor: #291a14;
  $linkColor: lighten($pink, 10%);
  $linkColorHover: var(--green);
  $asideBackgroundColor: #301b12;
  $asideTextColor: #e6e6e6;
  //
  --textColor: #{$textColor};
  --pink: #{$pink};
  --backgroundColor: #{$backgroundColor};
  --mainBackgroundColor: #{$mainBackgroundColor};
  --linkColor: #{$linkColor};
  --linkColorHover: #{$linkColorHover};
  --asideBackgroundColor: #{$asideBackgroundColor};
  --asideTextColor: #{$asideTextColor};

  .aside-nav__heading {
    background: rgb(160, 11, 0);
  }

  .header-heading img,
  .aside-stuff__guestbook img,
  .footer-rss img,
  #clap-for-me img,
  .aside-mutuals .marquee > * > *,
  .cool-sites img,
  .about-me-page aside ul a img,
  .aside-link-back a img {
    filter: brightness(0.8) sepia(0.3);
  }

  .aside-nav li a:hover,
  .aside-nav li a:not(summary):focus,
  .aside-nav li summary:hover,
  .aside-nav li summary:not(summary):focus {
    background: var(--pink);
  }

  #theme-toggler {
    button {
      color: var(--white);
      background: var(--black);
    }
  }

  .progress-bar-container {
    background: var(--black);
  }

  main details summary,
  .blog-article__read {
    background: #6c281b;
  }

  @media (min-width: $lg) {
    main details[open] {
      border-color: #662118;
    }
  }

  .about-me-page aside ul a img {
    filter: hue-rotate(-340deg) brightness(0.6) contrast(1.2) sepia(0.2);
  }
}

body.dark-mode .aside-chatbox iframe[src*="cbox"],
body.dark-mode iframe[src*="cbox.ws"] {
  filter: invert(1) !important;
}

// body.dark-mode main.coding-page pre code:not(.hljs),
// body.dark-mode main.coding-page pre code.hljs {
//   filter: none !important;
// }

// body.dark-mode main.coding-page blockquote pre code:not(.hljs),
// body.dark-mode main.coding-page blockquote pre code.hljs {
//   filter: invert(1) hue-rotate(210deg) !important;
// }
