#content {
  max-width: 100%;
  width: 1250px;
  display: grid;
  grid-template:
    "header header header" auto
    "asideLeft main asideRight" auto
    "footer footer footer" auto
    / 220px auto 220px;
}

#theme-toggler {
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 999999;

  @media (max-width: $sm) {
    display: none;
  }

  button {
    display: flex;
    align-content: center;
    border: 1px solid var(--dark);
    color: var(--black);
    background: var(--purple);
    background-image: linear-gradient(to top, var(--purple) 16%, var(--pink) 79%);
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 15px;

    &:hover {
      filter: brightness(0.9);
    }
  }

  span {
    letter-spacing: 0.5px;
  }

  img {
    display: block;
    margin-right: 0.5em;
  }
}

#font-toggler {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 999999;

  @media (max-width: $sm) {
    display: none;
  }

  button {
    display: flex;
    align-content: center;
    border: 1px solid var(--dark);
    color: var(--black);
    background: var(--purple);
    background-image: linear-gradient(to top, var(--purple) 16%, var(--pink) 79%);
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 15px;

    body.readable-font & {
      font-family: $readableFont;
      font-size: 14px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}

#current-visitors {
  text-align: center;
  margin-top: 1em;
  margin-bottom: -14px;
  margin-right: -14px;

  img {
    opacity: 0.8;
  }
}

.only-show-in-dark-mode {
  display: none;
}

#back-to-top-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  line-height: 1;
  transform: translateY(20px);
  transition: 0.5s ease;
  pointer-events: none;
  z-index: 9999;

  @media (max-width: $sm) {
    display: none;
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  a {
    padding: 7px 8px;
    background: var(--backgroundColor);
    border-radius: 10px;
    border: 1px solid var(--pink);
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
    color: var(--linkColor);

    &:hover,
    &:focus {
      color: var(--white);
      border-color: var(--white);
      background: var(--pink);
    }
  }
}

#corner-cat {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 1;
  transition: transform 0.3s ease;
  cursor: $cursorPointer;

  @media (max-width: 1400px) {
    display: none;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

/*----------  Main  ----------*/

// body:not(.-layout-loaded) main {
//   @media (min-width: $lg) {
//     margin-top: 103px;
//     margin-top: 102px;
//   }
// }

main {
  background: var(--mainBackgroundColor);
  grid-area: main;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  border-top: var(--mainBorder);
  border-bottom: var(--mainBorder);

  section {
    position: relative;
    width: 100%;
    padding: 2em;
    border: 2px $purple dotted;
    border-radius: 10px;
    margin-bottom: 1em;
    background: var(--mainBackgroundColor);

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  //   > section:first-child:last-child {
  //     min-height: 100%;
  //     border: none;
  //     padding: 0.5em;
  //   }

  @media (min-width: $lg) {
    padding: 1em 1em;
  }
}

/*----------  Header  ----------*/

header {
  grid-area: header;
  text-align: center;
  margin-bottom: -30px;
  z-index: 1;
}

.header-heading {
  margin: 0;
  padding: 0.75em 1em 0em;
  font-size: 30px;

  a {
    display: inline-block;
    text-decoration: none;
    text-shadow: 3px 3px 1px var(--white);
    transition: transform 0.2s ease;
    transform: none;

    &:hover,
    &:focus {
      transform: scale(1.03);
    }
  }

  img {
    height: 100px;
    display: flex;

    @media (max-width: $sm) {
      max-width: 60vw;
      height: auto;
    }
  }
}

/*----------  Footer  ----------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: footer;
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer-content {
  text-align: center;
  padding: 5px 8px;
  font-size: 0.9em;
  background: var(--backgroundColor);
  border-radius: 3px;
  border: 1px solid var(--pink);

  i {
    font-style: normal;
    display: inline-block;
    padding: 0 1px;
  }

  a {
    cursor: $cursorPointer;

    &:hover,
    &:focus {
      cursor: $cursorPointer;
      color: var(--linkColorHover);
    }
  }

  &.mobile-only {
    background: none;
    border: none;
  }
}

.footer-rss {
  display: inline-block;
  vertical-align: sub;
  margin-right: 4px;

  img {
    display: block;
    margin-bottom: -1px;
    height: 16px;
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.2);
    }
  }
}

/*----------  Others  ----------*/

#no-js-warning {
  background: var(--dark);
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 50px;
  text-align: center;
  opacity: 0;
  animation: noJsFade ease 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 9999999;

  .-js & {
    display: none;
  }
}

@keyframes noJsFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#skip-to-content-link,
#skip-to-content-link2 {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: var(--purple);
  color: var(--white);
  transform: translateY(-3rem);
  transition: transform 0.1s ease-in;
  z-index: 99999999999;

  @media (max-width: $md) {
    font-size: 1rem;
  }

  &:focus,
  &:focus-within {
    transform: translateY(0);
  }
}

#skip-to-content-link2 {
  left: 10em;
}

/**
 *
 * TABLET
 *
 */

@media (max-width: $md) {
  #content {
    grid-template:
      "header header header" auto
      "asideLeft main asideRight" auto
      "footer footer footer" auto
      / 125px auto 125px;
  }
}

/**
 *
 * MOBILE
 *
 */

@media (max-width: $sm) {
  body {
    margin: 0;
    padding-top: 0;
  }

  header {
    margin-bottom: 0;
  }

  #content {
    width: calc(100% - 10px);
    grid-template:
      "header" auto
      "asideLeft" auto
      "asideRight" auto
      "main" auto
      "footer" auto
      / 1fr;
  }

  main {
    border-top: none;
    border-bottom: none;
  }

  main section {
    padding: 1em;
  }

  .header-heading {
    font-size: 20px;
  }

  #skip-to-content-link,
  #skip-to-content-link2 {
    font-size: 1rem;
  }

  #skip-to-content-link2 {
    left: 9em;
  }
}
