#content {
  max-width: 100%;
  width: $xl;
  display: grid;
  grid-template:
    "header header header" auto
    "asideLeft main asideRight" auto
    "footer footer footer" auto
    / 200px auto 200px;
}

#back-to-top-link {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s ease;
  pointer-events: none;
  z-index: 9999;
  background: $backgroundColor;
  border-radius: 15px;

  &.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  a {
    display: inline-block;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $green;
    }
  }
}

/*----------  Main  ----------*/

main:not(.no-layout) {
  grid-area: main;
  padding: 1em 0;
  display: flex;
  flex-direction: column;

  &:not(.not-lowercase) {
    // hmmm... idk:
    text-transform: lowercase;
  }

  section {
    width: 100%;
    padding: 1em 1em;
    border: 1px $purple dashed;
    margin-bottom: 1em;
    background: $mainBackgroundColor;

    &:first-child:last-child {
      min-height: 100%;
    }
  }

  @media (min-width: $lg) {
    padding: 0 1em;

    section {
      padding: 1em;
    }
  }
}

.sections-two-column {
  @media (min-width: $xl) {
    display: flex;
    gap: 15px;
  }
}

/*----------  Header  ----------*/

header {
  background: $headerBackgroundColor;
  grid-area: header;
  text-align: center;
  margin-bottom: 2vw;
}

.header-heading {
  font-family: $font3;
  margin: 0;
  padding: 0.25em 1em 0em;
  font-size: 30px;

  a {
    display: inline-block;
    text-decoration: none;
    text-shadow: 3px 3px 1px white;
    transition: transform 0.2s ease;
    transform: none;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}

#marquee {
  margin-bottom: 15px;

  &:empty {
    display: none;
  }
}

/*----------  Aside  ----------*/

.aside {
  background: $asideBackgroundColor;
  padding: 10px 14px;
  color: $asideTextColor;

  summary {
    display: none;

    & + * {
      display: block;
    }
  }
}

.aside--left {
  border-radius: 10px;
  grid-area: asideLeft;
}

.aside--right {
  border-radius: 10px;
  grid-area: asideRight;
}

@media (min-width: $lg) {
  .aside--left,
  .aside--right {
    border-radius: 5px;
  }
}

.aside__heading {
  display: block;
  background: $yellow;
  color: $dark;
  border: 1px dashed currentColor;
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 3px 5px 2px;
  line-height: 1;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: -1px;
  margin-right: -1px;

  &.aside__heading--menu {
    background: #27ff27;
  }

  &.aside__heading--changelog {
    background: #fff727;
  }

  &.aside__heading--comingsoon {
    background: #27a9ff;
    color: white;
  }

  &.aside__heading--stats {
    background: #4f27ff;
    color: white;
  }

  &.aside__heading--creations {
    background: #ffa927;
    color: white;
  }

  &.aside__heading--recs {
    background: #ff5927;
    color: white;
  }

  &.aside__heading--shrines {
    background: #ff274b;
    color: white;
  }

  &.aside__heading--resources {
    background: #ff27ff;
    color: white;
  }

  &.aside__heading--coding {
    background: #9727ff;
    color: white;
  }
}

.aside-stuff {
  line-height: 1.5;
  max-width: 200px;

  &:not(:first-child) {
    margin-top: 30px;
  }

  center {
    font-family: $font2;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 1em;
  }
}

.aside-stuff__widget {
  margin-bottom: 1em;
  text-align: center;
  font-size: 0.9em;

  a {
    text-decoration: none;
    color: $asideTextColor;
  }
}

.aside-stuff__guestbook {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  transition: transform 0.2s ease;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.aside__lucky-btn {
  display: flex;
  justify-content: center;
}

/*----------  Changelog  ----------*/

.changelog__entry {
  font-size: 0.85em;

  &:not(:first-child) {
    margin-top: 5px;
  }

  a {
    text-decoration: none;
    cursor: $cursorHelp;
    display: block;
  }

  strong {
    display: inline-block;

    &::after {
      content: ":";
    }
  }
}

.changelog {
  max-height: 110px;
  overflow-y: scroll;
  overflow-x: clip;
  margin-top: 18px;
  font-size: 0.9em;
  border: 1px dashed;
  padding: 0.5em 1em;

  ul {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.2;
    padding-left: 10px;
  }

  &,
  a {
    color: $asideTextColor;
  }
}

@media (min-width: $sm) {
  .changelog__entry {
    &:not(:first-child) {
      margin-top: 15px;
    }

    strong {
      display: block;

      &::after {
        content: "";
      }
    }
  }
}

/*----------  Navs  ----------*/

.aside-nav {
  max-width: 200px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    line-height: 1;
    position: relative;
    border-bottom: 1px dashed rgba(white, 0.95);

    a {
      display: block;
      padding: 4px 4px;
      color: $asideLinkColor;
      text-decoration: none;
      //   text-decoration: underline;
      //   text-decoration-style: dashed;
      cursor: $cursorHelp;
      font-family: $font2, $font, sans-serif;
      font-size: 14px;
      border-radius: 3px;

      &:hover,
      &:focus {
        color: $asideLinkColorHover;
        background-color: rgba(black, 0.2);

        &:not(.active) {
          text-decoration: none;
        }
      }

      &.active {
        color: $asideLinkColorHover;
        background-color: rgba(black, 0.2);
        text-decoration-style: wavy;
      }

      // bullets
      img:not([src*="link.png"]) {
        display: inline-block;
        margin-right: 6px;
        animation: floatingHeart 1s ease infinite;
      }

      // external link
      img[src*="link.png"] {
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 2px;
        opacity: 0.8;
      }
    }
  }
}

@keyframes floatingHeart {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-1px);
  }
  100% {
    transform: translatey(0px);
  }
}

.aside__new {
  display: inline-block;
  transform: translateY(-1px);
  text-transform: uppercase;
  font-family: $font2, $font, sans-serif;
  font-size: 9px;
  pointer-events: none;
  line-height: 1;
  margin-left: 5px;
}

.aside-nav__section {
  margin: 10px 0 0;

  @media (min-width: $sm) {
    margin-bottom: 20px;
  }
}

/*----------  Footer  ----------*/

footer {
  display: flex;
  justify-content: center;
  background: $footerBackgroundColor;
  grid-area: footer;
  margin-top: 3vw;
  margin-bottom: 2em;
}

.footer-content {
  text-align: center;
  padding: 0.5em 1em;
  font-size: 0.8em;
  background: rgba(white, 0.5);

  i {
    font-style: normal;
    display: inline-block;
    padding: 0 1px;
  }

  a {
    cursor: $cursorHelp;

    &:hover,
    &:focus {
      cursor: $cursorHelp;
      color: $linkColorHover;
    }
  }
}

#guestbook {
  width: 100%;
  height: 390px;
  border: 0;
}

/*----------  Others  ----------*/

#no-js-warning {
  background: red;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 50px;
  text-align: center;
  opacity: 0;
  animation: noJsFade ease 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 9999999;

  .-js & {
    display: none;
  }
}

@keyframes noJsFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#skip-to-content-link,
#skip-to-content-link2 {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: darken($purple, 10%);
  color: white;
  transform: translateY(-3rem);
  transition: transform 0.1s ease-in;
  z-index: 999999;

  @media (max-width: $md) {
    font-size: 1rem;
  }

  &:focus,
  &:focus-within {
    transform: translateY(0);
  }
}

#skip-to-content-link2 {
  left: 10em;
}

.wip-banner {
  background: $green;
  color: $textColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 50px;
  text-align: center;
  z-index: 999;
}

/**
 *
 * TABLET
 *
 */

@media (max-width: $md) {
  #content {
    grid-template:
      "header header header" auto
      "asideLeft main asideRight" auto
      "footer footer footer" auto
      / 120px auto 120px;
  }

  .aside {
    padding: 10px 5px;
  }

  .aside-stuff:not(:first-child) {
    margin-top: 15px;
  }

  .aside__heading {
    letter-spacing: 0;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 0.65em;
  }

  .changelog {
    margin-top: 5px;
  }
}

/**
 *
 * MOBILE
 *
 */

@media (max-width: $sm) {
  body {
    margin: 5px;
  }

  #content {
    width: calc(100% - 10px);
    grid-template:
      "header" auto
      "asideLeft" auto
      "asideRight" auto
      "main" auto
      "footer" auto
      / 1fr;
  }

  main:not(.no-layout) section {
    padding: 0.5em;
  }

  .aside {
    summary {
      display: initial;

      & + * {
        display: initial;
      }
    }
  }

  .aside--left {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .aside--right {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .header-heading {
    font-size: 20px;
  }

  #skip-to-content-link,
  #skip-to-content-link2 {
    font-size: 1rem;
  }

  #skip-to-content-link2 {
    left: 9em;
  }
}

#clap-for-me {
  text-align: center;
  display: block;
  transition: transform 0.3s ease;
  transform-origin: center center;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
