<ul class="aside-currently-list">
  <li aria-label="listening to:">
    <img
      src="{{ nesting }}assets/img/layout/icon-music.png"
      alt=""
      title="listening to:"
      aria-hidden="true"
    />
    <a href="https://www.last.fm/user/Petra1999" target="_blank" id="song"
      >various</a
    >
    <img
      src="{{ nesting }}assets/img/layout/equalizer.gif"
      alt=""
      aria-hidden="true"
    />
  </li>
  <li aria-label="watching:">
    <img
      src="{{ nesting }}assets/img/layout/icon-tv.png"
      alt=""
      title="watching:"
      aria-hidden="true"
    />
    <a href="https://app.tvtime.com/user/33116783" target="_blank"
      >The White Lotus (s2)
      <!-- <span style="font-family: sans-serif; font-size: 0.9em">↺</span
      >--></a
    >
  </li>
  <li aria-label="reading:">
    <img
      src="{{ nesting }}assets/img/layout/icon-book.png"
      alt=""
      title="reading:"
      aria-hidden="true"
    />
    <a href="https://www.goodreads.com/user/show/62158941-petra" target="_blank"
      >Everything is Tuberculosis
      <!--<span style="font-family: sans-serif; font-size: 0.9em">↺</span
                >--></a
    >
  </li>
  <li aria-label="playing:">
    <img
      src="{{ nesting }}assets/img/layout/icon-game.png"
      alt=""
      title="playing:"
      aria-hidden="true"
    />
    <a href="https://www.backloggd.com/u/Petra1999/" target="_blank"
      >Tomodachi Life</a
    >
  </li>

  <!--
            <li aria-label="obsessed with:">
              <img
                src="{{ nesting }}assets/img/layout/icon-heart.png"
                alt=""
                title="obsessed with:"
                aria-hidden="true"
              />
              <span
                >My cat, Holly</span
              >
            </li>
             -->
</ul>
