<div class="aside-clap-kirby">
  <a class="aside-box__guestbook" aria-hidden="true" href="/about/guestbook">
    <img
      width="145"
      height="56"
      src="{{ nesting }}assets/img/layout/kirby1light.png"
      alt="sign my guestbook"
      class="only-show-in-light-mode"
    />
    <img
      width="145"
      height="56"
      src="{{ nesting }}assets/img/layout/kirby1.png"
      alt="sign my guestbook"
      class="only-show-in-dark-mode"
    />
  </a>

  <a
    class="aside-box__guestbook"
    aria-label="follow me on neocities"
    href="https://neocities.org/site/petrapixel"
    target="_blank"
  >
    <img
      width="145"
      height="56"
      src="{{ nesting }}assets/img/layout/kirby2light.png"
      alt="follow me on neocities"
      class="only-show-in-light-mode"
    />
    <img
      width="145"
      height="56"
      src="{{ nesting }}assets/img/layout/kirby2.png"
      alt="follow me on neocities"
      class="only-show-in-dark-mode"
    />
  </a>
  <!-- -->
  <center style="margin-top: 5px">
    <small>(thanks for 3000 followers!)</small>
  </center>

  <a
    id="clap-for-me"
    href="//clap.fc2.com/post/petrapixel/?url=https%3A%2F%2Fpetrapixel.neocities.org%2F&title=petrapixel"
    target="_blank"
  >
    <img
      width="80"
      height="18"
      src="//clap.fc2.com/images/button/pink/petrapixel?url=https%3A%2F%2Fpetrapixel.neocities.org%2F&amp;lang=en"
      alt="clap for me on clap.fc2.com"
    />
    <small>click to clap for me!</small>
  </a>
</div>
