<div class="aside-box aside-link-back">
  <div class="aside-box__heading">
    Link back!<img
      src="{{ nesting }}assets/img/layout/icon-copy.png"
      alt=""
      aria-hidden="true"
    />
  </div>
  <p>Hotlinking is a-okay!</p>
  <a href="https://petrapixel.neocities.org/" target="_blank" tabindex="-1"
    ><img
      src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.webp"
      alt="petrapixel"
      width="88"
      height="31"
  /></a>
  <textarea
    class="code-textarea"
    name=""
    id=""
    rows="10"
    aria-label="link-back code"
  >
<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"></a></textarea
  >

  <a
    href="https://petrapixel.neocities.org/indiewebdb/"
    target="_blank"
    tabindex="-1"
    ><img
      src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/links/indiewebdb.png"
      alt="indie web db"
      width="88"
      height="31"
  /></a>
  <textarea
    class="code-textarea"
    name=""
    id=""
    rows="10"
    aria-label="link-back code"
  >
<a href="https://petrapixel.neocities.org/indiewebdb/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/links/indiewebdb.png" alt="indie web database"></a></textarea
  >
</div>
