<form method="post" action="https://poll.pollcode.com/76324121">
  <div
    style="
      background-color: #eeeeee;
      padding: 2px;
      width: 175px;
      font-family: Arial;
      font-size: small;
      color: #000000;
    "
  >
    <div style="padding: 2px 0px 4px 2px">
      <strong>Which continent are you from?</strong>
    </div>
    <input
      type="radio"
      name="answer"
      value="1"
      id="answer763241211"
      style="float: left"
    /><label for="answer763241211" style="float: left; width: 150px"
      >europe</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="2"
      id="answer763241212"
      style="float: left"
    /><label for="answer763241212" style="float: left; width: 150px"
      >north america</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="3"
      id="answer763241213"
      style="float: left"
    /><label for="answer763241213" style="float: left; width: 150px"
      >south america</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="4"
      id="answer763241214"
      style="float: left"
    /><label for="answer763241214" style="float: left; width: 150px"
      >asia</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="5"
      id="answer763241215"
      style="float: left"
    /><label for="answer763241215" style="float: left; width: 150px"
      >australia</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="6"
      id="answer763241216"
      style="float: left"
    /><label for="answer763241216" style="float: left; width: 150px"
      >oceania</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="7"
      id="answer763241217"
      style="float: left"
    /><label for="answer763241217" style="float: left; width: 150px"
      >other 👽</label
    >
    <div style="clear: both; height: 2px"></div>
    <div align="center" style="padding: 3px">
      <input type="submit" value=" Vote " />&nbsp;<input
        type="submit"
        name="view"
        value=" View "
      />
    </div>
    <div align="right" style="font-size: 10px">
      pollcode.com <a href="https://pollcode.com/">free polls</a>
    </div>
  </div>
</form>
