<form method="post" action="https://poll.pollcode.com/13962324">
  <div
    style="
      background-color: #eeeeee;
      padding: 2px;
      width: 175px;
      font-family: Arial;
      font-size: small;
      color: #000000;
    "
  >
    <div style="padding: 2px 0px 4px 2px">
      <strong>how old are you?</strong>
    </div>
    <input
      type="radio"
      name="answer"
      value="1"
      id="answer139623241"
      style="float: left"
    /><label for="answer139623241" style="float: left; width: 150px"
      >10 or younger</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="2"
      id="answer139623242"
      style="float: left"
    /><label for="answer139623242" style="float: left; width: 150px"
      >11-12</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="3"
      id="answer139623243"
      style="float: left"
    /><label for="answer139623243" style="float: left; width: 150px"
      >13-14</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="4"
      id="answer139623244"
      style="float: left"
    /><label for="answer139623244" style="float: left; width: 150px"
      >15-16</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="5"
      id="answer139623245"
      style="float: left"
    /><label for="answer139623245" style="float: left; width: 150px"
      >17-18</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="6"
      id="answer139623246"
      style="float: left"
    /><label for="answer139623246" style="float: left; width: 150px"
      >19-20</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="7"
      id="answer139623247"
      style="float: left"
    /><label for="answer139623247" style="float: left; width: 150px"
      >21-25</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="8"
      id="answer139623248"
      style="float: left"
    /><label for="answer139623248" style="float: left; width: 150px"
      >26-29</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="9"
      id="answer139623249"
      style="float: left"
    /><label for="answer139623249" style="float: left; width: 150px"
      >30-35</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="10"
      id="answer1396232410"
      style="float: left"
    /><label for="answer1396232410" style="float: left; width: 150px"
      >36-39</label
    >
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="11"
      id="answer1396232411"
      style="float: left"
    /><label for="answer1396232411" style="float: left; width: 150px"
      >40 or older</label
    >
    <div style="clear: both; height: 2px"></div>
    <div align="center" style="padding: 3px">
      <input type="submit" value=" Vote " />&nbsp;<input
        type="submit"
        name="view"
        value=" View "
      />
    </div>
    <div align="right" style="font-size: 10px">
      pollcode.com <a href="https://pollcode.com/">free polls</a>
    </div>
  </div>
</form>
