<form method="post" action="https://poll.pollcode.com/62119859">
  <div
    style="
      background-color: #eeeeee;
      padding: 2px;
      width: 175px;
      font-family: Arial;
      font-size: small;
      color: #000000;
    "
  >
    <div style="padding: 2px 0px 4px 2px">
      <strong>do you brush your cat's teeth?</strong>
    </div>
    <input
      type="radio"
      name="answer"
      value="1"
      id="answer621198591"
      style="float: left"
    /><label for="answer621198591" style="float: left; width: 150px">yes</label>
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="2"
      id="answer621198592"
      style="float: left"
    /><label for="answer621198592" style="float: left; width: 150px">no</label>
    <div style="clear: both; height: 2px"></div>
    <input
      type="radio"
      name="answer"
      value="3"
      id="answer621198593"
      style="float: left"
    /><label for="answer621198593" style="float: left; width: 150px"
      >i don't have a cat but i like polls :)</label
    >
    <div style="clear: both; height: 2px"></div>
    <div align="center" style="padding: 3px">
      <input type="submit" value=" Vote " />&nbsp;<input
        type="submit"
        name="view"
        value=" View "
      />
    </div>
    <div align="right" style="font-size: 10px">
      pollcode.com <a href="https://pollcode.com/">free polls</a>
    </div>
  </div>
</form>
