<div class="aside-box aside-support" aria-hidden="true">
  <div class="aside-box__heading" aria-hidden="true">
    Support<img
      src="{{ nesting }}assets/img/layout/icon-piggy-bank.png"
      alt=""
      aria-hidden="true"
    />
  </div>

  <a class="aside-tip-jar" href="/donate">
    <img
      src="{{ nesting }}assets/img/layout/coffee.gif"
      width="50"
      alt="Coffee Gif"
    />
    <div>
      <b>Tip Jar</b
      ><small>Buy me a coffee? I appreciate your support!! &lt;3</small>
    </div>
  </a>
</div>
