.widget-previews {
  @media (min-width: $lg) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
  }
}

.widget-preview {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  @media (min-width: $lg) {
    width: 50%;
    padding: 0 10px;
  }

  textarea {
    min-height: 65px;
  }

  > iframe {
    // border: 1px solid currentColor;
    height: 100px;
    max-width: 450px;

    &[src*="pollcode"] {
      height: 200px;
    }
  }
}

.widget-builder {
  display: flex;
  border: $mainBorder;
  padding: 20px;
  margin-top: 10px;
}

.widget-builder__settings {
  flex: 1 0 0;
}

.widget-builder__setting {
  display: flex;
  align-items: center;
  margin: 5px 0;

  b {
    margin-right: 5px;
  }

  input,
  textarea {
    cursor: $cursorPointer;
  }

  input[type="number"] {
    max-width: 70px;
  }
}

.widget-builder__preview {
  flex: 1 0 0;

  > b {
    display: block;
  }

  iframe {
    border: 1px solid var(--light);
    width: 100%;
  }
}

.widget-builder__code {
  width: 100%;
  min-height: 65px;
}
