---
layout: petrapixel.njk
title: "blinkies, buttons, stamps, userboxes"
description: "Some blinkies, stamps, buttons, userboxes for your Neocities website."
nesting: "../"
---

<!-- freezeframe.js 
<script src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    const e = new Freezeframe();
    document.getElementById("play-gif").addEventListener("click", function () {
      e.start();
    });
    document.getElementById("stop-gif").addEventListener("click", function () {
      e.stop();
    });
    e.start();
  });
</script>-->
<style>
  .ff-container.ff-responsive {
    width: auto !important;
  }

  section .blinkies {
    justify-content: flex-start;
  }

  .blinkies > div {
    margin-right: 0.59em;
    margin-bottom: 0.59em;
  }

  main h2 {
    display: none;
  }
</style>

<section>
  <h1>Blinkies, Buttons, Stamps, Userboxes!</h1>
  <p>This is not an attempt at a complete collection, rather those that describe me or the ones I particularly like!</p>
  <!-- <button id="play-gif">Play GIFs</button>
  <button id="stop-gif">Stop GIFs</button>-->
  <hr />
  <h2>Blinkies</h2>
  <div class="blinkies freezeframe">{% include 'blinkies-blinkies.njk' %}</div>
  <div class="blinkies freezeframe">
    <!-- Larger blinkies: -->
    <div><img height="20" src="../assets/img/blinkies/blinkies/b (21).gif" alt="Blinkie: Minecraft squid" /></div>
    <!-- Smaller blinkies: -->
    <div><img width="150" height="20" src="../assets/img/blinkies/blinkies/bad-driver.gif" alt="Blinkie: Bad Driver" /></div>
    <div><img height="20" src="../assets/img/blinkies/blinkies/b (20).gif" alt="Blinkie: smoking sucks" /></div>
  </div>
  <hr />
  <h2>Buttons</h2>
  <div class="blinkies freezeframe">{% include 'blinkies-buttons.njk' %}</div>

  <hr />

  <h2>Stamps</h2>
  <div class="blinkies freezeframe">
    <div><img src="../assets/img/blinkies/stamps/stamp (1).gif" alt="Stamp: Tetris" /></div>
    <div><img src="../assets/img/blinkies/stamps/stamp (2).gif" alt="Stamp: Portal 2" /></div>
    <div><img src="../assets/img/blinkies/stamps/stamp (3).gif" alt="Stamp: 'rawr' means 'i love you' in dinosaur" /></div>
    <div><img src="../assets/img/blinkies/stamps/stamp (3).png" alt="Stamp: Yep! I play Minecraft" /></div>
    <div><img src="../assets/img/blinkies/stamps/i-love-minecraft.gif" alt="Stamp: I love Minecraft" /></div>
    <div><img src="../assets/img/blinkies/stamps/i-love-my-imagination.gif" alt="Stamp: I love my imagination" /></div>
    <div><img src="../assets/img/blinkies/stamps/stamp (5).gif" alt="Stamp: Happy Kaomoji" /></div>
    <div><img src="../assets/img/blinkies/stamps/ascii.gif" alt="Stamp: ASCII emoticon enjoyer" /></div>
    <div><img src="../assets/img/blinkies/stamps/stamp (6).gif" alt="Stamp: the sun is a deadly lazer" /></div>
    <div><img src="../assets/img/blinkies/stamps/stamp (4).gif" alt="Stamp: I love gore" /></div>
    <div><img src="../assets/img/blinkies/stamps/stamp (7).gif" alt="Stamp: I support Vampires" /></div>
    <div><img src="../assets/img/blinkies/stamps/jurassicpark.png" alt="Stamp: Jurassic Park" /></div>
    <div><img src="../assets/img/blinkies/stamps/glitch.png" alt="Stamp: Glitch" /></div>
    <div><img src="../assets/img/blinkies/stamps/pride.png" alt="Stamp: Pride" /></div>
    <div><img src="../assets/img/blinkies/stamps/polyamory.png" alt="Stamp: Polyamorous" /></div>
    <div><img src="../assets/img/blinkies/stamps/bisexual.png" alt="Stamp: Bisexual" /></div>
    <div><img src="../assets/img/blinkies/stamps/bisexual3.gif" alt="Stamp: Bi People Exist" /></div>
    <div><img src="../assets/img/blinkies/stamps/bisexual2.png" alt="Stamp: Bi people in Hetero relationships are VALID" /></div>
    <div><img src="../assets/img/blinkies/stamps/ilovesleeping.gif" alt="Stamp: I love sleeping" /></div>
    <div><img src="../assets/img/blinkies/stamps/dog of wisdom.gif" alt="Stamp: Dog of Wisdom" /></div>
    <div><img src="../assets/img/blinkies/stamps/legendofthepenis.png" alt="Stamp: like the legend of the penis" /></div>
    <div><img src="../assets/img/blinkies/stamps/iloveoldweb.png" alt="Stamp: I love old web" /></div>
    <div><img src="../assets/img/blinkies/stamps/cooleronline.gif" alt="Stamp: i'm way cooler online" /></div>
    <div><img src="../assets/img/blinkies/stamps/lps.gif" alt="Stamp: heyo (Littlest Pet Shop cat)" /></div>
    <div><img src="../assets/img/blinkies/stamps/rice.jpg" alt="Stamp: Rice" /></div>
    <div><img src="../assets/img/blinkies/stamps/glowing-stars.png" alt="Stamp: Glowing Stars" /></div>
    <div><img src="../assets/img/blinkies/stamps/nekoatsume.gif" alt="Stamp: Neko Atsume" /></div>
    <div><img src="../assets/img/blinkies/stamps/carrd.png" alt="Stamp: i won't read your carrd" /></div>
    <div><img src="../assets/img/blinkies/stamps/warrior-cats.png" alt="Stamp: Warrior Cats" /></div>
    <div><img src="../assets/img/blinkies/stamps/doctor-who.gif" alt="Stamp: I love Doctor Who" /></div>
    <div><img src="../assets/img/blinkies/stamps/goodomens.png" alt="Stamp: Good Omens" /></div>
    <div><img src="../assets/img/blinkies/stamps/wwdits.png" alt="Stamp: What we do in the Shadows" /></div>
    <div><img src="../assets/img/blinkies/stamps/hannibal.png" alt="Stamp: Hannibal" /></div>
    <div><img src="../assets/img/blinkies/stamps/fotc.png" alt="Stamp: Flight of the Conchords" /></div>
    <div><img src="../assets/img/blinkies/stamps/gamegrumps.png" alt="Stamp: Game Grumps" /></div>
    <div><img src="../assets/img/blinkies/stamps/nsp.png" alt="Stamp: Ninja Sex Party" /></div>
    <div><img src="../assets/img/blinkies/stamps/dinos.png" alt="Stamp: Dinosaurs" /></div>
    <div><img src="../assets/img/blinkies/stamps/tumblr_pbx7ekLOcg1xzybrpo3_100.png" alt="Stamp: Purple Aesthetic" /></div>
    <div><img src="../assets/img/blinkies/stamps/eggs.png" alt="Stamp: Eggs" /></div>
    <div><img src="../assets/img/blinkies/stamps/ds.png" alt="Stamp: I love my Nintendo DS" /></div>
    <div><img src="../assets/img/blinkies/stamps/pastelgore.png" alt="Stamp: Pastel Gore" /></div>
    <div><img src="../assets/img/blinkies/stamps/skyrim.png" alt="Stamp: Skyrim" /></div>
    <div><img src="../assets/img/blinkies/stamps/mew.png" alt="Stamp: Mew (Pokémon)" /></div>
    <div><img src="../assets/img/blinkies/stamps/minecraftbee.png" alt="Stamp: Minecraft Bee" /></div>
    <div><img src="../assets/img/blinkies/stamps/water.png" alt="Stamp: Water" /></div>
    <div><img src="../assets/img/blinkies/stamps/girly.gif" alt="Stamp: Fuck yes I'm girly" /></div>
    <div><img src="../assets/img/blinkies/stamps/keyboard.png" alt="Stamp: Keyboard with Grass" /></div>
    <div><img src="../assets/img/blinkies/stamps/brofist.gif" alt="Stamp: Pewdiepie Brofist" /></div>
    <div><img src="../assets/img/blinkies/stamps/minecraftdied.png" alt="Stamp: You died! (Minecraft)" /></div>
    <div><img src="../assets/img/blinkies/stamps/gore.gif" alt="Stamp: Gore" /></div>
    <div><img src="../assets/img/blinkies/stamps/gore3.png" alt="Stamp: Gore" /></div>
    <div><img src="../assets/img/blinkies/stamps/psychological-horror.gif" alt="Stamp: Psychological Horror" /></div>
    <div><img src="../assets/img/blinkies/stamps/error.png" alt="Stamp: Error" /></div>
    <div><img src="../assets/img/blinkies/stamps/aesthetic.png" alt="Stamp: do it for the aesthetic" /></div>
    <div><img src="../assets/img/blinkies/stamps/space.png" alt="Stamp: Space" /></div>
    <div><img src="../assets/img/blinkies/stamps/stars.png" alt="Stamp: the stars make me happy" /></div>
    <div><img src="../assets/img/blinkies/stamps/gay-agenda.gif" alt="Stamp: I am poart of the gay agenda." /></div>
    <!-- <div><img src="../assets/img/blinkies/stamps/TODO.png" alt="Stamp: TODO" /></div> -->

    <!-- Mine: -->
    <div><img src="../assets/img/blinkies/stamps/petrapixel-tumblr.png" alt="Stamp: Tumblr" /></div>
    <div><img src="../assets/img/blinkies/stamps/petrapixel-love.gif" alt="Stamp: Love is Love" /></div>
    <div><img src="../assets/img/blinkies/stamps/petrapixel-cannibalism.gif" alt="Stamp: Love = Cannibalism" /></div>
  </div>
  <p>Those 3 last ones are created by me, almost a decade ago, on deviantart. Feel free to use them!</p>

  <hr />
  <h2>Userboxes</h2>
  <div class="blinkies blinkies--userboxes">
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/cringe-culture-is-dead.jpg" alt="Userbox: This user thinks cringe culture is dumb, just enjoy yourself!" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/dinosaurs.jpg" alt="Userbox: This user loves dinosaurs" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/birds-are-dinosaurs.png" alt="Userbox: This user knows that birds are dinosaurs" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/non-fiction.png" alt="Userbox: This user enjoys reading non-fiction." /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/does bruno mars is gay.jpg" alt="Userbox: The Rumor Come Out: Does This User Is Gay?" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/fictional-characters.jpg" alt="Userbox: This user is emotionally attached to fictional characters" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/left-planet-earth.png" alt="Userbox: This user has left the planet Earth 0 times." /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/owo.png" alt="Userbox: t-this user is... h-hewwo?! owo" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/playlists.jpg" alt="Userbox: This user loves to make playlists." /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/nintendo-switch.jpg" alt="Userbox: This user has a Nintendo switch." /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/ao3.jpg" alt="Userbox: This user loves Ao3" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/png.png" alt="Userbox: This user loves PNGs. They are way better than the God forsaken JPEGs" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/portal.png" alt="Userbox: This user is thinking with Portals!" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/rude-people.png" alt="Userbox: This user hates rude people" /></div>
    <div style="filter: none"><img width="230" height="48" src="../assets/img/blinkies/userboxes/slytherin.jpg" alt="Userbox: This user is a slytherin" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/stuffed-animals.jpg" alt="Userbox: This user sleeps with a stuffed animal" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/thunderstorms.png" alt="Userbox: This user loves thunderstorms" /></div>
    <div style="filter: saturate(1.3)"><img width="230" height="48" src="../assets/img/blinkies/userboxes/uwu.png" alt="Userbox: This user likes to make the :3 face" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/writer.png" alt="Userbox: This user is a writer but never writes" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/graphic-design.png" alt="Userbox: this user's passion is graphic design" /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/trying-their-best.jpg" alt="Userbox: This user is trying their best." /></div>
    <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/drew-gooden.png" alt="Userbox: Road work ahead? This user sure hopes it does" /></div>
    <!-- <div><img width="230" height="48" src="../assets/img/blinkies/userboxes/TODO.png" alt="Userbox: TODO" /></div> -->
  </div>

  <hr />
  <center style="line-height: 1">
    (\_/)<br />
    (='.'=)<br />
    (")_(")<br />
    <br />
    This is Bunny. Copy and paste Bunny into your webpage to help him gain world domination.
  </center>
</section>
