---
layout: petrapixel.njk
title: "neighbors"
nesting: "../"
---

<!-- freezeframe.js 
<script src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    const e = new Freezeframe();
    document.getElementById("play-gif").addEventListener("click", function () {
      e.start();
    });
    document.getElementById("stop-gif").addEventListener("click", function () {
      e.stop();
    });
  });
</script>
-->
<section>
  <h1>Neighborhood</h1>
  <!-- <button id="play-gif">Play GIFs</button>
          <button id="stop-gif">Stop GIFs</button> 
</section>

<section>
  <h2>Friends & Neighbors</h2>-->
  <p>Here are some cool other personal websites you shoud check out!</p>
  <p>Neighbors are friends of the site or, in the case of neocities site, neocities users I follow who follow me back <img aria-hidden="true" src="../assets/img/inline/happy.gif" /></p>
  <p>You can view all sites I follow on <a href="https://neocities.org/site/petrapixel/follows" target="_blank">my neocities profile</a>.</p>

  <br />
  <div class="rec-filters">
    <div class="rec-filters__group">
      <div class="rec-filters__buttons js-radio-button-group" data-filter-group="color">
        <button class="rec-filters__button is-checked" data-filter="">show all</button>
        <button class="rec-filters__button" data-filter=".neighbor--friend">friends</button>
        <button class="rec-filters__button" data-filter=".neighbor--neighbor">neighbors</button>
        <button class="rec-filters__button" data-filter=".neighbor--inspiration">inspiration</button>
        <button class="rec-filters__button" data-filter=".neighbor--winner">contest winners</button>
        <!-- <button class="rec-filters__button" data-filter=".neighbor--resources">resources</button> -->
      </div>
    </div>
  </div>

  <br />
  <div class="isotope-items cool-sites cool-sites--more-spacing freezeframeX">
    {% for site in sites %} {% if site.title != "TEMPLATE" and not site.hide %}
    <!--  and site.linksBackToMe == false -->
    <a
      href="{{ site.link }}"
      title="{{ site.title }}"
      class="neighbor {% if site.friend %}neighbor--friend{% endif %} {% if site.neighbor %}neighbor--neighbor{% endif %} {% if site.resources %}neighbor--resources{% endif %} {% if site.inspiration %}neighbor--inspiration{% endif %} {% if site.winner %}neighbor--winner{% endif %}"
    >
      <img src="{{ site.image | prepareImageUrl }}" alt="{{ site.title }}" width="88" height="31" />
    </a>
    {% endif %} {% endfor %}
  </div>
  <br />

  <p>If we're mutuals but you're not here please shoot me a message!</p>
</section>

<!--
<section>
  <h2>Other Cool Sites</h2>

  <br />
  <div class="cool-sites cool-sites--more-spacing freezeframeX">
    
  </div>
  <br />

  <p>
    Want to get listed here? I check out every single person's website that <a href="https://neocities.org/site/petrapixel" target="_blank">follows me</a> or writes into my
    <a href="/about/guestbook.html">guestbook</a> (though it might take me a while)!
  </p>
  <p>If you're linking to me but I'm not linking to you just shoot me a message !! :)</p>
</section>
-->

<section>
  <h2>Link back to me!</h2>
  <p>Hotlinking is a-okay! <img aria-hidden="true" src="../assets/img/inline/happy.gif" /></p>
  <div class="link-back">
    <a href="https://petrapixel.neocities.org/" target="_blank"
      ><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"
    /></a>
    <textarea name="" id="" cols="30" rows="10" aria-label="link-back code" class="code-textarea">
<a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"></a></textarea
    >
  </div>
</section>

<!-- Isotope: -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script>
  const options = {
    itemSelector: ".neighbor",
    percentPosition: true,
    layoutMode: "fitRows",
    masonry: {
      // use element for option
      columnWidth: ".neighbor",
    },
  };

  let $isotope = $(".isotope-items").isotope(options);
  $isotope.imagesLoaded().progress(function () {
    $isotope.isotope(options);
  });
  let isotopeFilters = {};

  $(".rec-filters button").click(function () {
    let $buttonGroup = $(this).parents(".rec-filters__buttons");
    let filterGroup = $buttonGroup.attr("data-filter-group");
    isotopeFilters[filterGroup] = $(this).attr("data-filter");
    let filterValue = concatValues(isotopeFilters);
    $isotope.isotope({ filter: filterValue });

    // active state
    $buttonGroup.find(".is-checked").removeClass("is-checked");
    $(this).addClass("is-checked");
  });

  function concatValues(obj) {
    let value = "";
    for (let prop in obj) {
      value += obj[prop];
    }
    return value;
  }
</script>
