---
layout: petrapixel.njk
title: "my ships"
nesting: "../"
---

<section>
  <h1>
    My Ships
    <img alt="" aria-hidden="true" src="../assets/img/inline/stars.gif" />
  </h1>
  <p>
    I'll be a fangirl forever. (At what age do I have to call myself a
    fanwoman?)
  </p>
  <p>
    Size of panel represents my level of obsession. First ship is the one I
    currently have brainworms about!
  </p>

  <hr />

  <!-- SIZES: xl (1/2) / l / m (1/4) / s (1/8) -->
  <div class="ships">
    {% for ship in ships %} {% if ship.names != "TODO" %}
    <div class="ship ship--{{ship.size}}">
      <figcaption>
        <b>{{ ship.names }}</b> <small>{{ ship.from }}</small>
      </figcaption>
      <img src="{{ ship.img1 }}" alt="{{ ship.names }} ({{ ship.from }})" />
      <img src="{{ ship.img2 }}" alt="{{ ship.names }} ({{ ship.from }})" />
    </div>
    {% endif %} {% endfor %}
  </div>
</section>
