<div id="list_container" class="list_container" style="margin-top: 361px">
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-7476617888"
    >
      <div id="listbox-content-slot-7476617888">
        <div id="listbox-read-mode-content-7476617888">
          <div
            id="list-title-box-7476617888"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/things_i_love_about_humanity"
                >
                  about me
                  <span class="box-subtitle">
                    (things i love about humanity)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>april fools <span class="gend-link"></span></li>
                <li>
                  fireworks <em>(let's blow stuff up because it sparkles!)</em>
                  <span class="gend-link"></span>
                </li>
                <li>the harlem shake <span class="gend-link"></span></li>
                <li>wooden baby storks <span class="gend-link"></span></li>
                <li>
                  comment sections where every single comment is the exact same
                  sentence <span class="gend-link"></span>
                </li>
                <li>the wilhelm scream <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              feb 22 2021 ∞<br />
              nov 12 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_7476617888" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_7476617888"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=7476617888"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-7476617888"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-7476617888"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-0329817111"
    >
      <div id="listbox-content-slot-0329817111">
        <div id="listbox-read-mode-content-0329817111">
          <div
            id="list-title-box-0329817111"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/in_words">
                  about me <span class="box-subtitle"> (in words) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                artist. writer. coder. digital native. white. female. queer.
                poly. atheist. dinosaur lover. daydreamer. fandom member. gen z.
                movie watcher. list maker. binge-watcher. gore enjoyer. morning
                person. aesthetic seeker. fashion enthusiast. defender of young
                girls' interests.
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 24 2022 ∞<br />
              apr 15 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_0329817111" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_0329817111"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=0329817111"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-0329817111"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-0329817111"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-1419717905"
    >
      <div id="listbox-content-slot-1419717905">
        <div id="listbox-read-mode-content-1419717905">
          <div
            id="list-title-box-1419717905"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/dinosaur_collection"
                >
                  about me
                  <span class="box-subtitle"> (dinosaur collection) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p><strong>dinosaurs:</strong></p>

              <ul>
                <li>
                  "bilociraptor" pride t-shirt <span class="gend-link"></span>
                </li>
                <li>small spinosaurus patch <span class="gend-link"></span></li>
                <li>socks <span class="gend-link"></span></li>
                <li>
                  tattoo (death pose on my left shoulder)
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>‍ ‍ ‍ ‍‍ ‍ ‍ ‍ ‍ ‍ <strong>figurines and plushies:</strong></p>

              <ul>
                <li>
                  large plastic t-rex skeleton model ("jeff")
                  <span class="gend-link"></span>
                </li>
                <li>
                  medium-sized wooden t-rex skeleton model
                  <span class="gend-link"></span>
                </li>
                <li>
                  schleich velociraptor(?) toy <span class="gend-link"></span>
                </li>
                <li>
                  small crocheted stegosaurus (by tanja)
                  <span class="gend-link"></span>
                </li>
                <li>
                  small crocheted triceratops (by tanja)
                  <span class="gend-link"></span>
                </li>
                <li>
                  small velociraptor plushie bought in museum
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>‍ ‍ ‍ ‍</p>
              <p><strong>jurassic park:</strong></p>

              <ul>
                <li>behind-the-scenes book <span class="gend-link"></span></li>
                <li>mousepad <span class="gend-link"></span></li>
                <li>sign ("isla nublar") <span class="gend-link"></span></li>
                <li>socks <span class="gend-link"></span></li>
                <li>t-shirt <span class="gend-link"></span></li>
                <li>zip-up hoodie <span class="gend-link"></span></li>
              </ul>
              <p>‍ ‍ ‍ ‍</p>
              <p>
                <strong>wishlist!</strong> ➜ ugly christmas
                <a
                  href="https://www.elbenwald.de/jurassic-park/jurassic-park-logo-strickpullover"
                  target="_blank"
                  rel="nofollow"
                  >sweater</a
                >, dr. ian malcolm
                <a
                  href="https://www.elbenwald.de/jurassic-park/jurassic-world-dr.-ian-malcolm-funko-pop-figur"
                  target="_blank"
                  rel="nofollow"
                  >funkopop</a
                >, college
                <a
                  href="https://www.elbenwald.de/jurassic-park/jurassic-park-park-staff-college-jacke-schwarz-rot"
                  target="_blank"
                  rel="nofollow"
                  >jacket</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              nov 28 2022 ∞<br />
              jun 19 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_1419717905" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_1419717905"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=1419717905"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-1419717905"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-1419717905"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-4126617995"
    >
      <div id="listbox-content-slot-4126617995">
        <div id="listbox-read-mode-content-4126617995">
          <div
            id="list-title-box-4126617995"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/subscriptions_i_would_like_to_have"
                >
                  about me
                  <span class="box-subtitle">
                    (subscriptions i would like to have)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <span class="listbox-stricken">amazon prime</span>
                  <span class="gend-link"></span>
                </li>
                <li>app: stay focused <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">audible</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">letterboxd</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">netflix</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">spotify</span>
                  <span class="gend-link"></span>
                </li>
                <li>twitch <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">vpn</span>
                  <span class="gend-link"></span>
                </li>
                <li>wikipedia donation <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">youtube premium</span>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              mar 23 2023 ∞<br />
              nov 25 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_4126617995" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_4126617995"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=4126617995"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-4126617995"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-4126617995"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-9513217982"
    >
      <div id="listbox-content-slot-9513217982">
        <div id="listbox-read-mode-content-9513217982">
          <div
            id="list-title-box-9513217982"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/me_as_fictional_characters"
                >
                  about me
                  <span class="box-subtitle">
                    (me as fictional characters)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>aka "kins"</p>

              <ul>
                <li>
                  abed nadir | <em>community</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  amy santiago | <em>brooklyn-99</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  chidi anagonye | <em>the good place</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  clara oswald | <em>doctor who</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  colin robinson | <em>what we do in the shadows</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  fleabag | <em>fleabag</em> <span class="gend-link"></span>
                </li>
                <li>
                  gregory eddie | <em>abbott elementary</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  hermione granger | <em>harry potter</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  mary crawley | <em>downton abbey</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  roman roy | <em>succession</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  sheldon cooper | <em>the big bang theory</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  spock | <em>star trek</em> <span class="gend-link"></span>
                </li>
                <li>
                  will byers | <em>stranger things</em>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jan 6 2023 ∞<br />
              jan 30 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_9513217982" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_9513217982"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=9513217982"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-9513217982"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-9513217982"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3840917997"
    >
      <div id="listbox-content-slot-3840917997">
        <div id="listbox-read-mode-content-3840917997">
          <div
            id="list-title-box-3840917997"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/subjects_i_am_interested_in"
                >
                  about me
                  <span class="box-subtitle">
                    (subjects i am interested in)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>etymology <span class="gend-link"></span></li>
                <li>geography <span class="gend-link"></span></li>
                <li>linguistics <span class="gend-link"></span></li>
                <li>paleontology <span class="gend-link"></span></li>
                <li>prehistory <span class="gend-link"></span></li>
                <li>statistics <span class="gend-link"></span></li>
              </ul>
              <p>topics:</p>

              <ul>
                <li>
                  18th century sailing ships <span class="gend-link"></span>
                </li>
                <li>cannibalism <span class="gend-link"></span></li>
                <li>
                  dinosaurs (/ ornithodira) <span class="gend-link"></span>
                </li>
                <li>
                  film (history, techniques, screenwriting)
                  <span class="gend-link"></span>
                </li>
                <li>
                  history of the united states <span class="gend-link"></span>
                </li>
                <li>
                  polyamory, relationship anarchy
                  <span class="gend-link"></span>
                </li>
                <li>prehistoric sociology <span class="gend-link"></span></li>
                <li>rhetoric <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              mar 30 2023 ∞<br />
              nov 9 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3840917997" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3840917997"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3840917997"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3840917997"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3840917997"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-7190517646"
    >
      <div id="listbox-content-slot-7190517646">
        <div id="listbox-read-mode-content-7190517646">
          <div
            id="list-title-box-7190517646"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/morning_or_evening"
                >
                  about me
                  <span class="box-subtitle"> (morning or evening) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>i had this idea for a list idk.</p>

              <ul>
                <li>
                  <strong>choosing outfit</strong> » depends
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>gaming</strong> » morning
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>larger meal</strong> » evening
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>reading</strong> » morning
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>showering</strong> » evening
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>studying</strong> » morning (mostly)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>writing</strong> » both
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              oct 5 2023 ∞<br />
              oct 12 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_7190517646" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_7190517646"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=7190517646"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-7190517646"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-7190517646"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3776617671"
    >
      <div id="listbox-content-slot-3776617671">
        <div id="listbox-read-mode-content-3776617671">
          <div
            id="list-title-box-3776617671"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/languages">
                  about me <span class="box-subtitle"> (languages) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <strong>German</strong> (native, Austrian variety)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>English</strong> (fluent, majoring in)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>ÖGS</strong> Austrian sign language (currently
                  learning, level A1) <span class="gend-link"></span>
                </li>
                <li>Spanish (level A2) <span class="gend-link"></span></li>
                <li>Latin (basics) <span class="gend-link"></span></li>
              </ul>
              <p>‎‍ ‎‍ ‎‍ ‎‍ ‎‍ ‎‍ ‎‍ ‎‍</p>
              <p>
                and in the past, <strong>a few words and phrases</strong> of...
              </p>

              <ul>
                <li>Italian (in school) <span class="gend-link"></span></li>
                <li>Swedish (on Duolingo) <span class="gend-link"></span></li>
              </ul>
              <p>‎‍ ‎‍ ‎‍ ‎‍ ‎‍ ‎‍ ‎‍ ‎‍</p>
              <p>interested in learning:</p>

              <ul>
                <li>Portuguese <span class="gend-link"></span></li>
                <li>French <span class="gend-link"></span></li>
                <li>Japanese <span class="gend-link"></span></li>
                <li>Korean <span class="gend-link"></span></li>
                <li>Yiddish <span class="gend-link"></span></li>
                <li>Māori <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              nov 8 2023 ∞<br />
              jan 30 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3776617671" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3776617671"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3776617671"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3776617671"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3776617671"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2120417647"
    >
      <div id="listbox-content-slot-2120417647">
        <div id="listbox-read-mode-content-2120417647">
          <div
            id="list-title-box-2120417647"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/tvtropes">
                  about me <span class="box-subtitle"> (tvtropes) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=2120417647&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <ul>
                <li>
                  beware the quiet ones ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/BewareTheQuietOnes"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  eating lunch alone ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/EatingLunchAlone"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  everyone is bi ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/EveryoneIsBi"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  free-love future ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/FreeLoveFuture"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  gaydar ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/Gaydar"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  loners are freaks ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/LonersAreFreaks"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  no social skills ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/NoSocialSkills"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  prone to tears ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/ProneToTears"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  retail therapy ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/RetailTherapy"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  the quiet one ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/TheQuietOne"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  transformation sequence ‍ ‍ ‍<a
                    href="https://tvtropes.org/pmwiki/pmwiki.php/Main/TransformationSequence"
                    target="_blank"
                    rel="nofollow"
                    >﹫</a
                  >
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              sep 7 2023 ∞<br />
              jun 10 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2120417647" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2120417647"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2120417647"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2120417647"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2120417647"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2253917604"
    >
      <div id="listbox-content-slot-2253917604">
        <div id="listbox-read-mode-content-2253917604">
          <div
            id="list-title-box-2253917604"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/if_i_had_to_become_a_record_holder"
                >
                  about me
                  <span class="box-subtitle">
                    (if i had to become a record holder)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                if i had to become a record holder at something, but could
                choose, i would choose:
              </p>

              <ul>
                <li>geoguessr <span class="gend-link"></span></li>
                <li>tetris <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              dec 3 2023 ∞<br />
              dec 8 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2253917604" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2253917604"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2253917604"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2253917604"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2253917604"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
</div>
