<div id="list_container" class="list_container" style="margin-top: 385.8px">
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-8728615685"
    >
      <div id="listbox-content-slot-8728615685">
        <div id="listbox-read-mode-content-8728615685">
          <div
            id="list-title-box-8728615685"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/my_zodiac">
                  about me <span class="box-subtitle"> (my zodiac) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <ul>
                  <li>
                    classic western zodiac; → cancer ♋
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    new western zodiac; → gemini ♊
                    <span class="gend-link"></span>
                  </li>
                </ul>
                <li>
                  <strong>chinese</strong>
                  <ul>
                    <li>
                      zodiac; →
                      <a
                        href="https://www.myspiritualprofile.com/astrological-sign/4/chinese-animal/rabbit.htm"
                        target="_blank"
                        rel="nofollow"
                        >rabbit</a
                      >
                      卯 ▸ the elegant <span class="gend-link"></span>
                    </li>
                    <li>
                      element; →
                      <a
                        href="https://www.myspiritualprofile.com/astrological-sign/3/chinese-element/earth.htm"
                        target="_blank"
                        rel="nofollow"
                        >earth</a
                      >
                      土 <span class="gend-link"></span>
                    </li>
                    <li>
                      force; →
                      <a
                        href="https://www.myspiritualprofile.com/astrological-sign/1/chinese-yin-yang/yin.htm"
                        target="_blank"
                        rel="nofollow"
                        >yin</a
                      >
                      ☯⏺ <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>native american</strong>
                  <ul>
                    <li>
                      birth totem; →
                      <a
                        href="https://whatismyspiritanimal.com/native-american-zodiac-astrology/"
                        target="_blank"
                        rel="nofollow"
                        >woodpecker</a
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>direction; → south <span class="gend-link"></span></li>
                    <li>element; → water <span class="gend-link"></span></li>
                    <li>
                      stone; → rose quartz <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>celctic druid</strong>
                  <ul>
                    <li>
                      animal sign; →
                      <a
                        href="http://www.whats-your-sign.com/celtic-zodiac-sign-horse.html"
                        target="_blank"
                        rel="nofollow"
                        >horse</a
                      >,
                      <a
                        href="http://www.astrologyoftheancients.com/celtic-unicorn/"
                        target="_blank"
                        rel="nofollow"
                        >unicorn</a
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      tree; →
                      <a
                        href="http://www.astrologyoftheancients.com/celtic-holly-zodiac-sign/"
                        target="_blank"
                        rel="nofollow"
                        >holly</a
                      >
                      ▸ the ruler <span class="gend-link"></span>
                    </li>
                    <li>
                      name number; →
                      <a
                        href="https://www.myspiritualprofile.com/astrological-sign/2/name-number/two.htm"
                        target="_blank"
                        rel="nofollow"
                        >2</a
                      >
                      ▸ determined, mysterious <span class="gend-link"></span>
                    </li>
                    <li>
                      divine color; →
                      <a
                        href="https://www.myspiritualprofile.com/astrological-sign/2/divine-color/yellow.htm"
                        target="_blank"
                        rel="nofollow"
                        >yellow</a
                      >
                      ▸ innocent <span class="gend-link"></span>
                    </li>
                    <li>
                      gemstone; →
                      <a
                        href="https://a-panache.com/irish-claddagh-ring/irish-astrology-symbols/"
                        target="_blank"
                        rel="nofollow"
                        >carnelian</a
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>egyptian</strong>
                  <ul>
                    <li>
                      using decans; →
                      <a
                        href="http://www.astrologyoftheancients.com/egyptian-zodiac-sign-bastet/"
                        target="_blank"
                        rel="nofollow"
                        >bastet</a
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      based on green influence; →
                      <a
                        href="http://www.astrologyoftheancients.com/egyptian-zodiac-sign-phoenix/"
                        target="_blank"
                        rel="nofollow"
                        >phoenix</a
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>more</strong>
                  <ul>
                    <li>
                      primal zodiac sign; →
                      <a
                        href="http://www.primalastrology.com/turtle.html"
                        target="_blank"
                        rel="nofollow"
                        >turtle</a
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      birthstone; →
                      <a
                        href="https://www.myspiritualprofile.com/astrological-sign/7/birthstone/ruby.htm"
                        target="_blank"
                        rel="nofollow"
                        >ruby</a
                      >
                      ▸ generousity <span class="gend-link"></span>
                    </li>
                    <li>
                      day of birth; →
                      <a
                        href="https://www.myspiritualprofile.com/astrological-sign/6/birth-day-of-week/saturday.htm"
                        target="_blank"
                        rel="nofollow"
                        >saturday</a
                      >
                      ▸ saturn ♄ ▸ hard worker <span class="gend-link"></span>
                    </li>
                    <li>
                      tarot birth card:
                      <a
                        href="https://www.tarotschool.com/Tower_Chariot.html"
                        target="_blank"
                        rel="nofollow"
                        >the tower / the chariot</a
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>⋯</p>
              <p><strong>classic western</strong></p>

              <ul>
                <li>
                  ☉ <strong>sun/inner;</strong> → cancer ♋ (24° ▹ quindecile)
                  <ul>
                    <li>
                      <em>ruled by ☽ (moon) ▹ water (heart)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em
                        >cardinal (starting); feminine (passive); 4th house</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ☽ <strong>moon/emotional;</strong> → virgo ♍ (17°)
                  <ul>
                    <li>
                      <em>ruled by ☿ (mercury) ▹ earth (head)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>mutable (changing); feminine (passive); 6th house</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ↑ <strong>ascendant/external;</strong> → leo ♌ (16°)
                  <ul>
                    <li>
                      <em>ruled by ☉ (sun) ▹ fire (energy/action)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>fixed (stabiliy); masculine (active); 5th house</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ⦿ <strong>midheaven/mc;</strong> → taurus ♉ (02°)
                  <a
                    href="http://www.alwaysastrology.com/taurus-midheaven.html"
                    target="_blank"
                    rel="nofollow"
                    >？</a
                  >
                  <ul>
                    <li>
                      <em>ruled by ♀ (venus) ▹ earth (head)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>fixed (stabiliy); feminine (passive); 2nd house</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>others</strong>
                  <ul>
                    <li>
                      ☿ mercury → <em>leo ♌ (08°)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ♀ venus → <em>virgo ♍ (02°)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ♂ mars → <em>scorpio ♏ (04°)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ♄ saturn → <em>taurus ♉ (15°)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ♅ uranus → <em>aqaurius ♒ (15°)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ♆ neptune → <em>aquarius ♒ (03°)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ♇ pluto → <em>sagittarius ♐ (08°)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      N north node → <em>leo ♌ (13°)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ☽ moon's nakshatra → <em>uttaraphalguni</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ♃ jupiter → <em>house 10 → luck in career</em>
                      <a
                        href="http://www.elbertwade.com/page111.html"
                        target="_blank"
                        rel="nofollow"
                        >？</a
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ☊ lunar north node → <em>leo ♌</em>
                      <a
                        href="http://www.elbertwade.com/page155.html"
                        target="_blank"
                        rel="nofollow"
                        >？</a
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ☋ lunar south node → <em>aqaurius ♒</em>
                      <a
                        href="http://www.elbertwade.com/page155.html"
                        target="_blank"
                        rel="nofollow"
                        >？</a
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>houses</strong>
                  <ul>
                    <li>
                      <strong>01</strong> →
                      <em>outer self, personality, appearance, manner</em>
                      <ul>
                        <li>→ leo ♌ <span class="gend-link"></span></li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>02</strong> →
                      <em>wealth, tastes, self-satisfaction, sex</em>
                      <ul>
                        <li>
                          → virgo ♍
                          <a
                            href="http://www.elbertwade.com/page76.html"
                            target="_blank"
                            rel="nofollow"
                            >？</a
                          >
                          <span class="gend-link"></span>
                        </li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>03</strong> →
                      <em>lower mind, iq, communication, tech skills</em>
                      <ul>
                        <li>→ libra ♎ <span class="gend-link"></span></li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>04</strong> →
                      <em>family, upbringing, parents, roots</em>
                      <ul>
                        <li>→ scorpio ♏ <span class="gend-link"></span></li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>05</strong> →
                      <em>creativity, children, past, confidence</em>
                      <ul>
                        <li>
                          → sagittarius ♐ <span class="gend-link"></span>
                        </li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>06</strong> →
                      <em>health, work choices / conditions, discipline</em>
                      <ul>
                        <li>→ capricorn ♑ <span class="gend-link"></span></li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>07</strong> →
                      <em>close associates, contracts, affiliations</em>
                      <ul>
                        <li>
                          → aqaurius ♒
                          <a
                            href="http://www.elbertwade.com/page30.html"
                            target="_blank"
                            rel="nofollow"
                            >？</a
                          >
                          <span class="gend-link"></span>
                        </li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>08</strong> →
                      <em>(intense) desire, sexuality, endings/changes</em>
                      <ul>
                        <li>
                          → pisces ♓
                          <a
                            href="http://www.elbertwade.com/page86.html"
                            target="_blank"
                            rel="nofollow"
                            >？</a
                          >
                          <span class="gend-link"></span>
                        </li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>09</strong> →
                      <em>higher mind, intuition, beliefs, experiences</em>
                      <ul>
                        <li>→ aries ♈ <span class="gend-link"></span></li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>10</strong> →
                      <em>career, public respect, fame, professionalism</em>
                      <ul>
                        <li>→ taurus ♉ <span class="gend-link"></span></li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>11</strong> →
                      <em>social life, income, friends, problems</em>
                      <ul>
                        <li>→ gemini ♊ <span class="gend-link"></span></li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>12</strong> →
                      <em>hidden limitations, unused talentts, 'dustbin'</em>
                      <ul>
                        <li>→ cancer ♋ <span class="gend-link"></span></li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  40% extroverted
                  <a
                    href="http://www.elbertwade.com/page115.html"
                    target="_blank"
                    rel="nofollow"
                    >？</a
                  >
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>⋯</p>
              <p>
                <a
                  href="https://www.myspiritualprofile.com/reports/astrology-summary-reading.htm"
                  target="_blank"
                  rel="nofollow"
                  >✱</a
                >
                <a
                  href="http://www.elbertwade.com/atlas.html"
                  target="_blank"
                  rel="nofollow"
                  >✱</a
                >
                <a
                  href="http://www.astrologycom.com/chartcalc.html"
                  target="_blank"
                  rel="nofollow"
                  >✱</a
                >
                <a
                  href="http://www.elbertwade.com/page147.html"
                  target="_blank"
                  rel="nofollow"
                  >？</a
                >
                <a
                  href="http://www.elbertwade.com/page153.html"
                  target="_blank"
                  rel="nofollow"
                  >？</a
                >
                <a
                  href="https://en.wikipedia.org/wiki/Astronomical_symbols"
                  target="_blank"
                  rel="nofollow"
                  >✎</a
                >
                <a
                  href="http://alabe.com/cgi-bin/chart/pics/2457628271568.gif"
                  target="_blank"
                  rel="nofollow"
                  >◎</a
                >
                <a
                  href="http://www.astrologyoftheancients.com/planet-meanings/"
                  target="_blank"
                  rel="nofollow"
                  >⏺</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 27 2016 ∞<br />
              aug 30 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8728615685" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8728615685"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8728615685"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8728615685"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8728615685"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-6408515699"
    >
      <div id="listbox-content-slot-6408515699">
        <div id="listbox-read-mode-content-6408515699">
          <div
            id="list-title-box-6408515699"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/this_or_that"
                >
                  about me <span class="box-subtitle"> (this or that) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <strong>action</strong> or adventure
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>apple</strong> or grape juice
                  <span class="gend-link"></span>
                </li>
                <li>
                  bach or <strong>mozart</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>baked</strong> or mashed potatoes
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>black kohl</strong> or white eyeliner
                  <span class="gend-link"></span>
                </li>
                <li>
                  black or <strong>white</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>blood</strong> or guts <span class="gend-link"></span>
                </li>
                <li>
                  <strong>bowling</strong> or rollerskating
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>cacti</strong> or bonsai
                  <span class="gend-link"></span>
                </li>
                <li>
                  camping out or <strong>slumber party</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>candelabras</strong> or chandeliers
                  <span class="gend-link"></span>
                </li>
                <li>
                  carousels or <strong>ferris wheels</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>chaise longue</strong> or tête-à-tête sofa
                  <span class="gend-link"></span>
                </li>
                <li>
                  chocolate or <strong>vanilla</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  classical play or <strong>modern musical</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  coffee, tea or <strong>hot chocolate</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>comedy</strong> or horror
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>cookies</strong> or candy
                  <span class="gend-link"></span>
                </li>
                <li>
                  crunchy or <strong>creamy</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>crystals</strong> or candles
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>daisy</strong> or buttercup
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>damsel-in-distress</strong> or ghostly maiden
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>dancing</strong> or singing
                  <span class="gend-link"></span>
                </li>
                <li>
                  dark magic or <strong>white magic</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  day or <strong>night</strong> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>deep-sea</strong> or space
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>dogs</strong> or cats <span class="gend-link"></span>
                </li>
                <li>
                  dragonflies or <strong>butterflies</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>dragons</strong> or unicorns
                  <span class="gend-link"></span>
                </li>
                <li>
                  dress or <strong>skirt</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>early bird</strong> or night owl
                  <span class="gend-link"></span>
                </li>
                <li>
                  ellipses… or <strong>&amp;mpersand</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>faux pearls</strong> or bakelite bangles
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>feathers</strong> or seashells
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>fiction novel</strong> or historical novel
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>final girls</strong> or virgin sacrifices
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>flowercrowns</strong> or bouquet of flowers
                  <span class="gend-link"></span>
                </li>
                <li>
                  flute or <strong>lyre</strong> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>forest</strong> or ocean
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>fortune cookie</strong> or popsicle riddle
                  <span class="gend-link"></span>
                </li>
                <li>
                  french toast or <strong>pancakes</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  friends or <strong>family</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>fruit</strong> or vegetables
                  <span class="gend-link"></span>
                </li>
                <li>
                  glass quartz or <strong>obsidian</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>gold jewellery</strong> or silver jewellery
                  <span class="gend-link"></span>
                </li>
                <li>
                  haunted houses or <strong>foggy forests</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>heart-shaped</strong> or cat-eyed glasses
                  <span class="gend-link"></span>
                </li>
                <li>
                  history or <strong>geography</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>holding hands</strong> or kisses on the forehead
                  <span class="gend-link"></span>
                </li>
                <li>
                  hot or <strong>cute</strong> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>hugs</strong> or kisses
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>inside</strong> or outside
                  <span class="gend-link"></span>
                </li>
                <li>
                  lace collars or <strong>mary janes</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>latin</strong> or ancient greek
                  <span class="gend-link"></span>
                </li>
                <li>
                  leather or <strong>lace</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  lemonade or <strong>iced tea</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>library</strong> or bookstore
                  <span class="gend-link"></span>
                </li>
                <li>
                  lights <strong>on</strong> or off
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>lilies</strong> or orchids
                  <span class="gend-link"></span>
                </li>
                <li>
                  lingerie or <strong>pajamas</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>lip balm</strong> or lip gloss
                  <span class="gend-link"></span>
                </li>
                <li>
                  lip gloss or <strong>lipstick</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>marvel</strong> or dc <span class="gend-link"></span>
                </li>
                <li>
                  <strong>mermaid tails</strong> or angel wings
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>mermaid</strong> or nymph
                  <span class="gend-link"></span>
                </li>
                <li>
                  mermaid or <strong>pirate</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  middle age castle or <strong>17th century palace</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  miffy or <strong>hello kitty</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  monet or <strong>van gogh</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  moon or <strong>stars</strong> <span class="gend-link"></span>
                </li>
                <li>
                  morning shower or <strong>evening shower</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  moss or <strong>ivy</strong> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>mythology</strong> or astrology
                  <span class="gend-link"></span>
                </li>
                <li>
                  neon lights or <strong>fairy lights</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ocean or <strong>pool</strong> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>origami hearts</strong> or paper roses
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>paperback</strong> or hardcover
                  <span class="gend-link"></span>
                </li>
                <li>
                  park or <strong>forest</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>pastel colors</strong> or warm colors
                  <span class="gend-link"></span>
                </li>
                <li>
                  pencil or <strong>pen</strong> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>piano</strong> or violin
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>picnics</strong> or tea parties
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>pink</strong> or blue <span class="gend-link"></span>
                </li>
                <li>
                  poetry or a <strong>novel</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  pretzels or <strong>potato chips</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  raindrops on roses or <strong>whiskers on kittens</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  regency or <strong>victwardian era</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>rhinestones</strong> or sequins
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>rock</strong> or classical music
                  <span class="gend-link"></span>
                </li>
                <li>
                  romantic comedy film or <strong>action film</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>rose</strong> or sunflower
                  <span class="gend-link"></span>
                </li>
                <li>
                  saints or <strong>witches</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>salt</strong> or pepper
                  <span class="gend-link"></span>
                </li>
                <li>
                  sausage or <strong>bacon</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  secret garden or <strong>secret library</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>silk</strong> or velvet
                  <span class="gend-link"></span>
                </li>
                <li>
                  small plants or <strong>big plants</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  snickers or <strong>milky way</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  snow or <strong>rain</strong> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>stargazing</strong> or picnic in a park
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>strawberry</strong> or grape jelly
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>suburbia</strong> or downtown
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>summer</strong> or winter
                  <span class="gend-link"></span>
                </li>
                <li>
                  sunrise or <strong>sunset</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  swans or <strong>peacocks</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>sweet</strong> or sour <span class="gend-link"></span>
                </li>
                <li>
                  taking pictures of flowers or
                  <strong>taking pictures of animals</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  the smell after rain or
                  <strong>the smell of old books</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>thunder</strong> or rain
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>tv series</strong> or movies
                  <span class="gend-link"></span>
                </li>
                <li>
                  villains or <strong>anti-heroes</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>waffle</strong> or crêpe
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>waking up early</strong> or waking up late
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>waltz</strong> or tango
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>water</strong> or milk <span class="gend-link"></span>
                </li>
                <li>
                  werewolf or <strong>vampire</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>white</strong> or dark chocolate
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>witch</strong> or mermaid
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>‍ ‍ ‍ ‍‍ ‍</p>
              <p>
                partly stolen from
                <a
                  href="https://listography.com/action/list?uid=0510524260&amp;lid=7196317616"
                  target="_blank"
                  rel="nofollow"
                  >berlingot</a
                >.
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              sep 25 2016 ∞<br />
              jun 23 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_6408515699" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_6408515699"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=6408515699"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-6408515699"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-6408515699"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2775214393"
    >
      <div id="listbox-content-slot-2775214393">
        <div id="listbox-read-mode-content-2775214393">
          <div
            id="list-title-box-2775214393"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/pet_peeves">
                  about me <span class="box-subtitle"> (pet peeves) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  almost empty handkerchief boxes
                  <span class="gend-link"></span>
                </li>
                <li>
                  blankets that are not equally thick everywhere
                  <span class="gend-link"></span>
                </li>
                <li>dry, warm hands <span class="gend-link"></span></li>
                <li>fluffy towels <span class="gend-link"></span></li>
                <li>
                  getting my feet touched, especially by other feet
                  <span class="gend-link"></span>
                </li>
                <li>
                  getting my palms touched by fingers or fingernails
                  <span class="gend-link"></span>
                </li>
                <li>having the hiccups <span class="gend-link"></span></li>
                <li>
                  multiple people doing an action, for example drinking from a
                  glass, at the same exact time, unplanned
                  <span class="gend-link"></span>
                </li>
                <li>
                  my eyes watering when i'm yawning or cleaning my nose
                  <span class="gend-link"></span>
                </li>
                <li>
                  newspapers, tv news, radio news... any news
                  <span class="gend-link"></span>
                </li>
                <li>oily skin <span class="gend-link"></span></li>
                <li>only having 1 monitor <span class="gend-link"></span></li>
                <li>slow internet <span class="gend-link"></span></li>
                <li>
                  sneezes, especially repeated ones
                  <span class="gend-link"></span>
                </li>
                <li>sponges full of soap <span class="gend-link"></span></li>
                <li>tailgaters <span class="gend-link"></span></li>
                <li>too soft beds <span class="gend-link"></span></li>
                <li>
                  too soft, big, or fluffy pillows
                  <span class="gend-link"></span>
                </li>
                <li>wasting time !! <span class="gend-link"></span></li>
                <li>
                  websites/apps that just do not work
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              dec 4 2016 ∞<br />
              aug 13 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2775214393" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2775214393"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2775214393"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2775214393"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2775214393"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-9685915699"
    >
      <div id="listbox-content-slot-9685915699">
        <div id="listbox-read-mode-content-9685915699">
          <div
            id="list-title-box-9685915699"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/quiz_results"
                >
                  about me <span class="box-subtitle"> (quiz results) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                <strong>zodiac</strong> →
                <a
                  href="https://listography.com/action/list?uid=0440224482&amp;lid=8728615685"
                  target="_blank"
                  rel="nofollow"
                  >cancer</a
                >
              </p>

              <ul>
                <li>
                  <strong>iq:</strong> 130 (97.7th percentile)
                  <a
                    href="https://realiq.online/"
                    target="_blank"
                    rel="nofollow"
                    >x</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>attraction layer cake:</strong>
                  <a
                    href="https://cake.avris.it/rD3"
                    target="_blank"
                    rel="nofollow"
                    >red D 3</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>alignment:</strong>
                  <a
                    href="http://www.easydamus.com/chaoticneutral.html"
                    target="_blank"
                    rel="nofollow"
                    >chaotic neutral</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>archetype:</strong> 53%
                  <a
                    href="http://www.archetypes.com/quiz-results/"
                    target="_blank"
                    rel="nofollow"
                    >creative</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>attachment style:</strong>
                  <a
                    href="https://quiz.attachmentproject.com/"
                    target="_blank"
                    rel="nofollow"
                    >Fearful-Avoidant / Disorganized</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>enneagram:</strong>
                  <a
                    href="https://www.eclecticenergies.com/enneagram/type4"
                    target="_blank"
                    rel="nofollow"
                    >4</a
                  >w<a
                    href="https://www.eclecticenergies.com/enneagram/type3"
                    target="_blank"
                    rel="nofollow"
                    >3</a
                  >
                  (individualist, achiever) / (1) (orderliness)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>four temparaments:</strong>
                  <a
                    href="http://personality-testing.info/tests/O4TS/"
                    target="_blank"
                    rel="nofollow"
                    >melancholic</a
                  >
                  <a
                    href="http://temperaments.fighunter.com/?page=melancholic"
                    target="_blank"
                    rel="nofollow"
                    >(→)</a
                  >
                  <ul>
                    <li>
                      15/24: choleric
                      <em>(proud, extroverted 'alphas' of our species)</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>17/24: melancholic</strong>
                      <em
                        >(emotionally sensitive, perfectionistic introverts)</em
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      5/24: sanguine
                      <em
                        >(boisterous, bubbly, chatty, openly emotional, social
                        extroverts)</em
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      6/24: phlegmatic
                      <em
                        >(meek, submissive introverts who live to please
                        others)</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>birth tarot:</strong>
                  <a
                    href="https://www.tarot.com/tarot/birth-cards-chariot-tower"
                    target="_blank"
                    rel="nofollow"
                    >the tower, the chariot</a
                  >
                  <ul>
                    <li>
                      Change, Energy, Fresh starts
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      Gifts: Drive, Self-mastery, Rebuilding
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      Challenges: Single-mindedness, Fear of commitment,
                      Catastrophizing <span class="gend-link"></span>
                    </li>
                    <li>
                      Advice: Find balance around goal-setting. Be careful about
                      romanticizing the past. Welcome change as a creative
                      force. <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>mbti:</strong>
                  <a
                    href="https://www.16personalities.com/istj-personality"
                    target="_blank"
                    rel="nofollow"
                    >ISTJ-T</a
                  >
                  (Logistician)
                  <ul>
                    <li>
                      (-T) 15% assertive. <strong>85% turbulent.</strong>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      (I) 7% extroverted. <strong>93% introverted.</strong>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      (J) <strong>88% judging.</strong> 12% prospecting.
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      (S) 36% intuitive. <strong>64% observant.</strong>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      (T) <strong>64% thinking.</strong> 36% feeling.
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>political compass:</strong>
                  <a
                    href="https://www.politicalcompass.org/yourpoliticalcompass_js?ec=-5.5&amp;soc=-5.49"
                    target="_blank"
                    rel="nofollow"
                    >libertarian left</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://similarminds.com/cgi-bin/16sm.pl"
                    target="_blank"
                    rel="nofollow"
                    >16 factors</a
                  >
                  <ul>
                    <li>warmth 30% <span class="gend-link"></span></li>
                    <li>intellect 58% <span class="gend-link"></span></li>
                    <li>
                      emotional stability 26% <span class="gend-link"></span>
                    </li>
                    <li>aggressiveness 38% <span class="gend-link"></span></li>
                    <li>liveliness 42% <span class="gend-link"></span></li>
                    <li>dutifulness 58% <span class="gend-link"></span></li>
                    <li>
                      social assertiveness 14% <span class="gend-link"></span>
                    </li>
                    <li>sensitivity 74% <span class="gend-link"></span></li>
                    <li>paranoia 62% <span class="gend-link"></span></li>
                    <li>abstractness 74% <span class="gend-link"></span></li>
                    <li>introversion 46% <span class="gend-link"></span></li>
                    <li>anxiety 70% <span class="gend-link"></span></li>
                    <li>openmindedness 42% <span class="gend-link"></span></li>
                    <li>independence 78% <span class="gend-link"></span></li>
                    <li>perfectionism 78% <span class="gend-link"></span></li>
                    <li>tension 66% <span class="gend-link"></span></li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>harry potter:</strong></p>

              <ul>
                <li>
                  <em>hogwarts house:</em> slytherin
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>ilvermorny house:</em> pukwudgie
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>patronus:</em> brown bear <span class="gend-link"></span>
                </li>
                <li>
                  <em>wand:</em> cypress wood, phoenix feather, 9 3/4", slightly
                  springy <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>to re-do:</strong></p>

              <ul>
                <li>
                  <em>global five:</em>
                  <a
                    href="http://similarminds.com/index.html"
                    target="_blank"
                    rel="nofollow"
                    >orderliness/rloen/limbic</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>intelligence:</em>
                  <a
                    href="https://personalitymax.com/multiple-intelligences/intrapersonal/"
                    target="_blank"
                    rel="nofollow"
                    >intrapersonal</a
                  >
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              sep 25 2016 ∞<br />
              feb 7 2026 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_9685915699" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_9685915699"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=9685915699"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-9685915699"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-9685915699"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-4092314047"
    >
      <div id="listbox-content-slot-4092314047">
        <div id="listbox-read-mode-content-4092314047">
          <div
            id="list-title-box-4092314047"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/fears">
                  about me <span class="box-subtitle"> (fears) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  arachnophobia; <em>fear of spiders</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ligyrophobia; <em>fear of loud noises</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  sociophobia; <em>fear of society or people in general</em>
                  <ul>
                    <li>
                      telephonophobia; <em>fear of talking on the phone</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  thalassophobia; <em>fear of the sea</em>
                  <ul>
                    <li>
                      megalohydrothalassophobia;
                      <em>fear of large things in water</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      submechanophobia;
                      <em>fear of submerged man-made objects</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  trypophobia; <em>aversion to clusters of small holes</em>
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>+</p>

              <ul>
                <li>bloody mary <span class="gend-link"></span></li>
                <li>
                  body horror, especially distorted and/or fast movement
                  <span class="gend-link"></span>
                </li>
                <li>
                  e.t. the extra-terrestrial <span class="gend-link"></span>
                </li>
                <li>
                  the bear costume scene in <em>the shining</em>
                  <span class="gend-link"></span>
                </li>
                <li>the troxler effect <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 28 2017 ∞<br />
              oct 7 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_4092314047" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_4092314047"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=4092314047"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-4092314047"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-4092314047"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-4442914832"
    >
      <div id="listbox-content-slot-4442914832">
        <div id="listbox-read-mode-content-4442914832">
          <div
            id="list-title-box-4442914832"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/possible_previous_lives"
                >
                  about me
                  <span class="box-subtitle"> (possible previous lives) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                <a
                  href="https://en.wikipedia.org/wiki/Deaths_in_1999#July_1999"
                  target="_blank"
                  rel="nofollow"
                  >≡</a
                >
                <em>died before my birthday</em>
              </p>

              <ul>
                <ul>
                  <li>
                    <em>17.</em> Kevin Wilkinson ♂ English drummer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>16.</em> John F. Kennedy, Jr. ♂ son of JFK
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>16.</em> Carolyn Bessette-Kennedy ♀ wife of JFK Jr
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>16.</em> Hiromi Yanagihara ♀ Japanese J-Pop singer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>14.</em> Gene Hart ♂ American sportscaster
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>12.</em> Zita Szeleczky ♀ Hungarian actress
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>12.</em> Bill Owen ♂ British actor and songwriter
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>12.</em> Bill Flett ♂ Canadian hockey player
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>11.</em> Helen Forrest ♀ American Singer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>09.</em> Robert de Cotret ♂ Canadian politician
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>08.</em> Pete Conrad ♂ American astronaut
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>07.</em> Captain Vikram Batra ♂ Indian Army officer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>06.</em> Joaquín Rodrigo ♂ Spanish composer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>06.</em> Gary M. Heidnik ♂ American murderer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>06.</em> Carl Gunter Jr. ♂ American politician
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>06.</em> Barry Winchell ♂ American soldier
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>04.</em> Leo Garel ♂ American artist and cartoonist
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>03.</em> Mark Sandman ♂ American musician
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>02.</em> Mario Puzo ♂ American novelist
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>01.</em> Sylvia Sidney ♀ American film actress
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>01.</em> Forrest Mars Sr. ♂ Amerian candy maker
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>01.</em> Guy Mitchell ♂ American pop singer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>01.</em> Edward Dmytryk ♂ American film director
                    <span class="gend-link"></span>
                  </li>
                </ul>
              </ul>
              <p>
                <a
                  href="https://en.wikipedia.org/wiki/Deaths_in_1998#October_1998"
                  target="_blank"
                  rel="nofollow"
                  >≡</a
                >
                <em>died 9 months before my birthday</em>
              </p>

              <ul>
                <ul>
                  <li>
                    <em>02.</em> S. Zorig ♂ Mongolian politician
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>02.</em> Gene Autry ♂ American actor and singer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>02.</em> Olivier Gendebien ♂ Belgian car racer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>03.</em> Roddy McDowall ♂ British actor
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>06.</em> Mark Belanger ♂ American baseball player
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>08.</em> Zhang Chongren ♂ Chinese artist
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>09.</em> Ian Johnson ♂ Australian cricketer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>10.</em> Tommy Quaid ♂ Irish hurler
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>10.</em> Marvin Gay Sr. ♂ Murderer of Marvin Gaye
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>10.</em> Konstantin Petrzhak ♂ Soviet physicist
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>11.</em> Richard Denning ♂ American actor
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>12.</em> Matthew Shepard ♂ American murder victim
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>13.</em> Jeremy V. Sagastegui ♂ American criminal
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>13.</em> General G. Thériault ♂ Canadian politician
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>14.</em> Frankie Yankovic ♂ American musician
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>16.</em> Jon Postel ♂ American Internet pioneer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>17.</em> Joan Hickson ♀ British actress
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>17.</em> Hakim Mohammed Said ♂ Pakistani scholar
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>22.</em> Eric Ambler ♂ British writer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>28.</em> Ghulam Ahmed ♂ Indian cricket captain
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>28.</em> James Goldman ♂ American writer
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>28.</em> Ted Hughes ♂ English poet
                    <span class="gend-link"></span>
                  </li>
                  <li>
                    <em>30.</em> Bulldog Turner ♂ American football player
                    <span class="gend-link"></span>
                  </li>
                </ul>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 14 2017 ∞<br />
              may 31 2019 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_4442914832" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_4442914832"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=4442914832"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-4442914832"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-4442914832"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-5244514858"
    >
      <div id="listbox-content-slot-5244514858">
        <div id="listbox-read-mode-content-5244514858">
          <div
            id="list-title-box-5244514858"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/dream_jobs">
                  about me <span class="box-subtitle"> (dream jobs) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>actress <span class="gend-link"></span></li>
                <li>anthropologist <span class="gend-link"></span></li>
                <li>app developer <span class="gend-link"></span></li>
                <li>dentist <span class="gend-link"></span></li>
                <li>dermotologist <span class="gend-link"></span></li>
                <li>
                  english teacher/lecturer/professor
                  <span class="gend-link"></span>
                </li>
                <li>fashion designer <span class="gend-link"></span></li>
                <li>interior designer <span class="gend-link"></span></li>
                <li>photographer <span class="gend-link"></span></li>
                <li>
                  stock photographer/model <span class="gend-link"></span>
                </li>
                <li>web app developer <span class="gend-link"></span></li>
                <li>web community admin <span class="gend-link"></span></li>
                <li>
                  <strong>web developer</strong> ✓
                  <span class="gend-link"></span>
                </li>
                <li>writer (fiction) <span class="gend-link"></span></li>
                <li>writer (non-fiction) <span class="gend-link"></span></li>
                <li>
                  writer (tv/movie scripts) <span class="gend-link"></span>
                </li>
                <li>youtuber/streamer <span class="gend-link"></span></li>
                <li>zookeeper <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 19 2017 ∞<br />
              dec 16 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_5244514858" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_5244514858"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=5244514858"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-5244514858"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-5244514858"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
</div>
