<div id="list_container" class="list_container" style="margin-top: 385.8px">
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-8366314192"
    >
      <div id="listbox-content-slot-8366314192">
        <div id="listbox-read-mode-content-8366314192">
          <div
            id="list-title-box-8366314192"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/guilty_pleasures"
                >
                  about me
                  <span class="box-subtitle"> (guilty pleasures) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>ad blockers <span class="gend-link"></span></li>
                <li>crisps <span class="gend-link"></span></li>
                <li>gore <span class="gend-link"></span></li>
                <li>idle games <span class="gend-link"></span></li>
                <li>instagram <span class="gend-link"></span></li>
                <li>long showers <span class="gend-link"></span></li>
                <li>
                  meat &amp; animal products <span class="gend-link"></span>
                </li>
                <li>netflix <span class="gend-link"></span></li>
                <li>
                  pirating movies/shows/books <span class="gend-link"></span>
                </li>
                <li>sleeping in <span class="gend-link"></span></li>
                <li>taking baths <span class="gend-link"></span></li>
                <li>vine compilations <span class="gend-link"></span></li>
                <li>white bread <span class="gend-link"></span></li>
                <li>zoos / aquariums <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              feb 8 2018 ∞<br />
              nov 6 2022 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8366314192" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8366314192"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8366314192"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8366314192"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8366314192"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-8181814657"
    >
      <div id="listbox-content-slot-8181814657">
        <div id="listbox-read-mode-content-8181814657">
          <div
            id="list-title-box-8181814657"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/potential_hobbies"
                >
                  about me
                  <span class="box-subtitle"> (potential hobbies) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <strong>audiobooks</strong> <span class="gend-link"></span>
                </li>
                <li>ballroom dancing <span class="gend-link"></span></li>
                <li>board game club <span class="gend-link"></span></li>
                <li>clothing design <span class="gend-link"></span></li>
                <li>cosplay <span class="gend-link"></span></li>
                <li>
                  <strong>creating playlists</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>digital painting</strong>
                  <span class="gend-link"></span>
                </li>
                <li>diving <span class="gend-link"></span></li>
                <li>diy <span class="gend-link"></span></li>
                <li>
                  <strong>drawing</strong> <span class="gend-link"></span>
                </li>
                <li>drums/cajon <span class="gend-link"></span></li>
                <li>fx makeup <span class="gend-link"></span></li>
                <li>gardening <span class="gend-link"></span></li>
                <li>going on walks <span class="gend-link"></span></li>
                <li>hip hop dancing <span class="gend-link"></span></li>
                <li>ice skating <span class="gend-link"></span></li>
                <li>
                  <strong>improving my english</strong>
                  <span class="gend-link"></span>
                </li>
                <li>interior design <span class="gend-link"></span></li>
                <li>jogging <span class="gend-link"></span></li>
                <li>
                  <strong>journalling</strong> <span class="gend-link"></span>
                </li>
                <li>keyboard <span class="gend-link"></span></li>
                <li>
                  <strong>learning vocabulary</strong>
                  <span class="gend-link"></span>
                </li>
                <li>lip syncing <span class="gend-link"></span></li>
                <li><strong>makeup</strong> <span class="gend-link"></span></li>
                <li>
                  making gifs / tumblr content <span class="gend-link"></span>
                </li>
                <li>
                  <strong>making lists</strong> <span class="gend-link"></span>
                </li>
                <li>making wallpapers <span class="gend-link"></span></li>
                <li>movie club/discussion <span class="gend-link"></span></li>
                <li>parkour <span class="gend-link"></span></li>
                <li>photography <span class="gend-link"></span></li>
                <li>pixel art <span class="gend-link"></span></li>
                <li>playing guitar <span class="gend-link"></span></li>
                <li>
                  programming desktop apps <span class="gend-link"></span>
                </li>
                <li>programming mobile apps <span class="gend-link"></span></li>
                <li>reading <span class="gend-link"></span></li>
                <li>sewing <span class="gend-link"></span></li>
                <li>singing <span class="gend-link"></span></li>
                <li>space art in photoshop <span class="gend-link"></span></li>
                <li>stock photography <span class="gend-link"></span></li>
                <li>swimming <span class="gend-link"></span></li>
                <li>traditional painting <span class="gend-link"></span></li>
                <li>
                  <strong>video editing</strong> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>watching movies</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>watching youtube</strong>
                  <span class="gend-link"></span>
                </li>
                <li>web design <span class="gend-link"></span></li>
                <li>
                  <strong>web development</strong>
                  <span class="gend-link"></span>
                </li>
                <li>weight lifting <span class="gend-link"></span></li>
                <li>writing poetry <span class="gend-link"></span></li>
                <li>
                  <strong>writing prose</strong> <span class="gend-link"></span>
                </li>
                <li>yoga <span class="gend-link"></span></li>
              </ul>
              <p><strong>bold</strong> = current hobbies</p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 8 2018 ∞<br />
              may 2 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8181814657" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8181814657"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8181814657"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8181814657"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8181814657"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2401614694"
    >
      <div id="listbox-content-slot-2401614694">
        <div id="listbox-read-mode-content-2401614694">
          <div
            id="list-title-box-2401614694"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/famous_people_with_my_birthday"
                >
                  about me
                  <span class="box-subtitle">
                    (famous people with my birthday)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p><em>july 17th</em> ↴</p>

              <ul>
                <li>
                  angela merkel, politician <span class="gend-link"></span>
                </li>
                <li>
                  daimaou kosaka, comedian <span class="gend-link"></span>
                </li>
                <li>darude, dj <span class="gend-link"></span></li>
                <li>david hasselhoff, actor <span class="gend-link"></span></li>
                <li>
                  donald sutherland, actor ♡ † <span class="gend-link"></span>
                </li>
                <li>elle mills, youtuber <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 23 2018 ∞<br />
              jun 22 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2401614694" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2401614694"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2401614694"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2401614694"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2401614694"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-8104617370"
    >
      <div id="listbox-content-slot-8104617370">
        <div id="listbox-read-mode-content-8104617370">
          <div
            id="list-title-box-8104617370"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/my_collections"
                >
                  about me <span class="box-subtitle"> (my collections) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <strong>ballpoint pens</strong>
                  <ul>
                    <li>
                      used to be 130, i got ride of some, now it's about 100,
                      sorted by color of course <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  concert tickets <em>( 3 )</em> <span class="gend-link"></span>
                </li>
                <li>lists :3 <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken"
                    >movie tickets <em>( 28+ )</em></span
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">pretty stones</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  songs i like on spotify <em>( 3k+ )</em>
                  <span class="gend-link"></span>
                </li>
                <li>vocabulary <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              nov 1 2018 ∞<br />
              jul 15 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8104617370" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8104617370"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8104617370"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8104617370"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8104617370"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3974617711"
    >
      <div id="listbox-content-slot-3974617711">
        <div id="listbox-read-mode-content-3974617711">
          <div
            id="list-title-box-3974617711"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/favorites">
                  about me <span class="box-subtitle"> (favorites) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <strong>actor:</strong> jemaine clement
                  <a
                    href="https://listography.com/petra1999/favorites/actors"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>animal:</strong> dinosaurs
                  <a
                    href="https://listography.com/petra1999/favorites/animals"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>art style:</strong> sketchy semi-realism
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>audiobook narrator:</strong> stephen fry
                  <a
                    href="https://listography.com/petra1999/favorites/audio_book_narrators"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>band:</strong> ninja sex party
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>beverage:</strong> apple juice
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>book series:</strong> harry potter
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>book:</strong> sapiens: a brief history of humankind
                  (by yuval noah harari)
                  <a
                    href="https://listography.com/petra1999/favorites/books"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>day:</strong> january 1st
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>dinosaur-like animal:</strong> quetzalcoatlus<a
                    href="https://listography.com/petra1999/favorites/dinosaurs"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>dinosaur:</strong> velociraptor
                  <a
                    href="https://listography.com/petra1999/favorites/dinosaurs"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>food:</strong> breakfast foods (toast with cheese and
                  tomatoes, etc) <span class="gend-link"></span>
                </li>
                <li>
                  <strong>game:</strong> minecraft
                  <a
                    href="https://listography.com/petra1999/favorites/games"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>holiday:</strong> new year's
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>karaoke song:</strong> love the way you lie
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>language:</strong> english
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>month:</strong> june <span class="gend-link"></span>
                </li>
                <li>
                  <strong>movie:</strong> jurassic park
                  <a
                    href="https://listography.com/petra1999/favorites/media"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>newsletter:</strong> game grumps
                  <a
                    href="https://listography.com/action/list?uid=0440224482&amp;lid=1886217605"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>planet:</strong> mars <span class="gend-link"></span>
                </li>
                <li>
                  <strong>podcast:</strong> coldmirror's harry podcast
                  <a
                    href="https://listography.com/petra1999/media/podcasts"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>pokémon:</strong> mew
                  <a
                    href="https://listography.com/petra1999/favorites/pokemon"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>programming language:</strong> javascript
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>quote:</strong> es bedarf nur einen anfangs, dann
                  erledigt sich das übrige
                  <a
                    href="https://listography.com/petra1999/favorites/quotes"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>scent:</strong> wooden cupboards that are rarely
                  opened
                  <a
                    href="https://listography.com/petra1999/favorites/scents"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>season:</strong> summer
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>sound effect:</strong> huge ice breaking / cables
                  snapping <span class="gend-link"></span>
                </li>
                <li>
                  <strong>twitch streamer:</strong> georgenotfound
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>wikipedia article:</strong> sailing shi<a
                    href="https://en.wikipedia.org/wiki/Sailing_ship"
                    target="_blank"
                    rel="nofollow"
                    >p</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>winx club fairy:</strong> tecna
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>word:</strong> copacetic
                  <a
                    href="https://listography.com/petra1999/favorites/words"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>youtube channel:</strong> game grumps
                  <a
                    href="https://listography.com/petra1999/favorites/youtube_channels"
                    target="_blank"
                    rel="nofollow"
                    >⤷</a
                  >
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                i <strong>cannot decide</strong> on a favorite color, song,
                instrument, or tv show!
              </p>
              <p>
                ➜
                <a
                  href="https://listography.com/petra1999/index?v=a&amp;cat=favorites"
                  target="_blank"
                  rel="nofollow"
                  >all favorites</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 9 2020 ∞<br />
              dec 12 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3974617711" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3974617711"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3974617711"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3974617711"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3974617711"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-0402917006"
    >
      <div id="listbox-content-slot-0402917006">
        <div id="listbox-read-mode-content-0402917006">
          <div
            id="list-title-box-0402917006"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/celebrity_index"
                >
                  about me <span class="box-subtitle"> (celebrity index) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p><em>around how many corners do i know celebrities?</em></p>

              <ul>
                <li>
                  <strong>1 corner:</strong> duckwrth <em>(musician)</em>
                  <ul>
                    <li>
                      a friend of mine is friends with him
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2 corners:</strong> benedict cumberbatch
                  <em>(actor)</em>
                  <ul>
                    <li>
                      my sister knows a family that is neighbors/friends with
                      him <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2 corners:</strong> eddie redmayne <em>(actor)</em> /
                  fantastic beasts 3 cast
                  <ul>
                    <li>
                      my sister knew peter simonischek, who was in a scene with
                      him <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              sep 12 2020 ∞<br />
              sep 5 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_0402917006" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_0402917006"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=0402917006"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-0402917006"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-0402917006"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Number"
      id="listbox-3544015122"
    >
      <div id="listbox-content-slot-3544015122">
        <div id="listbox-read-mode-content-3544015122">
          <div
            id="list-title-box-3544015122"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/happy_list">
                  about me <span class="box-subtitle"> (happy list) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                <strong>things that make me happy.</strong>
                <em
                  >list does not include specific
                  movies/shows/songs/books/people/etc because the list would
                  become too long.</em
                >
              </p>

              <ul>
                <li>12:34 on the clock <span class="gend-link"></span></li>
                <li>8d audio <span class="gend-link"></span></li>
                <li>
                  a drawing actually turning out good
                  <span class="gend-link"></span>
                </li>
                <li>accent colors <span class="gend-link"></span></li>
                <li>aesthetics <span class="gend-link"></span></li>
                <li>an organized closet <span class="gend-link"></span></li>
                <li>apes <span class="gend-link"></span></li>
                <li>apple juice <span class="gend-link"></span></li>
                <li>ascii art <span class="gend-link"></span></li>
                <li>audiobooks <span class="gend-link"></span></li>
                <li>ballpoint pens <span class="gend-link"></span></li>
                <li>beards <span class="gend-link"></span></li>
                <li>beautiful people <span class="gend-link"></span></li>
                <li>being in a car at night <span class="gend-link"></span></li>
                <li>
                  being in a car with friends <span class="gend-link"></span>
                </li>
                <li>birds <span class="gend-link"></span></li>
                <li>blood <span class="gend-link"></span></li>
                <li>breakfast <span class="gend-link"></span></li>
                <li>cacti and succulents <span class="gend-link"></span></li>
                <li>cats <span class="gend-link"></span></li>
                <li>cereal <span class="gend-link"></span></li>
                <li>cheese <span class="gend-link"></span></li>
                <li>chirping noises <span class="gend-link"></span></li>
                <li>cicada songs <span class="gend-link"></span></li>
                <li>clouds <span class="gend-link"></span></li>
                <li>color palettes <span class="gend-link"></span></li>
                <li>colors of dusk and dawn <span class="gend-link"></span></li>
                <li>comedy songs <span class="gend-link"></span></li>
                <li>creating websites <span class="gend-link"></span></li>
                <li>
                  customization apps and tools <span class="gend-link"></span>
                </li>
                <li>dancing <span class="gend-link"></span></li>
                <li>daydreams <span class="gend-link"></span></li>
                <li>desktop wallpapers <span class="gend-link"></span></li>
                <li>dinosaurs <span class="gend-link"></span></li>
                <li>discovering a new song <span class="gend-link"></span></li>
                <li>diving <span class="gend-link"></span></li>
                <li>dogs <span class="gend-link"></span></li>
                <li>
                  dramatic escalation in fiction <span class="gend-link"></span>
                </li>
                <li>dreams and dreaming <span class="gend-link"></span></li>
                <li>drums and drumbeats <span class="gend-link"></span></li>
                <li>family gatherings <span class="gend-link"></span></li>
                <li>fanart <span class="gend-link"></span></li>
                <li>fanfictions <span class="gend-link"></span></li>
                <li>fans <span class="gend-link"></span></li>
                <li>flowers <span class="gend-link"></span></li>
                <li>fog <span class="gend-link"></span></li>
                <li>food <span class="gend-link"></span></li>
                <li>games from my childhood <span class="gend-link"></span></li>
                <li>gay people <span class="gend-link"></span></li>
                <li>gifs <span class="gend-link"></span></li>
                <li>gore <span class="gend-link"></span></li>
                <li>
                  having lots of bookmarks in the browser
                  <span class="gend-link"></span>
                </li>
                <li>having shaved <span class="gend-link"></span></li>
                <li>highlighter pens <span class="gend-link"></span></li>
                <li>hot chocolate <span class="gend-link"></span></li>
                <li>
                  human bodies (esp. hands) <span class="gend-link"></span>
                </li>
                <li>karaoke <span class="gend-link"></span></li>
                <li>lakes <span class="gend-link"></span></li>
                <li>laughing <span class="gend-link"></span></li>
                <li>learning new vocabulary <span class="gend-link"></span></li>
                <li>
                  lgbt representation in media <span class="gend-link"></span>
                </li>
                <li>
                  listening to music in public transport
                  <span class="gend-link"></span>
                </li>
                <li>listography.com <span class="gend-link"></span></li>
                <li>lists <span class="gend-link"></span></li>
                <li>lucid dreams <span class="gend-link"></span></li>
                <li>
                  magical girl transformations <span class="gend-link"></span>
                </li>
                <li>
                  men in women's clothes, women in men's clothes
                  <span class="gend-link"></span>
                </li>
                <li>men with painted nails <span class="gend-link"></span></li>
                <li>mermaids <span class="gend-link"></span></li>
                <li>milk <span class="gend-link"></span></li>
                <li>miniatures <span class="gend-link"></span></li>
                <li>moodboards <span class="gend-link"></span></li>
                <li>mullets <span class="gend-link"></span></li>
                <li>
                  my ballpoint pen collection <span class="gend-link"></span>
                </li>
                <li>my current fandoms <span class="gend-link"></span></li>
                <li>my favorite books <span class="gend-link"></span></li>
                <li>my favorite colors <span class="gend-link"></span></li>
                <li>my favorite movies <span class="gend-link"></span></li>
                <li>my favorite songs <span class="gend-link"></span></li>
                <li>my favorite tv shows <span class="gend-link"></span></li>
                <li>my playlists <span class="gend-link"></span></li>
                <li>my tattoos <span class="gend-link"></span></li>
                <li>netflix <span class="gend-link"></span></li>
                <li>
                  new year's / silvester / fireworks
                  <span class="gend-link"></span>
                </li>
                <li>newly released music <span class="gend-link"></span></li>
                <li>nintendo games <span class="gend-link"></span></li>
                <li>nostalgia <span class="gend-link"></span></li>
                <li>
                  notebooks / taking notes <span class="gend-link"></span>
                </li>
                <li>online shopping <span class="gend-link"></span></li>
                <li>pixel art <span class="gend-link"></span></li>
                <li>pokemon <span class="gend-link"></span></li>
                <li>potatoes <span class="gend-link"></span></li>
                <li>
                  pretty product/ad designs <span class="gend-link"></span>
                </li>
                <li>pyjamas <span class="gend-link"></span></li>
                <li>rain <span class="gend-link"></span></li>
                <li>references to 42 <span class="gend-link"></span></li>
                <li>rice <span class="gend-link"></span></li>
                <li>seemless patterns <span class="gend-link"></span></li>
                <li>shipping <span class="gend-link"></span></li>
                <li>showers <span class="gend-link"></span></li>
                <li>singing <span class="gend-link"></span></li>
                <li>sketchy digital art <span class="gend-link"></span></li>
                <li>sloths <span class="gend-link"></span></li>
                <li>snakes <span class="gend-link"></span></li>
                <li>snow at night <span class="gend-link"></span></li>
                <li>space heaters <span class="gend-link"></span></li>
                <li>
                  special characters / ascii <span class="gend-link"></span>
                </li>
                <li>spotify <span class="gend-link"></span></li>
                <li>stargazing <span class="gend-link"></span></li>
                <li>swimming <span class="gend-link"></span></li>
                <li>taking selfies <span class="gend-link"></span></li>
                <li>tattoos <span class="gend-link"></span></li>
                <li>
                  the clip-clop of horse's hooves
                  <span class="gend-link"></span>
                </li>
                <li>the moon <span class="gend-link"></span></li>
                <li>the number 52 <span class="gend-link"></span></li>
                <li>the smell of carton <span class="gend-link"></span></li>
                <li>
                  the smell of freshly mowed lawn
                  <span class="gend-link"></span>
                </li>
                <li>
                  the smell of nail polish <span class="gend-link"></span>
                </li>
                <li>
                  the smell of the laundry room <span class="gend-link"></span>
                </li>
                <li>
                  the smell of wooden furniture <span class="gend-link"></span>
                </li>
                <li>the stars <span class="gend-link"></span></li>
                <li>
                  the time when the sun is already gone but it's not dark yet
                  <span class="gend-link"></span>
                </li>
                <li>thunder <span class="gend-link"></span></li>
                <li>tibetan flags <span class="gend-link"></span></li>
                <li>tissue boxes <span class="gend-link"></span></li>
                <li>toast <span class="gend-link"></span></li>
                <li>todo lists <span class="gend-link"></span></li>
                <li>trains <span class="gend-link"></span></li>
                <li>trivia <span class="gend-link"></span></li>
                <li>tumblr.com <span class="gend-link"></span></li>
                <li>
                  tv shows / movies from my childhood
                  <span class="gend-link"></span>
                </li>
                <li>tvtropes.com <span class="gend-link"></span></li>
                <li>
                  visible paint strokes on paintings
                  <span class="gend-link"></span>
                </li>
                <li>
                  warm summer evenings when it's slowly getting darker
                  <span class="gend-link"></span>
                </li>
                <li>
                  warming up in front of the radiator
                  <span class="gend-link"></span>
                </li>
                <li>
                  watching youtube before going to sleep
                  <span class="gend-link"></span>
                </li>
                <li>
                  wearing heels that make a sound
                  <span class="gend-link"></span>
                </li>
                <li>wearing subtle perfume <span class="gend-link"></span></li>
                <li>youtube.com <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              mar 12 2016 ∞<br />
              jan 1 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3544015122" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3544015122"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3544015122"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3544015122"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3544015122"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3878817005"
    >
      <div id="listbox-content-slot-3878817005">
        <div id="listbox-read-mode-content-3878817005">
          <div
            id="list-title-box-3878817005"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/unpopular_opinions"
                >
                  about me
                  <span class="box-subtitle"> (unpopular opinions) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  alcohol is a drug and should be treated as such
                  <span class="gend-link"></span>
                </li>
                <li>
                  caffeine is a drug and should be treated as such
                  <span class="gend-link"></span>
                </li>
                <li>dni lists are dumb <span class="gend-link"></span></li>
                <li>
                  everybody should be poly, they're just cowards
                  <span class="gend-link"></span>
                </li>
                <li>
                  sexual orientation is fluid <span class="gend-link"></span>
                </li>
                <li>
                  young teens shouldn't identify as ace
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>(x) is actually cool:</p>

              <ul>
                <li>
                  country music slaps sometimes <span class="gend-link"></span>
                </li>
                <li>
                  javascript is a great programming language
                  <span class="gend-link"></span>
                </li>
                <li>
                  the <em>twilight</em> movies are great
                  <span class="gend-link"></span>
                </li>
                <li>
                  the show <em>the big bang theory</em> is great
                  <span class="gend-link"></span>
                </li>
                <li>
                  the southern us accent is amazing
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>(x) actually sucks:</p>

              <ul>
                <li>
                  the book <em>1984</em> sucks <span class="gend-link"></span>
                </li>
                <li>
                  the book <em>fahrenheit 451</em> sucks
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 29 2020 ∞<br />
              mar 22 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3878817005" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3878817005"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3878817005"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3878817005"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3878817005"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-7714817065"
    >
      <div id="listbox-content-slot-7714817065">
        <div id="listbox-read-mode-content-7714817065">
          <div
            id="list-title-box-7714817065"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/stuff_i_quote"
                >
                  about me <span class="box-subtitle"> (stuff i quote) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <a
                    href="https://youtu.be/WQ5kfsVsNZE?si=wRqnFOd2WNEYtTHC&amp;t=91"
                    target="_blank"
                    rel="nofollow"
                    >Heh, mahogany mahogany!</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  *nandor voice* <em>sheeesh!</em> <em>fucking</em> guy!
                  <span class="gend-link"></span>
                </li>
                <li>
                  oh brother, this guy stinks! <span class="gend-link"></span>
                </li>
                <li>silence! i kill you! <span class="gend-link"></span></li>
                <li>
                  UGLY FURNITURE! just ugly, ugly furniture
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/watch?v=D-UmfqFjpl0&amp;list=FLITXhfXz1GHT7NIYQqe-eVQ&amp;index=5&amp;pp=gAQB"
                    target="_blank"
                    rel="nofollow"
                    >hababa</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/watch?v=UWWLwtMLWCI&amp;list=FLITXhfXz1GHT7NIYQqe-eVQ&amp;index=6&amp;pp=gAQB"
                    target="_blank"
                    rel="nofollow"
                    >heeeey</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/watch?v=kkwiQmGWK4c9"
                    target="_blank"
                    rel="nofollow"
                    >oh long johnson
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>
                  burger king foot lettuce <span class="gend-link"></span>
                </li>
                <li>
                  our house... in the middle of our house...
                  <span class="gend-link"></span>
                </li>
                <li>
                  do you like my decorations? <span class="gend-link"></span>
                </li>
                <li>
                  would you like some wood? would you?
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>vines:</strong></p>

              <ul>
                <li>
                  and they were roommates! (oh my god, they were roommates)
                  <span class="gend-link"></span>
                </li>
                <li>
                  i can't believe you've done this
                  <span class="gend-link"></span>
                </li>
                <li>
                  i won't hesitate, <em>bitch</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  is there anything better than pussy? yes, a really good book
                  <span class="gend-link"></span>
                </li>
                <li>
                  it is what it is... <em>it is what it is...</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  that's what good pussy sounds like
                  <span class="gend-link"></span>
                </li>
                <li>
                  two bros, chilling in a hot tub...
                  <span class="gend-link"></span>
                </li>
                <li>
                  road work ahead? uhhh yeah i sure hope it does
                  <span class="gend-link"></span>
                </li>
                <li>
                  what's better than this? just guys being dudes
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>‍‍ ‍ ‍ ‍ ‍ ‍ ‍‍ ‍ ‍‍ ‍</p>
              <p><strong>german:</strong></p>

              <ul>
                <li>ja, das ist john <span class="gend-link"></span></li>
                <li>
                  der ist nicht tot, der schläft nur.... schau, er hat sich
                  bewegt! / du hast ihn <em>angestupst</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  komm näher... noch näher... <em>zu nah!!</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ahh, luft! reine luft! die luft ist reeeinn!
                  <span class="gend-link"></span>
                </li>
                <li>jetzt gib ihr hoit wos <span class="gend-link"></span></li>
              </ul>
              <p>‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ coldmirror:</p>

              <ul>
                <li>
                  der ist böse... und der bleibt auch böse!
                  <span class="gend-link"></span>
                </li>
                <li>ich... als journalist! <span class="gend-link"></span></li>
                <li>
                  was zum arsch! seid ihr bescheuert? ich mach euch kalt!
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>wieder was dazu geLEEEEHRNT!</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  yes, we can. aber das versteht ja kein schwein
                  <span class="gend-link"></span>
                </li>
                <li>
                  so... ein, zwei tropfen soße... <em>reicht!</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  wollen sie eine kugel fisch? oder einen kugelfisch?
                  <span class="gend-link"></span>
                </li>
                <li>
                  wie kann sich so ein laden hier halten?
                  <span class="gend-link"></span>
                </li>
                <li>
                  ich bin keine eule! (heh, doch.)
                  <span class="gend-link"></span>
                </li>
                <li>
                  syrrilll!!!! syrill wir brauchen mehr __!
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              nov 26 2020 ∞<br />
              dec 6 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_7714817065" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_7714817065"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=7714817065"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-7714817065"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-7714817065"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2476617875"
    >
      <div id="listbox-content-slot-2476617875">
        <div id="listbox-read-mode-content-2476617875">
          <div
            id="list-title-box-2476617875"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/stuff_i_know_by_heart"
                >
                  about me
                  <span class="box-subtitle"> (stuff i know by heart) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  supernatural demon exorcism
                  <ul>
                    <li>
                      <em
                        >Exorcizamus te, omnis immundus spiritus, omnis satanica
                        potestas, omnis incursio infernalis adversarii, omnis
                        legio, omnis congregatio et secta diabolica. Ergo, draco
                        maledicte ecclesiam tuam. Secura tibi facias libertate
                        servire, te rogamus, audi nos.</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  blurb of "die rache der liebe"
                  <ul>
                    <li>
                      <em
                        >Rache. Nichts anderes hat der gedemütigte Wikinger
                        Selig im Sinn. Sein Opfer wird die schöne Lady Erika,
                        die schuldlos Schuldige, die einen verhägnisvollen
                        Befehl zu spät zurückgenommen hat. Selig erniedrigt sie,
                        legt sie in Ketten. Doch den Willen der stolzen Frau
                        aber kann er nicht brechen, und er fühlt nicht nur Hass,
                        sondern tiefes, brennendes Verlangen. Denn keine
                        Feinschaft ist so groß dass sie nicht durch Leidenschaft
                        und Liebe überwunden werden könnte.</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  π with 10 decimals
                  <ul>
                    <li>
                      <em>3.1415926535</em> <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  "beim müller hats gebrannt"
                  <ul>
                    <li>
                      <em
                        >Beim Müller hats gebrannt-brannt-brannt, da bin ich
                        schnell gerannt-rannt-rannt, zu einem
                        Apfelbaum-baum-baum, da wollt ich etwas
                        klaun-klaun-klaun, da kam ein Polizist-ist-ist, der
                        schrieb mich auf die List-List-List, die List fiel in
                        den Dreck-Dreck-Dreck, da war mein Name weg-weg-weg, da
                        kam ich vor Gericht-richt-richt, da wusst ich meinen
                        Namen nicht, da lief ich schnell nach Haus-haus-haus, zu
                        meinem Onkel Klaus-Klaus-Klaus, der Klaus der schlief im
                        Ehebett mit seiner Frau Elisabeth. Elisabeth, die war so
                        fett, da brach das ganze Ehebett. Da lief ich in den 1.
                        Stock. [...] Da lief ich in den 10. Stock, da stand ne
                        Frau im Unterrock.</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  verse 1 of "dragonborn", the skyrim song
                  <ul>
                    <li>
                      <em
                        >Dovahkiin, Dovahkiin / Naal ok zin los vahriin / Wah
                        dein vokul mahfaeraak ahst vaal! / Ahrk fin norok paal
                        graan / Fod nust hon zindro zaan / Dovahkiin, fah hin
                        kogaan mu draal!</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jan 18 2021 ∞<br />
              nov 6 2022 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2476617875" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2476617875"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2476617875"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2476617875"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2476617875"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
</div>
