<div id="list_container" class="list_container" style="margin-top: 30px">
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-4159710556"
    >
      <div id="listbox-content-slot-4159710556">
        <div id="listbox-read-mode-content-4159710556">
          <div
            id="list-title-box-4159710556"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/strengths_and_weaknesses"
                >
                  about me
                  <span class="box-subtitle"> (strengths and weaknesses) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>strengths:</p>

              <ul>
                <li>organisation <span class="gend-link"></span></li>
                <li>managing money <span class="gend-link"></span></li>
                <li>eyeliner <span class="gend-link"></span></li>
                <li>data management <span class="gend-link"></span></li>
                <li>school/uni grades <span class="gend-link"></span></li>
                <li>english <span class="gend-link"></span></li>
                <li>
                  not thinking in black and white
                  <span class="gend-link"></span>
                </li>
                <li>
                  recognising songs / music knowledge
                  <span class="gend-link"></span>
                </li>
                <li>typing fast <span class="gend-link"></span></li>
              </ul>
              <p>weaknesses:</p>

              <ul>
                <li>feeding myself <span class="gend-link"></span></li>
                <li>
                  being productive before appointments
                  <span class="gend-link"></span>
                </li>
                <li>small talk <span class="gend-link"></span></li>
                <li>creativity <span class="gend-link"></span></li>
                <li>eyeshadow <span class="gend-link"></span></li>
                <li>
                  dressing appropriately for the weather
                  <span class="gend-link"></span>
                </li>
                <li>
                  approximating how long it takes me to go somewhere
                  <span class="gend-link"></span>
                </li>
                <li>walking to places <span class="gend-link"></span></li>
                <li>german <span class="gend-link"></span></li>
                <li>
                  second-hand embarrassment <span class="gend-link"></span>
                </li>
                <li>picky eating <span class="gend-link"></span></li>
                <li>retail therapy <span class="gend-link"></span></li>
                <li>dexterity / handiwork <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              apr 29 2026 ∞<br />
              jun 14 2026 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_4159710556" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_4159710556"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=4159710556"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-4159710556"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-4159710556"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-6691710388"
    >
      <div id="listbox-content-slot-6691710388">
        <div id="listbox-read-mode-content-6691710388">
          <div
            id="list-title-box-6691710388"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/things_i_admire_in_people"
                >
                  about me
                  <span class="box-subtitle">
                    (things i admire in people)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                inspired by
                <a
                  href="https://listography.com/action/list?uid=4019828776&amp;lid=8230110388"
                  target="_blank"
                  rel="nofollow"
                  >emi</a
                >.
              </p>

              <ul>
                <li>
                  organized in their life &amp; living space
                  <span class="gend-link"></span>
                </li>
                <li>
                  good with money &amp; mindful about purchases
                  <span class="gend-link"></span>
                </li>
                <li>
                  careful about their own appearance &amp; grooming
                  <span class="gend-link"></span>
                </li>
                <li>
                  always kind as a default, you don't have to earn it
                  <span class="gend-link"></span>
                </li>
                <li>
                  no black-and-white thinking or overgeneralizing
                  <span class="gend-link"></span>
                </li>
                <li>
                  does not buy into trends just because they're trends
                  <span class="gend-link"></span>
                </li>
                <li>
                  has a good sense of humor; doesn't just parrot memes
                  <span class="gend-link"></span>
                </li>
                <li>
                  always eager to learn more; never satisfied with what they
                  know <span class="gend-link"></span>
                </li>
                <li>
                  always eager to have new experiences; not scared to try new
                  things <span class="gend-link"></span>
                </li>
                <li>
                  problem-solver; likes to solve puzzles &amp; find solutions
                  <span class="gend-link"></span>
                </li>
                <li>
                  has a strong rule about never lying, not even white lies
                  <span class="gend-link"></span>
                </li>
                <li>
                  an appropriate level of confidence in themselves
                  <span class="gend-link"></span>
                </li>
                <li>
                  charismatic and unafraid to talk to people; a good talker
                  <span class="gend-link"></span>
                </li>
                <li>
                  makes you feel important &amp; listened to &amp; treasured
                  <span class="gend-link"></span>
                </li>
                <li>
                  reliable; can be trusted with tasks without being reminded
                  <span class="gend-link"></span>
                </li>
                <li>
                  book smart, street smart, or just knowledgeable
                  <span class="gend-link"></span>
                </li>
                <li>
                  always wants to be better &amp; improve themselves
                  <span class="gend-link"></span>
                </li>
                <li>
                  not a procrastinator; gets things done that need to get done
                  <span class="gend-link"></span>
                </li>
                <li>
                  doesn't care about social norms/rules; only cares about being
                  real &amp; kind <span class="gend-link"></span>
                </li>
                <li>
                  not interested in drama or gossip
                  <span class="gend-link"></span>
                </li>
                <li>
                  doesn't take themselves too seriously; can take a joke
                  <span class="gend-link"></span>
                </li>
                <li>
                  doesn't let people walk all over them; stands up for their
                  rights <span class="gend-link"></span>
                </li>
                <li>
                  has no concept of 'cringe'; is unapologetically themself
                  <span class="gend-link"></span>
                </li>
                <li>
                  is skilled (not 'talented') in something they care about
                  <span class="gend-link"></span>
                </li>
                <li>
                  cares deeply about some things; is passionate about their
                  interests <span class="gend-link"></span>
                </li>
                <li>
                  not an <em>'i don't know'</em> but an
                  <em>'i don't know yet'</em> kind of person
                  <span class="gend-link"></span>
                </li>
                <li>
                  takes care of their basic health (hydration, getting enough
                  sleep, etc) <span class="gend-link"></span>
                </li>
                <li>
                  not afraid to go against the stream &amp; say their real
                  opinion <span class="gend-link"></span>
                </li>
                <li>
                  has clear goals in mind &amp; works hard to reach them
                  <span class="gend-link"></span>
                </li>
                <li>
                  always questions cultural ideas &amp; the status quo; but not
                  just a contrarian <span class="gend-link"></span>
                </li>
                <li>
                  actively chooses to be nice to everyone
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              apr 16 2025 ∞<br />
              sep 14 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_6691710388" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_6691710388"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=6691710388"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-6691710388"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-6691710388"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-8842010389"
    >
      <div id="listbox-content-slot-8842010389">
        <div id="listbox-read-mode-content-8842010389">
          <div
            id="list-title-box-8842010389"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/instruments_i_have_attempted_to_learn"
                >
                  about me
                  <span class="box-subtitle">
                    (instruments i have attempted to learn)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=8842010389&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <ul>
                <li>snare drum <span class="gend-link"></span></li>
                <li>glockenspiel <span class="gend-link"></span></li>
                <li>piano <span class="gend-link"></span></li>
                <li>cajon <span class="gend-link"></span></li>
                <li>mouth harmonica <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 11 2025 ∞<br />
              may 25 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8842010389" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8842010389"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8842010389"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8842010389"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8842010389"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-8854910389"
    >
      <div id="listbox-content-slot-8854910389">
        <div id="listbox-read-mode-content-8854910389">
          <div
            id="list-title-box-8854910389"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/hobbies">
                  about me <span class="box-subtitle"> (hobbies) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p><strong>high energy:</strong></p>

              <ul>
                <li>home workout <span class="gend-link"></span></li>
                <li>jogging <span class="gend-link"></span></li>
                <li>sewing <span class="gend-link"></span></li>
                <li>drawing <span class="gend-link"></span></li>
                <li>video editing <span class="gend-link"></span></li>
              </ul>
              <p><strong>medium energy:</strong></p>

              <ul>
                <li>writing <span class="gend-link"></span></li>
                <li>
                  learning english vocabulary <span class="gend-link"></span>
                </li>
                <li>gaming <span class="gend-link"></span></li>
                <li>makeup <span class="gend-link"></span></li>
                <li>coding <span class="gend-link"></span></li>
              </ul>
              <p><strong>low energy:</strong></p>

              <ul>
                <li>reading <span class="gend-link"></span></li>
                <li>enjoying the sun <span class="gend-link"></span></li>
                <li>listening to music <span class="gend-link"></span></li>
                <li>watching youtube <span class="gend-link"></span></li>
                <li>watching tv shows <span class="gend-link"></span></li>
                <li>watching movies <span class="gend-link"></span></li>
                <li>creating playlists <span class="gend-link"></span></li>
                <li>
                  journalling (listography + diary)
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 11 2025 ∞<br />
              may 11 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8854910389" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8854910389"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8854910389"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8854910389"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8854910389"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-4564617967"
    >
      <div id="listbox-content-slot-4564617967">
        <div id="listbox-read-mode-content-4564617967">
          <div
            id="list-title-box-4564617967"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/attracted_to"
                >
                  about me <span class="box-subtitle"> (attracted to) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>personality:</p>

              <ul>
                <li><strong>humor</strong> <span class="gend-link"></span></li>
                <li>optimism <span class="gend-link"></span></li>
                <li>clean &amp; organized <span class="gend-link"></span></li>
                <li>
                  curious &amp; always wants to learn more
                  <span class="gend-link"></span>
                </li>
                <li>intelligence <span class="gend-link"></span></li>
                <li>
                  <strong>can sing</strong> or dance
                  <span class="gend-link"></span>
                </li>
                <li>
                  nerd about tv &amp; movies <span class="gend-link"></span>
                </li>
                <li>
                  good/sensible with money <span class="gend-link"></span>
                </li>
                <li>
                  cares about appearance (beauty and fashion)
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>appearance (in men):</p>

              <ul>
                <li>
                  <strong>curly hair</strong> <span class="gend-link"></span>
                </li>
                <li>brown eyes <span class="gend-link"></span></li>
                <li>
                  brown/dark (or salt-and-pepper) hair
                  <span class="gend-link"></span>
                </li>
                <li>large lips/mouth <span class="gend-link"></span></li>
                <li>
                  stubble or beard, mustaches <span class="gend-link"></span>
                </li>
                <li>
                  body hair (especially stomach) <span class="gend-link"></span>
                </li>
                <li>
                  dad bod <em>or</em> tall and lanky <em>or</em> jacked. i love
                  all <span class="gend-link"></span>
                </li>
                <li>
                  <strong>glasses</strong> <span class="gend-link"></span>
                </li>
                <li>expressive eyebrows <span class="gend-link"></span></li>
                <li>height doesn't matter <span class="gend-link"></span></li>
              </ul>
              <p>appearance (in women):</p>

              <ul>
                <li>soft body <span class="gend-link"></span></li>
                <li>long, blonde hair <span class="gend-link"></span></li>
                <li>medium bust size <span class="gend-link"></span></li>
                <li>average height <span class="gend-link"></span></li>
                <li>nice nails <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 8 2023 ∞<br />
              may 11 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_4564617967" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_4564617967"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=4564617967"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-4564617967"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-4564617967"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-8330917660"
    >
      <div id="listbox-content-slot-8330917660">
        <div id="listbox-read-mode-content-8330917660">
          <div
            id="list-title-box-8330917660"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/about_me/3_things">
                  about me <span class="box-subtitle"> (3 things) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  three physical things you like about yourself: hair, dino
                  tattoo, eyes <span class="gend-link"></span>
                </li>
                <li>
                  three things you don't like about yourself: perfectionist,
                  jealousy, clean freak <span class="gend-link"></span>
                </li>
                <li>
                  three things that scare you: spiders, large things in water,
                  having to call someone <span class="gend-link"></span>
                </li>
                <li>
                  three of your everyday essentials: hair clips, earbuds,
                  tissues <span class="gend-link"></span>
                </li>
                <li>
                  three of your favorite bands or musical artists: ninja sex
                  party, flight of the conchords, twenty one pilots
                  <span class="gend-link"></span>
                </li>
                <li>
                  three of your favorite songs at the moment: vicodin, dig ol'
                  big, sports anthem <span class="gend-link"></span>
                </li>
                <li>
                  three physical things that appeal you: curly hair, 5 o'clock
                  shadows, bellies <span class="gend-link"></span>
                </li>
                <li>
                  three careers you’re considering/you’ve considered: web
                  developer, author, designer <span class="gend-link"></span>
                </li>
                <li>
                  three places you want to go: california, northwest us, new
                  zealand <span class="gend-link"></span>
                </li>
                <li>
                  three things you'll find in my bedroom: kindle, ear plugs, a
                  large sloth plushie <span class="gend-link"></span>
                </li>
                <li>
                  three colors you like: pastel pink, beige, white
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                idea stolen from
                <a
                  href="https://listography.com/action/list?uid=3316722220&amp;lid=1267917693"
                  target="_blank"
                  rel="nofollow"
                  >sammysam</a
                >
                :)
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 22 2024 ∞<br />
              may 11 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8330917660" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8330917660"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8330917660"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8330917660"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8330917660"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3427610335"
    >
      <div id="listbox-content-slot-3427610335">
        <div id="listbox-read-mode-content-3427610335">
          <div
            id="list-title-box-3427610335"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/people_from_professions_i_abhor"
                >
                  about me
                  <span class="box-subtitle">
                    (people from professions i abhor)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>bus drivers <span class="gend-link"></span></li>
                <li>package delivery guys <span class="gend-link"></span></li>
                <li>
                  landlords &amp; property managers
                  <span class="gend-link"></span>
                </li>
                <li>paparazzi <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jul 23 2024 ∞<br />
              jan 30 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3427610335" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3427610335"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3427610335"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3427610335"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3427610335"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2429817664"
    >
      <div id="listbox-content-slot-2429817664">
        <div id="listbox-read-mode-content-2429817664">
          <div
            id="list-title-box-2429817664"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/do_you_believe_in..._"
                >
                  about me
                  <span class="box-subtitle"> (do you believe in...?) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=2429817664&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <ul>
                <li>
                  <strong>aliens</strong> ⤳ depends on the definition
                  <ul>
                    <li>
                      <strong>life somewhere else in the universe</strong> ⤳
                      yes, though not necessarily intelligent life
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>little green men</strong> ⤳ no 👽
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <strong>martians</strong> ⤳ no
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>astrology</strong> ⤳ no, it's fun but not a shred of
                  truth to it, i hate people who take it too seriously
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>conspiracy theories</strong> ⤳ some. anything
                  including the government gets a strong "could be" from me
                  (they do get up to weird shady shit), except when it includes
                  lizard people. but generally, no, especially nothing that can
                  be "discovered" by "solving riddles", or anything that starts
                  with "scientists want you to believe..." or anything that
                  calls the general population sheep(le)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>cryptids</strong> ⤳ no, i wish. (bigfoot call me ♡)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>destiny / fate</strong> ⤳ no
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>friday the 13th</strong> ⤳ no (except self-fulfilling
                  prophecy) <span class="gend-link"></span>
                </li>
                <li>
                  <strong>ghosts</strong> ⤳ no (i'm a
                  <a
                    href="https://www.youtube.com/@BuzzFeedUnsolvedNetwork"
                    target="_blank"
                    rel="nofollow"
                    >shaniac</a
                  >), but it would be awesome <span class="gend-link"></span>
                </li>
                <li>
                  <strong>god</strong> ⤳ no (i'm an atheist), except for god as
                  a social concept (who can have real power, just like money has
                  real power even though it's just paper or bits on a computer)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>karma</strong> ⤳ no, life ain't fair
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>life after death</strong> ⤳ no (i'm an atheist)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>lucky charms</strong> ⤳ not really, but they're fun
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>magic</strong> ⤳
                  <a
                    href="https://www.youtube.com/watch?v=JnbfuAcCqpY"
                    target="_blank"
                    rel="nofollow"
                    >no</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>manifestation</strong> ⤳ no, it's a mix of positive
                  thinking and the Baader-Meinhof phenomenon (and it's honestly
                  scary how many teens believe in this)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>meanings of dreams</strong> ⤳ only to the extent
                  common sense allows (aka dreaming about drowning means you're
                  probably scared of drowning), no deeper meanings, no symbolism
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>shifting</strong> ⤳ no, that's either (maladaptive)
                  daydreaming or lucid dreaming. be fr please.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>soulmates</strong> ⤳ yes, including (and especially)
                  platonic soulmates. but not just one per person
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>true love</strong> ⤳ yes, but
                  <a
                    href="https://listography.com/action/list?uid=0440224482&amp;lid=6456617679"
                    target="_blank"
                    rel="nofollow"
                    >not just one</a
                  >
                  per person, and not necessarily requited
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>ufos</strong> ⤳ yes, there are unidentified flying
                  objects sometimes. no, they're not aliens.
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                not listed are obvious facts such as climate change, or any
                personal value (such as "do you believe __ should be legal?").
              </p>
              <p>
                <a
                  href="https://uquiz.com/IPNTGB"
                  target="_blank"
                  rel="nofollow"
                  >do my quiz!</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 13 2024 ∞<br />
              aug 2 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2429817664" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2429817664"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2429817664"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2429817664"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2429817664"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Number"
      id="listbox-0499917612"
    >
      <div id="listbox-content-slot-0499917612">
        <div id="listbox-read-mode-content-0499917612">
          <div
            id="list-title-box-0499917612"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/my_hair_journey"
                >
                  about me <span class="box-subtitle"> (my hair journey) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                <strong>natural hair:</strong> grayish medium brown, straight
                (now a tiny bit wavy)
              </p>
              <p><strong>childhood:</strong></p>

              <ul>
                <li>shoulder-long bob <span class="gend-link"></span></li>
                <li>
                  longer straight hair with bangs
                  <span class="gend-link"></span>
                </li>
                <li>red streak <span class="gend-link"></span></li>
                <li>blonde streak <span class="gend-link"></span></li>
              </ul>
              <p><strong>high school:</strong></p>

              <ul>
                <li>
                  no streak, half long, half shoulder-long
                  <span class="gend-link"></span>
                </li>
                <li>all shoulder-long <span class="gend-link"></span></li>
                <li>a bit shorter, dyed red <span class="gend-link"></span></li>
                <li>sidecut <span class="gend-link"></span></li>
                <li>
                  pixie cut, dyed red, sidecut <span class="gend-link"></span>
                </li>
                <li>
                  a bit longer again, brown, no sidecut
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>adulthood - part 1:</strong></p>

              <ul>
                <li>
                  pixie cut again, still brown <span class="gend-link"></span>
                </li>
                <li>growing longer <span class="gend-link"></span></li>
                <li>reddish brown <span class="gend-link"></span></li>
                <li>
                  back to brown, growing longer, shoulder-length now
                  <span class="gend-link"></span>
                </li>
                <li>
                  growing even longer, side part <span class="gend-link"></span>
                </li>
                <li>
                  wolf cut with curtain bangs <span class="gend-link"></span>
                </li>
                <li>bleach blonde <span class="gend-link"></span></li>
              </ul>
              <p><strong>adulthood - part 2:</strong></p>

              <ul>
                <li>
                  half blonde, half bright purple
                  <span class="gend-link"></span>
                </li>
                <li>half blonde, half brown <span class="gend-link"></span></li>
                <li>
                  blunt bangs, still half blonde, half brown
                  <span class="gend-link"></span>
                </li>
                <li>
                  no/curtain bangs, still half blonde, half brown
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                <strong>currently:</strong> long split-dyed (brown and blonde)
                straight/slightly wavy hair, grown-out wolf cut with curtain
                bangs.
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              apr 1 2024 ∞<br />
              apr 20 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_0499917612" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_0499917612"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=0499917612"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-0499917612"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-0499917612"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-7814417680"
    >
      <div id="listbox-content-slot-7814417680">
        <div id="listbox-read-mode-content-7814417680">
          <div
            id="list-title-box-7814417680"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/about_me/celebrities_that_are_my_height"
                >
                  about me
                  <span class="box-subtitle">
                    (celebrities that are my height)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>1,65 m (5'5")</p>

              <ul>
                <li>
                  <strong>daniel radcliffe</strong>
                  <span class="gend-link"></span>
                </li>
                <li>emma watson <span class="gend-link"></span></li>
                <li>
                  <strong>josh hutcherson</strong>
                  <span class="gend-link"></span>
                </li>
                <li>kristen stewart <span class="gend-link"></span></li>
                <li>maggie smith <span class="gend-link"></span></li>
                <li>miley cyrus <span class="gend-link"></span></li>
                <li>rita ora <span class="gend-link"></span></li>
                <li>selena gomez <span class="gend-link"></span></li>
              </ul>
              <p>
                see also:
                <a
                  href="https://listography.com/action/list?uid=0440224482&amp;lid=1914510556"
                  target="_blank"
                  rel="nofollow"
                  >beautiful women with small chests</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jan 6 2024 ∞<br />
              may 2 2026 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_7814417680" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_7814417680"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=7814417680"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-7814417680"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-7814417680"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
</div>
