<div id="list_container" class="list_container" style="margin-top: 385px">
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-4429910331"
    >
      <div id="listbox-content-slot-4429910331">
        <div id="listbox-read-mode-content-4429910331">
          <div
            id="list-title-box-4429910331"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/movies/favorite_by_genre"
                >
                  movies <span class="box-subtitle"> (favorite by genre) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  action ➙ jurassic park (1993) <span class="gend-link"></span>
                </li>
                <li>adventure ➙ up (2009) <span class="gend-link"></span></li>
                <li>
                  animation ➙ spirit: stallion of the cimarron (2002)
                  <em>or</em> frozen (2013) <span class="gend-link"></span>
                </li>
                <li>
                  anime ➙ spirited away (2001) <span class="gend-link"></span>
                </li>
                <li>
                  chick flick ➙ mean girls (2004)
                  <span class="gend-link"></span>
                </li>
                <li>
                  comedy ➙ the stag (2013) <em>or</em> little miss sunshine
                  (2006) <span class="gend-link"></span>
                </li>
                <li>
                  crime ➙ bad education (2019) <span class="gend-link"></span>
                </li>
                <li>
                  drama ➙ swiss army man (2016) <span class="gend-link"></span>
                </li>
                <li>
                  dystopia ➙ the hunger games (2012)
                  <span class="gend-link"></span>
                </li>
                <li>
                  fantasy ➙ the princess bride (1987)
                  <span class="gend-link"></span>
                </li>
                <li>
                  historical ➙ hidden figures (2016)
                  <span class="gend-link"></span>
                </li>
                <li>horror ➙ it (2017) <span class="gend-link"></span></li>
                <li>
                  musical ➙ pitch perfect (2012) <span class="gend-link"></span>
                </li>
                <li>
                  mystery ➙ knives out (2019) <span class="gend-link"></span>
                </li>
                <li>
                  romance ➙ twilight (2008) <span class="gend-link"></span>
                </li>
                <li>
                  romcom ➙ crazy, stupid, love. (2011)
                  <span class="gend-link"></span>
                </li>
                <li>
                  sci-fi ➙ star trek iv: the voyage home (1986)
                  <span class="gend-link"></span>
                </li>
                <li>
                  sports ➙ eddie the eagle (2015)
                  <span class="gend-link"></span>
                </li>
                <li>
                  superhero ➙ the avengers (2012)
                  <span class="gend-link"></span>
                </li>
                <li>
                  thriller ➙ zodiac (2008) <span class="gend-link"></span>
                </li>
                <li>
                  war ➙ the imitation game (2014)
                  <span class="gend-link"></span>
                </li>
                <li>
                  western ➙ django unchained (2012)
                  <ul>
                    <li>
                      <em>or, if it counts...</em> der schuh des manitu (2001)
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 21 2024 ∞<br />
              oct 10 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_4429910331" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_4429910331"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=4429910331"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-4429910331"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-4429910331"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-9992610338"
    >
      <div id="listbox-content-slot-9992610338">
        <div id="listbox-read-mode-content-9992610338">
          <div
            id="list-title-box-9992610338"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/movies/i_wish_i_could_see_again_for_the_first_time"
                >
                  movies
                  <span class="box-subtitle">
                    (i wish i could see again for the first time)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>ice age (2002) <span class="gend-link"></span></li>
                <li>
                  spirit: stallion of the cimarron (2002)
                  <span class="gend-link"></span>
                </li>
                <li>the hunger games (2012) <span class="gend-link"></span></li>
                <li>the avengers (2012) <span class="gend-link"></span></li>
                <li>jurassic park (1993) <span class="gend-link"></span></li>
                <li>swiss army man (2016) <span class="gend-link"></span></li>
                <li>
                  little miss sunshine (2006) <span class="gend-link"></span>
                </li>
                <li>
                  deadpool and wolverine (2024) <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                i did not include <em>the princess bride</em> in this list for
                the simple reason that it gets better with every watch.
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 15 2024 ∞<br />
              aug 26 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_9992610338" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_9992610338"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=9992610338"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-9992610338"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-9992610338"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3656817961"
    >
      <div id="listbox-content-slot-3656817961">
        <div id="listbox-read-mode-content-3656817961">
          <div
            id="list-title-box-3656817961"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/movies/longest_movie_streaks"
                >
                  movies
                  <span class="box-subtitle"> (longest movie streaks) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=3656817961&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p>"at least one movie a day" streaks!</p>
              <p>2023:</p>

              <ul>
                <li>
                  19/<a
                    href="https://letterboxd.com/petra1999/films/diary/for/2023/08/"
                    target="_blank"
                    rel="nofollow"
                    >08</a
                  >
                  - 10/<a
                    href="https://letterboxd.com/petra1999/films/diary/for/2023/09/"
                    target="_blank"
                    rel="nofollow"
                    >09</a
                  >
                  ﹥ 24 days, 25 movies ⋆ <span class="gend-link"></span>
                </li>
                <li>
                  09/<a
                    href="https://letterboxd.com/petra1999/films/diary/for/2023/05/"
                    target="_blank"
                    rel="nofollow"
                    >05</a
                  >
                  - 25/<a
                    href="https://letterboxd.com/petra1999/films/diary/for/2023/05/"
                    target="_blank"
                    rel="nofollow"
                    >05</a
                  >
                  ﹥ 17 days, 17 movies <span class="gend-link"></span>
                </li>
                <li>
                  17/<a
                    href="https://letterboxd.com/petra1999/films/diary/for/2023/03/"
                    target="_blank"
                    rel="nofollow"
                    >03</a
                  >
                  - 31/<a
                    href="https://letterboxd.com/petra1999/films/diary/for/2023/04/"
                    target="_blank"
                    rel="nofollow"
                    >04</a
                  >
                  ﹥ 17 days, 18 movies <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                → letterbo<a
                  href="https://letterboxd.com/Petra1999/films/diary/"
                  target="_blank"
                  rel="nofollow"
                  >xd</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 22 2023 ∞<br />
              jan 10 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3656817961" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3656817961"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3656817961"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3656817961"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3656817961"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2902017910"
    >
      <div id="listbox-content-slot-2902017910">
        <div id="listbox-read-mode-content-2902017910">
          <div
            id="list-title-box-2902017910"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/movies/one_movie_for_every_year_ive_been_alive"
                >
                  movies
                  <span class="box-subtitle">
                    (one movie for every year i've been alive)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                inspired by
                <a
                  href="https://listography.com/action/list?uid=0461222080&amp;lid=2709217952"
                  target="_blank"
                  rel="nofollow"
                  >maido</a
                >
              </p>

              <ul>
                <li>
                  <strong>1999:</strong> 10 Things I Hate About You
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2000:</strong> The Emperor’s New Groove
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2001:</strong> Der Schuh des Manitu ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2002:</strong> Spirit: Stallion of the Cimarron ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2003:</strong> Finding Nemo
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2004:</strong> Harry Potter and the Prisoner of
                  Azkaban <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2005:</strong> Brokeback Mountain
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2006:</strong> Night at the Museum
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2007:</strong> Zodiac ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2008:</strong> Twilight ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2009:</strong> Up <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2010:</strong> Tangled <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2011:</strong> Crazy, Stupid, Love. ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2012:</strong> The Avengers ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2013:</strong> Frozen <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2014:</strong> What We Do in the Shadows
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2015:</strong> Jurassic World
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2016:</strong> Swiss Army Man ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2017:</strong> It ♡ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2018:</strong> Spider-Man: Into the Spider-Verse
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2019:</strong> Knives Out
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2020:</strong> Happiest Season
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2021:</strong> Bo Burnham: Inside
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2022:</strong> Thor: Love and Thunder
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2023:</strong> Barbie <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2024:</strong> Deadpool &amp; Wolverine ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2025:</strong> Jurassic World Rebirth
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              feb 26 2023 ∞<br />
              sep 9 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2902017910" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2902017910"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2902017910"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2902017910"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2902017910"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-9845617730"
    >
      <div id="listbox-content-slot-9845617730">
        <div id="listbox-read-mode-content-9845617730">
          <div
            id="list-title-box-9845617730"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/movies/seen_in_cinema"
                >
                  movies <span class="box-subtitle"> (seen in cinema) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                <a
                  href="https://letterboxd.com/petra1999/list/seen-in-cinema/"
                  target="_blank"
                  rel="nofollow"
                  >ltbx.</a
                >
                (<a
                  href="https://letterboxd.com/petra1999/list/to-watch-in-cinema-unreleased/"
                  target="_blank"
                  rel="nofollow"
                  >+</a
                >)
              </p>
              <p><strong>2026:</strong></p>

              <ul>
                <li>backrooms <span class="gend-link"></span></li>
                <li>
                  ready or not 2: here i come <span class="gend-link"></span>
                </li>
                <li>project hail mary <span class="gend-link"></span></li>
                <li>goat <span class="gend-link"></span></li>
              </ul>
              <p><strong>2025:</strong> ‍ ‍ ‍ <em>(10)</em></p>

              <ul>
                <li>now you see me 3 <span class="gend-link"></span></li>
                <li>wicked 2 <span class="gend-link"></span></li>
                <li>wall-e <span class="gend-link"></span></li>
                <li>legally blonde <span class="gend-link"></span></li>
                <li>thelma &amp; louise <span class="gend-link"></span></li>
                <li>das kanu des manitu <span class="gend-link"></span></li>
                <li>jurassic world: rebirth <span class="gend-link"></span></li>
                <li>thunderbolts* <span class="gend-link"></span></li>
                <li>mickey 17 <span class="gend-link"></span></li>
                <li>nosferatu <span class="gend-link"></span></li>
              </ul>
              <p><strong>2024:</strong> ‍ ‍ ‍ <em>(10)</em></p>

              <ul>
                <li>wicked <span class="gend-link"></span></li>
                <li>moana 2 <span class="gend-link"></span></li>
                <li>speak no evil <span class="gend-link"></span></li>
                <li>beetlejuice beetlejuice <span class="gend-link"></span></li>
                <li>
                  deadpool &amp; wolverine <strong>(2x)</strong>
                  <span class="gend-link"></span>
                </li>
                <li>love lies bleeding <span class="gend-link"></span></li>
                <li>inside out 2 <span class="gend-link"></span></li>
                <li>
                  kingdom of the planet of the apes
                  <span class="gend-link"></span>
                </li>
                <li>all of us strangers <span class="gend-link"></span></li>
              </ul>
              <p><strong>2023:</strong> ‍ ‍ ‍ <em>(6)</em></p>

              <ul>
                <li>
                  the hunger games: the ballad of songbirds &amp; snakes
                  <span class="gend-link"></span>
                </li>
                <li>five nights at freddy's <span class="gend-link"></span></li>
                <li>barbie <span class="gend-link"></span></li>
                <li>
                  spiderman: across the spider-verse
                  <span class="gend-link"></span>
                </li>
                <li>
                  the super mario bros. movie <span class="gend-link"></span>
                </li>
                <li>
                  avatar 2: the way of water <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>2022:</strong> ‍ ‍ ‍ <em>(5)</em></p>

              <ul>
                <li>
                  thor 4: love and thunder <span class="gend-link"></span>
                </li>
                <li>
                  doctor strange in the multiverse of madness
                  <span class="gend-link"></span>
                </li>
                <li>
                  jurassic world 3: dominion <span class="gend-link"></span>
                </li>
                <li>
                  fantastic beasts 3: the secrets of dumbledore
                  <strong>(2x)</strong> <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>2021:</strong> ‍ ‍ ‍ <em>(4)</em></p>

              <ul>
                <li>spider-man: no way home <span class="gend-link"></span></li>
                <li>free guy <span class="gend-link"></span></li>
                <li>kaiserschmarrndrama <span class="gend-link"></span></li>
                <li>cruella <span class="gend-link"></span></li>
              </ul>
              <p><strong>2020:</strong> ‍ ‍ ‍ <em>(1)</em></p>

              <ul>
                <li>frozen 2 <span class="gend-link"></span></li>
              </ul>
              <p><strong>2019:</strong> ‍ ‍ ‍ <em>(2)</em></p>

              <ul>
                <li>
                  pokémon: detective pikachu <span class="gend-link"></span>
                </li>
                <li>avengers: endgame <span class="gend-link"></span></li>
              </ul>
              <p><strong>2018:</strong> ‍ ‍ ‍ <em>(4)</em></p>

              <ul>
                <li>
                  fantastic beasts: the crimes of grindelwald
                  <span class="gend-link"></span>
                </li>
                <li>searching <span class="gend-link"></span></li>
                <li>avengers: infinity war <span class="gend-link"></span></li>
                <li>
                  maze runner: the death cure <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>2017:</strong> ‍ ‍ ‍ <em>(3)</em></p>

              <ul>
                <li>thor: ragnarok <span class="gend-link"></span></li>
                <li>spider-man: homecoming <span class="gend-link"></span></li>
                <li>wonder woman <span class="gend-link"></span></li>
              </ul>
              <p><strong>2016:</strong> ‍ ‍ ‍ <em>(5)</em></p>

              <ul>
                <li>moana <span class="gend-link"></span></li>
                <li>
                  fantastic beasts and where to find them
                  <span class="gend-link"></span>
                </li>
                <li>doctor strange <span class="gend-link"></span></li>
                <li>suicide squad <span class="gend-link"></span></li>
                <li>
                  captain america: civil war <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>2015:</strong> ‍ ‍ ‍ <em>(7)</em></p>

              <ul>
                <li>
                  star wars: the force awakens <span class="gend-link"></span>
                </li>
                <li>steve jobs <span class="gend-link"></span></li>
                <li>crimson peak <span class="gend-link"></span></li>
                <li>inside out <span class="gend-link"></span></li>
                <li>fuck ju göhte 2 <span class="gend-link"></span></li>
                <li>avengers: age of ultron <span class="gend-link"></span></li>
                <li>
                  the spongebob movie: sponge out of water
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>2014:</strong> ‍ ‍ ‍ <em>(7)</em></p>

              <ul>
                <li>big hero 6 <span class="gend-link"></span></li>
                <li>
                  the hunger games: mockingjay part 1
                  <span class="gend-link"></span>
                </li>
                <li>guardians of the galaxy <span class="gend-link"></span></li>
                <li>lucy <span class="gend-link"></span></li>
                <li>
                  how to train your dragon 2 <span class="gend-link"></span>
                </li>
                <li>the fault in our stars <span class="gend-link"></span></li>
                <li>neighbors <span class="gend-link"></span></li>
              </ul>
              <p><strong>2013:</strong> ‍ ‍ ‍ <em>(5)</em></p>

              <ul>
                <li>frozen <span class="gend-link"></span></li>
                <li>
                  the hunger games: catching fire
                  <span class="gend-link"></span>
                </li>
                <li>thor: the dark world <span class="gend-link"></span></li>
                <li>we're the millers <span class="gend-link"></span></li>
                <li>
                  the mortal instruments: city of bones
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jan 5 2020 ∞<br />
              jun 28 2026 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_9845617730" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_9845617730"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=9845617730"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-9845617730"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-9845617730"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-1097717382"
    >
      <div id="listbox-content-slot-1097717382">
        <div id="listbox-read-mode-content-1097717382">
          <div
            id="list-title-box-1097717382"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/movies/letterboxd_lists"
                >
                  movies <span class="box-subtitle"> (letterboxd lists) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <a
                    href="https://letterboxd.com/tajlv/list/best-picture/"
                    target="_blank"
                    rel="nofollow"
                    >acedemy awards for best picture
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://letterboxd.com/chuethan0/list/cinefixs-50-favourite-movies-of-all-time/"
                    target="_blank"
                    rel="nofollow"
                    >cinefix's 50 favorite movies of all time
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://letterboxd.com/johncassavetes/list/old-films-for-people-who-want-to-watch-more/by/popular/"
                    target="_blank"
                    rel="nofollow"
                    >“old films” for people who want to watch more “old films”
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://letterboxd.com/ghouliasyelps/list/every-movie-mentioned-referenced-on-game/"
                    target="_blank"
                    rel="nofollow"
                    >every movie mentioned by the game grumps
                  </a>
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>series</strong></p>

              <ul>
                <li>
                  <a
                    href="https://letterboxd.com/jplaba/list/star-wars-release-order/"
                    target="_blank"
                    rel="nofollow"
                    >star wars - release order
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://letterboxd.com/stephen_morton/list/ghibli-and-pre-ghibli/by/release-earliest/"
                    target="_blank"
                    rel="nofollow"
                    >studio ghibli
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://letterboxd.com/isabellecody/list/james-bond-in-order/"
                    target="_blank"
                    rel="nofollow"
                    >james bond
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://letterboxd.com/solitaryparade/list/mcu/"
                    target="_blank"
                    rel="nofollow"
                    >mcu
                  </a>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              dec 2 2018 ∞<br />
              may 23 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_1097717382" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_1097717382"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=1097717382"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-1097717382"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-1097717382"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
</div>
