<div id="list_container" class="list_container" style="margin-top: 489px">
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Number"
      id="listbox-1846610534"
    >
      <div id="listbox-content-slot-1846610534">
        <div id="listbox-read-mode-content-1846610534">
          <div
            id="list-title-box-1846610534"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/youtube/most_rewatched"
                >
                  youtube <span class="box-subtitle"> (most rewatched) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  danny gonzalez
                  <ul>
                    <li>
                      i know his videos by heart at this point
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>drew gooden <span class="gend-link"></span></li>
                <li>sam o'nella <span class="gend-link"></span></li>
                <li>coldmirror <span class="gend-link"></span></li>
                <li>game grumps <span class="gend-link"></span></li>
                <li>buzzfeed unsolved <span class="gend-link"></span></li>
                <li>vsauce <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jan 22 2026 ∞<br />
              jun 15 2026 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_1846610534" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_1846610534"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=1846610534"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-1846610534"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-1846610534"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3386710339"
    >
      <div id="listbox-content-slot-3386710339">
        <div id="listbox-read-mode-content-3386710339">
          <div
            id="list-title-box-3386710339"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/youtube/youtubers_i_have_a_lil_crush_on"
                >
                  youtube
                  <span class="box-subtitle">
                    (youtubers i have a lil crush on)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>i have nothing to say in my defense.</p>

              <ul>
                <li>arin hanson <span class="gend-link"></span></li>
                <li>chad chad <span class="gend-link"></span></li>
                <li>dan avidan ! <span class="gend-link"></span></li>
                <li>danny gonzalez <span class="gend-link"></span></li>
                <li>drew gooden <span class="gend-link"></span></li>
                <li>jarvis johnson <span class="gend-link"></span></li>
                <li>jay foreman <span class="gend-link"></span></li>
                <li>michael from vsauce <span class="gend-link"></span></li>
              </ul>
              <p>what can i say, i love my funny lil critters</p>
              <p>‍ ‍ ‍‍ ‍</p>
              <p>in the past:</p>

              <ul>
                <li>chase (from gmm) <span class="gend-link"></span></li>
                <li>cinemasins guy <span class="gend-link"></span></li>
                <li>dan howell (?) <span class="gend-link"></span></li>
                <li>
                  ian hecox (&amp; anthony?) <span class="gend-link"></span>
                </li>
                <li>jacksepticeye <span class="gend-link"></span></li>
                <li>link neal <span class="gend-link"></span></li>
                <li>ryan bergara <span class="gend-link"></span></li>
                <li>sarazar <span class="gend-link"></span></li>
                <li>shane madej <span class="gend-link"></span></li>
                <li>the whole dream team <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 25 2024 ∞<br />
              mar 29 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3386710339" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3386710339"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3386710339"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3386710339"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3386710339"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3754717692"
    >
      <div id="listbox-content-slot-3754717692">
        <div id="listbox-read-mode-content-3754717692">
          <div
            id="list-title-box-3754717692"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/youtube/favorite_game_grumps_videos"
                >
                  youtube
                  <span class="box-subtitle">
                    (favorite game grumps videos)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=3754717692&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <ul>
                <li>
                  any humongous game, especially putt putt
                  <span class="gend-link"></span>
                </li>
                <li>
                  trivial pursuit, jeopardy, family feud, who wants to be a
                  millionaire, are you smarter than a 5th grader, ... (any quiz
                  show game) <span class="gend-link"></span>
                </li>
                <li>mario maker <span class="gend-link"></span></li>
                <li>
                  visual novels
                  <ul>
                    <li>doki doki <span class="gend-link"></span></li>
                    <li>danganronpa <span class="gend-link"></span></li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>house party <span class="gend-link"></span></li>
                <li>old(ish) zelda games <span class="gend-link"></span></li>
                <li>
                  really bad/old/stupid games i would never ever play myself
                  <span class="gend-link"></span>
                </li>
                <li>
                  games for girls (especially horse games)
                  <ul>
                    <li>
                      horse club adventures <span class="gend-link"></span>
                    </li>
                    <li>
                      america's next top model <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  wii games
                  <ul>
                    <li>endless ocean! <span class="gend-link"></span></li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  80s &amp; early 90s games
                  <ul>
                    <li>sega CD <span class="gend-link"></span></li>
                    <li>CD-i <span class="gend-link"></span></li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  board games
                  <ul>
                    <li>
                      classic board games (chess, koi-koi)
                      <span class="gend-link"></span>
                    </li>
                    <li>monopoly <span class="gend-link"></span></li>
                    <li>game of life <span class="gend-link"></span></li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>hidden object games <span class="gend-link"></span></li>
                <li>mario party <span class="gend-link"></span></li>
              </ul>
              <p>
                <a
                  href="https://listography.com/action/list?uid=0440224482&amp;lid=1027214808"
                  target="_blank"
                  rel="nofollow"
                  >♡</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 14 2024 ∞<br />
              oct 7 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3754717692" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3754717692"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3754717692"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3754717692"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3754717692"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-9016617614"
    >
      <div id="listbox-content-slot-9016617614">
        <div id="listbox-read-mode-content-9016617614">
          <div
            id="list-title-box-9016617614"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/youtube/favorite_long_video_essays"
                >
                  youtube
                  <span class="box-subtitle">
                    (favorite long video essays)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  Jenny Nicholson:
                  <a
                    href="https://www.youtube.com/watch?v=B-8zmGr0geQ&amp;t=2820s"
                    target="_blank"
                    rel="nofollow"
                    >I watched all 14 Land Before Times</a
                  >
                  <em>(0:58:45)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Jenny Nicholson:
                  <a
                    href="https://www.youtube.com/watch?v=4fVOF2PiHnc&amp;pp=ygUjVGhlIExhc3QgQnJvbnljb246IGEgZmFuZG9tIGF1dG9wc3k%3D"
                    target="_blank"
                    rel="nofollow"
                    >The Last Bronycon: a fandom autopsy</a
                  >
                  <em>(1:11:27)</em> <span class="gend-link"></span>
                </li>
                <li>
                  jan Misali:
                  <a
                    href="https://www.youtube.com/watch?v=XejJ6PzPtEw"
                    target="_blank"
                    rel="nofollow"
                    >how many Super Mario games are there?</a
                  >
                  <em>(0:46:39)</em>
                  <ul>
                    <li>
                      sequel:
                      <a
                        href="https://www.youtube.com/watch?v=-Ddmjcy3lEs"
                        target="_blank"
                        rel="nofollow"
                        >how many Super Mario games are there NOW?</a
                      >
                      <em>(2:09:45)</em> <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  loser sits by herself:
                  <a
                    href="https://www.youtube.com/watch?v=-hedzc5H7eQ"
                    target="_blank"
                    rel="nofollow"
                    >The Queer Coding and Internalised Homophobia of Mike
                    Wheeler</a
                  >
                  (1:20:44) <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              mar 16 2024 ∞<br />
              nov 10 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_9016617614" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_9016617614"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=9016617614"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-9016617614"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-9016617614"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-9568117608"
    >
      <div id="listbox-content-slot-9568117608">
        <div id="listbox-read-mode-content-9568117608">
          <div
            id="list-title-box-9568117608"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/youtube/game_grumps__a_summary"
                >
                  youtube
                  <span class="box-subtitle"> (game grumps: a summary) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  bienvenue power bottoms! <span class="gend-link"></span>
                </li>
                <li>
                  naming things 'smeef' and 'slurp' etc.
                  <span class="gend-link"></span>
                </li>
                <li>
                  dan (almost) falling asleep <span class="gend-link"></span>
                </li>
                <li>
                  arin talking about farting, shitting, and sucking dick
                  <span class="gend-link"></span>
                </li>
                <li>
                  arin being bi in general <span class="gend-link"></span>
                </li>
                <li>
                  dan's music references (incl. ocd-induced memory of release
                  dates) <span class="gend-link"></span>
                </li>
                <li>'have we started?' <span class="gend-link"></span></li>
                <li>uncontrollable laughter <span class="gend-link"></span></li>
                <li>
                  uncontrollable screaming <span class="gend-link"></span>
                </li>
                <li>what's updog? <span class="gend-link"></span></li>
                <li>
                  dan not liking scary games ('is this a horror game?')
                  <span class="gend-link"></span>
                </li>
                <li>
                  arin skipping tutorials (and immediately fucking up)
                  <span class="gend-link"></span>
                </li>
                <li>
                  them being the cutest friends <span class="gend-link"></span>
                </li>
                <li>golf! games! <span class="gend-link"></span></li>
                <li>dan singing <span class="gend-link"></span></li>
                <li>arin beatboxing <span class="gend-link"></span></li>
                <li>
                  playing the shittiest, most broken games ever
                  <span class="gend-link"></span>
                </li>
                <li>
                  the disappointed "...arin" <span class="gend-link"></span>
                </li>
                <li>
                  them trying to use gen z slang ("let's fucking go!", "kitten")
                  <span class="gend-link"></span>
                </li>
                <li>'arin, what is this' <span class="gend-link"></span></li>
                <li>you okay, big cat? ♡ <span class="gend-link"></span></li>
              </ul>
              <p>
                see also:
                <a
                  href="https://listography.com/action/list?uid=0440224482&amp;lid=8676917647"
                  target="_blank"
                  rel="nofollow"
                  >game grumps loveposting</a
                >
                &amp;
                <a
                  href="https://listography.com/petra1999/youtube/fave_game_grumps_moments_quotes"
                  target="_blank"
                  rel="nofollow"
                  >my fave gg quotes/moments</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              dec 14 2023 ∞<br />
              jun 19 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_9568117608" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_9568117608"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=9568117608"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-9568117608"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-9568117608"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-7427917993"
    >
      <div id="listbox-content-slot-7427917993">
        <div id="listbox-read-mode-content-7427917993">
          <div
            id="list-title-box-7427917993"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/youtube/fave_game_grumps_moments_quotes"
                >
                  youtube
                  <span class="box-subtitle">
                    (fave game grumps moments/quotes)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=7427917993&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p>
                favorite
                <a
                  href="https://listography.com/petra1999/youtube/game_grumps_watchlist"
                  target="_blank"
                  rel="nofollow"
                  >game grumps</a
                >
                moments/quotes
              </p>

              <ul>
                <li>
                  doki doki potato stuffing into mouth
                  <span class="gend-link"></span>
                </li>
                <li>denim denim denim <span class="gend-link"></span></li>
                <li>
                  why would you assume that <span class="gend-link"></span>
                </li>
                <li>the d club <span class="gend-link"></span></li>
                <li>
                  oh it's been cleared for years <span class="gend-link"></span>
                </li>
                <li>does bruno mars is gay? <span class="gend-link"></span></li>
                <li>mark zuckerberg!!! <span class="gend-link"></span></li>
                <li>
                  w is for: wow, that's a stretch
                  <span class="gend-link"></span>
                </li>
                <li>
                  like what you see? (arin's hot texts)
                  <span class="gend-link"></span>
                </li>
                <li>mmmmm funny joke <span class="gend-link"></span></li>
                <li>
                  house party painting + hows it going dudes
                  <span class="gend-link"></span>
                </li>
                <li>
                  arin's insane rage to bowser in mario maker (you're a freak!)
                  <span class="gend-link"></span>
                </li>
                <li>that's a nice coat <span class="gend-link"></span></li>
                <li>
                  taking a selfie with ganondorf <span class="gend-link"></span>
                </li>
                <li>
                  dan saying link is hot (episode 1 of botw)
                  <span class="gend-link"></span>
                </li>
                <li>
                  conversation about link porn (botw)
                  <span class="gend-link"></span>
                </li>
                <li>
                  wheel of fortune: lose a turn! <span class="gend-link"></span>
                </li>
                <li>
                  ugly ass moon in the sky (ocarina of time)?
                  <span class="gend-link"></span>
                </li>
                <li>
                  dan's "AH!" for the non-scary skeleton
                  <span class="gend-link"></span>
                </li>
                <li>
                  the "...... daaaan" intro <span class="gend-link"></span>
                </li>
                <li>
                  kiss the ones that you love (outro)
                  <span class="gend-link"></span>
                </li>
                <li>
                  leisure suit larry (..just all of it)
                  <span class="gend-link"></span>
                </li>
                <li>arrow sounds (pfft) <span class="gend-link"></span></li>
                <li>
                  arin singing darude sandstorm <span class="gend-link"></span>
                </li>
                <li>
                  stay with me forever, arin (super mario galaxy)
                  <span class="gend-link"></span>
                </li>
                <li>
                  april fools' facecam cuddling <span class="gend-link"></span>
                </li>
                <li>
                  look at us, a couple of cards <span class="gend-link"></span>
                </li>
                <li>for my a-muzu-ment!! <span class="gend-link"></span></li>
                <li>
                  there's gotta be some way to fuck it
                  <span class="gend-link"></span>
                </li>
                <li>
                  at age 6 i was born without a face
                  <span class="gend-link"></span>
                </li>
                <li>
                  the bananas has gone bad <span class="gend-link"></span>
                </li>
                <li>
                  the carbuncle ate itself <span class="gend-link"></span>
                </li>
                <li>
                  arin getting rejected by helena
                  <span class="gend-link"></span>
                </li>
                <li>it's okay, big cat <span class="gend-link"></span></li>
                <li>
                  <a
                    href="https://www.youtube.com/watch?v=9Fq3RkJDj80&amp;feature=youtu.be"
                    target="_blank"
                    rel="nofollow"
                    >23</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  i'm always right, except when i'm wrong, which is often
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/watch?v=VsPD0iFrm-c"
                    target="_blank"
                    rel="nofollow"
                    >i adore you
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://petrapng.tumblr.com/post/151431707218"
                    target="_blank"
                    rel="nofollow"
                    >D:
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>updog <span class="gend-link"></span></li>
                <li>yellvis <span class="gend-link"></span></li>
                <li>
                  my dead son (endless ocean 2) <span class="gend-link"></span>
                </li>
                <li>
                  dan's car exploding (?? or was it arins? i don't mean the
                  "that car fucking exploded", the other one, while playing an
                  old zelda) <span class="gend-link"></span>
                </li>
                <li>dan's ocd story <span class="gend-link"></span></li>
                <li>
                  i don't want to come out for you
                  <span class="gend-link"></span>
                </li>
                <li>
                  look at us, a couple of cards <span class="gend-link"></span>
                </li>
                <li>
                  nuzu, dispose of muzu, for my amuzument
                  <span class="gend-link"></span>
                </li>
                <li>
                  Zelda looking through window <span class="gend-link"></span>
                </li>
                <li>Just SOMETHING happen <span class="gend-link"></span></li>
                <li>
                  Cat game bad english (buttering the weekend)
                  <span class="gend-link"></span>
                </li>
                <li>stick fight moment <span class="gend-link"></span></li>
                <li>
                  Pause screen music (How did they publish this?)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>what the fuck petra</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  and now immediately i've sold him out. it's quite a dick move,
                  <a
                    href="https://www.youtube.com/shorts/GxBk8tceEQg"
                    target="_blank"
                    rel="nofollow"
                    >really.</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  teletubbies game periscope sound
                  <span class="gend-link"></span>
                </li>
                <li>srgt tibbs (tits) <span class="gend-link"></span></li>
                <li>
                  look at the way he slurps his soup... what an asshole!
                  <span class="gend-link"></span>
                </li>
                <li>
                  why don't you look at me during
                  <span class="gend-link"></span>
                </li>
                <li>
                  the smashing pumpkins album 'mellon collie and the infinite
                  sadness' ... you know it very well! / <em>this</em> is the
                  thing you choose to gaslight me over
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://youtu.be/UIuBtasmz0g?si=6aMdOIUTEVakk7CN&amp;t=1630"
                    target="_blank"
                    rel="nofollow"
                    >uh hello, this is the uh- pizza place</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  (game glitches) ok, bad example...
                  <span class="gend-link"></span>
                </li>
                <li>
                  Hammerhead sharks.. The most viscous of them all. As long as
                  you don't startle them, you should have nothing to
                  <a
                    href="https://www.youtube.com/watch?v=1IdbNZbLfqg"
                    target="_blank"
                    rel="nofollow"
                    >WORRY ABOUT!!!</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  i wasn't even being racist....
                  <a
                    href="https://youtu.be/Gq2ahFRJV3s?si=8-92Jrvva23hTJdI"
                    target="_blank"
                    rel="nofollow"
                    >OH HERROOOO!</a
                  >
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                see also:
                <a
                  href="https://listography.com/action/list?uid=0440224482&amp;lid=9568117608"
                  target="_blank"
                  rel="nofollow"
                  >game grumps: a summary</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              mar 20 2023 ∞<br />
              oct 18 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_7427917993" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_7427917993"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=7427917993"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-7427917993"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-7427917993"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-0302717175"
    >
      <div id="listbox-content-slot-0302717175">
        <div id="listbox-read-mode-content-0302717175">
          <div
            id="list-title-box-0302717175"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/youtube/channels_i_watch_a_lot"
                >
                  youtube
                  <span class="box-subtitle"> (channels i watch a lot) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=0302717175&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p><strong>all youtubers i have watched a ton of.</strong></p>
              <p>
                see also:
                <a
                  href="https://listography.com/petra1999/favorites/youtube_channels"
                  target="_blank"
                  rel="nofollow"
                  >my favorite youtube channels</a
                >
              </p>

              <ul>
                <li>
                  <strong>comedic animation:</strong>
                  <ul>
                    <li>casually explained <span class="gend-link"></span></li>
                    <li>coldmirror ♡ <span class="gend-link"></span></li>
                    <li>domics <span class="gend-link"></span></li>
                    <li>sam o'nella academy <span class="gend-link"></span></li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>commentary:</strong>
                  <ul>
                    <li>chad chad <span class="gend-link"></span></li>
                    <li>
                      danny gonzalez (+ 2nd channel) ♡
                      <span class="gend-link"></span>
                    </li>
                    <li>drew gooden ♡ <span class="gend-link"></span></li>
                    <li>
                      jarvis johnson (+ 2nd channel)
                      <span class="gend-link"></span>
                    </li>
                    <li>kurtis conner ♡ <span class="gend-link"></span></li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  dan and phil ♡
                  <ul>
                    <li>amazingphil <span class="gend-link"></span></li>
                    <li>danandphilgames <span class="gend-link"></span></li>
                    <li>daniel howell <span class="gend-link"></span></li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  game grumps
                  <ul>
                    <li>
                      game grumps
                      <a
                        href="https://listography.com/petra1999/youtube/game_grumps_watchlist"
                        target="_blank"
                        rel="nofollow"
                        >♡</a
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>the grumps ♡ <span class="gend-link"></span></li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  good mythical morning
                  <ul>
                    <li>good mythical more <span class="gend-link"></span></li>
                    <li>
                      good mythical morning <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>joy foreman / map men ♡ <span class="gend-link"></span></li>
                <li>micarah tewers <span class="gend-link"></span></li>
                <li>vsauce ♡ <span class="gend-link"></span></li>
              </ul>
              <p>‍ ‍ ‍ ‍‍</p>
              <p>in the past:</p>

              <ul>
                <li>dream team <span class="gend-link"></span></li>
                <li>cinemasins <span class="gend-link"></span></li>
                <li>callmekevin <span class="gend-link"></span></li>
                <li>gronkh <span class="gend-link"></span></li>
                <li>jacksepticeye <span class="gend-link"></span></li>
                <li>pewdiepie <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jan 31 2022 ∞<br />
              jun 22 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_0302717175" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_0302717175"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=0302717175"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-0302717175"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-0302717175"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-9369717975"
    >
      <div id="listbox-content-slot-9369717975">
        <div id="listbox-read-mode-content-9369717975">
          <div
            id="list-title-box-9369717975"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/youtube/biggest_comfort_channels"
                >
                  youtube
                  <span class="box-subtitle"> (biggest comfort channels) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>drew gooden <span class="gend-link"></span></li>
                <li>danny gonzalez <span class="gend-link"></span></li>
                <li>game grumps <span class="gend-link"></span></li>
                <li>good mythical morning <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              oct 26 2022 ∞<br />
              jun 10 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_9369717975" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_9369717975"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=9369717975"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-9369717975"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-9369717975"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
</div>
