<div id="list_container" class="list_container" style="margin-top: 490.6px">
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-0114317649"
    >
      <div id="listbox-content-slot-0114317649">
        <div id="listbox-read-mode-content-0114317649">
          <div
            id="list-title-box-0114317649"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/media/50yo__actresses_i_like"
                >
                  media
                  <span class="box-subtitle"> (50yo+ actresses i like) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=0114317649&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p>♡♡♡</p>

              <ul>
                <li>
                  Gillian Anderson <em>(1968)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  Olivia Colman <em>(1974)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Winona Ryder <em>(1971)</em> <span class="gend-link"></span>
                </li>
              </ul>
              <p>♡♡</p>

              <ul>
                <li>
                  Helena Bonham Carter <em>(1966)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  Jennifer Coolidge <em>(1961)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  Kathryn Hahn <em>(1973)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Laura Dern <em>(1967)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Maggie Smith <em>(1934)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Sandra Bullock <em>(1964)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Toni Colette <em>(1972)</em> <span class="gend-link"></span>
                </li>
              </ul>
              <p>♡</p>

              <ul>
                <li>
                  Allison Janney <em>(1959)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Cate Blanchett <em>(1969)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Jamie Lee Curtis <em>(1958)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  Jessica Lange <em>(1949)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Julianne Moore <em>(1960)</em> <span class="gend-link"></span>
                </li>
                <li>
                  Meryl Streep <em>(1949)</em> <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              oct 1 2023 ∞<br />
              sep 10 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_0114317649" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_0114317649"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=0114317649"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-0114317649"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-0114317649"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3516610345"
    >
      <div id="listbox-content-slot-3516610345">
        <div id="listbox-read-mode-content-3516610345">
          <div
            id="list-title-box-3516610345"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/media/love">
                  media <span class="box-subtitle"> (love) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p><strong>quotes.</strong></p>

              <ul>
                <li>
                  “i was unconditionally and irrevocably in love with him.”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “and so the lion fell in love with the lamb.”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “i love you,” i whispered. “you are my life now,” he answered
                  simply. <span class="gend-link"></span>
                </li>
                <li>
                  “i was in love with him, but it was not enough to change
                  anything” <span class="gend-link"></span>
                </li>
                <li>
                  “you and i have begun to blur” <span class="gend-link"></span>
                </li>
                <li>
                  “i’m curious whether either of us can survive separation”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “i decided when i heard his voice”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “before you and after you” <span class="gend-link"></span>
                </li>
                <li>
                  “can't live with him, can't live without him”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “i've never known myself as well as i know myself when i'm
                  with him” <span class="gend-link"></span>
                </li>
                <li>
                  “we couldn't leave without you”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “we want the same thing.” ・ “my friend, i'm sorry, but we do
                  not.” <span class="gend-link"></span>
                </li>
                <li>
                  “we're like bookends of the same soul.”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “do you think i care for you so little that betraying me would
                  make a difference?” <span class="gend-link"></span>
                </li>
                <li>
                  “did you see me?” ・ “when do i not see you?” ・ “what, one
                  face in all of that crowd?” ・ “there was a crowd, too?”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “if i loved you less, i might be able to talk about it more.”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “if love you; by extension, i hate all other things.”
                  <span class="gend-link"></span>
                </li>
                <li>
                  “whether you come as a lover or an executioner, i am ready to
                  receive you.” <span class="gend-link"></span>
                </li>
                <li>
                  “you said i killed you 一 haunt me then!”
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                <strong
                  >tropes<a
                    href="https://listography.com/action/list?uid=0440224482&amp;lid=9575417975"
                    target="_blank"
                    rel="nofollow"
                    >.</a
                  ></strong
                >
              </p>

              <ul>
                <li>
                  anguished declaration of love. <span class="gend-link"></span>
                </li>
                <li>enemies to lovers. <span class="gend-link"></span></li>
                <li>
                  enemies to lovers to enemies ...
                  <span class="gend-link"></span>
                </li>
                <li>friends to lovers. <span class="gend-link"></span></li>
                <li>in vito veritas. <span class="gend-link"></span></li>
                <li>'just friends'. <span class="gend-link"></span></li>
                <li>
                  like an old married couple. <span class="gend-link"></span>
                </li>
                <li>longing look. <span class="gend-link"></span></li>
                <li>love at first sight. <span class="gend-link"></span></li>
                <li>
                  mayfly-december romance<a
                    href="https://tropedia.fandom.com/wiki/Mayfly-December_Romance"
                    target="_blank"
                    rel="nofollow"
                    >.</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>mutual pining. <span class="gend-link"></span></li>
                <li>outlaw couple. <span class="gend-link"></span></li>
                <li>unrequited love. <span class="gend-link"></span></li>
                <li>was it all a lie? <span class="gend-link"></span></li>
                <li>you are worth hell. <span class="gend-link"></span></li>
              </ul>
              <p>
                <strong
                  >songs<a
                    href="https://open.spotify.com/playlist/07mqGzZvbremT9CpK9Vhgx?si=53f4ec1c17f64145"
                    target="_blank"
                    rel="nofollow"
                    >.</a
                  ></strong
                >
              </p>

              <ul>
                <li>
                  first day of my life ・ bright eyes
                  <ul>
                    <li>
                      <em>i think i was blind before i met you</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>i'm glad i didn't die before i met you</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  all of me ・ john legend
                  <ul>
                    <li>
                      <em>give your all to me, i'll give my all to you</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>you're my end and my beginning</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  eyes on you ・ mosaic msc
                  <ul>
                    <li>
                      <em>nothing compares, nothing comes close to you</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>eyes on you, you hold all my affection</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  thinking out loud ・ ed sheeran
                  <ul>
                    <li>
                      <em>people fall in love in mysterious ways</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>kiss me under the light of a thousand stars</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  i was made for lovin' you ・ kiss
                  <ul>
                    <li>
                      <em>and tonight, i wanna lay it at your feet</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em
                        >'cause girl, i was made for you, and girl, you were
                        made for me</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  invisible thread ・ matt gould, griffin matthews
                  <ul>
                    <li>
                      <em>there is a long invisible thread...</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em
                        >...that wraps around my heart and wraps around your
                        head</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  in case you don't live forever ・ ben platt
                  <ul>
                    <li>
                      <em>i'm everything that i am because of you</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>pieces of me are pieces of you</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  origin of love ・ mika
                  <ul>
                    <li>
                      <em>from the air i breathe to the love i need...</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>...only thing i know, you're the origin of love</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  what ifs ・ kane brown, lauren alaina
                  <ul>
                    <li>
                      <em
                        >what if i was made for you, and you were made for
                        me...</em
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>...what if this is it, what if it's meant to be?</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  in your eyes ・ peter gabriel
                  <ul>
                    <li>
                      <em
                        >i see the doorway to a thousand churches (in your
                        eyes)</em
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em
                        >to resolution of all the fruitless searches (in your
                        eyes)</em
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em
                        >i wanna touch the light, the heat i see in your
                        eyes</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ho hey ・ the lumineers
                  <ul>
                    <li>
                      <em>i belong with you, you belong with me...</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>...you're my sweetheart.</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  love me like you ・ little mix
                  <ul>
                    <li>
                      <em>i realized the truth: they can't love me like you</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  with me all along ・ bronze radio return
                  <ul>
                    <li>
                      <em>you've been with me all along, all along</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  please notice ・ christian leave
                  <ul>
                    <li>
                      <em>and baby, when you sleep, do you dream of me?</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>and when you're awake, do you think of me?</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  all i want ・ kodaline
                  <ul>
                    <li>
                      <em
                        >when you said your last goodbye i died a little bit
                        inside</em
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>if you loved me, why'd you leave me?</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  dandelions ・ ruth b.
                  <ul>
                    <li>
                      <em>and i see forever in your eyes</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em
                        >and i've heard of a love that comes once in a lifetime,
                        and i'm pretty sure that you are that love of mine</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  unchained melody ・ the righteous brothers
                  <span class="gend-link"></span>
                </li>
                <li>heaven ・ bryan adams <span class="gend-link"></span></li>
                <li>
                  goodbye my lover ・ james blunt
                  <ul>
                    <li>
                      <em>i've kissed your lips and held you head...</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>...shared your dreams and shared your bed.</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  arcade ・ duncan laurence
                  <ul>
                    <li>
                      <em
                        >i've spent all of the love i saved; we were always a
                        losing game</em
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em
                        >all i know, all i know: loving you is a losing game</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  helium ・ glass animals
                  <ul>
                    <li>
                      <em>i guess i want you more than i thought i did...</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em
                        >...now that i know that part of you's not part of
                        this</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  laughter lines ・ bastille
                  <ul>
                    <li>
                      <em>i'll see you in the future when we're older</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>i'll see with your laugther lines</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  no one knows us ・ banners, carly paige
                  <span class="gend-link"></span>
                </li>
                <li>
                  surrender ・ natalie taylor
                  <ul>
                    <li>
                      <em>whenever you're ready, whenever you're ready...</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em>...can we, can we surrender?</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  the anchor ・ bastille
                  <ul>
                    <li>
                      <em>you're the anchor that i tied to my brain</em>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <em
                        >all the time, all the time, i think of you all the
                        time</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  long long time ・linda ronstadt
                  <ul>
                    <li>
                      <em
                        >and i think i'm gonna love you for a long, long
                        time</em
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              nov 6 2024 ∞<br />
              jan 1 2026 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3516610345" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3516610345"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3516610345"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3516610345"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3516610345"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-9173210338"
    >
      <div id="listbox-content-slot-9173210338">
        <div id="listbox-read-mode-content-9173210338">
          <div
            id="list-title-box-9173210338"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/media/favorite_marvel_characters"
                >
                  media
                  <span class="box-subtitle">
                    (favorite marvel characters)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=9173210338&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <ul>
                <li>♡ loki laufeyson <span class="gend-link"></span></li>
                <li>
                  ♡ <em>wolverine</em> / logan howlett
                  <span class="gend-link"></span>
                </li>
                <li>
                  ♡ <em>deadpool</em> / wade wilson
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>spiderman</em> / peter parker
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>the hulk</em> / bruce banner
                  <span class="gend-link"></span>
                </li>
                <li>thor odinson <span class="gend-link"></span></li>
                <li>agent coulson <span class="gend-link"></span></li>
              </ul>
              <p>animated x-men:</p>

              <ul>
                <li>
                  <em>wolverine</em> / logan howlett
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>nightcrawler</em> / kurt wagner
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>gambit</em> / remy lebeau <span class="gend-link"></span>
                </li>
                <li>
                  <em>morph</em> / kevin sidney ‍ ‍ ‍ ‍‍ ‍ (only in '97)
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                see also:
                <a
                  href="https://listography.com/action/list?uid=0440224482&amp;lid=5126214109"
                  target="_blank"
                  rel="nofollow"
                  >movie checklist</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 15 2024 ∞<br />
              dec 20 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_9173210338" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_9173210338"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=9173210338"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-9173210338"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-9173210338"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-8766617669"
    >
      <div id="listbox-content-slot-8766617669">
        <div id="listbox-read-mode-content-8766617669">
          <div
            id="list-title-box-8766617669"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/media/women_that_make_me_love_womanhood"
                >
                  media
                  <span class="box-subtitle">
                    (women that make me love womanhood)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>chad chad <span class="gend-link"></span></li>
                <li>gillian anderson <span class="gend-link"></span></li>
                <li>olivia colman <span class="gend-link"></span></li>
                <li>phoebe waller-bridge <span class="gend-link"></span></li>
              </ul>
              <p>fiction:</p>

              <ul>
                <li>bella swan <span class="gend-link"></span></li>
                <li>clara oswald <span class="gend-link"></span></li>
                <li>dana scully <span class="gend-link"></span></li>
                <li>dr ellie sattler <span class="gend-link"></span></li>
                <li>elsa <span class="gend-link"></span></li>
                <li>fleabag <span class="gend-link"></span></li>
                <li>jennifer &amp; needy <span class="gend-link"></span></li>
                <li>nadja of antipaxos <span class="gend-link"></span></li>
                <li>princess bubblegum <span class="gend-link"></span></li>
                <li>rose tyler <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jul 11 2024 ∞<br />
              jul 11 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8766617669" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8766617669"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8766617669"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8766617669"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8766617669"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-1556117612"
    >
      <div id="listbox-content-slot-1556117612">
        <div id="listbox-read-mode-content-1556117612">
          <div
            id="list-title-box-1556117612"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/media/scary_scenes">
                  media <span class="box-subtitle"> (scary scenes) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <em>e.t.</em> | e.t.'s friends coming to earth
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>it</em> | in the basement of the library
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>it: chapter 2</em> | in the old lady's apartment
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>nope</em> | aliens in the stable
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>the exorcist</em> | crawling down the stairway
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>the shining</em> | bear costume man
                  <span class="gend-link"></span>
                </li>
                <li>
                  <em>the visit</em> | scratching on the wall
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              apr 2 2024 ∞<br />
              jun 21 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_1556117612" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_1556117612"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=1556117612"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-1556117612"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-1556117612"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2008017699"
    >
      <div id="listbox-content-slot-2008017699">
        <div id="listbox-read-mode-content-2008017699">
          <div
            id="list-title-box-2008017699"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/media/that_type_of_fictional_character_i_love"
                >
                  media
                  <span class="box-subtitle">
                    (that type of fictional character i love)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                fictional men that have "no feelings" but in actuality have so
                many feelings i love you
              </p>

              <ul>
                <li>
                  barney stinson ⬩ <em>how i met your mother</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  dean winchester ⬩ <em>supernatural</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  greg house ⬩ <em>house md</em> <span class="gend-link"></span>
                </li>
                <li>
                  hannibal lecter ⬩ <em>nbc hannibal</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  izzy hands ⬩ <em>our flag means death</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  logan / wolverine ⬩ <em>x-men / marvel</em>
                  <span class="gend-link"></span>
                </li>
                <li>loki ⬩ <em>mcu</em> <span class="gend-link"></span></li>
                <li>
                  roman roy ⬩ <em>succession</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  sheldon cooper ⬩ <em>the big bang theory</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  sherlock holmes ⬩ <em>bbc sherlock</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  spock ⬩ <em>star trek</em> <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 27 2024 ∞<br />
              aug 20 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2008017699" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2008017699"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2008017699"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2008017699"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2008017699"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-1478417616"
    >
      <div id="listbox-content-slot-1478417616">
        <div id="listbox-read-mode-content-1478417616">
          <div
            id="list-title-box-1478417616"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/media/tall_duos">
                  media <span class="box-subtitle"> (tall duos) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  rhett and link (Ø 192 cm) <span class="gend-link"></span>
                </li>
                <li>
                  dan and phil (Ø 189.5 cm) <span class="gend-link"></span>
                </li>
                <li>
                  sam and dean (Ø 189.5 cm) <span class="gend-link"></span>
                </li>
              </ul>
              <p>tallest person: rhett (201 cm)</p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              apr 15 2024 ∞<br />
              may 16 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_1478417616" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_1478417616"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=1478417616"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-1478417616"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-1478417616"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-5526617604"
    >
      <div id="listbox-content-slot-5526617604">
        <div id="listbox-read-mode-content-5526617604">
          <div
            id="list-title-box-5526617604"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/media/nostalgia">
                  media <span class="box-subtitle"> (nostalgia) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>a list of lists.</p>

              <ul>
                <li>
                  <a
                    href="https://listography.com/action/list?uid=0440224482&amp;lid=0136117651"
                    target="_blank"
                    rel="nofollow"
                    >books
                  </a>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://listography.com/petra1999/fandoms/timeline"
                    target="_blank"
                    rel="nofollow"
                    >fandom timeline</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  games:
                  <ul>
                    <li>
                      <a
                        href="https://listography.com/action/list?uid=0440224482&amp;lid=3386617603"
                        target="_blank"
                        rel="nofollow"
                        >flash games</a
                      >
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <a
                        href="https://listography.com/action/list?uid=0440224482&amp;lid=1956117798"
                        target="_blank"
                        rel="nofollow"
                        >nintendo games</a
                      >
                      <ul>
                        <li>
                          <a
                            href="https://listography.com/action/list?uid=0440224482&amp;lid=0723317075"
                            target="_blank"
                            rel="nofollow"
                            >dsi audios</a
                          >
                          <span class="gend-link"></span>
                        </li>
                      </ul>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <a
                        href="https://listography.com/action/list?uid=0440224482&amp;lid=1336617315"
                        target="_blank"
                        rel="nofollow"
                        >pc games</a
                      >
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  music:
                  <ul>
                    <li>
                      <a
                        href="https://listography.com/action/list?uid=0440224482&amp;lid=1016615110"
                        target="_blank"
                        rel="nofollow"
                        >sung/performed
                      </a>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <a
                        href="https://listography.com/action/list?uid=0440224482&amp;lid=1500017577"
                        target="_blank"
                        rel="nofollow"
                        >nostalgic
                      </a>
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      <a
                        href="https://listography.com/petra1999/music/old_favorite_songs"
                        target="_blank"
                        rel="nofollow"
                        >old favorite songs
                      </a>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <a
                    href="https://listography.com/petra1999/the_past/my_online_childhood"
                    target="_blank"
                    rel="nofollow"
                    >websites</a
                  >
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              dec 1 2023 ∞<br />
              jan 8 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_5526617604" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_5526617604"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=5526617604"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-5526617604"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-5526617604"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-6280317960"
    >
      <div id="listbox-content-slot-6280317960">
        <div id="listbox-read-mode-content-6280317960">
          <div
            id="list-title-box-6280317960"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/media/celebrity_crushes"
                >
                  media <span class="box-subtitle"> (celebrity crushes) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=6280317960&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <ul>
                <li>arin hanson <span class="gend-link"></span></li>
                <li>con o'neill <span class="gend-link"></span></li>
                <li>dan avidan ♡ <span class="gend-link"></span></li>
                <li>danny gonzalez <span class="gend-link"></span></li>
                <li>david tennant <span class="gend-link"></span></li>
                <li>gillian anderson <span class="gend-link"></span></li>
                <li>hugh jackman <span class="gend-link"></span></li>
                <li>jeff goldblum <span class="gend-link"></span></li>
                <li>jemaine clement <span class="gend-link"></span></li>
                <li>kristen stewart <span class="gend-link"></span></li>
                <li>mads mikkelsen <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 15 2023 ∞<br />
              aug 13 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_6280317960" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_6280317960"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=6280317960"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-6280317960"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-6280317960"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2460217969"
    >
      <div id="listbox-content-slot-2460217969">
        <div id="listbox-read-mode-content-2460217969">
          <div
            id="list-title-box-2460217969"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/media/episodes_every_show_should_have"
                >
                  media
                  <span class="box-subtitle">
                    (episodes every show should have)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>beach episode <span class="gend-link"></span></li>
                <li>christmas episode <span class="gend-link"></span></li>
                <li>halloween episode <span class="gend-link"></span></li>
                <li>meta episode <span class="gend-link"></span></li>
                <li>musical episode <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 28 2023 ∞<br />
              aug 6 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2460217969" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2460217969"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2460217969"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2460217969"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2460217969"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
</div>
