<div id="list_container" class="list_container" style="margin-top: 599.4px">
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-0869610333"
    >
      <div id="listbox-content-slot-0869610333">
        <div id="listbox-read-mode-content-0869610333">
          <div
            id="list-title-box-0869610333"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/tv/polyamory">
                  tv <span class="box-subtitle"> (polyamory) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=0869610333&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <ul>
                <li>
                  <span class="listbox-stricken"
                    >american horror story: asylum</span
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  american horror story: hotel <span class="gend-link"></span>
                </li>
                <li>black sails <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">elite</span>
                  <span class="gend-link"></span>
                </li>
                <li>good trouble <span class="gend-link"></span></li>
                <li>gossip girl <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">insatiable</span>
                  <span class="gend-link"></span>
                </li>
                <li>l word: generation q <span class="gend-link"></span></li>
                <li>riverdale <span class="gend-link"></span></li>
                <li>sense8 <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">she-ra</span>
                  <span class="gend-link"></span>
                </li>
                <li>she's gotta have it <span class="gend-link"></span></li>
                <li>siren <span class="gend-link"></span></li>
                <li>tales of the city <span class="gend-link"></span></li>
                <li>the expanse <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">the politician</span>
                  <span class="gend-link"></span>
                </li>
                <li>trigonometry <span class="gend-link"></span></li>
                <li>wanderlust <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken"
                    >what we do in the shadows</span
                  >
                  <span class="gend-link"></span>
                </li>
                <li>wheel of time <span class="gend-link"></span></li>
                <li>you me her <span class="gend-link"></span></li>
              </ul>
              <p>crossed are the ones i've seen.</p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jul 21 2024 ∞<br />
              aug 23 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_0869610333" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_0869610333"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=0869610333"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-0869610333"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-0869610333"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-0169417686"
    >
      <div id="listbox-content-slot-0169417686">
        <div id="listbox-read-mode-content-0169417686">
          <div
            id="list-title-box-0169417686"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/tv/succession">
                  tv <span class="box-subtitle"> (succession) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=0169417686&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p>
                some thoughts on <em>succession</em> characters throughout the
                seasons. <strong>SPOILERS AHEAD!</strong> btw i did a similar
                thing with
                <a
                  href="https://listography.com/action/list?uid=0440224482&amp;lid=5316817979"
                  target="_blank"
                  rel="nofollow"
                  >downton abbey</a
                >
                .
              </p>
              <p></p>
              <p>‍ ‍ ‍ ‍ ‍‍</p>
              <p><strong>after season 1:</strong></p>

              <ul>
                <li>
                  <strong>connor:</strong> i thought he was the most normal, but
                  he's insane, cringe, and has terrible anger issues. definitely
                  the worst sibling. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>frank:</strong> seems like a nice guy. probably one of
                  the most normal characters. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>gerri:</strong> seems like a nice gal. probably one of
                  the most normal characters, but i don't like her loyalty to
                  logan <span class="gend-link"></span>
                </li>
                <li>
                  <strong>greg:</strong> dumbass, but he's okay. i hate how he
                  lets people walk all over him, but i can see how that's going
                  to change <span class="gend-link"></span>
                </li>
                <li>
                  <strong>hugo:</strong> pretty neutral, like him more than
                  frank <span class="gend-link"></span>
                </li>
                <li>
                  <strong>kendall:</strong> great. he tries so hard, and he's
                  really okay except for the drug use.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>logan:</strong> fucking hate that guy. die already old
                  prick <span class="gend-link"></span>
                </li>
                <li>
                  <strong>marcia:</strong> such a bitch, there's something truly
                  wrong with her <span class="gend-link"></span>
                </li>
                <li>
                  <strong>rava:</strong> she seems nice &amp; smart, i kinda
                  love her <span class="gend-link"></span>
                </li>
                <li>
                  <strong>roman:</strong> i thought he was going to be the funny
                  one, and he is, but he's also such a pussy and a daddy's boy,
                  don't like him <span class="gend-link"></span>
                </li>
                <li>
                  <strong>shiv:</strong> she's alright except for her cheating,
                  and the whole relationship with tom is so strange, i don't
                  trust her <span class="gend-link"></span>
                </li>
                <li>
                  <strong>tom:</strong> i thought he's normal and deserves
                  better but he is a fucking psychopath. i hate how he treats
                  greg and he definitely deserves every shit he has to deal
                  with. plus he's absolutely gay.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>willa:</strong> i don't understand how she can be with
                  connor, she seems smart and nice.
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>favorite: kendall!</p>
              <p></p>
              <p>‍ ‍ ‍ ‍ ‍‍</p>
              <p><strong>after season 2:</strong></p>

              <ul>
                <li>
                  <strong>connor:</strong> dumbass.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>frank:</strong> (unchanged)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>gerri:</strong> i love her. girlboss. and i ship her
                  with roman. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>greg:</strong> he's slowly finding his place and i
                  like it. still takes too much shit from others though. he also
                  had a glowup. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>hugo:</strong> (unchanged)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>kendall:</strong> my boy is going through some shit. i
                  don't like his "drowning in pussy" phase. final episode
                  redeemed him, he's the king now.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>logan:</strong> better than last season, but still a
                  piece of shit. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>marcia:</strong> better than last season, but still a
                  bitch. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>mom (caroline):</strong> i know people hate her but i
                  kind of love her. she's great. maybe because i know the
                  actress from a different tole. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>naomi:</strong> i hate her, she's a bad influence on
                  kendall. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>rava:</strong> (unchanged)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>rhea:</strong> loved her at first. she's smart and
                  kinda cool, but she likes logan - ewww. later redeemed herself
                  a bit. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>roman:</strong> i love him this season. yeah, he
                  sucks, but i love him. his broken-ness is really coming
                  through. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>shiv:</strong> she's dumb and thinks she's smart. it's
                  annoying. she's also a fucking asshole.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>tom:</strong> annoying.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>willa:</strong> kind of a dumbass, i like her much
                  less now. <span class="gend-link"></span>
                </li>
              </ul>
              <p>favorite: dare i say it...? gerri and roman.</p>
              <p></p>
              <p>‍ ‍ ‍ ‍ ‍‍</p>
              <p><strong>after season 3:</strong></p>

              <ul>
                <li>
                  <strong>connor:</strong> he's much better this season, i
                  actually wish he was there more
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>frank:</strong> (unchanged)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>gerri:</strong> QUEEN and oh my god i need her and
                  roman to be a thing c'mon! <span class="gend-link"></span>
                </li>
                <li>
                  <strong>greg:</strong> suing greenpeace. it was all up and
                  down with him this season. he's fun but go he was acting like
                  a little shit <span class="gend-link"></span>
                </li>
                <li>
                  <strong>hugo:</strong> (unchanged)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>jess:</strong> she was cool
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>karolina:</strong> i've always loved her
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>kendall:</strong> his cheerful attitude is extremely
                  upsetting, i hated him in the first half. then he was back to
                  his miserable self and i liked him more again, but didn't love
                  him <span class="gend-link"></span>
                </li>
                <li>
                  <strong>kendall's children's bunnies:</strong> showstopping.
                  extraordinary. breathtaking. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>logan:</strong> he's annoying but i don't want to
                  smash my tv anymore when he's on screen.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>marcia:</strong> (unchanged)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>mom (caroline):</strong> i know she betrayed them or
                  whatever but she seems fine <span class="gend-link"></span>
                </li>
                <li>
                  <strong>naomi:</strong> i can't stand her
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>rava:</strong> getting bad vibes from her
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>roman:</strong> he's soo mean but i love my quivering
                  sad wet pathetic little rat ♡ go get that milf hell yeah mommy
                  issues <span class="gend-link"></span>
                </li>
                <li>
                  <strong>shiv:</strong> i half-hate half-like her, sometimes
                  she's the only one making rational decisions here (except
                  gerri) <span class="gend-link"></span>
                </li>
                <li>
                  <strong>tom:</strong> extra bi this season. (and such a
                  downer. boo-hoo i might go to jail for the crime i did.) i
                  like that he's standing up for himself.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>willa:</strong> i don't know if i like her more or
                  less now that she actually has a personality. probably more
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>favorite: roman ♡ ♡ (and gerri)</p>
              <p>‍ ‍ ‍ ‍ ‍‍</p>
              <p><strong>after season 4:</strong></p>

              <ul>
                <li>
                  <strong>connor:</strong> my sweet boy. he was nice this
                  season, and he kind of is a winner in all of this
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>frank:</strong> (unchanged)
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>gerri:</strong> damn she's in her fail era. didn't
                  like her that much :( <span class="gend-link"></span>
                </li>
                <li>
                  <strong>greg:</strong> greg the fucking egg. idk kind of
                  neutral, good for him though <span class="gend-link"></span>
                </li>
                <li>
                  <strong>hugo:</strong> getting really annoying here!!
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>kendall:</strong> i didn't hate him anymore, but he
                  deserved this <span class="gend-link"></span>
                </li>
                <li>
                  <strong>mom (caroline):</strong> slightly less cool this
                  season but she's not extremely annoying
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>rava:</strong> she just wants to protect her children,
                  i feel bad for her <span class="gend-link"></span>
                </li>
                <li>
                  <strong>roman:</strong> my boy. my sad little pathetic boy.
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>shiv:</strong> she was okay. i neither love her nor
                  hate her. it is very annoying how capricious she is, though
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>tom:</strong> wow. he was good this season. good for
                  him. <span class="gend-link"></span>
                </li>
                <li>
                  <strong>willa:</strong> icon, queen, legend.
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>favorite: roman</p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jan 23 2024 ∞<br />
              apr 20 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_0169417686" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_0169417686"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=0169417686"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-0169417686"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-0169417686"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-1713717632"
    >
      <div id="listbox-content-slot-1713717632">
        <div id="listbox-read-mode-content-1713717632">
          <div
            id="list-title-box-1713717632"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/tv/rewatched">
                  tv <span class="box-subtitle"> (rewatched) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=1713717632&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p>how many times have i seen a tv show?</p>

              <ul>
                <li>
                  a series of unfortunate events﹕ <strong>2.5x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  avatar: the last airbender﹕ <strong>2+x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  bbc sherlock﹕ <strong>3.5+x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  broadchurch﹕ <strong>2x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  crashing﹕ <strong>2x</strong> <span class="gend-link"></span>
                </li>
                <li>
                  doctor who﹕ <strong>~2x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  fleabag﹕ <strong>2x</strong> <span class="gend-link"></span>
                </li>
                <li>
                  glee﹕ <strong>2+x</strong> <span class="gend-link"></span>
                </li>
                <li>
                  good omens﹕ <strong>3-4x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  hannibal﹕ <strong>2+x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  how i met your mother﹕ <strong>2+x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  our flag means death﹕ <strong>2x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  scrubs﹕ <strong>~2x</strong> <span class="gend-link"></span>
                </li>
                <li>
                  sex education﹕ <strong>~2x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  stranger things﹕ <strong>2x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  supernatural﹕ <strong>2-3x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  the big bang theory﹕ <strong>2+x</strong>
                  <span class="gend-link"></span>
                </li>
                <li>
                  what we do in the shadows﹕ <strong>2x</strong>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 28 2023 ∞<br />
              jul 21 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_1713717632" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_1713717632"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=1713717632"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-1713717632"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-1713717632"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-6483417633"
    >
      <div id="listbox-content-slot-6483417633">
        <div id="listbox-read-mode-content-6483417633">
          <div
            id="list-title-box-6483417633"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/tv/snl">
                  tv <span class="box-subtitle"> (snl) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=6483417633&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p><strong>favorite peeps:</strong></p>

              <ul>
                <li>andy samberg <span class="gend-link"></span></li>
                <li>
                  <strong>bill hader</strong> ♡ <span class="gend-link"></span>
                </li>
                <li>colin jost <span class="gend-link"></span></li>
                <li>
                  <strong>fred armisen</strong> ♡
                  <span class="gend-link"></span>
                </li>
                <li>kate mckinnon <span class="gend-link"></span></li>
                <li>
                  <strong>pete davidson</strong> ♡
                  <span class="gend-link"></span>
                </li>
                <li>seth meyers <span class="gend-link"></span></li>
                <li>vanessa bayer <span class="gend-link"></span></li>
              </ul>
              <p>‍ ‍ ‍ ‍ ‍‍ ‍ ‍ ‍ ‍‍ ‍ ‍ ‍ ‍ <strong>guests:</strong></p>

              <ul>
                <li>adam driver <span class="gend-link"></span></li>
                <li>daniel craig <span class="gend-link"></span></li>
                <li>kristen steward <span class="gend-link"></span></li>
                <li>rami malek <span class="gend-link"></span></li>
              </ul>
              <p>‍ ‍ ‍‍ ‍ ‍ ‍ ‍</p>
              <p><strong>favorite skits:</strong></p>

              <ul>
                <li>"we've been fucking!" <span class="gend-link"></span></li>
                <li>
                  any skit where bill hader kisses a guy
                  <span class="gend-link"></span>
                </li>
                <li>
                  crying daughter in background <span class="gend-link"></span>
                </li>
                <li>
                  kristen steward duolingo to talk to kids
                  <span class="gend-link"></span>
                </li>
                <li>kristen steward kiss ad <span class="gend-link"></span></li>
                <li>
                  rami malek trying out mattresses
                  <span class="gend-link"></span>
                </li>
                <li>
                  spelling bee (little pig boy) <span class="gend-link"></span>
                </li>
                <li>
                  what's wrong with this image? <span class="gend-link"></span>
                </li>
                <li>
                  zac efron + fred armisen "i am your mother!"
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 4 2023 ∞<br />
              jun 28 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_6483417633" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_6483417633"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=6483417633"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-6483417633"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-6483417633"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3951117969"
    >
      <div id="listbox-content-slot-3951117969">
        <div id="listbox-read-mode-content-3951117969">
          <div
            id="list-title-box-3951117969"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/tv/top_on_tumblr">
                  tv <span class="box-subtitle"> (top on tumblr) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                <a
                  href="https://fandom.tumblr.com/tagged/tumblr2022"
                  target="_blank"
                  rel="nofollow"
                  >top tv shows on tumblr in 2022</a
                >
              </p>

              <ul>
                <li>
                  <span class="listbox-stricken">Stranger Things</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">The Owl House</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Our Flag Means Death</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Arcane</span>
                  <span class="gend-link"></span>
                </li>
                <li>House of the Dragon <span class="gend-link"></span></li>
                <li>
                  Miraculous: Tales of Ladybug &amp; Cat Noir
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken"
                    >What We Do In The Shadows</span
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Supernatural</span>
                  <span class="gend-link"></span>
                </li>
                <li>The Witcher <span class="gend-link"></span></li>
                <li>Succession <span class="gend-link"></span></li>
                <li>Moon Knight <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">The Sandman</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Heartstopper</span>
                  <span class="gend-link"></span>
                </li>
                <li>Amphibia <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">Doctor Who</span>
                  <span class="gend-link"></span>
                </li>
                <li>Obi-Wan Kenobi <span class="gend-link"></span></li>
                <li>KinnPorsche <span class="gend-link"></span></li>
                <li>9-1-1 <span class="gend-link"></span></li>
                <li>Hawkeye <span class="gend-link"></span></li>
                <li>
                  Rise of the Teenage Mutant Ninja Turtles
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Good Omens</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Euphoria</span>
                  <span class="gend-link"></span>
                </li>
                <li>The Umbrella Academy <span class="gend-link"></span></li>
                <li>
                  Percy Jackson and the Olympians
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Hannibal</span>
                  <span class="gend-link"></span>
                </li>
                <li>Gravity Falls <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">Bridgerton</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  Interview with the Vampire <span class="gend-link"></span>
                </li>
                <li>The Mandalorian <span class="gend-link"></span></li>
                <li>Danny Phantom <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken"
                    >Avatar: The Last Airbender</span
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Loki</span>
                  <span class="gend-link"></span>
                </li>
                <li>The Book of Boba Fett <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken"
                    >She-Hulk: Attorney at Law</span
                  >
                  <span class="gend-link"></span>
                </li>
                <li>Bad Buddy <span class="gend-link"></span></li>
                <li>Don’t Hug Me I’m Scared <span class="gend-link"></span></li>
                <li>Supergirl <span class="gend-link"></span></li>
                <li>The Untamed <span class="gend-link"></span></li>
                <li>Killing Eve <span class="gend-link"></span></li>
                <li>
                  Star Wars: The Clone Wars <span class="gend-link"></span>
                </li>
                <li>
                  Lord of the Rings: The Rings of Power
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Breaking Bad</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Steven Universe</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Game Of Thrones</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Merlin</span>
                  <span class="gend-link"></span>
                </li>
                <li>South Park <span class="gend-link"></span></li>
                <li>Shadow and Bone <span class="gend-link"></span></li>
                <li>Baymax! <span class="gend-link"></span></li>
                <li>Better Call Saul <span class="gend-link"></span></li>
                <li>
                  The Legend of Vox Machina <span class="gend-link"></span>
                </li>
                <li>First Kill <span class="gend-link"></span></li>
                <li>The Boys <span class="gend-link"></span></li>
                <li>Ninjago <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">Riverdale</span>
                  <span class="gend-link"></span>
                </li>
                <li>Teen Wolf <span class="gend-link"></span></li>
                <li>Derry Girls <span class="gend-link"></span></li>
                <li>Young Justice <span class="gend-link"></span></li>
                <li>Ted Lasso <span class="gend-link"></span></li>
                <li>Chucky <span class="gend-link"></span></li>
                <li>9-1-1: Lone Star <span class="gend-link"></span></li>
                <li>Druck <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken">Young Royals</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  Star Trek: Deep Space Nine <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Squid Game</span>
                  <span class="gend-link"></span>
                </li>
                <li>Ms. Marvel <span class="gend-link"></span></li>
                <li>A League of Their Own <span class="gend-link"></span></li>
                <li>Lego Monkie Kid <span class="gend-link"></span></li>
                <li>Andor <span class="gend-link"></span></li>
                <li>
                  Buffy the Vampire Slayer <span class="gend-link"></span>
                </li>
                <li>Criminal Minds <span class="gend-link"></span></li>
                <li>Gotham <span class="gend-link"></span></li>
                <li>
                  <span class="listbox-stricken"
                    >She-Ra and the Princesses of Power</span
                  >
                  <span class="gend-link"></span>
                </li>
                <li>The Wheel Of Time <span class="gend-link"></span></li>
                <li>Cobra Kai <span class="gend-link"></span></li>
                <li>Black Sails <span class="gend-link"></span></li>
                <li>
                  High School Musical: The Musical: The Series
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Wandavision</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken"
                    >Star Trek: The Original Series</span
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Adventure Time</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  Extraordinary Attorney Woo <span class="gend-link"></span>
                </li>
                <li>The Emmy Awards <span class="gend-link"></span></li>
                <li>
                  The Falcon and the Winter Soldier
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">Community</span>
                  <span class="gend-link"></span>
                </li>
                <li>Invader Zim <span class="gend-link"></span></li>
                <li>The Simpsons <span class="gend-link"></span></li>
                <li>Lucifer <span class="gend-link"></span></li>
                <li>Ghosts <span class="gend-link"></span></li>
                <li>Not Me <span class="gend-link"></span></li>
                <li>Love In The Air <span class="gend-link"></span></li>
                <li>Over The Garden Wall <span class="gend-link"></span></li>
                <li>Bee and PuppyCat <span class="gend-link"></span></li>
                <li>Legacies <span class="gend-link"></span></li>
                <li>Infinity Train <span class="gend-link"></span></li>
                <li>Abbott Elementary <span class="gend-link"></span></li>
                <li>The Flash <span class="gend-link"></span></li>
                <li>Columbo <span class="gend-link"></span></li>
                <li>Animaniacs <span class="gend-link"></span></li>
                <li>Peaky Blinders <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 26 2023 ∞<br />
              may 31 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3951117969" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3951117969"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3951117969"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3951117969"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3951117969"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Number"
      id="listbox-8996617979"
    >
      <div id="listbox-content-slot-8996617979">
        <div id="listbox-read-mode-content-8996617979">
          <div
            id="list-title-box-8996617979"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/tv/downton_abbey_ships"
                >
                  tv <span class="box-subtitle"> (downton abbey ships) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=8996617979&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p><strong>spoiler warning</strong> <strong>!!!!</strong></p>
              <p><em>after season one:</em></p>

              <ul>
                <li>anna &amp; mr bates <span class="gend-link"></span></li>
                <li>sybil &amp; branson <span class="gend-link"></span></li>
                <li>
                  <strong>mary &amp; matthew</strong> ★
                  <span class="gend-link"></span>
                </li>
                <li>
                  mr carson &amp; mrs hughes <span class="gend-link"></span>
                </li>
                <li>cora &amp; robert <span class="gend-link"></span></li>
              </ul>
              <p><em>after season two:</em></p>

              <ul>
                <li>mary &amp; matthew <span class="gend-link"></span></li>
                <li>
                  mr carson &amp; mrs hughes <span class="gend-link"></span>
                </li>
              </ul>
              <p><em>after season three:</em></p>

              <ul>
                <li>mary &amp; matthew <span class="gend-link"></span></li>
                <li>
                  mr carson &amp; mrs hughes <span class="gend-link"></span>
                </li>
                <li>thomas &amp; jimmy <span class="gend-link"></span></li>
              </ul>
              <p><em>after season four:</em></p>

              <ul>
                <li>
                  mr carson &amp; mrs hughes <span class="gend-link"></span>
                </li>
                <li>thomas &amp; jimmy <span class="gend-link"></span></li>
              </ul>
              <p><em>after season five:</em></p>

              <ul>
                <li>
                  <strong>mr carson &amp; mrs hughes</strong> ★
                  <span class="gend-link"></span>
                </li>
                <li>mary &amp; tom branson <span class="gend-link"></span></li>
                <li>
                  mrs baxter &amp; mr molesley <span class="gend-link"></span>
                </li>
              </ul>
              <p><em>after season six:</em></p>

              <ul>
                <li>thomas &amp; andrew <span class="gend-link"></span></li>
                <li>
                  mr carson &amp; mrs hughes <span class="gend-link"></span>
                </li>
                <li>
                  mrs baxter &amp; mr molesley <span class="gend-link"></span>
                </li>
              </ul>
              <p><em>after movies:</em></p>

              <ul>
                <li>
                  thomas &amp; richard ellis <span class="gend-link"></span>
                </li>
                <li>
                  <strong>thomas &amp; guy dexter</strong> ★
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              nov 18 2022 ∞<br />
              jun 28 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8996617979" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8996617979"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8996617979"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8996617979"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8996617979"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-1559417194"
    >
      <div id="listbox-content-slot-1559417194">
        <div id="listbox-read-mode-content-1559417194">
          <div
            id="list-title-box-1559417194"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/tv/stranger_things">
                  tv <span class="box-subtitle"> (stranger things) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=1559417194&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p><strong>faves</strong></p>

              <ul>
                <li>will <span class="gend-link"></span></li>
                <li>mike <span class="gend-link"></span></li>
                <li>dustin <span class="gend-link"></span></li>
                <li>steve <span class="gend-link"></span></li>
                <li>nancy <span class="gend-link"></span></li>
                <li>joyce <span class="gend-link"></span></li>
              </ul>
              <p><strong>ships</strong></p>

              <ul>
                <li>will &amp; mike !! <span class="gend-link"></span></li>
                <li>
                  jonathan &amp; nancy &amp; steve
                  <span class="gend-link"></span>
                </li>
                <li>joyce &amp; hopper <span class="gend-link"></span></li>
                <li>nancy &amp; robin <span class="gend-link"></span></li>
                <li>mike &amp; eleven <span class="gend-link"></span></li>
                <li>eleven &amp; max <span class="gend-link"></span></li>
                <li>steve &amp; eddie <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 6 2022 ∞<br />
              jun 28 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_1559417194" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_1559417194"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=1559417194"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-1559417194"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-1559417194"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-8414517854"
    >
      <div id="listbox-content-slot-8414517854">
        <div id="listbox-read-mode-content-8414517854">
          <div
            id="list-title-box-8414517854"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/tv/supernatural_characters_ranked"
                >
                  tv
                  <span class="box-subtitle">
                    (supernatural characters ranked)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p><strong>tier 1</strong> ♡♡♡</p>

              <ul>
                <li>
                  Bobby Singer (　-_･) ︻デ═一 <span class="gend-link"></span>
                </li>
                <li>Castiel ଘ(੭*ˊᵕˋ)੭* ̀ˋ <span class="gend-link"></span></li>
                <li>
                  Chuck Shurley / God (๑•̀ㅁ•́ฅ✧ <span class="gend-link"></span>
                </li>
                <li>Crowley (•̀ᴗ•́ )و ̑̑ <span class="gend-link"></span></li>
                <li>Dean Winchester (ง'̀-'́)ง <span class="gend-link"></span></li>
                <li>Eileen Leahy ( ˘ ³˘ ) <span class="gend-link"></span></li>
                <li>Gabriel ଘ(•̀ᴗ•́)━☆.*･｡ﾟ★ <span class="gend-link"></span></li>
                <li>Jack Kline (*´∀`* ) <span class="gend-link"></span></li>
                <li>
                  Rowena MacLeod (∩｀-´)⊃━☆ﾟ.*･｡ﾟ
                  <span class="gend-link"></span>
                </li>
                <li>Sam Winchester（˶′◡‵˶） <span class="gend-link"></span></li>
              </ul>
              <p><strong>tier 2</strong> ♡♡</p>

              <ul>
                <li>Arthur Ketch <span class="gend-link"></span></li>
                <li>Balthazar <span class="gend-link"></span></li>
                <li>Belphegor <span class="gend-link"></span></li>
                <li>Benny Lafitte <span class="gend-link"></span></li>
                <li>Charlie Bradbury <span class="gend-link"></span></li>
                <li>Death <span class="gend-link"></span></li>
                <li>Garth Fitzgerald IV <span class="gend-link"></span></li>
                <li>Jody Mills <span class="gend-link"></span></li>
                <li>Kevin Tran <span class="gend-link"></span></li>
                <li>Lucifer <span class="gend-link"></span></li>
                <li>Meg Masters <span class="gend-link"></span></li>
                <li>Metatron <span class="gend-link"></span></li>
              </ul>
              <p><strong>tier 3</strong> ♡</p>

              <ul>
                <li>Ash <span class="gend-link"></span></li>
                <li>Becky Rosen <span class="gend-link"></span></li>
                <li>Claire Novak <span class="gend-link"></span></li>
                <li>Donna Hanscum <span class="gend-link"></span></li>
                <li>Eliot (from Lebanon) <span class="gend-link"></span></li>
                <li>Gadreel <span class="gend-link"></span></li>
                <li>Jimmy Novak <span class="gend-link"></span></li>
                <li>John Winchester <span class="gend-link"></span></li>
                <li>Kaia Nieves <span class="gend-link"></span></li>
                <li>Kelly Kline <span class="gend-link"></span></li>
                <li>Mary Winchester <span class="gend-link"></span></li>
                <li>Pamela Barnes <span class="gend-link"></span></li>
                <li>Rufus Turner <span class="gend-link"></span></li>
              </ul>
              <p><strong>tier 4</strong></p>

              <ul>
                <li>Adam Milligan <span class="gend-link"></span></li>
                <li>Alastair <span class="gend-link"></span></li>
                <li>Anael <span class="gend-link"></span></li>
                <li>AU Bobby Singer <span class="gend-link"></span></li>
                <li>AU Charlie Bradbury <span class="gend-link"></span></li>
                <li>AU Kevin Tran <span class="gend-link"></span></li>
                <li>AU Michael <span class="gend-link"></span></li>
                <li>Ben Braeden <span class="gend-link"></span></li>
                <li>Donatello <span class="gend-link"></span></li>
                <li>Ellen Harvelle <span class="gend-link"></span></li>
                <li>Frank Devereaux <span class="gend-link"></span></li>
                <li>Hannah <span class="gend-link"></span></li>
                <li>Jo Harvelle <span class="gend-link"></span></li>
                <li>Krissy <span class="gend-link"></span></li>
                <li>Linda Tran <span class="gend-link"></span></li>
                <li>Maggie <span class="gend-link"></span></li>
                <li>Max Banes <span class="gend-link"></span></li>
                <li>Michael <span class="gend-link"></span></li>
                <li>Mick Davies <span class="gend-link"></span></li>
                <li>Nick <span class="gend-link"></span></li>
                <li>Raphael <span class="gend-link"></span></li>
                <li>Samandriel <span class="gend-link"></span></li>
                <li>
                  Stacy and Max (from Lebanon) <span class="gend-link"></span>
                </li>
                <li>Uriel <span class="gend-link"></span></li>
                <li>Zachariah <span class="gend-link"></span></li>
              </ul>
              <p><strong>tier 5</strong> (meh)</p>

              <ul>
                <li>Alicia Banes <span class="gend-link"></span></li>
                <li>Amelia Richardson <span class="gend-link"></span></li>
                <li>Anna Milton <span class="gend-link"></span></li>
                <li>AU Castiel <span class="gend-link"></span></li>
                <li>Bela Talbot <span class="gend-link"></span></li>
                <li>Bess Fitzgerald <span class="gend-link"></span></li>
                <li>Billie <span class="gend-link"></span></li>
                <li>Cole Trenton <span class="gend-link"></span></li>
                <li>Dark Kaia Nieves <span class="gend-link"></span></li>
                <li>Duma <span class="gend-link"></span></li>
                <li>Ed Zeddmore <span class="gend-link"></span></li>
                <li>Harry Spangler <span class="gend-link"></span></li>
                <li>Jessica Moore <span class="gend-link"></span></li>
                <li>Lisa Braeden <span class="gend-link"></span></li>
                <li>Missouri Moseley <span class="gend-link"></span></li>
                <li>Naomi <span class="gend-link"></span></li>
                <li>Patience Turner <span class="gend-link"></span></li>
                <li>Ruby <span class="gend-link"></span></li>
                <li>Samuel Campbell <span class="gend-link"></span></li>
                <li>Tessa <span class="gend-link"></span></li>
                <li>The Empty / The Shadow <span class="gend-link"></span></li>
              </ul>
              <p><strong>tier 6</strong> (ew)</p>

              <ul>
                <li>Abaddon <span class="gend-link"></span></li>
                <li>Amara (The Darkness) <span class="gend-link"></span></li>
                <li>Asmodeus <span class="gend-link"></span></li>
                <li>Azazel <span class="gend-link"></span></li>
                <li>Bartholomew <span class="gend-link"></span></li>
                <li>Dagon <span class="gend-link"></span></li>
                <li>Dick Roman <span class="gend-link"></span></li>
                <li>Doctor Hess <span class="gend-link"></span></li>
                <li>Edgar <span class="gend-link"></span></li>
                <li>Gordon Walker <span class="gend-link"></span></li>
                <li>Lady Bevell <span class="gend-link"></span></li>
                <li>Lilith <span class="gend-link"></span></li>
                <li>Sergei <span class="gend-link"></span></li>
                <li>Victor Henriksen <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              dec 29 2020 ∞<br />
              apr 12 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_8414517854" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_8414517854"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=8414517854"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-8414517854"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-8414517854"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3319817883"
    >
      <div id="listbox-content-slot-3319817883">
        <div id="listbox-read-mode-content-3319817883">
          <div
            id="list-title-box-3319817883"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/tv/best_supernatural_episode_titles"
                >
                  tv
                  <span class="box-subtitle">
                    (best supernatural episode titles)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  02x21 all hell breaks loose <span class="gend-link"></span>
                </li>
                <li>04x01 lazarus rising <span class="gend-link"></span></li>
                <li>04x05 monster movie <span class="gend-link"></span></li>
                <li>
                  04x21 when the levee breaks <span class="gend-link"></span>
                </li>
                <li>04x22 lucifer rising <span class="gend-link"></span></li>
                <li>05x22 swan song <span class="gend-link"></span></li>
                <li>
                  06x11 appointment in samarra <span class="gend-link"></span>
                </li>
                <li>08x09 citizen fang <span class="gend-link"></span></li>
                <li>09x18 meta fiction <span class="gend-link"></span></li>
                <li>
                  11x09 o brother, where art thou?
                  <span class="gend-link"></span>
                </li>
                <li>
                  11x20 don't call me shurley <span class="gend-link"></span>
                </li>
                <li>12x08 LOTUS <span class="gend-link"></span></li>
                <li>14x12 prophet and loss <span class="gend-link"></span></li>
                <li>14x19 jack in the box <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              feb 14 2021 ∞<br />
              apr 12 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3319817883" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3319817883"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3319817883"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3319817883"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3319817883"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3953217800"
    >
      <div id="listbox-content-slot-3953217800">
        <div id="listbox-read-mode-content-3953217800">
          <div
            id="list-title-box-3953217800"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/tv/to_rewatch_once_forgotten"
                >
                  tv
                  <span class="box-subtitle">
                    (to rewatch once forgotten)
                  </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>the politician <span class="gend-link"></span></li>
                <li>the society <span class="gend-link"></span></li>
              </ul>
              <p><em>waiting to forget...:</em></p>

              <ul>
                <li>scrubs <span class="gend-link"></span></li>
                <li>star trek tos <span class="gend-link"></span></li>
              </ul>
              <p><em>rewatched!:</em></p>

              <ul>
                <li>
                  <span class="listbox-stricken"
                    >a series of unfortunate events</span
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">broadchurch</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">good omens</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">hannibal</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">hollywood</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken">prehistoric planet</span>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <span class="listbox-stricken"
                    >what we do in the shadows</span
                  >
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              feb 4 2021 ∞<br />
              jan 8 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3953217800" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3953217800"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3953217800"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3953217800"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3953217800"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>

  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2671917960"
    >
      <div id="listbox-content-slot-2671917960">
        <div id="listbox-read-mode-content-2671917960">
          <div
            id="list-title-box-2671917960"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/tv/eurovision">
                  tv <span class="box-subtitle"> (eurovision) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=2671917960&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p>esc i've seen!</p>

              <ul>
                <li>
                  <strong>2026 in austria</strong> 🇦🇹 ┆ winner:
                  <strong>bulgaria</strong> ('bangaranga')
                  <ul>
                    <li>
                      ♡ denmark, albania, serbia, norway, austria
                      <em>(all meh)</em> <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2025 in switzerland</strong> ┆ winner:
                  <strong>austria</strong> ('wasted love') 🇦🇹
                  <ul>
                    <li>
                      ♡ austria <em>('waisted love' ♡♡♡)</em> , estonia
                      <em>('espresso macchiato')</em> , united kingdom
                      <em>('what the hell just happened?')</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2023 in ukraine/uk</strong> ┆ winner:
                  <strong>sweden</strong> ('tattoo')
                  <ul>
                    <li>
                      ♡ norway <em>('queen of kings')</em> , cyprus
                      <em>('break a broken heart')</em> , switzerland
                      <em>('watergun')</em> , finland <em>('cha cha cha')</em>
                      <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2015 in austria</strong> 🇦🇹 ┆ winner:
                  <strong>sweden</strong> ('heroes')
                  <ul>
                    <li>
                      ♡ sweden <em>('heroes')</em> , belgium
                      <em>('rhythm inside')</em> <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2013 in denmark</strong> ┆ winner:
                  <strong>austria</strong> ('rise like a phoenix') 🇦🇹
                  <ul>
                    <li>
                      (only watched partially) <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>‍ ‍ ‍ ‍ ‍</p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              may 14 2023 ∞<br />
              jun 14 2026 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2671917960" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2671917960"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2671917960"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2671917960"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2671917960"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
</div>
