<div id="list_container" class="list_container" style="margin-top: 700.2px">
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3134117857"
    >
      <div id="listbox-content-slot-3134117857">
        <div id="listbox-read-mode-content-3134117857">
          <div
            id="list-title-box-3134117857"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/favorites/supernatural_scenes"
                >
                  favorites
                  <span class="box-subtitle"> (supernatural scenes) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <p>
                excluding the scenes with good
                <a
                  href="https://listography.com/petra1999/quotes/supernatural"
                  target="_blank"
                  rel="nofollow"
                  >quotes</a
                >.
              </p>

              <ul>
                <li>
                  <strong>2x13</strong> | what's next? are you gonna start
                  praying every day? / i do. |
                  <a
                    href="https://www.netflix.com/watch/70223064?trackId=200257859"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <em>19:50</em> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>4x04</strong> | stop the car, or <em>i will</em> |
                  <a
                    href="https://www.youtube.com/watch?v=mwVZxmQuiyU"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>5x21</strong> | introducing death (oh death) |
                  <a
                    href="https://www.youtube.com/watch?v=5EcsBgxXDqc"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>8x08</strong> | ode to joy |
                  <a
                    href="https://www.netflix.com/watch/70283551?trackId=14170289"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <em>41:20</em> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>8x23</strong> | the angels... they're falling |
                  <a
                    href="https://www.youtube.com/watch?v=Xh8fTudYhzU"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>11x10</strong> | mother, why do you hate me? |
                  <a
                    href="http://www.supernaturalwiki.com/11.10_The_Devil_in_the_Details#Quotes"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>11x20</strong> | fare thee well |
                  <a
                    href="https://youtu.be/JzdJfuug0KI"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>12x11</strong> | broomstick cowboy |
                  <a
                    href="https://youtu.be/kqaoauu5VT4"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>14x09</strong> | ode to joy 2.0 |
                  <a
                    href="https://www.netflix.com/watch/81029349?trackId=200257858"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <em>35:30</em> <span class="gend-link"></span>
                </li>
                <li>
                  <strong>15x01</strong> | we got work to do |
                  <a
                    href="https://youtu.be/rjmghtWRqjE?t=219"
                    target="_blank"
                    rel="nofollow"
                    >⇒</a
                  >
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              dec 30 2020 ∞<br />
              oct 7 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3134117857" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3134117857"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3134117857"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3134117857"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3134117857"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3330517027"
    >
      <div id="listbox-content-slot-3330517027">
        <div id="listbox-read-mode-content-3330517027">
          <div
            id="list-title-box-3330517027"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/favorites/audio_book_narrators"
                >
                  favorites
                  <span class="box-subtitle"> (audio book narrators) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>mark gatiss <span class="gend-link"></span></li>
                <li>stephen fry ♡ <span class="gend-link"></span></li>
                <li>wil wheaton <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              oct 7 2020 ∞<br />
              jul 4 2023 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3330517027" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3330517027"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3330517027"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3330517027"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3330517027"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-2040617043"
    >
      <div id="listbox-content-slot-2040617043">
        <div id="listbox-read-mode-content-2040617043">
          <div
            id="list-title-box-2040617043"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/favorites/tv_show_intros"
                >
                  favorites <span class="box-subtitle"> (tv show intros) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  adventure time
                  <a
                    href="https://youtu.be/kMDaAcfCYow"
                    target="_blank"
                    rel="nofollow"
                    >﹢</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  american horror story
                  <a
                    href="https://youtu.be/I2jFHMgZ71U"
                    target="_blank"
                    rel="nofollow"
                    >﹢</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  doctor who
                  <a
                    href="https://youtu.be/z75qvDtbxjQ"
                    target="_blank"
                    rel="nofollow"
                    >﹢</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  star trek (the original series)
                  <a
                    href="https://youtu.be/hdjL8WXjlGI"
                    target="_blank"
                    rel="nofollow"
                    >﹢</a
                  >
                  <span class="gend-link"></span>
                </li>
                <li>
                  the big bang theory
                  <a
                    href="https://youtu.be/kCHGDRHZ4eU"
                    target="_blank"
                    rel="nofollow"
                    >﹢</a
                  >
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jul 25 2020 ∞<br />
              aug 5 2020 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_2040617043" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_2040617043"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=2040617043"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-2040617043"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-2040617043"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-3008317038"
    >
      <div id="listbox-content-slot-3008317038">
        <div id="listbox-read-mode-content-3008317038">
          <div
            id="list-title-box-3008317038"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/favorites/star_trek_episodes"
                >
                  favorites
                  <span class="box-subtitle"> (star trek episodes) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  (need to rewatch episode 1-10) <span class="gend-link"></span>
                </li>
                <li>1x15 shore leave <span class="gend-link"></span></li>
                <li>2x01 amok time <span class="gend-link"></span></li>
                <li>2x08 i, mudd <span class="gend-link"></span></li>
                <li>2x10 journey to babel <span class="gend-link"></span></li>
                <li>
                  2x15 the trouble with tribbles <span class="gend-link"></span>
                </li>
                <li>
                  3x10 plato's stepchildren <span class="gend-link"></span>
                </li>
                <li>3x23 all our yesterdays <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 27 2020 ∞<br />
              aug 2 2020 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_3008317038" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_3008317038"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=3008317038"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-3008317038"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-3008317038"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-5423617035"
    >
      <div id="listbox-content-slot-5423617035">
        <div id="listbox-read-mode-content-5423617035">
          <div
            id="list-title-box-5423617035"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/favorites/star_trek_scenes"
                >
                  favorites
                  <span class="box-subtitle"> (star trek scenes) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <ul>
                <li>
                  <strong>1x01</strong> <em>the man trap</em>
                  <a
                    href="https://youtu.be/KMkpk1yahnc?t=56"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "vulcan has no moon" "i'm not surprised"
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>1x02</strong> <em>charlie x</em>
                  <a
                    href="https://www.youtube.com/watch?v=3B4lsvrzfZI"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  uhura sings to spock ♡ ✰ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>1x03</strong> <em>where no man has gone before</em>
                  <a
                    href="https://www.youtube.com/watch?v=BFeMD2MfNDg"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  the chess game <span class="gend-link"></span>
                </li>
                <li>
                  <strong>1x15</strong> <em>shore leave</em>
                  <a
                    href="https://www.youtube.com/watch?v=Fw11Ak0mxyI"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  the infamous massage scene <span class="gend-link"></span>
                </li>
                <li>
                  <strong>1x16</strong> <em>the galileo seven</em>
                  <a
                    href="https://www.youtube.com/watch?v=6vAujEWXnGk"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  kirk and the others poking fun at spock ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>1x19</strong> <em>arena</em>
                  <a
                    href="https://youtu.be/nmdYYpN5Ilk?t=40"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "you bet your pointed ears i am"
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>1x23</strong> <em>a taste of armageddon</em>
                  <a
                    href="https://www.youtube.com/watch?v=fBPPIP0URNk"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  multi-legged creature on your shoulder
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x03</strong> <em>the changeling</em>
                  <a
                    href="https://www.youtube.com/watch?v=hsW-n0eGtSI"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "you didn't think i had it in me, did you spock?"
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x07</strong> <em>catspaw</em>
                  <a
                    href="https://youtu.be/z88JVk0GC8M?t=64"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "very bad poetry, captain" <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x08</strong> <em>i, mudd</em>
                  <a
                    href="https://www.youtube.com/watch?v=YbHtzqCge_8"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  the crew behaving s̶i̶l̶l̶y illogical
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x08</strong> <em>i, mudd</em>
                  <a
                    href="https://youtu.be/jfu9zia6LN8?t=13"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "becase we don't like you. now, bup-bup-bup"
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x09</strong> <em>metamorphosis</em>
                  <a
                    href="https://youtu.be/B77HcISuuE4?t=96"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  kirk monologues about love ✰ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x10</strong> <em>journey to babel</em>
                  <a
                    href="https://youtu.be/qN0oVavm2Eo?t=50"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  bones finally gets the last word
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x15</strong> <em>the trouble with tribbles</em>
                  <a
                    href="https://youtu.be/Bprgl_4z6gY?t=147"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  kirk in the mountain of tribbles ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x21</strong> <em>patterns of force</em>
                  <a
                    href="https://youtu.be/CwVr5D8Hwbc?t=31"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "you should make a very convincing nazi"
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x24</strong> <em>the ultimate computer</em>
                  <a
                    href="https://youtu.be/QXbu_XeeHY8"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  spock on loyalty <span class="gend-link"></span>
                </li>
                <li>
                  <strong>2x25</strong> <em>bread and circuses</em>
                  <a
                    href="https://youtu.be/EIOsLh8JNvE"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  bones and spock have a heart-to-heart ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>3x07</strong> <em>day of the dove</em>
                  <a
                    href="https://youtu.be/c-x2a-GjJls"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "even... race hatred?" ✰ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>3x09</strong> <em>the tholian web</em>
                  <a
                    href="https://youtu.be/Rlq_2kdexnQ"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  spock and mccoy when jim is dead
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>3x10</strong> <em>plato's stepchildren</em>
                  <a
                    href="https://youtu.be/9nWE-aXaqms?t=17"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  spock sings Maiden Wine ♡ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>3x19</strong> <em>requiem for methuselah</em>
                  <a
                    href="https://youtu.be/1nLuokOL_2E?t=97"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "i do wish he could forget her" ♡ ✰
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>3x23</strong> <em>all our yesterdays</em>
                  <a
                    href="https://youtu.be/Lvbq3DF-CfM"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  spock loses his temper ✰ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st i</strong> <em>the motion picture</em>
                  <a
                    href="https://youtu.be/EoOcNJ7IOZI?t=32"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "dammit bones, i need you... badly"
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st i</strong> <em>the motion picture</em>
                  <a
                    href="https://youtu.be/eVDMDyDTsLs?t=78"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  spock's arrival ♡ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st i</strong> <em>the motion picture</em>
                  <a
                    href="https://youtu.be/_h7Nm4o3aHY?t=67"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "this simple feeling" ♡ ✰ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st ii</strong> <em>the wrath of khan</em>
                  <a
                    href="https://youtu.be/m6tWmSckE40?t=175"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "physician, heal thyself" <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st ii</strong> <em>the wrath of khan</em>
                  <a
                    href="https://youtu.be/m6tWmSckE40?t=274"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  it was the best of times, it was the worst of times
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st ii</strong> <em>the wrath of khan</em>
                  <a
                    href="https://youtu.be/rqrZRIBLfe4?t=104"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "i have been, and always shall be yours"
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st ii</strong> <em>the wrath of khan</em>
                  <a
                    href="https://youtu.be/fHAOWLhrxhQ?t=101"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  spock dies ♡ ✰ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st iii</strong> <em>the search for spock</em>
                  <a
                    href="https://youtu.be/WEaNyMfFU9w?t=89"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  the mind meld <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st iii</strong> <em>the search for spock</em>
                  <a
                    href="https://youtu.be/w3s3qvQNuSk?t=36"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  david dies <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st iii</strong> <em>the search for spock</em>
                  <a
                    href="https://youtu.be/6Aj3D-VQCBk?t=66"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  the enterprise is destroyed ✰ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st iii</strong> <em>the search for spock</em>
                  <a
                    href="https://youtu.be/q9GWWW2d700?t=113"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  final scene ♡ ✰ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st iv</strong> <em>the voyage home</em>
                  <a
                    href="https://youtu.be/Qt1cF93u-6A?t=26"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  spock hides his ears <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st iv</strong> <em>the voyage home</em>
                  <a
                    href="https://youtu.be/oY_F714qWOs"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "my shoes?" <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st iv</strong> <em>the voyage home</em>
                  <a
                    href="https://youtu.be/sf8rDpu1vCk?t=74"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  looking for nuclear wessels <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st iv</strong> <em>the voyage home</em>
                  <a
                    href="https://youtu.be/PoS1eAVNXWU?t=31"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  spock swims with the whales <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st iv</strong> <em>the voyage home</em>
                  <a
                    href="https://youtu.be/54QNYmsPs5E"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  they saved the whales ♡ ✰ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st v</strong> <em>the final frontier</em>
                  <a
                    href="https://youtu.be/oMMpbIKrvFI?t=27"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  scotty and uhura <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st v</strong> <em>the final frontier</em>
                  <a
                    href="https://youtu.be/1cUQl1UDaLY"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  sulu and chekov are lost <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st v</strong> <em>the final frontier</em>
                  <a
                    href="https://youtu.be/of75pZixq5g"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  camping ♡ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st v</strong> <em>the final frontier</em>
                  <a
                    href="https://youtu.be/PEMRNpcYZ0c?t=168"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "he did have pointed ears" <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st v</strong> <em>the final frontier</em>
                  <a
                    href="https://youtu.be/GSD6IiQS_1g?t=13"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  spock's rocket boots <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st v</strong> <em>the final frontier</em>
                  <a
                    href="https://youtu.be/2DM0pOmClOg?t=87"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "not in front of the klingons" ♡
                  <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st v</strong> <em>the final frontier</em>
                  <a
                    href="https://youtu.be/6cqbSNERnc0?t=147"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  camping, again ♡ <span class="gend-link"></span>
                </li>
                <li>
                  <strong>st vi</strong> <em>the undiscovered country</em>
                  <a
                    href="https://youtu.be/IhOOfwNA0es"
                    target="_blank"
                    rel="nofollow"
                    >✧</a
                  >
                  "i find that remark... insulting"
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 20 2020 ∞<br />
              oct 12 2020 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_5423617035" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_5423617035"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=5423617035"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-5423617035"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-5423617035"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-6939614690"
    >
      <div id="listbox-content-slot-6939614690">
        <div id="listbox-read-mode-content-6939614690">
          <div
            id="list-title-box-6939614690"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/favorites/actors">
                  favorites <span class="box-subtitle"> (actors) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=6939614690&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <ul>
                <li>andrew scott <span class="gend-link"></span></li>
                <li>con o'neill <span class="gend-link"></span></li>
                <li>david tennant ♡ <span class="gend-link"></span></li>
                <li>gillian anderson <span class="gend-link"></span></li>
                <li>hugh jackman ♡ <span class="gend-link"></span></li>
                <li>jeff goldblum ♡ <span class="gend-link"></span></li>
                <li>jemaine clement ♡ <span class="gend-link"></span></li>
                <li>jim parsons <span class="gend-link"></span></li>
                <li>kristen stewart <span class="gend-link"></span></li>
                <li>mads mikkelsen ♡ <span class="gend-link"></span></li>
                <li>michael sheen <span class="gend-link"></span></li>
                <li>olivia colman <span class="gend-link"></span></li>
                <li>paul dano <span class="gend-link"></span></li>
                <li>tom hiddleston <span class="gend-link"></span></li>
              </ul>
              <p><em>honorable mentions:</em></p>

              <ul>
                <li>ben schwartz <span class="gend-link"></span></li>
                <li>benedict cumberbatch ♡ <span class="gend-link"></span></li>
                <li>daniel craig <span class="gend-link"></span></li>
                <li>eddie redmayne <span class="gend-link"></span></li>
                <li>finn wolfhard <span class="gend-link"></span></li>
                <li>jennifer coolidge <span class="gend-link"></span></li>
                <li>karl urban <span class="gend-link"></span></li>
                <li>kathryn hahn <span class="gend-link"></span></li>
                <li>laura dern <span class="gend-link"></span></li>
                <li>leonard nimoy <span class="gend-link"></span></li>
                <li>mackenzie crook <span class="gend-link"></span></li>
                <li>mark gatiss <span class="gend-link"></span></li>
                <li>mark ruffalo <span class="gend-link"></span></li>
                <li>neil patrick harris <span class="gend-link"></span></li>
                <li>peter capaldi <span class="gend-link"></span></li>
                <li>ralph fiennes <span class="gend-link"></span></li>
                <li>rami malek <span class="gend-link"></span></li>
                <li>rhys darby <span class="gend-link"></span></li>
                <li>robert pattinson <span class="gend-link"></span></li>
                <li>stephen fry <span class="gend-link"></span></li>
                <li>taika waititi <span class="gend-link"></span></li>
                <li>winona ryder <span class="gend-link"></span></li>
                <li>woody harrelson <span class="gend-link"></span></li>
                <li>zachary quinto <span class="gend-link"></span></li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              aug 26 2018 ∞<br />
              sep 14 2024 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_6939614690" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_6939614690"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=6939614690"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-6939614690"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-6939614690"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-4502817976"
    >
      <div id="listbox-content-slot-4502817976">
        <div id="listbox-read-mode-content-4502817976">
          <div
            id="list-title-box-4502817976"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/media/great_female_characters"
                >
                  media
                  <span class="box-subtitle"> (great female characters) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=4502817976&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p>a forever-incomplete list.</p>

              <ul>
                <li>adora | <em>she-ra</em> <span class="gend-link"></span></li>
                <li>
                  alana bloom | <em>hannibal</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  amy farrah fowler | <em>the big bang theory</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  anathema device | <em>good omens</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  bella swan | <em>twilight saga</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  betty | <em>masters of sex</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  brooklynn | <em>jurassic world: chaos theory</em>
                  <span class="gend-link"></span>
                </li>
                <li>catra | <em>she-ra</em> <span class="gend-link"></span></li>
                <li>
                  chrissy cunningham | <em>stranger things</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  clara oswald | <em>doctor who</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  dana scully | <em>the x files</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  dr ellie sattler | <em>jurassic park</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  eileen leahy | <em>supernatural</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  eleven | <em>stranger things</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ellie | <em>the last of us</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ellie miller | <em>broadchurch</em>
                  <span class="gend-link"></span>
                </li>
                <li>elsa | <em>frozen</em> <span class="gend-link"></span></li>
                <li>
                  fleabag | <em>fleabag</em> <span class="gend-link"></span>
                </li>
                <li>
                  hermione granger | <em>harry potter</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  holly wheeler | <em>stranger things</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  jean milburn | <em>sex education</em>
                  <span class="gend-link"></span>
                </li>
                <li>jinx | <em>arcane</em> <span class="gend-link"></span></li>
                <li>
                  jody mills | <em>supernatural</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  joyce byers | <em>stranger things</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  karen wheeler | <em>stranger things</em>
                  <span class="gend-link"></span>
                </li>
                <li>lexa | <em>the 100</em> <span class="gend-link"></span></li>
                <li>
                  lisa cuddy | <em>house md</em> <span class="gend-link"></span>
                </li>
                <li>
                  mabel pines | <em>gravity falls</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  marceline | <em>adventure time</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  mary crawley | <em>downton abbey</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  max mayfield | <em>stranger things</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  nadja of antipaxos | <em>what we do in the shadows</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  nancy wheeler | <em>stranger things</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  padmé amidala | <em>star wars</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  princess bubblegum | <em>adventure time</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  princess leia | <em>star wars</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  princess zelda | <em>legend of zelda</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  professor mcgonagall | <em>harry potter</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  river song | <em>doctor who</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  rose tyler | <em>doctor who</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  spanish jackie | <em>our flag means death</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  stella | <em>winx club</em> <span class="gend-link"></span>
                </li>
                <li>
                  suki | <em>avatar: the last airbender</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  tecna | <em>winx club</em> <span class="gend-link"></span>
                </li>
                <li>
                  the guide | <em>what we do in the shadows</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  thirteenth doctor | <em>doctor who</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  toph | <em>avatar: the last airbender</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  uhura | <em>star trek: tos</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  wednesday addams | <em>wednesday</em>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              nov 20 2022 ∞<br />
              feb 19 2026 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_4502817976" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_4502817976"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=4502817976"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-4502817976"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-4502817976"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-1418914654"
    >
      <div id="listbox-content-slot-1418914654">
        <div id="listbox-read-mode-content-1418914654">
          <div
            id="list-title-box-1418914654"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/media/horror">
                  media <span class="box-subtitle"> (horror) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=1418914654&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p>
                <em>letterboxd:</em>
                <a
                  href="https://letterboxd.com/petra1999/list/to-watch-in-october/"
                  target="_blank"
                  rel="nofollow"
                  >to watch</a
                >,
                <a
                  href="https://letterboxd.com/petra1999/tag/spooky-month/diary/"
                  target="_blank"
                  rel="nofollow"
                  >watched</a
                >,
                <a
                  href="https://letterboxd.com/petra1999/list/ranking-horror-movies-by-scariness/"
                  target="_blank"
                  rel="nofollow"
                  >ranking</a
                >;
                <a
                  href="https://letterboxd.com/petra1999/list/my-favorite-horror/"
                  target="_blank"
                  rel="nofollow"
                  >faves</a
                >
                ┊ ▨ = to rewatch
              </p>
              <p></p>
              <p>‍ ‍ ‍ ‍ ‍‍</p>
              <p><strong>fun stuff:</strong></p>

              <ul>
                <li>▢ · corpse bride (2005) <span class="gend-link"></span></li>
                <li>
                  ▣ · beetlejuice (1988) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · beetlejuice beetlejuice (2024) ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · coraline (2009) ⋆⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · dark shadows (2012) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · frankenweenie (1984) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · hokus pokus (1993) ⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · renfield (2023) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · scary movie (2000) ⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · scary movie v (2013) ⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the addams family (1991) ⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the haunted mansion (2003) ⋆⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the nightmare before christmas (1993) ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the rocky horror picture show (1975) ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · what we do in the shadows (2014) ⋆⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>warming up:</strong></p>

              <ul>
                <li>
                  ▢ · werewolf by night (2022) <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · american psycho (2000) ⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · an american werewolf in london (1981) ⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>▣ · e.t. (1982) ⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · five nights at freddy's (2023) ⋆⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>▣ · jaws (1976) ⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · jennifer's body (2009) ⋆⋆⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · jurassic park (1993) ⋆⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · only lovers left alive (2013) ⋆⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · shutter island (2010) ⋆⋆⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the sixth sense (1999) ⋆⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                ‍ ‍ ‍‍ ‍ ‍ ‍ ‍ ‍ ‍‍ ‍ ‍‍ ‍
                ꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷
              </p>
              <p>‍ ‍ ‍</p>
              <p><strong>–60s:</strong></p>

              <ul>
                <li>
                  ▢ · eyes without a face (1960) <span class="gend-link"></span>
                </li>
                <li>▢ · frankenstein (1931) <span class="gend-link"></span></li>
                <li>
                  ▢ · night of the living dead (1968)
                  <span class="gend-link"></span>
                </li>
                <li>▢ · rear window (1954) <span class="gend-link"></span></li>
                <li>▢ · repulsion (1965) <span class="gend-link"></span></li>
                <li>▢ · the birds (1963) <span class="gend-link"></span></li>
                <li>
                  ▢ · the bride of frankenstein (1935)
                  <span class="gend-link"></span>
                </li>
                <li>▢ · the haunting (1963) <span class="gend-link"></span></li>
                <li>▣ · nosferatu (1922) ⋆⋆ <span class="gend-link"></span></li>
                <li>▣ · psycho (1960) ⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · rosemary's baby (1968) ⋆⋆⋆ <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>70s &amp; 80s:</strong></p>

              <ul>
                <li>
                  ▢ · dawn of the dead (1978) <span class="gend-link"></span>
                </li>
                <li>▢ · poltergeist (1982) <span class="gend-link"></span></li>
                <li>▢ · suspiria (1977) <span class="gend-link"></span></li>
                <li>
                  ▢ · the amityville horror (1979)
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · the evil dead (1981) <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · the last house on the left (1972)
                  <span class="gend-link"></span>
                </li>
                <li>▢ · the omen (1976) <span class="gend-link"></span></li>
                <li>
                  ▣ · a nightmare on elm street (1984) ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>▣ · alien (1979) ⋆⋆⋆ <span class="gend-link"></span></li>
                <li>▣ · carrie (1976) ⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · child's play (1988) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · friday the 13th (1980) ⋆⋆ <span class="gend-link"></span>
                </li>
                <li>▣ · halloween (1978) ⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · invasion of the body snatchers (1978) ⋆⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · sleepaway camp (1983) ⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the exorcist (1973) ⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>▣ · the fly (1986) ⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · the lost boys (1987) ⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the shining (1980) ⋆⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the texas chainsaw massacre (1974) ⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the thing (1982) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>90s &amp; 00s:</strong></p>

              <ul>
                <li>
                  ▢ · bram stoker's dracula (1992)
                  <span class="gend-link"></span>
                </li>
                <li>▢ · it (1990) <span class="gend-link"></span></li>
                <li>▢ · perfect blue (1997) <span class="gend-link"></span></li>
                <li>▢ · the descent (2005) <span class="gend-link"></span></li>
                <li>
                  ▢ · the exorcist iii (1990) <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · 28 days later (2002) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · i know what you did last summer (1997) ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>▣ · ringu (1998) ⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>▣ · saw (2004) ⋆⋆⋆ <span class="gend-link"></span></li>
                <li>▣ · scream (1996) ⋆⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>▣ · scream 2 (1997) ⋆⋆⋆ <span class="gend-link"></span></li>
                <li>▣ · signs (2002) ⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · silent hill (2006) ⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the amityville horror (2005)
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the blair witch project (1999) ⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>▣ · the craft ⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · the ring (2002) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
              </ul>
              <p><strong>2010s:</strong></p>

              <ul>
                <li>
                  ▢ · a girl walks home alone at night (2014)
                  <span class="gend-link"></span>
                </li>
                <li>▢ · annabele (2014) <span class="gend-link"></span></li>
                <li>▢ · apostle (2018) <span class="gend-link"></span></li>
                <li>▢ · crimson peak (2015) <span class="gend-link"></span></li>
                <li>▢ · evil dead (2013) <span class="gend-link"></span></li>
                <li>
                  ▢ · it comes at night (2017) <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · let the right one in (2008)
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · megan is missing (2011) <span class="gend-link"></span>
                </li>
                <li>▢ · rec (2007) <span class="gend-link"></span></li>
                <li>▢ · the babadook (2014) <span class="gend-link"></span></li>
                <li>▢ · unfriended (2014) <span class="gend-link"></span></li>
                <li>
                  ▣ · a quiet place (2018) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>▣ · get out (2017) ⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · hereditary (2018) ⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>▣ · insidious (2010) ⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · it - chapter 2 (2019) ⋆⋆⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>▣ · it (2017) ⋆⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · it follows (2014) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · midsommar (2019) ⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · paranormal activity (2007) ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · parasite (2019) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>▣ · raw (2016) ⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · the cabin in the woods (2012) ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the conjuring (2013) ⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the purge (2013) ⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the visit (2015) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the witch (2015) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>▣ · us (2019) ⋆⋆⋆ <span class="gend-link"></span></li>
              </ul>
              <p><strong>2020s:</strong></p>

              <ul>
                <li>▢ · candyman (2021) <span class="gend-link"></span></li>
                <li>▢ · heretic (2024) <span class="gend-link"></span></li>
                <li>
                  ▢ · i saw the tv glow (2024) <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · it's what's inside (2024) <span class="gend-link"></span>
                </li>
                <li>▢ · scream (2022) <span class="gend-link"></span></li>
                <li>▢ · smile (2022) <span class="gend-link"></span></li>
                <li>
                  ▢ · the boogeyman (2023) <span class="gend-link"></span>
                </li>
                <li>▢ · x (2022) <span class="gend-link"></span></li>
                <li>▣ · barbarian (2022) ⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · bodies bodies bodies (2022) ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · bones and all (2022) ⋆⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · companion (2025) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>▣ · m3gan (2022) ⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · m3gan 2.0 (2025) ⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · no one will save you (2023) ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>▣ · nope (2022) ⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · speak no evil (2024) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · talk to me (2022) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>
                  ▣ · the substance (2024) ⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
              </ul>
              <p>‍ ‍ ‍‍ ‍ ‍ ‍ ‍ ‍ ‍‍ ‍ ‍‍ ‍ ꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦꒷꒦</p>
              <p>‍ ‍ ‍</p>
              <p><strong>television:</strong></p>

              <ul>
                <li>
                  ▢ · it: welcome to derry <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · the haunting of hill house <span class="gend-link"></span>
                </li>
                <li>▣ · hannibal ⋆⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · stranger things ⋆⋆⋆⋆⋆ <span class="gend-link"></span>
                </li>
                <li>▣ · supernatural ⋆⋆⋆⋆⋆ <span class="gend-link"></span></li>
                <li>
                  ▣ · the haunting of bly manor ⋆⋆⋆
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▨ · american horror story
                  <ul>
                    <li>
                      ▢ · 06: roanoke (2016) <span class="gend-link"></span>
                    </li>
                    <li>▢ · 07: cult (2017) <span class="gend-link"></span></li>
                    <li>
                      ▢ · 08: apocalypse (2018) <span class="gend-link"></span>
                    </li>
                    <li>▢ · 09: 1984 (2019) <span class="gend-link"></span></li>
                    <li>
                      ▢ · 10: double feature (2021)
                      <span class="gend-link"></span>
                    </li>
                    <li>▢ · 11: NYC (2022) <span class="gend-link"></span></li>
                    <li>
                      ▢ · 12: delicate (2023) <span class="gend-link"></span>
                    </li>
                    <li>
                      ▣ · 01: murder house (2011) ⋆⋆⋆⋆⋆
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ▣ · 02: asylum (2012) ⋆⋆⋆⋆⋆
                      <span class="gend-link"></span>
                    </li>
                    <li>
                      ▣ · 03: coven (2013) ⋆⋆⋆⋆ <span class="gend-link"></span>
                    </li>
                    <li>
                      ▨ · 04: freak show (2014) <span class="gend-link"></span>
                    </li>
                    <li>
                      ▨ · 05: hotel (2015) <span class="gend-link"></span>
                    </li>
                  </ul>
                  <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 7 2018 ∞<br />
              nov 6 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_1418914654" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_1418914654"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=1418914654"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-1418914654"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-1418914654"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-4594717660"
    >
      <div id="listbox-content-slot-4594717660">
        <div id="listbox-read-mode-content-4594717660">
          <div
            id="list-title-box-4594717660"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a href="https://listography.com/petra1999/media/star_wars">
                  media <span class="box-subtitle"> (star wars) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=4594717660&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <ul>
                <li>
                  ◼ · <strong>Episode IV: A New Hope</strong> <em>(1977)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Episode V: The Empire Strikes Back</strong>
                  <em>(1980)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Episode VI: The Return of the Jedi</strong>
                  <em>(1983)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Episode I: The Phantom Menace</strong>
                  <em>(1999)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Episode II: Attack of the Clones</strong>
                  <em>(2002)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Episode III: Revenge of the Sith</strong>
                  <em>(2005)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · <strong>Star Wars: The Clone Wars</strong> <em>(2008)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · The Clone Wars <em>(2008-2020)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · Rebels <em>(2014)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Episode VII: The Force Awakens</strong>
                  <em>(2015)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Rogue One: A Star Wars Story</strong>
                  <em>(2016)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Episode VIII: The Last Jedi</strong>
                  <em>(2017)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Solo: A Star Wars Story</strong> <em>(2018)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · Resistance <em>(2018)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ◼ · <strong>Episode IX: The Rise of Skywalker</strong>
                  <em>(2019)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · The Mandalorian <em>(2019)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · The Bad Batch <em>(2021)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · Visions <em>(2021)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · The Book of Boba Fett <em>(2021)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · Obi-Wan Kenobi <em>(2022)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · Andor <em>(2022)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · Tales of the Jedi <em>(2022)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · Ahsoka <em>(2023)</em> <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · Young Jedi Adventures <em>(2023)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · Tales of the Empire <em>(2024)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · The Alcolyte <em>(2024)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ▢ · Skeleton Crew <em>(2024)</em>
                  <span class="gend-link"></span>
                </li>
                <li>
                  ⬚ · Tales of the Underworld <em>(2025)</em>
                  <span class="gend-link"></span>
                </li>
              </ul>
              <p>
                release order (i'm a first-time viewer). | movies are
                <strong>bold.</strong> | ⬚ = animated |
                <a
                  href="https://listography.com/action/list?uid=0440224482&amp;lid=4586610327"
                  target="_blank"
                  rel="nofollow"
                  >⤳</a
                >
              </p>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              jun 21 2024 ∞<br />
              jul 26 2025 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_4594717660" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_4594717660"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=4594717660"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-4594717660"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-4594717660"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
  <div class="slot">
    <div
      class="listbox listbox-color-11 fullview style_Disc"
      id="listbox-0146110300"
    >
      <div id="listbox-content-slot-0146110300">
        <div id="listbox-read-mode-content-0146110300">
          <div
            id="list-title-box-0146110300"
            class="list-title-box-color-11 font_Times"
          >
            <div style="float: left; position: relative; top: 1px; z-index: 2">
              <span class="box-title">
                <a
                  href="https://listography.com/petra1999/media/fictional_hotties"
                >
                  media <span class="box-subtitle"> (fictional hotties) </span>
                </a>
              </span>
            </div>
            <div style="clear: both"></div>
          </div>

          <!-- container for the body area of the list -->
          <div class="listbox-content">
            <div class="text_content font_Times">
              <img
                src="https://listography.com/action/list-image?uid=0440224482&amp;lid=0146110300&amp;small=1"
                class="icon"
                alt="list icon"
              />
              <p>
                inspired by
                <a
                  href="https://listography.com/action/list?uid=8162022665&amp;lid=0876410300"
                  target="_blank"
                  rel="nofollow"
                  >tanja</a
                >
                of course. just the cream of the crop though. random order.
              </p>

              <ul>
                <li>sayid jarrah (lost) <span class="gend-link"></span></li>
                <li>
                  inigo montoya (the princess bride)
                  <span class="gend-link"></span>
                </li>
                <li>
                  nandor (what we do in the shadows)
                  <span class="gend-link"></span>
                </li>
                <li>
                  carlisle cullen (twilight saga)
                  <span class="gend-link"></span>
                </li>
                <li>
                  edward cullen (twilight saga) <span class="gend-link"></span>
                </li>
                <li>
                  bella swan (twilight saga) <span class="gend-link"></span>
                </li>
                <li>
                  jasper hale (twilight saga) <span class="gend-link"></span>
                </li>
                <li>crowley (good omens) <span class="gend-link"></span></li>
                <li>the priest (fleabag) <span class="gend-link"></span></li>
                <li>
                  izzy hands (our flag means death)
                  <span class="gend-link"></span>
                </li>
                <li>elsa (frozen) <span class="gend-link"></span></li>
                <li>
                  zuko (avatar: the last airbender)
                  <span class="gend-link"></span>
                </li>
                <li>
                  sokka (avatar: the last airbender)
                  <span class="gend-link"></span>
                </li>
                <li>
                  princess bubblegum (adventure time)
                  <span class="gend-link"></span>
                </li>
                <li>loki (marvel) <span class="gend-link"></span></li>
                <li>wolverine (marvel) <span class="gend-link"></span></li>
                <li>
                  tenth doctor (doctor who) <span class="gend-link"></span>
                </li>
                <li>
                  eleventh doctor (doctor who) <span class="gend-link"></span>
                </li>
                <li>
                  twelfth doctor (doctor who) <span class="gend-link"></span>
                </li>
                <li>
                  clara oswald (doctor who) <span class="gend-link"></span>
                </li>
                <li>
                  captain jack harkness (doctor who)
                  <span class="gend-link"></span>
                </li>
                <li>dana scully (x-files) <span class="gend-link"></span></li>
                <li>
                  jean milburn (sex education) <span class="gend-link"></span>
                </li>
                <li>
                  hannibal lecter (nbc hannibal) <span class="gend-link"></span>
                </li>
                <li>
                  dr. ian malcom (jurassic park) <span class="gend-link"></span>
                </li>
                <li>
                  darius bowman (jurassic world: chaos theory)
                  <span class="gend-link"></span>
                </li>
                <li>john murphy (the 100) <span class="gend-link"></span></li>
                <li>
                  mike wheeler (stranger things) <span class="gend-link"></span>
                </li>
                <li>
                  nancy wheeler (stranger things)
                  <span class="gend-link"></span>
                </li>
                <li>
                  lisa rowe (girl, interrupted) <span class="gend-link"></span>
                </li>
              </ul>
            </div>
            <!-- text div -->
            <!-- dates -->
            <div class="dates list-color-number-11">
              feb 10 2025 ∞<br />
              jan 24 2026 +
            </div>
            <div style="clear: both"></div>
          </div>
          <!-- content div -->

          <!-- footer -->
          <div id="list_footer_box_0146110300" class="footer">
            <!-- menu -->
            <div class="menu">
              <div class="item">
                <a
                  id="list_footer_edit_link_0146110300"
                  href="https://listography.com/action/edit-list?uid=0440224482&amp;lid=0146110300"
                  >edit</a
                >
              </div>
              <div style="clear: both"></div>
            </div>

            <div style="clear: both"></div>
          </div>
        </div>
      </div>
      <div
        id="listbox-status-0146110300"
        class="listbox-status listbox-status-rounded"
      ></div>
    </div>

    <div
      id="listbox-hidden-slot-0146110300"
      style="visibility: hidden; display: none"
    ></div>

    <!-- listbox -->
  </div>
</div>
