<audio id="clickSound" style="display: none" preload="auto">
  <!-- normal click -->
  <source src="https://files.catbox.moe/jyzcnv.mp3" type="audio/mpeg" />
</audio>
<audio id="tockSound" style="display: none" preload="auto">
  <!-- satisfying sound -->
  <source src="https://files.catbox.moe/7l3yjs.mp3" type="audio/mpeg" />
</audio>
<audio id="tinySound" style="display: none" preload="auto">
  <!-- tiny sound -->
  <source src="https://files.catbox.moe/7l3yjs.mp3" type="audio/mpeg" />
</audio>
<audio id="actualClick" style="display: none" preload="auto">
  <!-- mouse click -->
  <source src="https://files.catbox.moe/rwg275.mp3" type="audio/mpeg" />
</audio>
