<!-- <a
          href="https://ko-fi.com/petrastipjar"
          target="_blank"
          class="corner-image"
          title="please consider supporting me! :)"
          ><img
            src="{{ nesting }}assets/img/layout/jar.gif"
            alt="jar of candies"
            width="70"
        /></a>-->
<!--
      <a
        href="/youtube"
        class="corner-image corner-image--left"
        title="check out my youtube channel!"
        ><img
          src="{{ nesting }}assets/img/layout/camera.gif"
          alt="camera"
          width="86"
          style="image-rendering: pixelated"
      /></a>
      -->
