<!-- <a
          href="https://ko-fi.com/petrastipjar"
          target="_blank"
          class="corner-image"
          title="please consider supporting me! :)"
          ><img
            src="{{ nesting }}assets/img/layout/jar.gif"
            alt="jar of candies"
            width="70"
        /></a>-->
<!--
      <a
        href="/youtube"
        class="corner-image corner-image--left"
        title="check out my youtube channel!"
        ><img
          src="{{ nesting }}assets/img/layout/camera.gif"
          alt="camera"
          width="86"
          style="image-rendering: pixelated"
      /></a>
      -->

<script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
<script>
  kofiWidgetOverlay.draw("petrastipjar", {
    type: "floating-chat",
    "floating-chat.donateButton.text": "Support me",
    "floating-chat.donateButton.background-color": "#ffffff",
    "floating-chat.donateButton.text-color": "#323842",
  });
</script>
<style>
  .floatingchat-container-wrap {
    z-index: 1000 !important;
    filter: hue-rotate(280deg);
  }
</style>
