<div class="aside__dinos">
  <img src="{{ nesting }}assets/img/layout/nav/YacomnE.gif" alt="" />
  <img src="{{ nesting }}assets/img/layout/nav/ZugGYNr.gif" alt="" />
  <img src="{{ nesting }}assets/img/layout/nav/YUmwKM1.gif" alt="" />
  <img src="{{ nesting }}assets/img/layout/nav/5SsQizU.gif" alt="" />
</div>
