<footer class="footer">
  <div class="footer__left">
    <div class="footer__rss">
      <a
        class="footer-rss"
        href="/rss.xml"
        target="_blank"
        aria-label="RSS Feed"
        title="RSS Feed"
        ><img
          src="{{ nesting }}assets/img/layout/rss.png"
          alt="RSS"
          width="32"
          height="32"
      /></a>
    </div>

    <div class="footer__links">
      <a href="https://neocities.org/site/petrapixel" target="_blank"
        >neocities profile</a
      >
      <a href="/sitemap">sitemap</a>
      <a
        href="https://github.com/petracoding/petrapixel.neocities.org"
        target="_blank"
        >github</a
      >
      <a href="/donate">tip jar</a>
      <a href="#" tabindex="-1">scroll to top</a>

      {% if codingPage %}
      <div
        style="
          filter: hue-rotate(15deg) brightness(1.05);
          display: inline-block;
          transform: scale(0.85);
        "
        title="hit counter"
      >
        {% if not testingOnLocalhost %}

        <!-- new -->
        <script
          type="text/javascript"
          src="https://counter.websiteout.com/js/30/0/128970/0"
        ></script>

        <!-- old (broke at 128970 hits)
                <a href="https://www.free-website-hit-counter.com"> <img src="https://www.free-website-hit-counter.com/c.php?d=7&id=166390&s=18" border="0" alt="" /> </a> -->

        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="footer__right">
    <!-- 
          <div class="footer__item" title="Hit Counter">
            <b>Visitors:</b>
            <script
              type="text/javascript"
              src="https://counter.websiteout.com/js/36/0/665298/0"
            ></script>
          </div>
          -->
    <div class="footer__item" title="Currently Online">
      <a
        href="http://www.snazzyspace.com/generators/viewer-counter/"
        target="_blank"
      >
        {% if not testingOnLocalhost %}<img
          src="http://www.snazzyspace.com/generators/viewer-counter/counter.php/fid=1740397249/style=4/counter.png"
        />{% endif %}
      </a>
    </div>
    <div class="footer__item" title="My time and date">
      <iframe
        src="https://free.timeanddate.com/clock/iabr8y8u/n259/fn8/tct/pct/tt0/tw0/tm1/td2/ts1/ta1/tb4"
        frameborder="0"
        width="110"
        height="34"
        allowtransparency="true"
      ></iframe>
    </div>
  </div>
</footer>
