<div class="toggle-buttons">
  <button
    type="button"
    title="toggle dark mode"
    class="toggle-buttons__button toggle-buttons__button--theme"
    aria-hidden="true"
  >
    <img
      src="{{ nesting }}assets/img/layout/nav/pEic4vl.gif"
      alt="toggle dark mode"
    />
  </button>
  <button
    type="button"
    title="toggle font"
    class="toggle-buttons__button toggle-buttons__button--font"
    aria-hidden="true"
  >
    <img
      src="{{ nesting }}assets/img/layout/nav/1D2VdVh.gif"
      alt="toggle font"
    />
  </button>
  <button
    type="button"
    title="toggle reduced motion"
    class="toggle-buttons__button toggle-buttons__button--motion"
    aria-hidden="true"
  >
    <img
      src="{{ nesting }}assets/img/layout/nav/lmX3CWF.gif"
      alt="toggle reduced motion"
    />
  </button>
  <button
    type="button"
    title="toggle sounds"
    class="toggle-buttons__button toggle-buttons__button--sound"
    aria-hidden="true"
  >
    <img
      src="{{ nesting }}assets/img/layout/nav/XjYjgGK.gif"
      alt="toggle sounds"
    />
  </button>
</div>
