<!DOCTYPE html>
<html lang="en">
  <head>
    <title>"square one" | template 1 by petrapixel</title>
    <script src="../js/template1.js?nocache=0"></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="load-layout">
    <noscript id="no-js-warning">Please enable JavaScript to view this website!</noscript>
    <a href="#content" id="skip-to-content-link">Skip to content</a>
    <div id="layout">
      <header>
        <div>Website Title</div>
      </header>
      <aside>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Page</a></li>
            <li><a href="/">Page</a></li>
            <li>
              <details>
                <summary><a href="/">Page with Sublinks</a></summary>
                <ul>
                  <li><a href="/">Page A</a></li>
                  <li><a href="/">Page B</a></li>
                  <li><a href="/">Page C</a></li>
                  <li><a href="/">Page D</a></li>
                  <li><a href="/">Page E</a></li>
                </ul>
              </details>
            </li>
            <li>
              <details>
                <summary>Just sublinks</summary>
                <ul>
                  <li><a href="/">Page A</a></li>
                  <li><a href="/">Page B</a></li>
                  <li><a href="/">Page C</a></li>
                  <li><a href="/">Page D</a></li>
                  <li><a href="/">Page E</a></li>
                </ul>
              </details>
            </li>
            <li><a href="/">Page</a></li>
          </ul>
        </nav>
      </aside>
      <main id="content">
        <section>
          <h1>Page Title</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quia ipsa repudiandae dolorum facilis corrupti eaque aut, tenetur iusto corporis delectus quos alias fuga maiores nulla
            illum! Esse, possimus ipsa.
          </p>
          <h2>Heading 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <h3>Heading 3</h3>
          <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
            blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat.
          </p>
          <h4>Heading 4</h4>
          <p>
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
            velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            feugait nulla facilisi.
          </p>
        </section>
      </main>
      <footer>Footer Text. <a href="/">Link.</a></footer>
    </div>
  </body>
</html>
