body.full-page-tutorial {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2vh 2vw;
  //   font-family: monospace;

  // generated bg from https://10015.io/tools/css-background-pattern-generator
  background: radial-gradient(farthest-side at -33.33% 50%, #0000 52%, rgba(243, 205, 228, 0.6) 54% 57%, #0000 59%) 0 calc(312px / 2),
    radial-gradient(farthest-side at 50% 133.33%, #0000 52%, rgba(243, 205, 228, 0.6) 54% 57%, #0000 59%) calc(312px / 2) 0,
    radial-gradient(farthest-side at 133.33% 50%, #0000 52%, rgba(243, 205, 228, 0.6) 54% 57%, #0000 59%),
    radial-gradient(farthest-side at 50% -33.33%, #0000 52%, rgba(243, 205, 228, 0.6) 54% 57%, #0000 59%), #ffffff;
  background-size: calc(312px / 4.667) 312px, 312px calc(312px / 4.667);

  main {
    background: rgba(white, 0.82);
    padding: 2em 3em;
    max-width: 1000px;
  }

  #theme-toggler {
    left: auto;
    right: 10px;
  }

  section {
    &:not(:first-child) {
      padding-bottom: 5em;
      margin-top: 5em;
      border-bottom: 2px dotted $green;
    }
  }

  small {
    font-size: 0.8em;
  }

  .back-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1;
    z-index: 99999;
    padding: 0.5em;

    &:hover,
    &:focus {
      color: darken($green, 10%);
      text-decoration: underline;
      text-decoration-style: wavy;
    }

    @media (max-width: $md) {
      font-size: 1em;
    }
  }

  h2 {
    small {
      display: block;
      font-family: $font2, $font, sans-serif;
      font-size: 0.6em;
      letter-spacing: 0;
      opacity: 0.7;
    }

    a[href*="#"] {
      display: inline-block;
      margin-right: 0.5em;
      font-size: 0.85em;
    }
  }

  .learn {
    background: rgba($pink, 0.25);
    padding: 1.5em;
    padding-top: 1.2em;
    border-radius: 0.75em;
    display: inline-block;
    min-width: 32%;
    margin-top: 0.5em;

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }

    > strong {
      display: block;
      letter-spacing: 0;

      &:not(:first-child) {
        margin-top: 1.5em;
      }
    }

    li {
      position: relative;
      padding-left: 1.5em;
      margin-bottom: 0.5em;

      &::before {
        content: "➜";
        position: absolute;
        top: 0;
        left: 0;
        font-family: sans-serif;
        font-weight: bold;
        display: inline-block;
        margin-right: 0.5em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.learn--checklist li::before {
      content: "✓";
    }
  }

  .learns {
    display: flex;
    flex-wrap: wrap;

    .learn {
      margin-top: 1em;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  @media (min-width: $lg) {
    padding: 10vh 10vw;

    .back-link {
      position: fixed;
      top: 0em;
      left: 0.5em;
    }
  }

  @media (max-width: $sm) {
    padding: 0;
    margin: 0;

    main {
      padding: 1em 1em;
    }

    #disqus_thread {
      margin: 0 -10px;
    }

    h2 {
      a[href*="#"] {
        display: none;
      }
    }
  }
}

// CHEATSHEET

.full-page-tutorial .cheatsheet {
  margin-top: 2em;
  line-height: 1;

  .two-columns {
    border: 2px dotted rgba($purple, 0.5);
    padding: 1.5em;
    border-radius: 10px;
  }

  .cheatsheet__inline {
    margin-bottom: 1em;

    > span {
      display: block;

      small {
        opacity: 0.8;
        font-size: 0.8em;
      }
    }
  }
}
