body.full-page-tutorial {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2vh 2vw;

  // generated bg from https://10015.io/tools/css-background-pattern-generator
  background: radial-gradient(farthest-side at -33.33% 50%, #0000 52%, rgba(255, 237, 248, 0.64) 54% 57%, #0000 59%) 0 calc(312px / 2),
    radial-gradient(farthest-side at 50% 133.33%, #0000 52%, rgba(255, 237, 248, 0.64) 54% 57%, #0000 59%) calc(312px / 2) 0,
    radial-gradient(farthest-side at 133.33% 50%, #0000 52%, rgba(255, 237, 248, 0.64) 54% 57%, #0000 59%),
    radial-gradient(farthest-side at 50% -33.33%, #0000 52%, rgba(255, 237, 248, 0.64) 54% 57%, #0000 59%), #ffffff;
  background-size: calc(312px / 4.667) 312px, 312px calc(312px / 4.667);

  main {
    background: rgba(white, 0.8);
    padding: 2em 3em;
    max-width: 1000px;
  }

  section {
    &:not(:first-child) {
      margin-top: 5em;
    }
  }

  .back-link {
    display: block;
    margin-bottom: 1em;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $green;
    }
  }

  h2 {
    small {
      display: block;
      font-family: $font2, $font, sans-serif;
      font-size: 0.6em;
      letter-spacing: 0;
      opacity: 0.7;
    }
  }

  @media (min-width: $lg) {
    padding: 10vh 10vw;

    .back-link {
      padding: 0.5em;
      position: fixed;
      top: 0.5em;
      left: 0.5em;
    }
  }
}

// CHEATSHEET

.full-page-tutorial .cheatsheet {
  margin-top: 2em;
  line-height: 1;

  .two-columns {
    border: 2px dotted rgba($purple, 0.5);
    padding: 1.5em;
    border-radius: 10px;
  }

  .cheatsheet__inline {
    margin-bottom: 1em;

    > span {
      display: block;

      small {
        opacity: 0.8;
        font-size: 0.8em;
      }
    }
  }
}
