.picmix-page {
  width: 99vw;
  background: none;
  border: none;
  display: block;
  padding: 0;
  grid-area: initial;
  margin-top: 0 !important;
}

.picmix {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border: none;
  background: none;
  margin: 0;

  @media (min-width: $lg) {
    padding: 3em;
    // max-width: 1340px;
  }

  h2 {
    width: 100%;
    margin: 10px;
    margin-top: 1em;
  }
}

.picmix a {
  margin: 9px;
  max-width: 400px;

  &:hover,
  &:focus {
    img {
      transform: scale(1.05);
    }
  }
}

.picmix a img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
}

.picmix-back {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 2em;
  z-index: 99;
}
