$contentWidth: 710px;

body.webring-page {
  position: relative;
  display: block;
  padding: 2vh 2vw;
  display: flex;
  justify-content: center;
  cursor: auto;
  color: rgb(51, 51, 51);

  // generated bg from https://10015.io/tools/css-background-pattern-generator

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      cursor: pointer;
    }
  }

  main {
    width: 100%;
    max-width: $contentWidth;
    background: white;
    padding: 3em 0;
    border-radius: 20px;
  }

  strong {
    color: rgb(22, 22, 22);
  }

  section {
    &:not(:first-child) {
      margin-top: 3em;
    }
  }

  section:not(:last-child),
  section:last-child > *:not(.webring-page__form) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: $lg) {
    padding: 10vh 10vw;

    section:not(:last-child),
    section:last-child > *:not(.webring-page__form) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

.webring-page__members {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px dashed currentColor;
    padding: 0.5em 1em;
  }

  @media (max-width: $md) {
    th {
      display: none;
    }

    td {
      display: block;

      &:first-child {
        font-weight: bold;
      }

      &:last-child {
        border-bottom: 3px dotted;
      }
    }
  }
}

.webring-page__form {
  display: flex;
  justify-content: center;

  iframe {
    width: 100%;
    max-width: $contentWidth;
    height: 1200px;
  }
}

.webring-page__code {
  textarea {
    display: block;
    height: 4em;
    background: var(--mainBackgroundColor);
    border: 1px $purple dotted;
    font-family: $font2;
    width: 100%;
    font-size: 11px;
    background: white;
    color: black;

    &:focus {
      outline: none;
    }
  }

  @media (min-width: $lg) {
    display: flex;
    align-items: stretch;

    iframe {
      flex: 0 0 1;
    }

    textarea {
      height: auto;
    }
  }
}
