---
layout: coding.njk
title: "free layouts"
description: "petrapixel's free layouts for indie websites. Neocities"
nesting: "../"
codeHighlight: true
mainClass: coding-page
---

<section>
  <h1>Layouts</h1>
  <p>
    You can use my layout builder to generate a code for your website. The generated code will include HTML, CSS and (optionally) basic JavaScript.
    <b>This generator is still quite new. There might be some bugs. Please tell me about any you see!</b>
  </p>

  <p><strong>Features:</strong></p>
  <ul>
    <li>✓ choose site width, header, footer, sidebars, colors, font, font size, margins, paddings, etc</li>
    <li>✓ styled basic content elements (headings, blockquote, code, images, ...)</li>
    <li>✓ css variables for easy changes later</li>
    <li>✓ code comments for your comprehension</li>
    <li>✓ mobile responsive (+ options)</li>
    <li>✓ basic accessibility + semantic elements</li>
    <li>✓ optional javascript to load your layout</li>
    <li>✓ no jquery or other unnecessary bloat</li>
  </ul>
</section>

<section class="buy-me-a-coffee">
  <p>
    I spent <b>hours</b> of my free time creating this tool for free. If you'd like to say thanks, please share this tutorial with others and/or
    <a href="https://ko-fi.com/petrastipjar" target="_blank">buy me a coffee</a>! <img aria-hidden="true" src="../assets/img/inline/laughing.gif" />
  </p>
  <img src="{{ nesting }}assets/img/layout/coffee.gif" alt="coffee" width="80" />
</section>

<section id="comments">
  <h2>Comments</h2>
  <p><b>Leave your questions, problems, suggestions, requests and thanks here!</b></p>
  <p>
    To share very long code or error messages with me, please upload it to <a href="https://pastebin.com/" target="_blank">pastebin</a> (or a similar site) and include the link. This is to make sure
    you don't hit the max character limit on comments.
  </p>
  <p>Please <b>empty your cache</b> before asking questions. This will get rid of most problems.</p>
  <div id="c_widget">Comment Widget could not be loaded!</div>
  <script src="{{ nesting }}assets/js/comment-widget.js"></script>
</section>
