@font-face {
  font-family: "basiic";
  src: url(https://cinni.net/fonts/basiic.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "basiic", sans-serif;
  letter-spacing: -0.03em;
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  background: $backgroundColor;
  color: $textColor;

  @media (min-width: $md) {
    font-size: 17px;
    line-height: 1.5;
  }
}

a {
  &,
  &:hover,
  &:focus,
  &:visited {
    color: $textColor;
  }
}

main {
  a {
    &,
    &:visited {
      color: $linkColor;
    }

    &:hover,
    &:focus {
      color: $linkColorHover;
      text-decoration-style: wavy;
    }
  }

  p {
    margin: 0.5em 0;
    text-align: justify;
  }

  ul {
    margin: 0.5em 0;
    padding-left: 1.5em;
  }

  blockquote {
    background: rgba($gbDark, 0.1);
    padding: 1em;
    margin: 1em 0;
    border-radius: 10px;
  }

  code {
    display: block;
    margin: 1em 0;
    background: rgba($gbDark, 0.1);
    padding: 1em;
    border-radius: 10px;
    font-size: 0.75em;
    line-height: 1.3;
  }

  center {
    margin: 1em 0;
    padding: 0 1em;

    @media (min-width: $md) {
      padding: 0 2em;
    }
  }

  hr {
    border: 0;
    border-top: 2px dotted $gbLight;
    margin: 1.5em 0;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 0;
    line-height: 1.5;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 24px;
    letter-spacing: 1px;

    @media (min-width: $lg) {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 18px;

    @media (min-width: $lg) {
      font-size: 24px;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 16px;

    @media (min-width: $lg) {
      font-size: 22px;
    }
  }
}

.mobile-only {
  @media (min-width: $sm) {
    display: none !important;
  }
}

.desktop-only {
  @media (max-width: $sm) {
    display: none !important;
  }
}

.custom-scrollbar {
  scrollbar-color: $gbDark rgba($gbDark, 0.25);
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track-piece {
  background-color: rgba($gbDark, 0.25);
}

.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: $gbDark;
}

@media (prefers-reduced-motion) {
  marquee {
    display: none;
  }
}
