@font-face {
  font-family: "basiic";
  src: url(https://cinni.net/fonts/basiic.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "basiic", sans-serif;
  letter-spacing: -0.03em;
  font-size: 15px;
  line-height: 1.8;
  display: flex;
  justify-content: center;
  background: $backgroundColor;
  color: $textColor;

  @media (min-width: 992px) {
    font-size: 17px;
    line-height: 2;
  }
}

a {
  &,
  &:hover,
  &:focus,
  &:visited {
    color: $textColor;
  }
}

main {
  a {
    &,
    &:visited {
      color: $linkColor;
    }

    &:hover,
    &:focus {
      color: $linkColorHover;
    }
  }
}

p {
  margin: 0.5em 0;
  text-align: justify;
}

ul {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

h1,
h2 {
  margin-bottom: 0;
  line-height: 1.5;
}

h2 {
  margin-top: 1.5em;
  font-size: 20px;

  @media (min-width: 1000px) {
    font-size: 28px;
  }
}

.desktop-only {
  @media (max-width: 575px) {
    display: none;
  }
}
