@font-face {
  font-family: "basiic";
  src: url(https://cinni.net/fonts/basiic.ttf);
}

* {
  box-sizing: border-box;
  color: #251d35;
}

body {
  font-family: "basiic", "Mukta", sans-serif;
  letter-spacing: -0.03em;
  font-size: 17px;
  line-height: 1.8;
  display: flex;
  justify-content: center;
  background: #f4ecec;

  @media (min-width: 1000px) {
    font-size: 22px;
    line-height: 2;
  }
}

a {
  &,
  &:hover,
  &:focus,
  &:visited {
    color: #1d5999;
  }
}

main {
  width: 95%;
  max-width: 850px;

  @media (min-width: 1000px) {
    width: 90%;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

p {
  margin: 0.5em 0;
  text-align: justify;
}

ul {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

h1,
h2 {
  margin-bottom: 0;
  line-height: 1.5;
}

h2 {
  margin-top: 1.5em;
  font-size: 20px;

  @media (min-width: 1000px) {
    font-size: 28px;
  }
}

.cursor {
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(12, 11, 14);
  }

  * {
    color: rgb(190, 188, 195);
  }

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: #6c89b7;
    }
  }
}
