/* ---- filters ---- */

.rec-filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.rec-filters__group {
  display: inline-block;
  margin: 0.25em 0;
}

.rec-filters__buttons {
  display: inline-block;
  margin-right: 20px;
}

/* ---- button ---- */

.rec-filters__button {
  display: inline-block;
  padding: 0.1em 0.5em;
  background: rgba($gbLight, 0.5);
  border: none;
  border-radius: 7px;
  color: $gbDarkest;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 0;
  margin-right: 1px;
  margin-bottom: 5px;
  //   background-image: linear-gradient(to bottom, rgba($gbLightest, 0), rgba($gbDarkest, 0.1));

  small {
    font-size: 0.8em;
    margin-left: 1px;
  }

  &:hover,
  &:active {
    background: $gbLight;
  }

  &.is-checked {
    background: $gbLight;
  }

  &:first-child {
    font-weight: bold;
  }
}

/* ---- isotope ---- */

.isotope-items {
  max-width: 100%;

  /* clear fix */
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* ---- items ---- */

.isotope-items > .item {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
  background: pink;
}
