/**
 *
 * INTRO
 *
 */

.about-me-page__intro {
  display: flex;
}

.about-me-page__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 10px;
}

.about-me-page__fact-sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-page__selfies {
  display: flex;
  overflow-x: scroll;
  width: 200px;

  .image {
    flex: 1 0 100%;
    margin-right: 5px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.about-me-page__basics {
  font-family: $font;
  font-size: 2em;
  text-align: center;
}

.about-me-page__flags {
  margin: 10px 0 15px;

  img {
    image-rendering: pixelated;

    &:hover {
      transform: scale(1.1);
      transition: 0.1s ease;
    }
  }
}

.about-me-page__badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  min-width: 176px;

  img {
    margin: 1px;

    &:hover {
      transform: scale(1.1);
      transition: 0.1s ease;
    }
  }
}

.about-me-page__description {
  padding-left: 30px;

  .about-me-page__list {
    flex: 0 0 50%;
    margin-top: 15px;

    h2 {
      font-size: 1.5em;
      margin-left: 0.5em;
    }

    &:nth-child(1) ul {
      list-style-image: url("https://i10.glitter-graphics.org/pub/1176/1176330tx67bbw569.gif");
    }

    &:nth-child(2) ul {
      list-style-image: url("https://i6.glitter-graphics.org/pub/1058/1058376oucw2p7qvg.gif");
    }
  }
}

.about-me-page__random-fact {
  text-align: center;

  #randomfact {
    font-size: 17px;
    font-family: $font;
  }
}

/**
 *
 * BLINKIES
 *
 */

.about-me-page__blinkies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -10px 0;

  > div {
    margin: 10px 5px;
    position: relative;

    img {
      display: block;
      filter: brightness(1.1) contrast(1.3);
      transition: 0.3s ease;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #c891bd;
      opacity: 0.15;
      pointer-events: none;
      transition: 0.3s ease;
    }

    &:hover,
    &:focus {
      img {
        filter: none;
      }

      &::after {
        opacity: 0;
      }
    }
  }
}

/**
 *
 * LISTS
 *
 */

.about-me-page__lists {
  display: flex;
  flex-wrap: wrap;
}

.about-me-page__list {
  flex: 0 0 33.33%;

  h2 {
    margin-bottom: 10px;
  }

  &:nth-child(1) ul {
    list-style-image: url("https://dl.glitter-graphics.com/pub/3165/3165269arxw80ufiw.gif");
  }
  &:nth-child(2) ul {
    list-style-image: url("https://dl.glitter-graphics.com/pub/2822/2822959pm1dkwzyqo.gif");
  }
  &:nth-child(3) ul {
    list-style-image: url("https://dl.glitter-graphics.com/pub/3133/3133881o30yprguhf.gif");
  }

  ul {
    padding-bottom: 1em;
  }

  .custom-scrollbar {
    height: 40vh;
    max-height: 220px;
    overflow-y: auto;
    margin-right: 20px;
    padding-left: 24px;
  }
}

/**
 *
 * FAVORITES
 *
 */

.about-me-page__lists--favorites {
  margin-top: 30px;
}

.about-me-page__lists--favorites .about-me-page__list {
  flex: 0 0 25%;

  .custom-scrollbar {
    max-height: none;
    height: auto;
  }

  ul {
    // list-style: initial;
    list-style-image: url("https://i10.glitter-graphics.org/pub/2206/2206590dfsxiz48it.gif");
    padding-left: 1em;

    li {
      line-height: 1;
      margin-bottom: 5px;
    }
  }

  //   &:nth-child(1) ul {
  //     list-style-image: url("https://dl.glitter-graphics.com/pub/3165/3165269arxw80ufiw.gif");
  //   }
  //   &:nth-child(2) ul {
  //     list-style-image: url("https://dl.glitter-graphics.com/pub/2822/2822959pm1dkwzyqo.gif");
  //   }
  //   &:nth-child(3) ul {
  //     list-style-image: url("https://dl.glitter-graphics.com/pub/3133/3133881o30yprguhf.gif");
  //   }
}

.about-me-page__faves-heading,
.about-me-page__lists--favorites h2 {
  font-size: 1.03em;
  font-family: $fontHeadings;

  img {
    vertical-align: top;
    animation: floatingImage 1s ease infinite;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}

.about-me-page__faves-images {
  display: flex;
  align-items: stretch; // yes, actually stretch the images. it's unnoticable
  margin-bottom: 10px;

  @media (max-width: $lg) {
    flex-wrap: wrap;
  }

  img {
    min-width: 0;
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 3px;
    border-radius: 5px;
    transition: transform 0.3s ease;

    &:hover,
    &:focus {
      transform: scale(1.8);
      z-index: 1;

      @media (max-width: $md) {
        transform: none;
      }
    }
  }
}

/**
 *
 * POKEMON
 *
 */

.about-me-page__pokemon-heading {
  margin-top: 0;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0 1em;
    font-size: 1.1em;
    text-align: center;
  }
}

.about-me-page__pokemon-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.about-me-page__pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  b {
    margin-top: -5px;
  }

  b,
  img {
    transition: transform 0.3s ease;
  }

  &:hover,
  &:focus {
    b {
      transform: scale(1.3);
    }

    img {
      transform: scale(1.3) rotate(15deg) !important;
    }
  }
}
/**
 *
 * HOME
 *
 */

.about-me-pages__home-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  img {
    display: inline-block;
    padding: 10px;
    max-width: 50%;
    filter: hue-rotate(-5deg) contrast(0.95) brightness(1.1);
    image-rendering: smooth;

    &:hover {
      image-rendering: auto;
    }

    @media (max-width: $md) {
      max-width: 100%;
    }
  }
}

/**
 *
 * GPOY
 *
 */

.about-me-pages__gpoy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 310px;
  overflow-x: scroll;
  // overflow-y: clip;
  align-items: flex-start;
  padding-bottom: 10px;

  img {
    display: inline-block;
    margin: 5px;
    transition: 0.3s ease-out;

    @media (min-width: $md) {
      height: 300px;
    }

    &[src*="/d.png"],
    &[src*="/d.png"] + img,
    &[src*="/e.png"],
    &[src*="/e.png"] + img,
    &[src*="/may1.png"],
    &[src*="/may1.png"] + img,
    &[src*="/may4.jpg"],
    &[src*="/may4.jpg"] + img,
    &[src*="/may6.PNG"],
    &[src*="/may6.PNG"] + img,
    &[src*="/0.jpg"],
    &[src*="/0.jpg"] + img,
    &[src*="/dan the man.jpg"],
    &[src*="/dan the man.jpg"] + img {
      height: 140px;
      margin-bottom: 0;
    }

    &:hover {
      z-index: 1;

      @media (min-width: $md) {
        border-radius: 30px;
        transform: scale(1.3);
      }
    }
  }
}

/**
 *
 * WINDOWS
 *
 */

.about-me-page__windows {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;

  @media (min-width: $xl) {
    flex-wrap: nowrap;
  }
}

.about-me-page-window {
  position: relative;
  margin-top: 50px;
  border: 2px solid var(--pink);
  padding: 17px;
  background: var(--mainBackgroundColor);
  max-width: 240px;
  min-width: 180px;
  margin-right: 20px;

  > *:first-child {
    margin-top: 0;
  }

  &::before {
    content: attr(aria-label) ".txt";
    position: absolute;
    bottom: 100%;
    left: -2px;
    right: -2px;
    background: var(--pink);
    height: 30px;
    color: var(--mainBackgroundColor);
    font-size: 1.1em;
    padding-left: 10px;
    border: 2px solid var(--pink);
    border-bottom: 0;
    display: flex;
    align-items: center;
    line-height: 1;
    padding-bottom: 1px;
    font-weight: bold;
  }

  &::after {
    content: "";
    width: 59px;
    height: 15px;
    background-image: url("https://i.imgur.com/A2Q3NsS.png");
    position: absolute;
    bottom: calc(100% + 9px);
    right: 8px;
  }
}

.about-me-page-sns-coding {
  margin-top: 50px;
}

/**
 *
 * AESTHETICS
 *
 */

.about-me-page__aesthetics {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px 20px;

  .about-me-page__aesthetic-title {
    margin: 3px;
    font-family: $fontHeadings;
  }

  a {
    display: inline-block;
    height: 108px;
    width: 108px;
    margin: 3px;
    // overflow: hidden;

    @media (max-width: $sm) {
      width: 26vw;
      height: 26vw;
    }

    &:hover,
    &:focus {
      img {
        transform: scale(1.4);
        z-index: 1;
        filter: none;
      }
    }
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s linear, filter 0.2s linear;
    filter: brightness(1.1) contrast(0.9) sepia(0.25) hue-rotate(-30deg);
  }
}

/**
 *
 * MOBILE
 *
 */

@media (max-width: $lg) {
  .about-me-page__intro {
    flex-direction: column;
    align-items: center;
  }

  .about-me-page__description {
    padding-left: 0;
  }

  .about-me-page__list {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .about-me-page__lists--favorites .about-me-page__list {
    flex: 0 0 50%;
  }

  .about-me-page__windows {
    justify-content: flex-start;

    & > * {
      width: 100%;
    }
  }

  .about-me-page-sns-coding {
    margin-top: 50px;
  }
}

@media (max-width: $sm) {
  .about-me-page__list .custom-scrollbar {
    height: auto;
    max-height: none;
    overflow: hidden;
  }

  .about-me-page__description .about-me-page__list {
    flex: 0 0 100%;
  }

  .about-me-page__lists--favorites .about-me-page__list {
    flex: 0 0 100%;
    margin-bottom: 5px;
  }
}
