.advent-calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("https://petrapixel.neocities.org/assets/img/etc/christmas/adventcalendar-bg.jpg");
  background-repeat: repeat;

  @media (max-width: $sm) {
    padding: 15px;
  }
}

.advent-calendar__door {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  margin: 20px;
  background: $pink; // don't use variable: no dark mode
  font-size: 30px;
  cursor: url(https://cur.cursors-4u.net/holidays/hol-5/hol453.cur), not-allowed;
  transition: 0.3s ease;

  @media (max-width: $sm) {
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 27px;
  }

  @media (min-width: $xl) {
    width: 174px;
    height: 174px;
    margin: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $pink;
    background-image: url("https://petrapixel.neocities.org/assets/img/etc/christmas/adventcalendar-door.jpg");
    background-size: cover;
    transform-origin: left;
    transition: all 0.5s ease-in-out;
  }

  strong {
    color: $textColor; // don't use variable: no dark mode
    font-size: 1.75em;
    letter-spacing: -3px;
    text-shadow: 0px 0px 10px white;
    z-index: 2;
    transition: transform 0.3s ease;
  }
}

.advent-calendar__door--open {
  &::after {
    transform: perspective(1200px) rotateY(-105deg) !important;
    z-index: 1;
    // https://codepen.io/am_eu/pen/EgedaQ
  }

  &:hover,
  &:focus,
  &:focus-within {
    &::after {
      transform: perspective(1200px) rotateY(-115deg) !important;
    }
  }
}

.advent-calendar__door--open,
.advent-calendar__door--openable {
  cursor: url(https://cur.cursors-4u.net/holidays/hol-5/hol442.gif), pointer;

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0px 0px 20px white;

    strong {
      transform: scale(1.4);
    }
  }
}

.advent-calendar__door--openable {
  transition-delay: 0.5s;

  &:hover,
  &:focus,
  &:focus-within {
    &::after {
      transform: perspective(1200px) rotateY(-45deg);
    }
  }
}

.advent-calendar__content-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 9999999;

  .advent-calendar__door--clicked + & {
    display: flex;
  }

  @media (min-width: $md) {
    background: rgba(255, 255, 255, 0.4);
  }
}

.advent-calendar__content {
  background: var(--mainBackgroundColor);
  padding: 30px 15px;
  max-height: 75vh;
  text-align: center;
  box-shadow: 0px 0px 20px white;
  overflow-y: scroll;
  overflow-x: hidden;

  strong {
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 0.2em;
    display: block;
  }

  h3 {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 30px;
  }

  @media (min-width: $md) {
    max-width: 700px;
    width: 50vw;
    padding: 40px 55px;
    max-height: 100vh;

    strong {
      font-size: 70px;
    }
  }

  @media (max-width: $sm) {
    width: 100%;
    padding: 20px 10px;

    // save some space
    strong,
    hr,
    p:last-child {
      display: none;
    }
  }
}
