.blog-article {
  margin-bottom: 1.5em;
  padding-bottom: 0;
  border-bottom: 1px dotted;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  #toc {
    margin-bottom: 2em;
  }
}

.blog-article__title {
  font-weight: normal;
  line-height: 1.2;

  &:not(h2):not(h1) {
    font-size: 16px;
    font-family: $font3;
    margin-bottom: 0.1em;

    @media (min-width: $lg) {
      font-size: 22px;
    }
  }

  a {
    &,
    &:hover,
    &:visited,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.blog-article__info {
  display: flex;
  font-family: $font2;
  font-size: 0.8em;
}

.blog-article__date {
  font-style: italic;
}

.blog-article__tags {
  &::before {
    content: "┆";
    display: inline-block;
    margin: 0 0.5em;
  }
}

.blog-article__description {
  margin: 1em 0 0.75em;

  h1 + & {
    // not visible on detail pages
    display: none;

    background: rgba($pink, 0.2);
    padding: 1em;
    margin: 1em 0 1.5em;
    border-radius: 10px;
  }
}

.blog-article__read {
  background: $green;
  color: var(--text-color);
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 0.1em 0.5em;
  cursor: $cursorPointer;
  user-select: none;
  text-decoration: none;

  &::before {
    content: "➥";
    font-size: 0.9em;
    display: inline-block;
    margin-right: 0.5em;
  }

  &:hover {
    filter: brightness(0.9);
  }

  &,
  &:hover,
  &:focus,
  &:visited {
    color: var(--textColor);
  }
}

.blog-article__content {
  h2 {
    font-weight: normal;
  }
}

// Read more

.blog-read-more {
  .blog-article {
    margin: 0;
    padding: 1em;

    &:not(:first-child) {
      padding-top: 2em;
    }

    &:not(:last-child) {
      padding-bottom: 2em;
    }
  }

  .blog-article__title:not(h2):not(h1) {
    margin-bottom: 0;
  }

  .blog-article__description {
    margin: 0.25em 0 0.5em;
  }
}

.blog-read-more__title {
  font-size: 32px;
  font-family: $font3;
  margin-bottom: 0.25em;
  margin-top: 1em;
}
