/*
	LAYOUT
*/

.blog-page-layout {
  // font-size: 15px;

  #content {
    width: 700px;
    display: flex;
    flex-direction: column;

    @media (min-width: $xl) {
      width: 800px;
    }
  }

  header {
    margin-bottom: 0;
  }

  main {
    overflow-y: auto;
    max-height: calc(100vh - 250px);
    border: var(--mainBorder);
    padding: 2em;

    section {
      margin-bottom: 0;
      margin-top: 2em;
    }

    strong {
      font-size: 18px;
    }
  }

  footer {
    margin-bottom: 0;
  }
}

.blog-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--mainBorder);
  border-bottom: 0;
  background: var(--mainBackgroundColor);
  padding: 0 30px;
  margin-top: -30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  ul {
    padding-left: 0;
    display: flex;
    list-style: none;

    li:not(:first-child) a {
      margin-left: 1.5em;
    }

    a {
      &,
      &:visited {
        color: var(--linkColor);
      }

      &:hover,
      &:focus,
      &.active {
        color: var(--linkColorHover);
        text-decoration-style: wavy;
        font-style: italic;
      }
    }
  }

  #clap-for-me {
    height: 18px;
    margin-top: 0;
  }

  @media (max-width: $sm) {
    ul {
      flex-direction: column;
      text-align: left;

      a {
        display: block;
        padding: 2px;
      }

      li:not(:first-child) a {
        margin-left: 0;
      }

      li:last-child {
        display: none;
      }
    }

    .blog-navigation__clap {
      display: none;
    }
  }
}

.blog-page-date {
  margin-top: 1em;
  padding-right: 0.5em;
  text-align: right;
  font-style: italic;
}

/*
	BLOG INDEX
*/

.blog {
  margin-top: 1em;

  .blog-entry {
    border-bottom: 1px dotted;
  }
}

.blog-entry {
  padding: 1em 0;
  margin-bottom: 0.5em;

  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  #toc {
    margin-bottom: 2em;
  }
}

.blog-entry__title {
  font-weight: normal;
  line-height: 1.2;

  &:not(h2):not(h1) {
    font-size: 16px;
    font-family: $fontHeadings;
    margin-bottom: 0.1em;

    @media (min-width: $lg) {
      font-size: 22px;
    }
  }

  a {
    &,
    &:hover,
    &:visited,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.blog-entry__info {
  display: flex;
  margin-top: 0.25em;
}

.blog-entry__date {
  font-style: italic;
}

.blog-entry__tags {
  &::before {
    content: "";
    display: inline-block;
    margin: 0 0.5em;
  }
}

.blog-entry__description {
  margin: 0.5em 0 0.75em;
}

.blog-entry__read {
  background: var(--green);
  color: var(--text-color);
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 0.1em 0.5em;
  cursor: $cursorPointer;
  user-select: none;
  text-decoration: none;

  &::before {
    content: "➥";
    font-size: 0.9em;
    display: inline-block;
    margin-right: 0.5em;
  }

  &:hover {
    filter: brightness(0.9);
  }

  &,
  &:hover,
  &:focus,
  &:visited {
    color: var(--textColor);
  }
}

.blog-hitcounter {
  width: 0px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
}
