.bookmarks-section {
  a {
    font-weight: bold;
    text-transform: capitalize;
  }

  p {
    font-weight: bold;
    margin-top: 2em;
  }

  h3 {
    margin-top: 2em !important;

    h2 + & {
      margin-top: 0.5em !important;
    }
  }

  li {
    margin-bottom: 0.3em;
  }

  ~ hr {
    margin: 2.5em 0;
  }
}
