.bookmarks-section {
  &:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 2px dotted var(--green);
  }

  a {
    text-transform: capitalize;
    filter: brightness(0.8);
  }

  p {
    font-weight: bold;
    margin-top: 2em;
  }

  h3 {
    margin-top: 2em !important;
    font-size: 22px;

    h2 + &:first-child {
      margin-top: 1em !important;
    }
  }

  li {
    margin-bottom: 0.3em;
  }

  ~ hr {
    margin: 2.5em 0;
  }
}

.bookmarks {
  margin: 1em 0 2em;

  &.bookmarks--two-columns {
    @media (min-width: $lg) {
      column-count: 2;
    }
  }
}

.bookmark {
  display: flex;
  padding: 0.5em 0;
  //   font-size: 1.1em;
  border-bottom: 1px dotted var(--pink);

  &:first-child {
    border-top: 1px dotted var(--pink);
  }

  &:nth-child(odd) {
    background: rgba($pink, 0.075);
  }

  &.bookmark--star {
    .bookmark__title::after {
      content: " ★";
      font-size: 0.8em;
      vertical-align: text-top;
    }
  }
}

.bookmark__title {
  //   font-weight: bold;
  padding: 0 0.25em;
  flex: 1 0 0;
}

.bookmark__description {
  flex: 2 0 0;
  padding: 0 0.25em;

  &:empty {
    display: none;
  }
}

@media (max-width: $md) {
  .bookmark {
    display: block;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .bookmark__title {
    width: auto;
    padding: 0;
  }

  .bookmark__description {
    padding: 0;
  }
}
