.cat-gif {
  height: 7em;
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;

  @media (max-width: $sm) {
    height: 5.5em;
  }
}

.cat {
  display: flex;
  align-items: center;
  grid-gap: 20px;
  padding: 0 0 0.25em;

  details {
    margin-top: 1em;
  }

  @media (max-width: $sm) {
    display: block;
  }

  & + .cat__description {
    margin-top: 10px;
    padding: 0 1em;
  }
}

.cat__quick-facts {
  flex: 0 0 50%;
  padding: 1em 1.5em;
  background: rgba($pink, 0.5);
  //   border-radius: 15px;
  border: 2px dotted var(--white);

  strong {
    font-weight: bold;
    font-size: 0.9em;
    font-family: "basiic", sans-serif;
    text-transform: lowercase;

    abbr {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  p {
    text-align: left;
    margin: 0.3em 0;
  }
}

.cat__image {
  flex: 0 1 50%;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
    // border-radius: 15px;
    border: 3px dotted var(--white);
    filter: brightness(1.1) contrast(1.2);
    transition: filter 0.3s ease, border-radius 0.5s ease, transform 0.5s ease;
  }

  &::after {
    content: "";
    position: absolute;
    left: 3px;
    right: 3px;
    bottom: 3px;
    top: 3px;
    background: #c891bd;
    opacity: 0.2;
    pointer-events: none;
    transition: opacity 0.3s ease;
    // border-radius: 16px;
  }

  &:hover,
  &:focus-within {
    img {
      //   border-radius: 25px;
      filter: none;
      //   transform: rotate(4deg);
      transform: skew(-2deg, -2deg) rotate(0deg);

      @media (prefers-reduced-motion) {
        transform: none;
      }
    }

    &::after {
      opacity: 0;
    }
  }
}

.cat__description {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.1em;

  @media (max-width: $sm) {
    font-size: 1em;
    margin-top: 10px;
    padding: 0;
  }
}

.cats-gallery {
  margin-top: 1em;

  .image {
    display: inline-block;
    width: 33.333%;
    box-sizing: content-box;
    position: relative;

    @media (max-width: $lg) {
      width: 50%;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      padding: 5px;
      //   border-radius: 15px;
      filter: brightness(1.05) contrast(1.05);
      transition: filter 0.3s ease, border-radius 0.5s ease, transform 0.5s ease;
    }

    span {
      position: absolute;
      bottom: 15px;
      left: 15px;
      text-decoration: none;
      color: var(--black);
      line-height: 1;
      font-weight: bold;
      text-shadow: 0px 0px 5px var(--white);
      transition: transform 0.5s ease;
    }

    &::after {
      content: "";
      position: absolute;
      left: 5px;
      right: 5px;
      bottom: 5px;
      top: 5px;
      background: #c891bd;
      opacity: 0.15;
      pointer-events: none;
      transition: opacity 0.3s ease;
      //   border-radius: 16px;
    }

    &:hover {
      img {
        // border-radius: 25px;
        filter: none;
        // transform: rotate(4deg);
        transform: skew(-2deg, -2deg) rotate(0deg);

        @media (prefers-reduced-motion) {
          transform: none;
        }
      }

      span {
        transform: scale(1.3) translateY(-10px) translateX(5px) rotate(5deg);

        @media (prefers-reduced-motion) {
          transform: none;
        }
      }

      &::after {
        opacity: 0;
      }
    }
  }
}
