.clique {
  position: relative;
}

.my-clique {
  text-transform: none;
  margin-top: 15px;

  .code-textarea {
    margin-top: 1em;
    width: 100%;
  }
}

.my-clique__preview {
  font-size: 15px;
}

// .my-clique-image {
//   position: absolute;
//   top: 1em;
//   right: 1em;

//   @media (min-width: $sm) {
//     top: 2em;
//     right: 2em;
//   }
// }
