main {
  section.clique-section {
    margin-bottom: 2.5em;
  }
}

.clique-code {
  text-transform: none;

  > p {
    margin-top: 1.5em;
  }

  .code-textarea {
    margin-bottom: 1em;
    width: 100%;
  }
}
