.coding-page-layout {
  #content {
    grid-template: "header header" auto "navi navi" auto "asideLeft main" auto "footer footer" auto/220px auto;
  }

  #back-to-top-link {
    left: auto;
    right: 20px;
  }

  main {
    border-right: var(--mainBorder);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (min-width: 1000px) {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    section {
      margin-bottom: 2em;
    }

    @media (max-width: $md) {
      table {
        max-width: calc(100vw - 2em - 23px);

        // make sure it breaks:
        word-break: break-word;
      }
    }
  }

  .aside {
    #toc {
      margin-top: 2em;
      margin-bottom: 2em;

      &.fixed-toc {
        position: fixed;
        top: 0;
        width: 190px;
        background: var(--asideBackgroundColor);
        margin-top: 0;
        padding-top: 1em;
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        // border-top: 1px dotted;
        // border-bottom: 1px dotted;
      }

      li {
        padding: 0 0.5em;
        margin-bottom: 5px;
        position: relative;

        &:first-child {
          margin-top: 0.75em;
        }

        &:hover,
        &:focus-within {
          background-color: var(--pink);
          border-radius: 5px;

          a {
            color: var(--white);
            text-decoration: none;
          }
        }

        &.active {
          text-shadow: 0px 0px 3px var(--linkColor);

          &::before {
            content: "➨";
            position: absolute;
            top: 2px;
            right: calc(100% - 5px);
            font-family: sans-serif;
            font-size: 16px;
          }
        }
      }

      a {
        display: block;
        padding: 0.2em 0.05em;
        text-decoration: none;
        line-height: 1;

        code {
          font-size: 0.7em;
          font-weight: bold;
        }
      }
    }
  }
}

.coding-navigation {
  display: flex;
  justify-content: space-between;
  grid-area: navi;
  margin-top: 1.5em;
  padding: 0 1em;
}

.coding-navigation-category {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  background: var(--mainBackgroundColor);
  margin: 0 5px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: var(--mainBorder);
  border-bottom: 0;

  &.active {
    background-color: var(--purple);

    .coding-navigation-category__title a {
      color: var(--white);
    }
  }

  ul {
    position: absolute;
    top: 100%;
    left: -2px;
    min-width: 100%;
    margin: 0;
    list-style: none;
    padding: 0.75em;
    z-index: 1;
    background: var(--mainBackgroundColor);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: var(--mainBorder);
    display: none;

    li {
      position: relative;
      line-height: 1;

      &:not(:last-child) {
        padding-bottom: 0.3em;
      }

      a {
        display: flex;
        align-items: flex-start;
        padding: 0.4em 0.3em;
        padding-top: 0.3em;
        border-radius: 3px;
        text-decoration: none;

        small:not(.aside-nav__new) {
          display: block;
          opacity: 0.8;
        }

        .aside-nav__new {
          transform: translateY(5px);
        }

        .fa-solid,
        .fa-brands,
        .fa-regular {
          font-size: 0.75em;
          margin-top: 3px;
          margin-right: 10px;
          transition: transform 0.3s ease;
          flex-shrink: 0;
          flex-grow: 0;
          min-width: 15px;
          text-align: center;
          pointer-events: none;

          &.fa-code,
          &.fa-city,
          &.fa-toolbox,
          &.fa-bug,
          &.fa-link,
          &.fa-broom {
            font-size: 0.7em;
          }

          &.fa-circle-question,
          &.fa-circle-xmark,
          &.fa-lightbulb {
            font-size: 0.8em;
          }
        }

        &.active {
          color: var(--white);
          background-color: var(--purple);
        }

        &:hover,
        &:focus {
          color: var(--white);
          background-color: var(--purple);

          .fa-solid,
          .fa-brands,
          .fa-regular {
            transform: scale(1.3);
          }
        }
      }
    }
  }

  @media (min-width: 900px) {
    flex: 1 1 0;
    font-size: 1.1em;

    ul {
      right: -2px;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    z-index: 2;

    ul {
      display: block;
    }

    .coding-navigation-category__title {
      a {
        text-decoration: none;
      }
    }
  }
}

.coding-navigation-category__title {
  padding: 5px;
  text-align: center;
}

.coding-back-to-home {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 1.25em;

  a {
    &:hover,
    &:focus {
      text-decoration: none;
      font-style: italic;

      img {
        transform: scale(1.1);
      }
    }
  }

  span span {
    font-size: 22px;
  }

  img {
    margin: -10px auto 0;
    display: inline-block;
    width: 32px;
    padding-left: 5px;
    padding-top: 20px;
    transition: transform 0.1s linear;
  }
}

/* Mobile Layout */
@media (max-width: $md) {
  .coding-page-layout {
    #content {
      grid-template: "header" auto "navi" auto "main" auto "footer" auto/ auto;

      .aside {
        display: none;
      }
    }

    main {
      padding-top: 0;
      border-radius: 0;
      border-right: 0;
    }
  }

  .coding-navigation {
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    margin-top: 0.5em;
  }

  .coding-navigation-category {
    margin: 0 2px;
    min-width: 25vw;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    ul {
      font-size: 0.95em;

      li a small {
        display: none !important;
      }
    }
  }

  .coding-navigation-category__title {
    a {
      text-decoration: none;
    }
  }
}

main.coding-page {
  //   font-size: 14px;

  h2 {
    margin-top: 1.75em;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin-top: 1.75em;

    &:first-child {
      margin-top: 0;
    }
  }

  h3[data-step] {
    font-size: 24px;
    background: var(--light);
    padding: 0.4em 0.75em 0.3em;
    position: relative;
    margin-top: 2.5em;

    &::before {
      content: attr(data-step) ".";
      position: absolute;
      top: 50%;
      left: -15px;
      font-weight: bold;
      font-size: 16px;
      background: var(--textColor);
      color: var(--light);
      padding: 6px;
      padding-bottom: 4px;
      transform: translateY(-50%);
      line-height: 1;
    }

    &:not([data-step="0"]):not([data-step="1"]):not([data-step="2"]):not([data-step="3"]):not([data-step="4"]):not([data-step="5"]):not([data-step="6"]):not([data-step="7"]):not([data-step="8"]):not(
        [data-step="9"]
      ) {
      // two digits
      &::before {
        left: -22px;
      }
    }
  }

  h2 + h3 {
    margin-top: 1em;
  }

  h2 + h3[data-step] {
    margin-top: 1em;
  }

  /* FontAwesome Icon */
  h1 + .fa-solid,
  h1 + .fa-brands,
  h1 + .fa-regular {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.1;
    font-size: 120px;
    pointer-events: none;
  }

  hr {
    margin: 2em 0;
  }

  .cw {
    font-weight: bold;
  }

  img.image {
    border: 2px dotted currentColor;
  }

  pre {
    white-space: break-spaces; // ?
  }

  p > code,
  li > code {
    background: rgba(0, 0, 0, 0.075);
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;

    @media (min-width: $md) {
      white-space: nowrap;
    }
  }

  // comments
  #c_widget textarea.c-input {
    min-height: 10em;
    resize: vertical;

    @media (min-width: $lg) {
      min-height: 15em;
    }
  }

  // Code Highlighter
  pre code.hljs {
    padding: 1em;
    margin: 0;
    font-size: 13px;
  }

  .hljs-section,
  .hljs-title {
    color: #94113c;
  }

  .hljs-attribute,
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-name,
  .hljs-selector-tag {
    color: #373737;
  }

  .hljs-comment {
    opacity: 0.75;
  }
}

.learn {
  border-left: 1px solid;
  padding-left: 1em;
  padding-top: 0.5em;
  margin-top: 2em;

  strong {
    font-size: 1.1em;
  }
}

.checklist-main {
  h3 {
    font-weight: bold;

    @media (min-width: $lg) {
      font-size: 21px;
    }
  }
}

.checklist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2.5em;
  margin-top: 0.8em;

  &:last-child {
    margin-bottom: 0;
  }

  code {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
  }

  li {
    a:nth-child(2) {
      display: inline-block;
      margin-right: 0.25em;

      &[href="TODO"],
      &[href="TODO"] ~ * {
        // wip links
        display: none;
      }
    }

    span code {
      font-weight: normal;
    }

    &:not(:last-child) {
      margin-bottom: 0.75em;
    }
  }

  input {
    cursor: $cursorPointer;
    transform: scale(1.3);
    margin-right: 0.75em;
    filter: hue-rotate(100deg);

    &:checked ~ * {
      opacity: 0.4;
      text-decoration: line-through;
      pointer-events: none;
    }
  }
}

.buy-me-a-coffee {
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.2em;
  border: 3px dotted;

  small {
    max-width: 480px;
    display: block;
    margin: 0 auto;
  }

  @media (prefers-reduced-motion) {
    img {
      display: none;
    }
  }

  @media (min-width: $lg) {
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;

    p {
      line-height: 1.6;
    }

    img {
      margin-left: 2em;
      margin-right: 1em;
    }
  }
}

.buy-me-a-coffee + section {
  border: 3px dotted;
}

blockquote.warning,
blockquote.tip,
blockquote.success,
blockquote.project,
blockquote.help,
blockquote.contact {
  position: relative;

  &::after {
    content: "💡";
    position: absolute;
    font-size: 20px;
    top: -5px;
    left: -13px;
  }

  pre {
    margin-bottom: 1em;

    code.hljs {
      box-shadow: none;
    }
  }

  @media (min-width: $lg) {
    padding-left: 70px;

    &::after {
      font-size: 26px;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: translateY(-50%) scale(1.2) rotate(-10deg);

      @media (prefers-reduced-motion) {
        transform: translateY(-50%);
      }
    }
  }
}

blockquote.warning {
  border: 2px solid;
}

blockquote.warning::after {
  content: "⚠️";
  filter: sepia(0.3);

  @media (min-width: $lg) {
    font-size: 28px;
  }
}

blockquote.tip::after {
  content: "💡";
  left: -8px;

  @media (min-width: $lg) {
    font-size: 30px;
    left: 22px;
  }
}

blockquote.success::after {
  content: "✔️";
  filter: hue-rotate(40deg) sepia(0.3);

  @media (min-width: $lg) {
    font-size: 28px;
  }
}

blockquote.project::after {
  content: "📁";
  left: -9px;

  @media (min-width: $lg) {
    left: 20px;
  }
}

blockquote.help::after {
  content: "❔";
  left: -8px;

  @media (min-width: $lg) {
    left: 24px;
  }
}

blockquote.contact::after {
  content: "💬";
}

// Progress Bar:

.progress-bar-container {
  position: fixed;
  bottom: 20px;
  left: 22px;
  max-width: 200px;
  background: var(--backgroundColor);
  border-radius: 10px;
  border: 1px solid var(--pink);
  padding: 7px 8px;
  margin: auto;
  transform: translateY(20px);
  transition: 0.5s ease;
  z-index: 9999;
  opacity: 0;

  @media (max-width: $md) {
    display: none;
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

.progress-bar-wrapper {
  border-radius: 10px;
  background: rgba($textColor, 0.2);
  margin-top: 5px;
}

.progress-bar {
  height: 6px;
  background: var(--textColor);
  border-radius: 10px;

  &::before {
    height: 1%;
  }
}

// Comprehension Questions:

.comprehension {
  margin: 2em 0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  position: relative;
  border-left: 3px solid var(--borderColor);

  &::before {
    content: "QUIZ!";
    position: absolute;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 5px;
    transform: translateY(-50%) rotate(-90deg);
    top: 50%;
    right: calc(100% - 15px);
  }

  [data-comprehension]:last-child & {
    margin-bottom: 0;
  }

  @media (max-width: $md) {
    padding-left: 1em;

    &::before {
      display: none;
    }
  }

  &.comprehension--correct {
    [data-correct] {
      background-color: var(--green);
    }

    .comprehension__answer {
      &::after {
        opacity: 1;
      }
    }
  }
}

.comprehension__question {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  padding-left: 0.25em;
}

.comprehension__answers {
  @media (min-width: $md) {
    &.comprehension__answers--half {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 10px;

      .comprehension__answer {
        flex: 0 0 calc(50% - 10px);
      }
    }
  }
}

.comprehension__answer {
  display: block;
  color: var(--textColor);
  border: none;
  padding: 0;
  background: rgba($pink, 0.2);
  padding: 0.5em 1em;
  margin: 0;
  margin-bottom: 0.5em;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  position: relative;
  transition: background 0.2s ease;

  b {
    font-size: 1.2em;
  }

  &::after {
    content: "✗";
    opacity: 0;
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 20px;
    transition: opacity 0.2s ease;
  }

  &[disabled] {
    pointer-events: none;

    &::after {
      opacity: 1;
    }
  }

  &:not([disabled]) {
    cursor: $cursorPointer;

    &:hover,
    &:focus {
      background: rgba($pink, 0.4);
    }
  }

  &[data-correct] {
    &::after {
      content: "✓";
      top: 8px;
      right: 13px;
    }
  }

  &.comprehension__answer--incorrect {
    background: rgba($red, 0.4);
  }
}

.comprehension__hint {
  margin-top: 0.5em;
  padding-left: 0.25em;

  &[aria-hidden] {
    display: none;
  }
}

/*
	CHEATSHEET
*/

.cheatsheet-blockquote {
  font-size: 13px;
  line-height: 1.5;
  font-weight: bold;
}

.cheatsheet-blockquote pre {
  margin: 0;
}

.cheatsheet-blockquote small {
  font-size: 0.9em;
  opacity: 0.7;
  display: block;
  margin-left: 1em;
  font-weight: normal;
  user-select: none;
  font-family: sans-serif;
  letter-spacing: 0.1px;
}

/*
	POSITIONING TUTORIAL
*/

.coding-page {
  .example0,
  .example1,
  .example2,
  .example3,
  .example4,
  .example5,
  .example6,
  .example7,
  .example8 {
    background: #fff3a4;
  }
}

// DELETE
.container {
  display: grid;
  grid-gap: 10px;
  grid-template:
    "header header"
    "sidebar main"
    "footer footer"
    / 100px 1fr;
}

header {
  grid-area: header;
}
aside {
  grid-area: sidebar;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

// WIDGETS

.widget-previews {
  @media (min-width: $lg) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -10px;
  }
}

.widget-preview {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  @media (min-width: $lg) {
    width: 50%;
    padding: 0 10px;
  }

  textarea {
    min-height: 65px;
  }

  > iframe {
    // border: 1px solid currentColor;
    height: 100px;
    max-width: 450px;
  }
}

// My Vscode Setup

.vscode-settings-table {
  border-collapse: collapse;

  th {
    background: var(--light);
    text-decoration: underline;
  }

  th,
  td {
    border: 1px dotted;
    padding: 0.4em 0.5em;
    text-align: left;
  }

  td:nth-child(3) {
    font-size: 0.9em;
  }

  code {
    font-size: 9px;
    font-weight: normal;
    display: block;
  }
}

// Cachebusting

.cachebusting-comparision {
  border-collapse: collapse;
  line-height: 1;

  thead th:first-child {
    font-size: 1.4em;
    text-decoration: underline;
  }

  th,
  td {
    border: 1px dotted;
    padding: 0.4em 0.5em;

    small {
      display: block;
      margin-top: 0.25em;
    }

    &:first-child {
      @media (max-width: $md) {
        // save space by hiding first column
        display: none;
      }
    }
  }

  th {
    background: var(--light);

    &:first-child {
      max-width: 200px;
    }
  }

  td {
    text-align: center;
  }

  tbody tr:last-child td {
    background: var(--light);
    text-align: left;
    vertical-align: top;

    ul {
      margin: 0;
    }
  }

  // WIP

  th,
  td {
    &:last-child {
      display: none;
    }
  }
}

// LAYOUTS

.layout {
  position: relative;
}

.layout__description {
  margin-bottom: 10px;
}

.layout__buttons {
  display: flex;
  grid-gap: 15px;
  margin: 10px 0 20px;
}

.layout__button {
  display: block;
  background: var(--asideBackgroundColor);
  border: 2px solid var(--borderColor);
  border-radius: 30px;
  box-shadow: var(--borderColor) 4px 4px 0 0;
  color: var(--textColor) !important;
  font-style: normal !important;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 13px 18px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.15s ease;
  text-align: center;

  &:hover,
  &:active,
  &:focus {
    box-shadow: var(--borderColor) 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  @media (max-width: $md) {
    padding: 10px 15px;
  }
}

@media (min-width: $xl) {
  .layout__description {
    padding-right: 300px;
  }

  .layout__buttons {
    position: absolute;
    top: 40px;
    right: 40px;
    margin: 0;
  }
}

/* CLIQUES */

#cliquelist {
  width: 100%;
  border-collapse: collapse;

  tr.inactive {
    opacity: 0.5;
  }

  th,
  td {
    border: 1px dotted;
    padding: 0.4em 0.5em;
    text-align: left;
  }

  td:first-child {
    font-size: 1.1em;
  }

  th {
    position: relative;
    background: var(--light);
    font-size: 1.1em;
    white-space: nowrap;
    padding-right: 30px;
    user-select: none;

    &:last-child {
      padding-right: 0.5em;
    }
  }

  small {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 0.9em;
    color: var(--black);
  }

  img {
    margin: 0 auto;
    display: block;
  }

  #sorttable_sortfwdind,
  #sorttable_sortrevind {
    position: absolute;
    top: 8px;
    right: 10px;
  }

  // Save space on mobile:
  @media (max-width: $md) {
    #sorttable_sortfwdind,
    #sorttable_sortrevind {
      position: static;
    }

    th {
      padding-right: 0.5em;
    }

    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
      display: none;
    }
  }
}

// Extra space on large screens:
// @media (min-width: $lg) {
//   .cliquelist-wrapper {
//     margin-left: -35px;
//     margin-right: -35px;
//   }
// }
