main.coding-page {
  hr {
    margin: 3em 0;
  }

  .cw {
    font-weight: bold;
  }

  .image {
    display: inline-block;
    max-width: 500px;
    border: 3px dashed currentColor;
    margin-bottom: 1em;

    img {
      display: block;
    }
  }

  p > code,
  li > code {
    background: rgba(0, 0, 0, 0.075);
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
  }

  // Code Highlighter
  pre code.hljs {
    padding: 1em;
    margin: 0;
    font-size: 13px;
  }

  .hljs-section,
  .hljs-title {
    color: #94113c;
  }

  .hljs-attribute,
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-name,
  .hljs-selector-tag {
    color: #373737;
  }
}

.learn {
  border-left: 1px solid;
  padding-left: 1em;
  padding-top: 0.5em;
  margin-top: 2em;

  strong {
    font-size: 1.1em;
  }
}

.checklist-main {
  h3 {
    font-weight: bold;

    @media (min-width: $lg) {
      font-size: 21px;
    }
  }
}

.checklist {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2.5em;
  margin-top: 0.8em;

  &:last-child {
    margin-bottom: 0;
  }

  code {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
  }

  li {
    a:nth-child(2) {
      display: inline-block;
      margin-right: 0.25em;

      &[href="TODO"],
      &[href="TODO"] ~ * {
        // wip links
        display: none;
      }
    }

    span code {
      font-weight: normal;
    }

    &:not(:last-child) {
      margin-bottom: 0.75em;
    }
  }

  input {
    cursor: $cursorPointer;
    transform: scale(1.3);
    margin-right: 0.75em;
    filter: hue-rotate(100deg);

    &:checked ~ * {
      opacity: 0.4;
      text-decoration: line-through;
      pointer-events: none;
    }
  }
}

.buy-me-a-coffee {
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.2em;
  border: 3px dotted;

  small {
    max-width: 450px;
    display: block;
    margin: 0 auto;
  }
}
