.blinkies-marquee {
  margin-bottom: 7px;

  > div {
    display: inline-block;
    position: relative;
    filter: contrast(1.3);
    margin-right: 10px;

    img {
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--pink);
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

.blinkies {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;

  section & {
    justify-content: space-around;
    margin-bottom: 0;
  }

  > div {
    position: relative;
    filter: contrast(1.25);

    img,
    canvas {
      display: block;
      transition: transform 0.2s ease;

      &:hover,
      &:focus {
        transform: scale(1.07);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--pink);
      opacity: 0.2;
      pointer-events: none;
      z-index: 1;
      pointer-events: none;
    }
  }

  @media (max-width: $sm) {
    justify-content: start;

    > div {
      margin: 5px;
    }
  }
}

.blinkies.blinkies--userboxes {
  > div {
    // padding: 1px;
    // width: 235px;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    filter: contrast(1.1);

    &::after {
      opacity: 0;
    }
  }
}

.link-back {
  margin-top: 10px;

  > a {
    display: block;
  }

  @media (min-width: 700px) {
    display: flex;
    align-items: flex-start;

    > a {
      flex: 0 0 auto;
    }

    textarea {
      margin-left: 5px;
      flex-grow: 1;
      max-height: 5em;
    }
  }
}

.code-textarea {
  height: 3em;
  background: var(--mainBackgroundColor);
  border: 1px $purple dotted;
  font-family: $font2;
  font-size: 13px;
  background: var(--white);
  color: var(--black);

  &:focus {
    outline: none;
  }
}

#ncring {
  // neocreatives webring widget
  display: inline-block;

  center {
    margin: 0;
    padding: 0;
  }
}

.welcome-to-the-site {
  display: flex;
}

.welcome-to-the-site__buttons {
  margin-top: 2em;
  justify-content: space-between;
}

.ascii-cat {
  display: flex;
  //   flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 2em;
  padding-right: 1.5em;
  font-size: 18px;

  pre {
    margin: 0;
  }
}

.hello-its-me {
  display: flex;
}

.hello-its-me-image {
  position: relative;
  display: flex;
  align-items: center;

  img {
    width: 100px;
    height: auto;
    image-rendering: pixelated;
    filter: brightness(1.1) contrast(1.3);

    &:hover {
      image-rendering: auto;
    }
  }
}

.hello-its-me-content {
  padding-left: 1.5em;

  p:nth-child(2) {
    padding-left: 0.5em;
  }

  p:nth-child(4) {
    padding-left: 0.75em;
  }

  p:nth-child(5) {
    padding-left: 1em;
  }

  p:last-child {
    padding-left: 0.5em;

    &::before {
      content: "â†  ";
      font-family: sans-serif;
    }
  }
}

.hello-its-me-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;

  img {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.1s ease;
    }
  }

  @media (max-width: $md) {
    display: none;
  }
}

.music-player {
  margin-top: 2em;
  font-family: monospace;
  font-size: 14px;
  text-align: center;

  audio {
    max-width: 182px;
  }
}

// neighborhood

.neighborhood {
  h2 {
    margin-bottom: 0.5em;
  }
}

.neighborhood__scroll-box {
  border: 3px dotted rgba($pink, 0.5);
  padding: 1em;
  border-radius: 15px;
  max-height: 224px;
  overflow-y: auto;

  > *:first-child {
    margin-top: 0;
  }

  strong {
    font-size: 1em;
  }
}

.neighborhood__cliques {
  position: relative;
  font-size: 0.8em;

  p {
    margin: 0.75em 0;
  }
}

.cool-sites {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin: 2px;
  }

  > div a {
    text-decoration: none;
  }

  &.cool-sites--more-spacing > * {
    margin: 7px;
  }

  &.cool-sites--webrings {
    justify-content: center;

    > * {
      margin: 5px 10px !important;
      display: flex;
      align-items: center;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  img {
    transition: transform 0.2s ease;
    object-fit: cover;

    &:hover,
    &:focus {
      transform: scale(1.07);
    }
  }
}

.neighborhood__fanlistings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin: 4px;
  }
}

#dsring {
  padding: 0 !important;

  center {
    padding: 0 !important;
    margin: 0 !important;
  }

  .webring-prev,
  .webring-next {
    font-size: 1.5em;

    a {
      color: #333;
      text-decoration: navajowhite;
    }
  }
}

#women-web {
  line-height: 1;

  img {
    height: 47px;
    width: auto;
  }

  br {
    display: none;
  }

  center {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -0.5em !important;
  }

  // localhost:
  td:not([class]) {
    font-size: 0.6em;
  }
}

// MOBILE

@media (max-width: $sm) {
  .welcome-to-the-site {
    display: block;
  }

  .welcome-to-the-site__buttons {
    margin-top: 0;
    justify-content: flex-start !important;
  }

  .hello-its-me {
    flex-direction: column-reverse;
  }

  .hello-its-me-content {
    padding-left: 0;

    p:nth-child(2) {
      padding-left: 0;
    }

    p:nth-child(4) {
      padding-left: 0;
    }

    p:nth-child(5) {
      padding-left: 0;
    }

    p:last-child {
      padding-left: 0;

      &::before {
        display: none;
      }

      &::after {
        content: ":";
      }
    }
  }
}
