@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

body.layout-generator {
  display: block;
  padding: 0;
  margin: 0;

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.layout-generator-back {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.2em;
  z-index: 99;

  &:hover,
  &:focus {
    text-decoration-style: wavy;
  }
}

#preview {
  // SAME AS BODY IN LAYOUT
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1;
}

@font-face {
  font-family: "rainyhearts";
  src: url("../fonts/rainyhearts.woff2") format("woff2"), url("../fonts/rainyhearts.woff") format("woff"), url("../fonts/rainyhearts.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.layout-generator-settings {
  position: relative;
  font-family: "rainyhearts", monospace, sans-serif, "MS gothic";
  font-size: 17px;
  background: #ffecf8;
  background-image: url("https://64.media.tumblr.com/415b1f82c5be1a003c42c1027a8fcced/8b1ad74d907c42b9-3a/s500x750/1ccfb4bc62420cf0f4c79c4beab3536e8568cbb7.pnj");
  color: #592038;
  border-bottom: 5px solid #592038;
  padding: 1em;
  padding-top: 1.5em;
  padding-bottom: 0;

  a {
    &,
    &:visited {
      color: #c26f84;
    }

    &:hover,
    &:focus {
      color: #ffba39;
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 41px;
    margin: 0;

    & + p {
      margin-top: 0.5em;
    }
  }

  strong,
  .layout-generator-settings__submit button {
    font-family: "Share Tech Mono", sans-serif;
  }
}

.layout-generator-settings__section {
  margin-bottom: 1em;

  > strong {
    display: block;
    font-size: 1.4em;
    margin-top: 1.5em;
  }

  select,
  label {
    cursor: pointer;
  }

  input[type="color"] {
    max-height: 2em;
    max-width: 2.5em;
    margin-top: -2px;
    padding: 0;
    cursor: pointer;
  }

  //   [data-dependency] {
  //     display: none;
  //     pointer-events: none;
  //     opacity: 0.5;
  //   }
}

.layout-generator-settings__two-columns {
  display: flex;

  > * {
    flex: 0 0 50%;
  }
}

.layout-generator-setting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.3em 0;

  &.layout-generator-setting--disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.3;
    cursor: not-allowed;
    filter: grayscale(1);
  }

  > span {
    margin-right: 1em;

    &::after {
      content: ":";
    }
  }

  input[type="checkbox"] + span::after {
    content: "";
  }
}

.layout-generator-settings__columns {
  display: flex;
  flex-wrap: wrap;

  > div {
    padding: 1em;
    flex: 1 1 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    > .layout-generator-settings__section:first-child {
      > strong {
        margin-top: 0;
      }
    }
  }
}

.layout-generator-settings__submit {
  margin-top: 2em;

  button {
    font-size: 1.4em;
    cursor: pointer;
    padding-bottom: 0.2em;
  }

  p {
    margin-top: 0.5em;
    font-size: 0.9em;
  }

  h2 {
    margin-bottom: 0;
  }
}

#randomize {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 1em;
  cursor: pointer;
}

.layout-generator-codes {
  font-family: "rainyhearts", monospace, sans-serif, "MS gothic";
  font-size: 17px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffecf8;
  color: #592038;
  border-bottom: 5px solid #592038;
  padding: 1em;
  padding-bottom: 0;
  overflow-y: auto;
  z-index: 99;

  &.layout-generator-codes--no-js {
    .layout-generator-codes__js {
      display: none;
    }

    code,
    code.hljs {
      height: 20em;
      max-height: 27vh;
    }
  }

  > p {
    margin-top: 0;
  }

  a {
    &,
    &:visited {
      color: #c26f84;
    }

    &:hover,
    &:focus {
      color: #ffba39;
      text-decoration: underline;
    }
  }

  strong {
    font-family: "Share Tech Mono", sans-serif;
    display: block;
    font-size: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 0.1em;

    small {
      font-size: 0.7em;
    }
  }

  pre {
    margin-bottom: 0;
  }

  code,
  code.hljs {
    display: block;
    height: 20em;
    max-height: 12vh;
    background: white;
    overflow-y: scroll;
    font-size: 12px;
    border: 1px solid currentColor;
    border-radius: 5px;
    overflow-x: hidden;
    margin-bottom: 0.5em;
  }

  &[aria-hidden] {
    display: none;
  }
}

.layout-generator-codes__close {
  position: fixed;
  top: 0.5em;
  right: 1em;
  font-weight: bold;

  button {
    cursor: pointer;
    font-size: 1.5em;
  }
}

.layout-generator-codes {
  padding-bottom: 3em;
}

// SCROLLED DOWN ON DESKTOP

@media (min-width: 751px) {
  body.layout-generator.scrolled-down {
    .layout-generator-settings {
      padding: 0 0.5em;
    }

    .layout-generator-settings__submit center {
      text-align: left;
    }

    .layout-generator-back,
    .layout-generator-settings h1,
    .layout-generator-settings h1 + p,
    .layout-generator-settings__submit center h2,
    .layout-generator-settings__submit center h2 + p,
    .layout-generator-setting.layout-generator-setting--disabled,
    .layout-generator-js-desc,
    .layout-generator-settings__section > strong {
      transform: scaleY(0);
      transform-origin: top;
      max-height: 1px;
      opacity: 0;
      margin: 0;
      pointer-events: none;
      overflow: hidden;
    }

    .layout-generator-setting {
      margin: 0;
    }
  }

  .layout-generator-settings,
  .layout-generator-back,
  .layout-generator-setting,
  .layout-generator-settings h1,
  .layout-generator-settings h1 + p,
  .layout-generator-settings__submit center h2,
  .layout-generator-settings__submit center h2 + p,
  .layout-generator-setting.layout-generator-setting--disabled,
  .layout-generator-js-desc {
    transition: 0.5s ease;

    @media (prefers-reduced-motion) {
      transition: none;
    }
  }
}

// SHORT DESKTOP SCREENS

@media (min-width: 751px) and (max-height: 800px) {
  .layout-generator-settings {
    h1 {
      font-size: 30px;

      + p {
        line-height: 1.2;
      }
    }
  }

  .layout-generator-settings__columns > div {
    padding: 0 1em;
  }
}

// SMALL SCREENS

@media (max-width: 750px) {
  .layout-generator-settings {
    h1 {
      font-size: 30px;

      + p {
        line-height: 1.2;
      }
    }
  }

  .layout-generator-setting {
    margin: 0.5em 0;
  }

  .layout-generator-settings__columns {
    display: block;

    > div {
      padding: 0;
    }
  }

  .layout-generator-settings__two-columns {
    display: block;
  }

  .layout-generator-settings__submit {
    margin-bottom: 1em;
  }

  .layout-generator-codes {
    > p {
      padding-right: 5em;
    }

    strong {
      font-size: 1.2em;
    }

    code,
    code.hljs {
      height: 10em;
      max-height: none;
    }
  }
}
