@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@font-face {
  font-family: "rainyhearts";
  src: url("../fonts/rainyhearts.woff2") format("woff2"), url("../fonts/rainyhearts.woff") format("woff"), url("../fonts/rainyhearts.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body.layout-generator {
  padding: 0;
  padding-top: 50px;
  margin: 0;
  display: flex;

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

#left {
  flex: 0 0 50%;
  max-width: 640px;
}

#right {
  flex: 0 0 50%;
  max-width: 50%;

  @media (min-width: 1280px) {
    /* 2*640=1280 */
    /* 20px for Chrome */
    max-width: calc(100vw - 640px - 20px);
    flex-grow: 1;
  }
}

.tabs__content[aria-hidden] {
  display: none;
}

#tab {
  height: 100%;
  position: relative;
  font-family: "rainyhearts", monospace, sans-serif, "MS gothic";
  font-size: 17px;
  background: #ffecf8;
  //   background-image: url("https://64.media.tumblr.com/415b1f82c5be1a003c42c1027a8fcced/8b1ad74d907c42b9-3a/s500x750/1ccfb4bc62420cf0f4c79c4beab3536e8568cbb7.pnj");
  color: #592038;
  padding: 1.5em;
  z-index: 1;

  > * {
    max-width: 50vw;
  }

  a {
    &,
    &:visited {
      color: #a15266;
    }

    &:hover,
    &:focus {
      color: #ffba39;
      text-decoration: underline;
      text-decoration-style: wavy;
    }
  }

  h1 {
    font-size: 41px;
    margin: 0;

    & + p {
      margin-top: 0.5em;
    }
  }

  h2 {
    font-size: 31px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px dotted currentColor;
  }

  hr {
    border-top: 0;
    margin-top: 2em;
    border-bottom: 2px dotted currentColor;
  }

  abbr {
    cursor: help;
  }

  strong,
  .layout-generator-settings__submit button {
    font-family: "Share Tech Mono", sans-serif;
  }
}

#previewhint {
  font-weight: bold;
  text-align: center;
  margin: 3em 0 1em;
  display: none;
}

/* ------------------------------------------------------------------ */

/* 
	TABS + ZOOM CONTROLS
*/

.tabs {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  z-index: 2;
  background: #ffecf8;
  box-shadow: -2px 2px 6px #a1526677;
}

.tabs__tab {
  border: 0;
  padding: 0 1.5em;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 2px dotted #a15266;
  font-family: "rainyhearts", monospace, sans-serif, "MS gothic";
  font-size: 17px;
  line-height: 1;
  white-space: nowrap;
  background: #ffecf8;

  @media (max-width: 1200px) {
    padding: 0 1em;

    i {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    padding: 0 0.5em;
  }

  @media (max-width: 360px) {
    font-size: 16px;
    padding: 0 0.25em;
  }

  i {
    font-style: normal;
  }

  &:hover,
  &:focus {
    filter: brightness(0.9) saturate(1.1);
  }

  &.tabs__tab--active {
    background: #ce98a6;
    border-top-color: #592038;
  }
}

.preview-controls {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(50vw);
  height: 50px;
  z-index: 2;
  background: #ffecf8;
  box-shadow: -2px 2px 6px #a1526677;
  font-family: "rainyhearts", monospace, sans-serif, "MS gothic";
  font-size: 17px;
  padding: 0 1.5em;
  color: #592038;
  box-sizing: border-box;

  @media (min-width: 1280px) {
    /* 2*640=1280 */
    width: calc(100vw - 640px);
  }

  b {
    display: inline-block;
    margin-right: 1em;

    @media (max-width: 830px) {
      display: none;
    }
  }
}

.zoom-btn,
.preview-btn {
  &.zoom-btn--active,
  &.preview-btn--active {
    font-weight: bold;
  }
}

/* ------------------------------------------------------------------ */

/* 
	INFO
*/

.layout-generator-info {
  p {
    font-size: 1.1em;
  }
}

/* ------------------------------------------------------------------ */

/* 
	SETTINGS
*/

.layout-generator-settings__section {
  margin-top: 2em;
  margin-bottom: 1em;

  > strong {
    display: block;
    font-size: 22px;
    margin-top: 1em;
  }

  select,
  label {
    cursor: pointer;
  }

  input[type="checkbox"] {
    filter: hue-rotate(90deg);
  }

  input[data-jscolor],
  input[type="text"],
  input[type="number"],
  select {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 2px 3px;
  }

  input[data-jscolor] {
    max-width: 185px;
    display: block;
  }
}

.layout-generator-settings__two-columns {
  display: flex;

  > * {
    flex: 0 0 50%;
  }
}

.layout-generator-setting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.6em 0;

  &.layout-generator-setting--color {
    display: block;
  }

  &.layout-generator-setting--disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.4;
    cursor: not-allowed;
    filter: grayscale(1);
  }

  > span {
    margin-right: 1em;

    &::after {
      content: ":";
    }
  }

  input[type="checkbox"] + span::after {
    content: "";
  }
}

.layout-generator-settings__columns {
  display: flex;
  flex-wrap: wrap;

  > div {
    padding: 0 1em;
    flex: 1 1 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    > .layout-generator-settings__section:first-child {
      > strong {
        margin-top: 0;
      }
    }
  }
}

.layout-generator-settings__submit {
  margin-top: 2em;

  button {
    font-size: 1.4em;
    cursor: pointer;
    padding-bottom: 0.2em;
  }

  p {
    margin-top: 0.5em;
    font-size: 0.9em;
  }

  h2 {
    margin-bottom: 0;
  }
}

#randomize {
  display: block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 1em;
  cursor: pointer;
}

/* ------------------------------------------------------------------ */

/* 
	CODES
*/

.layout-generator-codes {
  .layout-generator-codes__no-js {
    display: none;
  }

  &.layout-generator-codes--no-js {
    .layout-generator-codes__js {
      display: none;
    }

    .layout-generator-codes__no-js {
      display: block;
    }
  }

  a {
    &,
    &:visited {
      color: #c26f84;
    }

    &:hover,
    &:focus {
      color: #ffba39;
      text-decoration: underline;
    }
  }

  strong {
    font-family: "Share Tech Mono", sans-serif;
    display: block;
    font-size: 1.4em;
    margin-top: 1.75em;
    margin-bottom: 0.1em;

    small {
      font-size: 0.7em;
    }
  }

  pre {
    margin-bottom: 0;
  }

  code,
  code.hljs {
    display: block;
    height: 10em;
    background: white;
    overflow-y: scroll;
    font-size: 12px;
    border: 1px solid currentColor;
    border-radius: 5px;
    overflow-x: hidden;
    margin-bottom: 0.5em;
    width: 100%;
    max-width: 550px;
    resize: vertical;
  }

  &.layout-generator-codes--no-js {
    code,
    code.hljs {
      height: 20em;
    }
  }

  p code {
    height: auto !important;
    width: auto !important;
    max-width: none;
    max-height: none;
    display: inline-block;
    margin: 0;
    border: 0;
    background: none;
    line-height: 1;
    color: black;
    resize: none;
  }

  button {
    cursor: pointer;
    font-size: 1.1em;
    font-family: "rainyhearts";
    display: block;
    margin-bottom: 10px;
  }
}

/* ------------------------------------------------------------------ */

/* 
	PREVIEW
*/

#right {
  border-left: 3px solid #592038;

  & > #preview {
    transform-origin: top left;
    box-sizing: border-box;
  }
}

#preview {
  // SAME AS BODY IN LAYOUT !!!
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1;
}

/* ------------------------------------------------------------------ */

/* 
	RESPONSIVENESS
*/

// SHORT DESKTOP SCREENS

@media (min-width: 1200px) and (max-height: 845px) {
  #tab {
    padding-top: 1em;

    h2 {
      font-size: 28px;
      padding-bottom: 5px;
    }
  }

  .layout-generator-setting {
    margin: 0.4em 0;
  }

  .layout-generator-settings__section {
    margin-top: 1em;
  }
}

@media (min-width: 1200px) and (max-height: 760px) {
  .layout-generator-setting {
    margin: 0.25em 0;
  }
}

@media (min-width: 1200px) and (max-height: 725px) {
  #tab {
    // don't use 0. idk why it looks weird.
    padding-top: 1px;

    h1 {
      padding-top: 0.5em;
    }

    h2 {
      display: none;
    }
  }
}

// SMALL SCREENS

@media (max-width: 1200px) {
  .layout-generator-settings__columns {
    display: block;

    > div {
      padding: 0;
    }
  }
}

@media (max-width: 750px) {
  .layout-generator-settings {
    h1 {
      font-size: 30px;

      + p {
        line-height: 1.2;
      }
    }
  }

  .layout-generator-setting {
    margin: 0.5em 0;
  }

  .layout-generator-settings__two-columns {
    display: block;
  }

  .layout-generator-settings__submit {
    margin-bottom: 1em;
  }

  .layout-generator-codes {
    > p {
      padding-right: 5em;
    }

    strong {
      font-size: 1.2em;
    }
  }
}

#mobileHint2 {
  display: none;
}

// PORTRAIT MODE (+ MOBILE)

@media (orientation: portrait) {
  body.layout-generator {
    display: block;
  }

  #left,
  #right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tabs {
    width: 100%;
  }

  #tab > * {
    max-width: 100vw;
  }

  #previewhint {
    display: block;
  }

  #mobileHint1 {
    display: none;
  }

  #mobileHint2 {
    display: block;
  }

  .preview-controls {
    display: none;
  }

  #right {
    border-left: 0;
    border-top: 3px solid #592038;
  }

  #right > #preview {
    transform: none !important;
    width: auto !important;
  }
}
