body.not-found-page {
  align-items: flex-start;
}

.not-found-page-content main {
  background: var(--mainBackgroundColor);
  width: 320px;
  padding: 2em;
  margin-top: 3em;
  border: 2px solid currentColor;
  border-radius: 20px;
  font-size: 1.3em;

  img[src*="inline/"]:not([class]) {
    height: 31px;
    image-rendering: pixelated;
    margin-bottom: -4px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
