body.not-found-page {
  align-items: flex-start;
}

.not-found-page-content main {
  background: white;
  width: 300px;
  padding: 2em;
  margin-top: 3em;
  border: 2px solid black;

  img[src*="inline/"]:not([class]) {
    height: 31px;
    image-rendering: pixelated;
    margin-bottom: -4px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
