.picmix {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  background: none;
  margin: 0;

  h2 {
    width: 100%;
    margin: 10px;
    margin-top: 1em;
  }
}

.picmix a {
  margin: 9px;
  max-width: 100%;

  &:hover,
  &:focus {
    img {
      transform: scale(1.05);
    }
  }

  @media (min-width: $md) {
    max-width: calc(50% - 18px);
  }
}

.picmix a img {
  display: block;
  width: 100%;
  max-width: 334px;

  height: auto;
  transition: transform 0.2s ease;
}
