.random-generator {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-generator__number {
  font-weight: bold;
}

.random-generator__button {
  font-size: 1.5em;
  border-radius: 7px;
  padding: 0.25em 0.7em 0.2em;
  color: var(--textColor);
  background: var(--asideBackgroundColor);
  font-family: $fontHeadings;
  border: 1px solid var(--borderColor);
  box-shadow: -3px 3px 0px 0px rgba(194, 120, 167, 0.1);
  transition: 0.2s ease;

  &:hover,
  &:active {
    box-shadow: -3px 3px 5px 0px rgba(194, 120, 167, 0.1);
    transform: scale(1.05);
    z-index: 1;
  }
}

.random-generator__label {
  margin-top: 2em;
  text-align: center;
  padding: 0 1em;
}

.random-generator__output {
  font-size: 2em;
  text-align: center;
  padding: 0 1em;

  @media (max-width: $md) {
    font-size: 1.5em;
  }
}
