/* ---- filters ---- */

.rec-filters-title {
  display: block;
  margin-top: 3em;
}

.rec-filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.rec-filters__group {
  display: inline-block;
  margin: 0.25em 0;
}

.rec-filters__buttons {
  display: inline-block;
  margin-right: 20px;
}

.rec-filters__button {
  &[data-filter=".r1"],
  &[data-filter=".r2"],
  &[data-filter=".r3"] {
    font-family: sans-serif;
    font-size: 14px;
  }
}

/* ---- button ---- */

.rec-filters__button {
  display: inline-block;
  padding: 0.1em 0.5em;
  background: var(--green);
  border: none;
  border-radius: 7px;
  color: var(--textColor);
  cursor: $cursorPointer;
  border-radius: 5px;
  margin-left: 0;
  margin-right: 1px;
  margin-bottom: 5px;

  small {
    font-size: 0.8em;
    margin-left: 1px;
  }

  &:hover,
  &:active {
    filter: brightness(0.85);
  }

  &.is-checked {
    filter: brightness(0.75);
  }

  &:first-child {
    font-weight: bold;
  }
}

/* ---- isotope ---- */

.isotope-items {
  max-width: 100%;

  /* clear fix */
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* ---- items ---- */

.isotope-items > .rec {
  width: 25%;
  float: left;

  @media (max-width: $xl) {
    width: 33.333%;
  }

  @media (max-width: 800px) {
    width: 50%;
  }

  @media (max-width: $xs) {
    width: 100%;
  }
}

/* ---- Rec ---- */

.rec {
  position: relative;
  line-height: 1.5;

  &:hover,
  &:focus {
    .rec__info {
      opacity: 1;
    }
  }
}

.rec__inner {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 4px;
  padding: 5px;
  padding-top: 4px;
}

.rec__image {
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.rec__info {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--pink);
  background: rgba($mainBackgroundColor, 0.9);
  padding: 1.5em 1em;
  //   font-size: 0.9em;
  opacity: 0;
  transition: opacity 0.2s ease;

  p {
    text-align: left;
    margin: 0.4em 0;
    line-height: 1.2;
  }

  @media (max-width: $xl) {
    padding: 1em 0.5em;
  }
}

.rec__title {
  font-size: 1.8em;
  line-height: 1.1;
  margin-bottom: 0.5em;
  font-family: $font3;

  &.rec__title--long {
    font-size: 1.2em;
    line-height: 1;
  }
}

.rec__desc {
  strong {
    font-size: 1.2em;
  }
}

.rec__author {
  line-height: 1;
  margin: -0.5em 0 1em;
}

.rec__stars {
  font-family: sans-serif;
  font-size: 14px;
}

.rec__rating {
  color: var(--dark);
  font-size: 1em;
  text-shadow: 0 0 4px var(--veryLight);
}

.rec__link {
  margin-top: 10px;

  &::before {
    content: "➜ ";
  }
}

.rec__why {
  margin-top: 10px;
  line-height: 1;
  font-size: 0.9em;
}
