.shrines {
  @media (min-width: $sm) {
    display: flex;
  }
}

.shrine {
  margin: 0.5em;

  @media (min-width: $lg) {
    margin: 1em;
  }

  a {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
    border: 2px solid var(--purple);
    border-radius: 10px;
    padding: 0.5em;
    overflow: hidden;

    &:not(:hover) {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      img {
        transform: scale(1.07);
      }
    }

    img {
      width: 100%;
      height: auto;
      transition: transform 0.2s ease;
    }

    div {
      margin-top: 0.75em;
      text-align: center;
      color: var(--textColor);
    }

    small {
      display: block;
      font-size: 0.7em;
    }
  }
}
