.tweeter {
  margin-top: 20px;

  p {
    margin-top: 20px;
    padding: 2em;
    border-radius: 7px;
    font-size: 1.1em;

    &:nth-child(even) {
      background: rgba($pink, 0.2);
    }

    &:nth-child(odd) {
      border: 1px dotted $pink;
    }
  }
}
