---
layout: petrapixel.njk
title: "game recs"
description: "Here's my Neocities page for game recommendations! All my favorite games in one page!"
nesting: "../"
---

<section>
  <h1>Game Recs</h1>
  <p>Here are some games I've enjoyed and would definitely recommend!</p>
  <p>You can also seem them on <a href="https://www.backloggd.com/u/Petra1999/games/user-rating/" target="_blank">my backloggd profile</a>!</p>
  <strong class="rec-filters-title">Filter:</strong>
  <div class="rec-filters">
    <div class="rec-filters__group">
      <div class="rec-filters__buttons js-radio-button-group" data-filter-group="color">
        <button class="rec-filters__button is-checked" data-filter="">any platform</button>
        <button class="rec-filters__button" data-filter=".pc">pc</button>
        <button class="rec-filters__button" data-filter=".switch">switch</button>
        <button class="rec-filters__button" data-filter=".browser">browser</button>
        <button class="rec-filters__button" data-filter=".mobile">mobile</button>
        <button class="rec-filters__button" data-filter=".other">other</button>
      </div>
    </div>
    <div class="rec-filters__group">
      <div class="rec-filters__buttons js-radio-button-group" data-filter-group="size">
        <button class="rec-filters__button is-checked" data-filter="">any type</button>
        <button class="rec-filters__button" data-filter=".singleplayer">singleplayer</button>
        <button class="rec-filters__button" data-filter=".multiplayer">multiplayer</button>
      </div>
    </div>
    <div class="rec-filters__group">
      <div class="rec-filters__buttons js-radio-button-group" data-filter-group="shape">
        <button class="rec-filters__button is-checked" data-filter="">any rating</button>
        <button class="rec-filters__button" data-filter=".r1">★★★★</button>
        <button class="rec-filters__button" data-filter=".r2">★★★★<small>½</small></button>
        <button class="rec-filters__button" data-filter=".r3">★★★★★</button>
      </div>
    </div>
  </div>
  <div class="isotope-items isotope-items--games">
    {% for rec in recs['games'] %} {% if rec.title != "EXAMPLE" %}
    <div
      class="rec r{{ rec.rating }} {{ rec.year | recTurnToDecade }} {{ rec.genres | recTurnToClasses }} {{ rec.platform | recTurnToClasses }} {{ rec.gameType | recTurnToClasses }} {% if rec.ongoing %}ongoing{% else %}ended{% endif %}"
    >
      <div class="rec__inner">
        <div class="rec__image"><img src="{{ rec.image }}" /></div>
        <div class="rec__info">
          <div class="rec__title">{{ rec.title }}</div>
          <div class="rec__desc">
            <p><strong>My rating:</strong> <span class="rec__stars">★★★★{% if rec.rating == "2" %}<small>½</small>{% elsif rec.rating == "3" %}★{% endif %}</span></p>
            <p><strong>Platform:</strong> {{ rec.platform }}</p>
            <p><strong>Type:</strong> {{ rec.gameType }}</p>
            {% if rec.cw %}
            <p><strong>Content Warnings:</strong> <abbr title="{{ rec.cw }}">hover to reveal (spoilers!)</abbr></p>
            {% endif %}
          </div>
          <div class="rec__link"><a href="{{ rec.link }}" target="_blank">Backloggd</a></div>
        </div>
      </div>
      <div class="rec__outer">
        {% if rec.description %}
        <div class="rec__description">{{ rec.description }}</div>
        {% else %}
        <div class="rec__description">I think this game is really cool and you should totally play it if you think you might like it!</div>
        {% endif %}
      </div>
    </div>
    {% endif %}{% endfor %}
  </div>
</section>
<!-- Isotope: -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="recs.js"></script>
<script>
  initIsotope();
</script>
