.listography {
  > * {
    column-count: 2;

    > * {
      margin-bottom: 20px;
    }
  }
}

div[id*="listbox-status"] {
  display: none;
}

div[id*="listbox-content-slot"] {
  border: 2px $borderColor dotted;
  border-radius: $borderRadius;
  padding: 1em;
  max-height: 75vh;
  overflow-y: scroll;
  scrollbar-color: var(--pink) var(--veryLight);
  scrollbar-width: thin;

  @media (max-width: $lg) {
    padding: 0.5em;
  }

  div[id*="list-title-box"] > * {
    float: none !important;
  }

  .box-title {
    display: block;
    border-bottom: 2px $borderColor dotted;
    padding-bottom: 13px;
    margin-bottom: 15px;
  }

  .box-subtitle {
    display: block;
    padding-left: 1em;
    font-weight: normal;
  }

  div[id*="list-title-box"] {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
    line-height: 1;

    a {
      color: var(--textColor);
      text-decoration: none;
      pointer-events: none;
    }
  }

  // serif font
  // .listbox-content {
  //   font-family: serif;
  //   font-size: 14px;
  //   line-height: 1.5;

  //   strong {
  //     font-family: serif !important;
  //   }
  // }

  // ul {
  // list-style-image: url(https://i10.glitter-graphics.org/pub/2206/2206590dfsxiz48it.gif);
  // }

  .text_content {
    // just a list
    ul:first-child:last-child,
    .icon + ul:last-child {
      padding-left: 1em;
    }
  }

  .icon,
  .gend-link,
  .dates,
  [id*="listbox-status"],
  [id*="list_footer"],
  .list-title-handle,
  .show-more,
  a[href*="#attachment"] {
    display: none;
  }
}

div[id*="listbox-content-slot"]::-webkit-scrollbar-track-piece {
  background-color: var(--veryLight);
}

div[id*="listbox-content-slot"]::-webkit-scrollbar-thumb:vertical {
  background-color: var(--pink);
}
